/*
Skin Name: Education
Version: 1.0
Demo URI: https://themify.me/demo/themes/ultra-education
Required Plugins: builder-contact, builder-maps-pro, builder-countdown, themify-event-post, learnpress
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	font-family: 'PT Sans', sans-serif;
	color: #808080;
}
.post-title a {
	color: #273f5b;
}
a {
	color: #009bc7;
}
.post-nav .arrow,
a:hover,
#footer a:hover,
.post-nav  a:hover > span,
.post-title a:hover,
.entry-title a:hover {
	color: #fba700;
}
a:hover {
	text-decoration: none;
}
blockquote:before {
	position: absolute;
	font-size: 25em;
	opacity: .2;
	bottom: 15px;
	margin-left: 0;
	margin: 0;
}

/* FORM
================================================ */
label:empty {
	display: none !important;
}
.builder-contact label,
.comment-form label {
	display: block;
	color: #4b567d;
	font-weight: bold;
	font-size: 1.1em;
	margin:  0 0 .4em;
}
.comment-form input[type=checkbox] + label {
	display: inline-block;
}
textarea {
	border-radius: 0;
	border-color: #ddd;
	resize: vertical;
	min-height: 120px;
	margin-bottom:  .5em;
}
input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel] {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #ddd;
	background-color: transparent;
	max-width: none;
	width: 100%;
	text-transform: none;
	padding: .4em .5em;
	margin: 0 .5em .5em 0;
}
input[type=reset], input[type=submit], button {
	border-radius: 50em;
	background-color: rgb(251, 167, 0);
	box-shadow: 0px 1px 5px 0px rgba(251, 167, 0, 0.3);
	text-transform: none;
	font-size: 1.1em;
	font-weight: bold;
	line-height: normal;
	letter-spacing: 0.01em;
}
input[type=reset]:hover, input[type=submit]:hover, button:hover {
	background-color: rgb(251, 167, 0);
	box-shadow: 0px 10px 30px 0px rgba(251, 167, 0, 0.3);
	transform: translateY(-5px);
}

/* HEADING
================================================ */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #4b567d;
}
.page-title,
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.4em;
	letter-spacing: -0.01em;
}
h4 {
	text-transform: none;
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap {
	background-color: #fff;
	color: #4b567d;
}
.transparent-header #headerwrap.fixed-header {
	background-color: rgba(250, 250, 250, .9);
	color: #4b567d;
}
.transparent-header #headerwrap.fixed-header a {
	transition: none;
	color: inherit;
}

/* SITE LOGO
================================================ */
#site-logo {
	text-transform: none;
	font-weight: bold;
	font-size: 2.25em;
	letter-spacing: -0.05em;
}

/* MAIN NAVIGATION
================================================ */
#main-nav a {
	font-weight: bold;
	font-size: 1.125em;
	padding: .6em .94em;
}
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a,
#main-nav a:hover,
#main-nav ul a:hover,
#main-nav .mega-menu-posts a:hover {
	color: #fba700;
}

/************************************************************************************
POST
*************************************************************************************/
.widgettitle {
	text-transform: none;
	font-weight: bold;
	font-size: 1.25em;
	letter-spacing: normal;
	color: #4b567d;
}
.loops-wrapper.list-post .post-date,
.single .post-content .post-date {
	background-color: rgba(0,198,255,.8);
}
.post-meta .post-author:after,
.post-meta .post-category:after,
.post-meta .post-tag:after {
    display: none;
}

/* boxed */
.loops-wrapper.boxed .post {
	border-radius: 10px;
	overflow: hidden;
	text-align: left;
	box-shadow: 0px 10px 50px 0px rgba(18, 25, 33, 0.1);
}
.loops-wrapper.boxed .post-image {
	margin-bottom: 0;
}
.loops-wrapper.boxed .post-image img {
	object-fit: cover;
}
.loops-wrapper.boxed .post:hover .post-image:before {
	background-color: rgba(0,0,0,.7);	
}
.loops-wrapper.boxed .post-image + .post-content {
	background-color: rgba(0,0,0,.3);
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right:  0;
	padding: 8%;
	width: 100%;
	z-index: 1;
}
.loops-wrapper.boxed .post-image + .post-content,
.loops-wrapper.boxed .post-image + .post-content .post-title a {
	color: #fff;
}
.loops-wrapper.boxed .post-image + .post-content p:last-child {
	margin: 0;
}
.loops-wrapper.boxed .post-image + .post-content .post-date-wrap {
	margin-top: 8%;
	position: absolute;
	top: 0;
}
.loops-wrapper.boxed .has-post-thumbnail .post-image {
	overflow: hidden;
}
.loops-wrapper.boxed .has-post-thumbnail .post-image img {
	transition: transform .3s;
}
.loops-wrapper.boxed .has-post-thumbnail .entry-content {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	max-height: 0;
}
.loops-wrapper.boxed .has-post-thumbnail:hover .entry-content {
	opacity: 1;
	visibility: visible;
	max-height: 55px;
}
.loops-wrapper.boxed .has-post-thumbnail:hover .post-category {
	display: none;
}
.loops-wrapper.boxed .has-post-thumbnail:hover .post-image img {
	transform: scale(1.1);
}
.loops-wrapper.boxed .post-image + .post-content .post-date {
	text-transform: none;
	color: #fff;
}
.loops-wrapper.boxed .post-image + .post-content .post-meta a {
	color: #00c6ff;
}

/* comments */
.commentlist .comment-reply-link:hover {
	background-color: #fba700;
	border-color: #fba700;
}

.pagenav .current {
	border-color: #fba700;
	background-color: #fba700;
	color: #fff;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	font-size: 1em;
}
#sidebar #searchform #s {
	width: 100%;
	margin: 0;
	border: 1px solid #ddd;
}
.widget li {
	padding: 0 0 0.4em;
}

/************************************************************************************
PAGE
*************************************************************************************/
.page-title {
	margin: 0 0 .4em;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #f4f4f4;
	border: none;
	color: #808080;
	padding: 45px 0 2em;
}
#footer {
	font-size: 1em;
	line-height: 1.55em;
}
#footer a {
	color: #6e7798;
}
#footer a:hover {
	color: #fba700;
}

/* FOOTER LOGO
================================================ */
#footer-logo {
	text-transform: none;
	font-weight: bold;
	font-size: 2em;
	line-height: 1em;
	letter-spacing: -.03em;
	margin: 6px 0 0.6em;
}
#footer-logo a {
	color: #4b567d;
}

/* FOOTER WIDGET
================================================ */
.footer-widgets .widgettitle {
	text-transform: none;
	font-weight: bold;
	font-size: 1.25em;
	letter-spacing: normal;
	color: #4b567d;
	margin: 0 0 0.65em;
}
.footer-horizontal-left #footer .widget,
.footer-horizontal-right #footer .widget,
.footer-left-col #footer .widget,
.footer-right-col #footer .widget {
	margin: 0 0 2em;
}
.footer-widgets .textwidget i {
	margin-right: 5px;
	color: #0083ff;
}

/* FOOTER NAVIGATION
================================================ */
.footer-widgets .widget li {
	padding: 0 0 .4em;
}

/* FOOTER TEXT
================================================ */
.footer-text {
	border-top: 1px solid #e2e7ec;
	padding: 1.9em 0;
}
.footer-left-col .footer-text,
.footer-right-col .footer-text {
	padding: 1.9em 0;
}

/* BACK TOP
================================================ */
#pagewrap .back-top.back-top-float {
	background-color: rgb(251, 167, 0);
	box-shadow: 0px 1px 5px 0px rgba(251, 167, 0, 0.3);
	transition-property: all;
}
#pagewrap .back-top.back-top-float:hover {
	box-shadow: 0px 10px 30px 0px rgba(251, 167, 0, 0.3);
	transform: translateY(-5px);
}
.footer-horizontal-left .back-top,
.footer-horizontal-right .back-top,
.footer-left-col .back-top,
.footer-right-col .back-top {
	top: -80px;
}
.footer-horizontal-left .back-top .arrow-up a,
.footer-horizontal-right .back-top .arrow-up a,
.footer-left-col .back-top .arrow-up a,
.footer-right-col .back-top .arrow-up a {
	background-color: rgb(251, 167, 0);
	box-shadow: 0px 10px 30px 0px rgba(251, 167, 0, 0.3);
	color: #4b567d;
}
#pagewrap .back-top.back-top-float .arrow-up {
	animation: none;
}

/************************************************************************************
BUILDER STYLING
*************************************************************************************/

/* FANCY HEADING
================================================ */
.module-fancy-heading .main-head {
	font-size: .5em;
	line-height: normal;
}
.module-fancy-heading .sub-head {
	font-size: 1em;
	padding: 0;
	line-height: inherit;
}
.module-fancy-heading .sub-head:before {
	display: none;
}

/* MODULE COUNTDOWN
================================================ */
.module.module-countdown .builder-countdown-holder .ui {
	border-left: 1px solid;
	border-color: rgba(255, 255, 255, .4);
	padding: .3em .75em .5em;
	font-weight: bold;
}
.module.module-countdown .builder-countdown-holder .ui.seconds {
	border-right: 1px solid;
	border-color: rgba(255, 255, 255, .4);
}
.module.module-countdown .date-label {
	text-transform: none;
	color: #00c6ff;
	font-weight: normal;
	font-size: 1em;
}

/* MODULE CONTACT
================================================ */
.home-boxed-contact {
	border-radius: 10px;
	box-shadow: 0px 10px 50px 0px rgba(18, 25, 33, 0.1);
	background-color: #fff;
	padding: 40px 30px;
}
.home-boxed-contact .module-title {
	text-align: center;
}

/* MODULE ICON
================================================ */
.module-icon i {
	vertical-align: top;
}
.module-icon span {
	max-width: 80%;
}

/* MODULE TESTIMONIAL
================================================ */
/* Arrow */
.themify_builder_slider_wrap .carousel-prev,
.themify_builder_slider_wrap .carousel-next {
	border-radius: 50em;
	min-width: 47px;
	min-height: 48px;
	padding: 5px;
	background-color: #fff;
	margin: 0 15px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

/* Pager */
.themify_builder_slider_wrap .carousel-pager a {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
.themify_builder_slider_wrap .carousel-pager a:hover,
.themify_builder_slider_wrap .carousel-pager a.selected {
	background-color: #fba700;
	border-color: #fba700;
}

/* Content */
.module.module-testimonial-slider .testimonial-image img {
	border: 7px solid #fff;
}
.module.module-testimonial-slider .testimonial-content {
	background-color: #fff;
	box-sizing: border-box;
}
.module.module-testimonial-slider .testimonial-author {
	margin-top: auto;
}
.module.module-testimonial-slider .person-name,
.module.module-testimonial-slider .person-company {
	color: #4b567d;
}
.module.module-testimonial-slider .person-name {
	font-weight: bold;
}

/* MODULE CALL TO ACTION
================================================ */
.module.module-callout {
	padding: 1.95em 2.35em 2em;
}
.module.module-callout.rounded {
	border-radius: 10px;
}
.module-callout .callout-heading {
	font-size: 150%;
	letter-spacing: 0.035em;
	color: #fff;
}
.module-callout.button-bottom .callout-button {
	text-align: inherit;
	margin-top: 0;
	font-size: 1.05em;
	letter-spacing: 0.02em;
}
.module-callout.button-bottom .callout-button .transparent {
	padding: 0;
	color: #fff;
}
.module-callout.button-bottom .callout-button .transparent span {
	padding: 0;
	font-size: 1em;
}
.module-callout.button-bottom .callout-button .builder_button:after {
	content: "\e649";
	display: inline-block;
	font-family: themify;
	vertical-align: middle;
	font-size: .7em;
}

/* MODULE BUTTON
================================================ */
.module-buttons {
	font-weight: bold;
}
.module-buttons .builder_button.blue,
.builder_button {
	color: #fff;
	background-color: rgb(0, 198, 255);
}
.builder_button span {
	font-size: 1.3em;
	padding: .45em 1.3em;
}
.module-buttons .builder_button {
	border: none;
	box-shadow: 0px 1px 5px 0px rgba(0, 198, 255, 0.3);
}
.module-buttons .builder_button.blue:hover,
.module-buttons .builder_button:hover {
	box-shadow: 0px 10px 30px 0px rgba(0, 198, 255, 0.3);
	transform: translateY(-5px);
	background-color: rgb(0, 198, 255);
}

/* Button Preset Colors */
.module-buttons-item .black {
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.module-buttons-item .black:hover {
	box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}
.module-buttons-item .gray {
	box-shadow: 0px 1px 5px 0px rgb(152, 151, 151, 0.3);
}
.module-buttons-item .gray:hover {
	box-shadow: 0px 10px 30px 0px rgb(152, 151, 151, 0.3);
}
.module-buttons-item .light-blue {
	box-shadow: 0px 1px 5px 0px rgba(189, 217, 253, 0.3);
}
.module-buttons-item .light-blue:hover {
	box-shadow: 0px 10px 30px 0px rgba(189, 217, 253, 0.3);
}
.module-buttons-item .green {
	box-shadow: 0px 1px 5px 0px rgba(74, 171, 16, 0.3);
}
.module-buttons-item .green:hover {
	box-shadow: 0px 10px 30px 0px rgba(74, 171, 16, 0.3);
}
.module-buttons-item .light-green {
	box-shadow: 0px 1px 5px 0px rgba(155, 214, 17, 0.3);
}
.module-buttons-item .light-green:hover {
	box-shadow: 0px 10px 30px 0px rgba(155, 214, 17, 0.3);
}
.module-buttons-item .purple {
	box-shadow: 0px 1px 5px 0px rgba(122, 107, 248, 0.3);
}
.module-buttons-item .purple:hover {
	box-shadow: 0px 10px 30px 0px rgba(122, 107, 248, 0.3);
}
.module-buttons-item .light-purple {
	box-shadow: 0px 1px 5px 0px rgb(193, 186, 253, 0.3);
}
.module-buttons-item .light-purple:hover {
	box-shadow: 0px 10px 30px 0px rgb(193, 186, 253, 0.3);
}
.module-buttons-item .brown {
	box-shadow: 0px 1px 5px 0px rgba(163, 80, 4, 0.3);
}
.module-buttons-item .brown:hover {
	box-shadow: 0px 10px 30px 0px rgba(163, 80, 4, 0.3);
}
.module-buttons-item .orange {
	box-shadow: 0px 1px 5px 0px rgba(251, 167, 0, 0.3);
}
.module-buttons-item .orange:hover {
	box-shadow: 0px 10px 30px 0px rgba(251, 167, 0, 0.3);
}
.module-buttons-item .yellow {
	box-shadow: 0px 1px 5px 0px rgba(255, 240, 108, 0.3);
}
.module-buttons-item .yellow:hover {
	box-shadow: 0px 10px 30px 0px rgba(255, 240, 108, 0.3);
}
.module-buttons-item .red {
	box-shadow: 0px 1px 5px 0px rgba(232, 49, 31, 0.3);
}
.module-buttons-item .red:hover {
	box-shadow: 0px 10px 30px 0px rgba(232, 49, 31, 0.3);
}
.module-buttons-item .pink {
	box-shadow: 0px 1px 5px 0px rgba(254, 180, 228, 0.3);
}
.module-buttons-item .pink:hover {
	box-shadow: 0px 10px 30px 0px rgba(254, 180, 228, 0.3);
}

/* IMAGE MODULE
================================================ */
.module.module-image.image-full-overlay .image-content {
	transform: perspective(400px) scale(0);
	transform-origin: center;
	transition: transform .3s;
	text-align: center;
	font-weight: bold;
	position: absolute !important;
}
.module-image.image-full-overlay.circle .image-wrap,
.module-image.image-full-overlay.circle .image-wrap img,
.module.module-image.image-full-overlay .image-content:before,
.module.module-image.image-full-overlay .image-content {
	border-radius: 50em;
}
.module.module-image.image-full-overlay:hover .image-content {
	transform: perspective(400px) scale(1);
}
.module.module-image.image-full-overlay .image-caption {
	font-size: 1.2em;
}
.module.module-image.image-full-overlay .image-content i {
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	font-size: .9em;
	margin-top: 5px;
	display: block;
}

/* EVENT MODULE
================================================ */
.themify_event_post_loop.grid2,
.themify_event_post_loop.grid3,
.themify_event_post_loop.grid4 {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.themify_event_post_loop.grid2 .post,
.themify_event_post_loop.grid3 .post,
.themify_event_post_loop.grid4 .post {
	border-radius: 10px;
	overflow: hidden;
	text-align: left;
	box-shadow: 0px 1px 5px 0px rgba(18, 25, 33, 0.1);
	transition: .8s cubic-bezier(.2,1,.2,1);
}
.themify_event_post_loop.grid2 .post:hover,
.themify_event_post_loop.grid3 .post:hover,
.themify_event_post_loop.grid4 .post:hover {
	box-shadow: 0px 10px 50px 0px rgba(18, 25, 33, 0.1);
	transform: perspective(400px) scale(1.02);
}
.themify_event_post_loop .tep_image img {
	width: 100%;	
}
.themify_event_post_loop .tep_post_content {
	padding: 3% 5%;
	box-sizing: border-box;
}
.tep_event_info:after {
	content: "";
	clear: both;
	display: block;
}
.tep_date:before,
.tep_location:before,
.tep_ticket:before {
	font-size: 1.2em;
	color: #00b3e6;
}
.themify_event_post_loop.grid2-thumb .tep_ticket {
	clear: both;
}
.themify_event_post_loop.grid2-thumb .tep_image {
	width: 30%;
}
.themify_event_post_loop.grid2-thumb .tep_image img {
	border-radius: 10px;
}
.themify_event_post_loop.grid2-thumb .entry-title {
	border-bottom: 1px solid #ddd;
	font-size: 1.7em;
	line-height: 1.1em;
	letter-spacing: -0.034em;
	padding-bottom: .5em;
	margin: 0 0 .7em;
}

/************************************************************************************
EXTERNAL ADDONS
*************************************************************************************/

/* LEARNPRESS
================================================ */
/* Archive */
.lp-archive-courses form[name="search-course"] .search-course-input {
	width: 82%;
}
.lp-archive-courses form[name="search-course"] .search-course-button {
	width: 15%;
	top: auto;
	bottom: 0;
	margin-bottom: 1.4em;
	line-height: normal;
	padding: .7em 1.4em;
}
.lp-archive-courses .learn-press-courses .course {
	box-shadow: 0px 1px 5px 0px rgba(18, 25, 33, 0.1);
	border-radius: 10px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	transition: .8s cubic-bezier(.2,1,.2,1);
}
.lp-archive-courses .learn-press-courses .course:hover {
	box-shadow: 0px 10px 50px 0px rgba(18, 25, 33, 0.1);
	transform: perspective(400px) scale(1.02);
}
.lp-archive-courses .learn-press-courses .course .course-title,
.lp-archive-courses .learn-press-courses .course .lp-course-buttons form,
.lp-archive-courses .learn-press-courses .course .course-info {
	padding: 0 15%;
	box-sizing: border-box;
}
.lp-archive-courses .learn-press-courses .course .course-price,
.lp-archive-courses .learn-press-courses .course .course-instructor,
.lp-archive-courses .learn-press-courses .course .course-thumbnail {
	margin: 0 0 1.2em;
}
.lp-archive-courses .learn-press-courses .course .course-title {
	margin: 0 0 0.3em;
}
.lp-archive-courses .learn-press-courses .course .course-info {
	color: #88c72f;
	font-weight: bold;
	text-transform: uppercase;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column-reverse;
}
.lp-archive-courses .learn-press-courses .course .course-thumbnail img {
	width: 100%;
}
.lp-archive-courses .learn-press-courses .course .course-instructor a {
	color: #808080;
}
.lp-archive-courses .learn-press-courses .course .course-title {
	font-weight: bold;
	font-size: 1.35em;
	letter-spacing: 0.01em;
	line-height: normal;
}
.lp-archive-courses .learn-press-courses .course .course-info .course-instructor {
	float: none;
	font-weight: normal;
	font-size:  1.2em;
	text-transform: capitalize;
}
.lp-archive-courses .learn-press-courses .course .lp-course-buttons {
	margin-top: 0;
}
.lp-archive-courses .learn-press-courses .course .lp-course-buttons form {
	border-top: 1px solid #efefef;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0;
}
.learn-press-pagination {
	font-size: 1.2em;
}

/* Single */
.lp-single-course .learn-press-nav-tabs {
	border-width: 1px;
}
.lp-single-course .learn-press-nav-tabs .course-nav.active:after,
.lp-single-course .learn-press-nav-tabs .course-nav:hover:after {
	bottom: -1px;
	height: 1px;
	background-color: #fba700;
}
.learnpress-page #course-item-content-header .form-button.lp-button-back button,
.learnpress-page.single .lp-button,
.learnpress-page .lp-single-course .lp-button {
	height: auto;
	line-height: normal;
	padding: .7em 1.4em;
}
.lp-single-course .course-landing-summary .course-price {
	color: #88c72f;
	display: inline-block;
	margin-right: 1em;
	text-transform: uppercase;
}
.lp-single-course .course-landing-summary .lp-course-buttons {
	display: inline-block;
}

#learn-press-content-item #course-item-content-header .course-item-search button {
	box-shadow: none;
}
.learnpress-page.single .course-curriculum ul.curriculum-sections .section-header,
.course-tabs .course-curriculum ul.curriculum-sections .section-header {
	border-color: #dcdcdc;
}

.lp-archive-courses .learn-press-pagination .page-numbers > li a,
.lp-archive-courses .learn-press-pagination .page-numbers > li span {
    border: none;
    border-radius: 100%;
    min-width: 30px;
    min-height: 30px;
    line-height: 100%;
    box-sizing: border-box;
	font-weight: bold;
}
.lp-archive-courses .learn-press-pagination .page-numbers > li span {
	background-color: #fba700;
    color: #fff;
}

/* MAILCHIMP FOR WORDPRESS
================================================ */
.mc4wp-form-fields {
	position: relative;
}
#mc_embed_signup .mc-field-group input[type="email"],
.mc4wp-form-fields input[type=email] {
    box-sizing: border-box;
    margin: 0 0 .4em 0;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    width: 100%;
    border-radius: 0;
}
#mc_embed_signup .mc-field-group,
.mc4wp-form-fields .mc-field-group {
	padding-right: 130px;
}
#mc_embed_signup .mc-field-group input[type=submit],
.mc4wp-form-fields input[type=submit] {
	min-width: 120px;
	margin: 0 0 0.4em;
	border-radius: 50em;
	background-color: rgb(0, 198, 255);
	box-shadow: 0px 1px 5px 0px rgba(0, 131, 255, 0.3);
	font-weight: normal;
	font-family: inherit;
	font-size: 1.1em;
	padding: .7em 1.4em;
	text-transform: none;
	line-height: normal;
	position:  absolute;
	bottom:  0;
	right: 0;
}
#mc_embed_signup .mc-field-group input[type=submit]:hover,
.mc4wp-form-fields input[type=submit]:hover {
	background-color: rgb(0, 198, 255);
	box-shadow: 0px 10px 30px 0px rgba(0, 131, 255, 0.3);
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width: 680px) {
	h1,
	.page-title {
		font-size: 1.9em;
	}
	h2 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.2em;
	}
	blockquote:before {
		font-size: 5em;
	}
	.loops-wrapper.boxed .has-post-thumbnail .post-image img {
		width: 100%;
	}
	.lp-archive-courses form[name="search-course"] .search-course-input {
		width: 100%;
		padding-left: 0;
	}
	.lp-archive-courses form[name="search-course"] .search-course-button {
		width: auto;
		position: static;
	}
	.module.module-testimonial-slider .testimonial-content {
		min-height: auto;
	}
}
@media screen and (min-width: 681px) {
	/* Contact Style1 */
	.module.module-contact.contact-style1 .builder-contact-field-name,
	.module.module-contact.contact-style1 .builder-contact-field-name + .builder-contact-field {
		width: 47.5%;
		float: left;
		margin: 0;
		margin-left: 5%;
	}
	.module-contact.contact-style1 .builder-contact-text-field.builder-contact-field-name {
		margin-left: 0;
	}
	.module.module-contact.contact-style1 .builder-contact-field-name + .builder-contact-field + .builder-contact-field {
		width: 100%;
		clear: both;
	}
	.module.module-contact.contact-style1.home-boxed-contact .builder-contact-field {
		width: 100%;
		clear: both;
		margin-left: 0;
	}
		
}

/* MOBILE MENU ACTIVE */
.mobile_menu_active .sidemenu {
	background-color: #fff;
	color: #4b567d;
}
.mobile_menu_active #headerwrap #main-nav a:hover,
.mobile_menu_active #headerwrap #main-nav ul a:hover {
	color: #fba700;
}