/* General Styling */
input[type=checkbox], input[type=radio], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
	background: #fff;
	box-shadow: none;
	border-radius: 4px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	outline: none;
	vertical-align: middle;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, select:focus, textarea:focus {
    border-color:#666;
    outline:none;
    box-shadow:0 1px 3px rgba(0,0,0,.1);
}
input[type=radio] {
	border-radius:100%;	
}
hr {
	height:0;
    border: 0;
    border-bottom: 1px solid #eee;
}
.themify_field_row .button {
	box-shadow:none;
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-shadow: none;
}
.themify_field_row .button:focus,
.themify_field_row .button:hover {
	border-color: #aaa;
	background: #fff;
	outline: none;
	box-shadow: none;
}
.postbox .inside {
	line-height: 1.6;
}

/**
 * 	Tabs for custom write panels
 */
.themify-tabs-heading {
	display: block;
	overflow: hidden;
	margin-bottom: -1px;
}
.themify-tabs-heading li {
	float: left;
	margin: 0 2px 0 0;
	background: #ebebeb;
	border: 1px solid #dedede;
	border-radius: 4px 4px 0 0;
}
.themify-tabs-heading li:hover {
	background: #f5f5f5;
}
#poststuff .themify-tabs-heading li span {
	box-shadow: none;
	border-bottom: none;
	font-weight: bold;
	font-family: sans-serif;
	background-image: none;
}
.themify-tabs-heading li a {
	text-decoration: none;
	font-size: 11px;
	color: #555;
	padding: 5px 10px;
	display: block;
	outline: none;
	box-shadow: none;
}
.themify-tabs-heading .select,
.themify-tabs-heading .select:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.themify-tabs-heading .select span {
	background: none;
}
.themify-tabs-heading .select a {
	cursor: default;
}
#poststuff .inside .themify_write_panel {
	display: none;
	border-radius: 0;
	padding: 10px 0;
}

/* custom write panel layout options
---------------------------------------------------------------*/
#poststuff .inside .themify_write_panel {
	border: 1px solid #dedede;
	border-radius: 4px;	
	margin: 0 0 5px 0;
	border-top-left-radius: 0;
}

#poststuff .inside .themify_write_panel h3:hover {
	cursor: default;
}

#poststuff .inside .themify_write_panel h3 {
	background: #F1F1F1 no-repeat 0 100%;
	font-size: 11px;
}

#poststuff .inside .themify_write_panel input.small {
	width: 50px;	
}
.themify_input_field.medium {
	width: 180px;
}
.preview-icon img {
	background: #fff;
	padding: 3px;
	border: solid 1px #e2e2e2;
	border-radius: 4px;
}
.preview-icon img:hover {
    border-color: #bbb;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.preview-icon.selected img {
    border-color: #FF8D00;
    padding: 2px;
    border-width: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
a.preview-icon {
	outline: none;
	text-decoration: none;
	display: inline-block;
	margin: -5px 6px 5px 0;
	box-shadow: none;
	position: relative;
}

.preview-icon .tm-option-title-fw {
	position: absolute;
	bottom: 100%;
	left: 50%;
	text-align: center;
	width: auto;
	white-space: nowrap;
	z-index: 11;
	background: rgba(0,0,0, .8);
	color: #fff;
	font-size: 12px;
	line-height: 1.1em;
	padding: 4px 6px;
	border-radius: 3px;
	-webkit-transform: translate(-50%, -6px);
	-ms-transform: translate(-50%, -6px);
	transform: translate(-50%, -6px);
	display: none;
}

.preview-icon .tm-option-title-fw:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(0,0,0, .8);
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.themify_field-layout .tm-option-title {
	display: none; /* toggle with JS */
	font-size: 11px;
	line-height: 1.1em;
	position: absolute;
	top: -10px;
	left: 50%;
	text-align: center;
	width: auto;
	white-space: nowrap;
	z-index: 11;
	background: rgba(0,0,0, .8);
	color: #fff;
	padding: 4px 6px;
	border-radius: 3px;
	-webkit-transform: translateX(-50%) translateY(-60%);
	-ms-transform: translateX(-50%) translateY(-60%);
	transform: translateX(-50%) translateY(-60%);
}
.themify_field-layout .tm-option-title:before {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(0,0,0,.8);
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.preview-icon:hover .tm-option-title,
.preview-icon:hover .tm-option-title-fw {
	display: block;
}


.selectit {margin-right: 10px;}

.hide-if {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.hide-if.conceal {
	opacity: 0;
	visibility: hidden;
}
.hide-if.collapse {
	max-height: 0;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}

.themify_field_row:after {
	content: "";
	display: table;
	clear: both;
}
.themify_field_row {
	padding: 5px 5px 10px 0;
}
.themify_field_row.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.themify_field {
	float: left;
	width: 75%;
	position: relative;
}

.themify_field-repeater {
	width: 100%;
}

.themify-repeater-row {
	position: relative;
}

.themify-repeater-remove-row {
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 9;
}

.themify-repeater-remove-row a {
	display: block;
	width: 16px;
	height: 16px;
	color: #dedede;
}

.themify-repeater-remove-row a:hover {
	color: #9a9a9a;
}

.themify-repeater-remove-row a:before,
.themify-repeater-remove-row a:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto 0;
	background: currentColor;
	-webkit-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

.themify-repeater-remove-row a:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.themify-repeater-remove-row a:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.themify_field.themify_field-separator {
	width: 100%;
	float: none;
}
.themify_field-multi {
	margin-bottom: 15px;
}

.themify_upload_buttons,
.themify_upload_field,
.themify_upload_meta {
	margin-bottom: 10px;
	display: block;
}
		
.themify_input_field {
	width: 90%;
}

.themify_upload_field {
	margin: 0 10px 0 0;
	width: 75%;
}

.themify_upload_buttons a {
	position: absolute;
}

.themify_upload_buttons .plupload-upload-uic {
	display: inline-block;
}
	
.themify_upload_buttons object {
	position: absolute;
}
	
.themify_upload_meta {
	clear: left;
}

.themify_upload_preview {
	float: right;
	width: 40px;
	margin-bottom: 5px;
	display: none;
	padding: 3px;
	background: #fff;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 4px 1px rgba(0,0,0,.1);
	border-radius: 3px;
}
	
.themify_upload_preview img {
	vertical-align: bottom;
}
.themify_field_title {
	width: 25%;
	padding: 0 15px 10px 0;
	float: left;
	box-sizing: border-box;
	max-width: 220px;
}
@media screen and (max-width: 600px) {
	.themify_field_title {
		width: auto;
		max-width: 100%;
		float: none;
	}
}
	
.themify_field_description {
	clear: left;
	display: block;
	color: #999;
	padding: 5px 0 5px 1px;
}
	
.themify_checkbox_description {
	color: #666;
}

.themify_field .themify_featimg_remove {
	float: right;
	margin-left: -15px;
	margin-top: -5px;
	position: relative;
	z-index: 999;
}
.themify_field .themify_featimg_remove.hide {
	display: none;
}
.themify_field .themify_featimg_remove a {
	width: 20px;
	height: 20px;
	text-indent: -999px;
	overflow: hidden;
	display: block;
	background: #E15855;
	color: #fff;	
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);	
}
.themify_field .themify_featimg_remove a:before,
.themify_field .themify_featimg_remove a:after {
	content: '';
	display: block;
	width: 10px;
	border-top: 2px solid;
	position: absolute;
	left: 5px;
	top: 9px;
}
.themify_field .themify_featimg_remove a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.themify_field .themify_featimg_remove a:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.themify_field .themify_medialib_wrapper {
	margin-top: 5px;
	display: inline-block;
}
.themify_field .themify_medialib_wrapper em,
.themify_field .themify_medialib_wrapper a {
	display: inline-block;
	position: relative;
}
.themify_field .themify_video_remove {
	float: right;
	margin-top: -20px;
	top: 24px;
	right: 4px;
}
.videocontrol .themify_upload_field {
	width: 100%;
	padding-right: 27px;
}

/* Assignments field type
---------------------------------------------------------------*/
.ui-widget-content {
	color: inherit;
	font-size: inherit;
}
.themify-assignments .ui-tabs-nav {
	border: none;
	background:none;
	color: inherit;
}
.themify-assignments .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em .5em 0;
	padding: 0;
	white-space: nowrap;
	border: none;
	background: none;
	font-weight: normal;
	color: inherit;
	border-radius: 4px;
}
.themify-assignments .ui-tabs-nav a {
	float: left;
	padding: .4em .8em;
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .03em;
	opacity: .6;
}
.themify-assignments .ui-tabs-nav li.ui-tabs-active {
	border: none;
	background: #8c8c8c;
	font-weight: normal;
	color: #fff;
}
.themify-assignments .ui-tabs-nav li.ui-tabs-active a {
	cursor: text;
	color: inherit;
	border: none;
	text-decoration: none;
	opacity: 1;
}
.themify-assignments .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 10px 0 0 !important;
	background: none;
	overflow: visible;
}
.themify-assignments.ui-tabs,
.themify-assignments .ui-tabs {
	border: none;
}
.themify-assignments.ui-tabs .ui-tabs-panel {
	padding: 0;
}
.themify-assignments.ui-tabs .themify-assignment-options {
}
.themify-assignments.ui-tabs .themify-assignment-options label {
	display: block !important;
	width: 33.3%;
	min-width: 230px;
	padding-left: 28px;
	padding-right: 15px;
	margin-bottom: 15px;
	float: left;
	box-sizing: border-box;
}
.themify-assignments.ui-tabs .themify-assignment-options label input[type=checkbox]{
	margin-left: -28px;
	margin-right: 10px;
	width: 18px;
	height: 18px;
}
.themify-assignments.ui-tabs .themify-assignment-options label > input {
	margin-right: .5em;
}

/* inline-tabs */
.themify-assignments .ui-tabs-nav.inline-tabs {
	border-bottom: solid 1px #e4e4e4;
	border-radius: 0;
	margin-bottom: 10px;
	padding: 0;
}
.themify-assignments .ui-tabs-nav.inline-tabs li {
	background: none;
	color: inherit;
	padding: 0;
	border-radius: 0;
	margin: 0;
}
.themify-assignments .ui-tabs-nav.inline-tabs li.ui-tabs-active {
	border-bottom: solid 3px #999;
	margin: 0 0 -1px;
	padding: 0;
}
.themify-assignments .ui-tabs-nav li a {
	padding: .5em .8em;
}

/* Query Pages
---------------------------------------------------------------*/
.query-field-hide {
	display: none;
}

/* Multi
---------------------------------------------------------------*/
.themify_field-multi label {
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 10px;
	vertical-align: top;
}

/* Color Picker
---------------------------------------------------------------*/
.minicolors-theme-default .minicolors-input, /* for other plugins */
.themify_field_row .minicolors-theme-default .minicolors-input {
	height: 28px;
}

.themify_field_row .clearColor {
	color: #000 !important;
	width: 20px;
	background: none !important;
	position: absolute;
	bottom: 1px;
	right: 0;
	margin: 0 !important;
	padding: 0;
	border: none !important;
	box-shadow: none !important;
	display: none;
	line-height: 1.9;
	font-size: 16px;
}
.themify_field_row .clearColor:hover,
.themify_field_row .clearColor:active,
.themify_field_row .clearColor:focus {
	color: #ea533b !important;
}
.themify_field_row .clearColor:active {
	opacity: .8;
}

/* Themify Date Picker
---------------------------------------------------------------*/
input.themifyDatePicker {
	margin-right: 5px;
	color: #333;
}
.themify_field-date {
	position: relative;
}
.disableDateField {
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 28px;
}
.themifyOpacityTransition {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
.themifyFadeIn {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}
.themifyDateTimePickerPanel.ui-datepicker {
	border-color: #bbb;
	box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	font: normal 600 1.1em "Open Sans";
	background: #fff;
	z-index: 99999 !important;
}
.themifyDateTimePickerPanel.ui-datepicker .ui-datepicker-header {
	background: none;
	border: none;
	border-bottom: 1px solid #eee;
	border-radius: 0;
	padding-bottom: 5px;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-prev, .ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-next {
	border: 1px solid #eee;
	-webkit-transition: border-color 0.2s ease-out;
	transition: border-color 0.2s ease-out;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-prev .ui-icon, .ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-next .ui-icon {
	background: none;
	text-indent: -99999em;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-prev, .ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-next {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "dashicons";
	box-sizing: border-box;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-prev:after {
	content: "\f141";
	position: absolute;
	top: 2px;
	font-size: 20px;
	left: 0;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-next:after {
	content: "\f139";
	position: absolute;
	top: 2px;
	font-size: 20px;
	left: 0;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-next-hover {
	border: 1px solid #999;
	background: none;
	right: 2px;
	top: 2px;
	cursor: pointer;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-prev-hover {
	border: 1px solid #999;
	background: none;
	left: 2px;
	top: 2px;
	cursor: pointer;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-state-default {
	background: #f6f6f6;
	border-radius: 3px;
	border: 2px solid #eee;
	-webkit-transition: border-color 0.2s ease-out;
	transition: border-color 0.2s ease-out;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-state-active, .ui-datepicker.themifyDateTimePickerPanel .ui-state-default:active {
	border: 2px solid #F90;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-state-highlight {
	border: 2px solid #98cee3;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-buttonpane {
	border-top: 1px solid #eee;
}
.ui-datepicker.themifyDateTimePickerPanel .ui-datepicker-buttonpane button {
	font: 400 0.85em "Open Sans";
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
	background: #fafafa;
	border: 2px solid #eee;
	color: #222;
	outline: none;
	opacity: 1;
}
.ui-datepicker.themifyDateTimePickerPanel .ui_tpicker_hour_label, .ui-datepicker.themifyDateTimePickerPanel .ui_tpicker_minute_label {
	padding-top: 6px;
}

/* Dropdown button */
.themify_field_row.dropdownbutton-group {
	display: inline-block;
	width: 100%;
	margin: 0 0 0.8em;
}
.dropdownbutton-list{
	float: left;
	position: relative;
	margin-right: 10px;
	margin-bottom: 5px;
}
.dropdownbutton-list a {
	color: inherit;
	vertical-align: middle;
	text-decoration: none;
	display: block;
	margin:0;
	padding:0;
}
.dropdownbutton {
	position: absolute;
	display: none;
	background: #fff;
	padding: 5px 0;
	width: 140px;
	z-index: 99;
	border-radius: 3px;
	top: 24px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 6px 2px rgba(0,0,0,.1);
}
.dropdownbutton a {
	color: inherit;
	vertical-align: middle;
	text-decoration: none;
	display: block;
	padding: 5px;
	margin:0;
}
.dropdownbutton a img {
	margin:0 5px;
	min-width:10px;
}
.dropdownbutton a:hover {
	background: #f1f1f1;
}
.dropdownbutton .ddbtn-label {
	padding-left: 3px;
	display: inline-block;
}
.dropdownbutton-group .first-ddbtn img {
	background: #fff;
	border: 1px solid #ccc;
	min-width: 12px;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 5px;
	vertical-align: middle;
	border-radius: 3px;
}
.dropdownbutton .ddbtn-hide {
	display: none;
}
.dropdownbutton-list .first-ddbtn .ddbtn-name {
	margin-left: 5px;
}

/* Image Radio
 */
.themify_field-image_radio input {
	display: none;
}
.themify_field-image_radio label {
	border: solid 1px #D2D2D2;
	border-radius: 2px;
	padding: 2px;
	display: block;
}
.themify_field-image_radio label img {
	display: block;
}
.themify_field-image_radio label:hover {
	border-color: #6CD6FF;
	background: #F3FCFF;
}
.themify_field-image_radio input:checked + label {
	border-color: #FF8D00;
	background: #FFE0AF;
}
.themify_field-image_radio .tm-radio-option {
	position: relative;
	display: inline-block;
	margin-right: 5px;
}
.themify_field-image_radio .tm-option-title {
	display: none;
	font-size: 11px;
	line-height: 1.1em;
	position: absolute;
	top: -10px;
	left: 50%;
	text-align: center;
	width: auto;
	white-space: nowrap;
	z-index: 11;
	background: rgba(0,0,0, .8);
	color: #fff;
	padding: 4px 6px;
	border-radius: 3px;
	-webkit-transform: translateX(-50%) translateY(-60%);
	-ms-transform: translateX(-50%) translateY(-60%);
	transform: translateX(-50%) translateY(-60%);
}
.themify_field-image_radio .tm-option-title:before {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(0,0,0,.8);
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.themify_field-image_radio .tm-radio-option:hover .tm-option-title {
	display: block;
}

/* Display Assignment Pagination
---------------------------------------------------------------*/
#themify_assignments_popup_show .themify-assignment-pagination {
	position: relative;
	width: 400px;
	margin: 0 auto;
	padding: 10px 0;
	clear: both;
	text-align: center;
}
#themify_assignments_popup_show .themify-assignment-pagination span, #themify_assignments_popup_show .themify-assignment-pagination a {
	display: inline-block;
	width: 28px;
	height: 26px;
	margin: 0 2px;
	padding: 3px;
	text-decoration: none;
	box-sizing: border-box;
}
#themify_assignments_popup_show .themify-assignment-pagination a.next,
#themify_assignments_popup_show .themify-assignment-pagination a.prev {
	line-height: 26px;
}
#themify_assignments_popup_show .themify-assignment-pagination a.next:before,
#themify_assignments_popup_show .themify-assignment-pagination a.prev:before {
	top: 2px;
}
#themify_assignments_popup_show .themify-assignment-pagination span.page-numbers-icon {
	display: inline-block;
	width: 8px;
	height: 8px;
	position: relative;
	left: -2px;
	transform: rotate(135deg);
	background: transparent;
	border-top: 1px solid;
	border-left: 1px solid;
}
#themify_assignments_popup_show .themify-assignment-pagination .prev span.page-numbers-icon {
	left: 2px;
	transform: rotate(-45deg);
}
#themify_assignments_popup_show .themify-assignment-pagination .current {
	pointer-events: none;
	border: solid 1px rgba(0,0,0,.2);
}
.themify-assignment-items-page.is-hidden,
.themify-assignment-inner-tab.is-hidden {
	display: none;
}
.themify-assignment-items-inner {
	padding-top: 10px;
}

/* slider loading animation */
.tb_slider_loader_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99999;
}
.tb_slider_loader,
.tb_slider_loader:before,
.tb_slider_loader:after{
	background:#000;
	border-radius:0;
	width:8px;
	height:15px;
	animation:horizontal-loader 1s infinite ease-in-out;
}
.tb_slider_loader:before,
.tb_slider_loader:after{
	position:absolute;
	top:0;
	content:'';
}
.tb_slider_loader:before{
	left:-1.5em;
	animation-delay:-.32s;
}
.tb_slider_loader{
	margin:88px auto;
	position:relative;
	font-size:11px;
	animation-delay:-.16s;
}
.tb_slider_loader:after{
	left:1.5em;
}
.tb_slider_loader_wrapper .tb_slider_loader {
	display: block;
	position: relative;
	left: 20px;
	margin: 0;
}

/*
 * Reset zIndex, originally declared in /wp-admin/css/forms.css
 * Required in order to fix compatibility with plugins that use jQuery Autocomplete
 */
.ui-autocomplete {
	z-index: 10000
}