/************************************************************************************
MOBILE NAVIGATION
*************************************************************************************/
/* MOBILE MENU ACTIVE */
.mobile_menu_active #header {
	height: auto;
	padding: 10px 0 5px;
}
.mobile_menu_active #headerwrap.fixed-header #header {
	text-align: inherit; /* make left text align on sticky header */
}

/* reset absolute elements to static */
.mobile_menu_active #site-logo,
.mobile_menu_active #site-description {
	position: static;
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
}

/* site logo */
.mobile_menu_active #site-logo {
	font-size: 24px;
	margin: 5px 10px 5px 0;
	padding: 0;
}

/* site description */
.mobile_menu_active #site-description {
	margin: 0 0 .5em;
}

/* header widget */
.mobile_menu_active .header-widget {
	position: static;
	float: none;
	clear: both;
	margin: 0;
	text-align: inherit;
}
.mobile_menu_active .header-widget .widget {
	margin: 0 0 1.8em;
}
.mobile_menu_active .header-widget .widgettitle {
	margin: 0 0 .3em;
}

/* menu icon */
.mobile_menu_active .header-icons {
	position: absolute;
	display: block;
	top: 26px;
	right: 2%;
	z-index: 1999;
	transform: translateY(-50%);
}
.mobile_menu_active .header-icons a {
	text-decoration: none !important;
	font-size: 1em;
}
.mobile_menu_active.slide-cart .header-icons {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
.mobile_menu_active.slide-cart #cart-icon {
	margin-left: 0;
	margin-right: .9em;
	padding: .2em .3em;
}

/* mobil menu panel */
body.mobile-menu-visible {
	overflow-y: hidden;
}
body.mobile-menu-visible .header-icons,
body.slide-cart-visible .header-icons {
	z-index: 1 !important; /* prevent the overlap of header buttons with the sidemenu */
}

/* iphone mobil menu panel scroll disable */
.iphone.mobile-menu-visible.no-fixed-header #pagewrap {
	position: fixed;
}

/* Mobile Menu Styles */
.mobile_menu_active .sidemenu {
	transition: all .2s ease-in-out;
	height: 100%;
	width: 300px;
	padding: 50px 25px 25px;
	background-color: #fff;
	color: #000;
	display: block;
	overflow-y: auto;
	position: fixed;
	top: 0;
	z-index: 11111;
	text-align: left;
}
.mobile_menu_active.admin-bar .sidemenu {
	top: 32px;
}
.mobile_menu_active #mobile-menu {
	right: -300px;
}
.mobile_menu_active #mobile-menu.sidemenu-on {
	right: 0;
}
.mobile_menu_active.sidemenu-active {
	position: relative;
}
.mobile_menu_active.sidemenu-active,
.mobile_menu_active.sidemenu-active #headerwrap {
	left: 0;
	transition: left .2s ease-in-out;
}
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-right,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-right #headerwrap.fixed-header {
	left: -300px;
}
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-left,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-left #headerwrap.fixed-header {
	left: 300px;
}
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-left #mobile-menu.sidemenu-on {
	left: 0;
}

/* mobile menu panel link */
#headerwrap #mobile-menu-panel a {
	color: #fff;
	text-decoration: none;
}

/* slide menu close */
.mobile_menu_active #menu-icon-close {
	font-size: 20px;
	color: inherit;
}
.transparent-header #header #menu-icon-close {
	color: inherit; /* require for transparent-header */
}

.mobile_menu_active #menu-icon-close {
	display: block;
	position: absolute;
	text-decoration: none;
	top: .75em;
	right: 1em;
	min-width: 1em;
	min-height: 1em;
	transform-origin: center;
	transition: all .3s linear;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.mobile_menu_active #menu-icon-close:before,
.mobile_menu_active #menu-icon-close:after {
	content: '';
	display: block;
	border-top: 1px solid;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
}
.mobile_menu_active #menu-icon-close:before {
	transform: rotateZ(-45deg);
}
.mobile_menu_active #menu-icon-close:after {
	transform: rotateZ(45deg);
}
.mobile_menu_active #menu-icon-close:hover {
	transform: rotate(90deg);
}

/* main nav */
.mobile_menu_active #main-nav-wrap {
	margin: 1em 0 2em;	
}
.mobile_menu_active #main-nav {
	position: static;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	text-align: left;
	float: none;
	clear: both;
}
.mobile_menu_active #headerwrap #main-nav li {
	float: none;
	display: block;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	clear: both;
	width: 100%;
}

/* sub level */
.mobile_menu_active #headerwrap #main-nav li:not(.themify-widget-menu) > ul,
.mobile_menu_active #headerwrap #main-nav ul {
	position: static;
	width: auto;
	height: auto;
	display: block;
	border: none;
	margin: 0;
	padding: 0 0 0 1em;
	background: none;
	clear: both;
	opacity: 1;
	transform: none;
	color: inherit;
	box-shadow: none;
}
.mobile_menu_active.transparent-header #headerwrap .themify-widget-menu {
	color: inherit;
}
.mobile_menu_active #headerwrap #main-nav ul li {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}
.mobile_menu_active #headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .mega-sub-menu {
	padding: 0;
}

/* menu link */
.mobile_menu_active #headerwrap #main-nav a,
.mobile_menu_active #headerwrap #main-nav ul a {
	width: auto;
	display: block;
	border: none;
	padding: .6em 0;
	margin: 0;
	color: inherit;
	line-height: 1.5em;
	background: none;
	text-decoration: none;
}
.mobile_menu_active #headerwrap #main-nav > li:last-child a {
	border: none;
}

/* sub level menu link */
.mobile_menu_active #headerwrap #main-nav ul a {
	font-weight: normal;
}

/* menu hover */
.mobile_menu_active #headerwrap #main-nav a:hover,
.mobile_menu_active #headerwrap #main-nav ul a:hover {
	color: #ed1e24;
}

/* sub-menu icon */
.mobile_menu_active #main-nav .menu-item-has-children > a:after,
.mobile_menu_active #main-nav ul .menu-item-has-children > a:after {
	display: none;
}

/* current link */
.mobile_menu_active #main-nav .current_page_item > a,
.mobile_menu_active #main-nav .current-menu-item > a {
	color: #ed1e24;
}

/* mega menu */
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #main-nav .has-mega-column > .sub-menu {
	background: none;
	box-shadow: none;
	opacity: 1;
	transform: none;
}
.mobile_menu_active #main-nav .has-mega-column > .sub-menu {
	max-height: inherit;
}
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #main-nav .has-mega-column > ul.sub-menu {
	position: static;
	display: block;
	border: none;
	min-height: 0;
	max-height: none;
	margin: 0;
	width: auto;
	color: inherit;
}
.mobile_menu_active #main-nav .has-mega-sub-menu .mega-sub-menu ul {
	height: auto;
	width: auto;
	float: none;
}
.mobile_menu_active #main-nav .has-mega-column > .sub-menu > li {
	width: auto;
	float: none;
	margin-left: 0;
}
.mobile_menu_active #main-nav .has-mega-column .sub-menu > li > a {
	text-transform: none;
	margin: 0;
}
.mobile_menu_active #main-nav .mega-sub-menu li:after {
	content: '';
}
#main-nav li.mega-link.loading:before,
.mobile_menu_active #main-nav .has-sub-menu > a:after,
.mobile_menu_active #main-nav .has-mega-sub-menu > a:after,
.mobile_menu_active #main-nav .mega-sub-menu li a:after,
.mobile_menu_active #main-nav .mega-menu-posts {
	display: none;
}

/* dropdown icon */
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:before {
    content: "\e801"; /* ti-angle-down */
    font-family: 'themify_theme_icon';
    font-size: 0.8em;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: .5em;
    padding: .9em;
    transition: transform 0.3s ease-in-out;
    border-radius: 100%;
}
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:hover:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:hover:before {
    background: rgba(214,214,214,.4);
}
.mobile_menu_active #main-nav .page_item_has_children .child-arrow.toggle-on:before,
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow.toggle-on:before {
	transform: rotate(180deg);
}
.mobile_menu_active #headerwrap #main-nav .page_item_has_children > a .sub-arrow,
.mobile_menu_active #headerwrap #main-nav .menu-item-has-children > a .sub-arrow {
	display: none !important;
}
.mobile_menu_active #headerwrap #main-nav > li {
	position: relative;
}
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children > li > ul,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul,
.mobile_menu_active #headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu {
	opacity: 1;
	transform: none;
	padding-top: 0;
	padding-bottom: 0;
}

.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children > li > ul.children,
.mobile_menu_active #headerwrap #main-nav > li > div.children,
.mobile_menu_active #headerwrap #main-nav > li > ul.children,
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
}
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .children > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .children > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + div.children,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + ul.children,
.mobile_menu_active #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.mobile_menu_active #headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 2000px;
	min-height: initial;
}


/* SOCIAL LINKS */
.mobile_menu_active #headerwrap .social-widget {
	position: static;
	float: none;
	margin: 0;
}
.mobile_menu_active #headerwrap .social-widget .social-links.horizontal li {
	padding-bottom: 0;
	margin-bottom: 0;
}

/* SEARCH BUTTON */
.mobile_menu_active #headerwrap .search-button {
	margin-right: 0;
	margin-bottom: 0;
	float: none;
}

/* Rounded BG searchform */
.mobile_menu_active #headerwrap #searchform #s,
.mobile_menu_active #headerwrap #searchform #s:focus,
.mobile_menu_active #headerwrap #searchform #s:hover,
.mobile_menu_active #headerwrap #searchform .icon-search:hover + #s,
.mobile_menu_active #headerwrap #searchform {
	width: 100%;
}
.mobile_menu_active #headerwrap #searchform-wrap {
	display: block;
	margin: 1em 0 0;
}
.mobile_menu_active #headerwrap #searchform {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	float: none;
	clear: both;
	margin: 0 0 1em;
	padding: 0;
	width: auto;
}
.mobile_menu_active #headerwrap #searchform #s {
	width: 100%;
	float: none;
	transition: none;
	margin: auto;
	color: #000;
	padding: 5px 15px 5px 35px;
	background-color: #eee;
	position: static;
	height: auto;
}
.mobile_menu_active #headerwrap #searchform .icon-search:hover + #s {
	background-color: #eee;
}
.mobile_menu_active #headerwrap #searchform .icon-search:before {
	left: 7px;
	top: 3px;
	position: absolute;
	background: transparent;
	color: #000;
	width: 16px;
	height: 16px;
	font-size: 18px;
	padding: 3px;
	margin: 0;
	transform: none;
}

/* widget twitter */
.mobile_menu_active #headerwrap .widget .twitter-list .twitter-timestamp {
	opacity: 1;
}

.mobile_menu_active .header-widget .col4-1,
.mobile_menu_active .header-widget .col4-2,
.mobile_menu_active .header-widget .col4-3,
.mobile_menu_active .header-widget .col3-2,
.mobile_menu_active .header-widget .col3-1 {
	margin-left: 0;
	width: 100%;
	max-width: 100%;
}
.mobile_menu_active .sidemenu .header-widget {
	height: auto;
}

/* fixed header */
.mobile_menu_active #headerwrap.fixed-header #searchform-wrap,
.mobile_menu_active #headerwrap.fixed-header .cart-wrap,
.mobile_menu_active #headerwrap.fixed-header .header-bar,
.mobile_menu_active #headerwrap.fixed-header .header-widget {
	display: block;
}
.mobile_menu_active #headerwrap.fixed-header .social-widget,
.mobile_menu_active #headerwrap.fixed-header .search-button {
	display: inline-block;
}
.mobile_menu_active #headerwrap.fixed-header #header {
	padding-top: 5px;
	padding-bottom: 5px;
}
.mobile_menu_active #headerwrap.fixed-header #main-nav li {
	padding-top: 0;
	padding-bottom: 0;
}

/* header block cart wrap */
.mobile_menu_active.header-block.slide-cart #main-nav-wrap {
	display: block;
}

/* ANNOUNCEMENT BAR PLUGIN */
.mobile_menu_active.announcement-bar-showing.announcement-top.admin-bar #headerwrap {
	top: 0 !important;
}
.mobile_menu_active.announcement-bar-showing.admin-bar .themify_announcement.top {
	top: 0; /* @todo */
}

@media screen and (max-width:1024px) {
	.header-widget .col4-1,
	.footer-widgets .col4-1 {
		width: 48.4%;
	}
	.header-widget .col4-1:nth-child(2n+1),
	.footer-widgets .col4-1:nth-child(2n+1) {
		margin-left: 0;
		clear: left;
	}
}
@media screen and (max-width: 1260px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	#pagewrap {
		max-width: 100%;
	}

	.pagewidth,
	.full_width .themify_builder_row .row_inner,
	.full_width .related-posts,
	.full_width .post-nav,
	.full_width .commentwrap,
	.full_width .module-layout-part .themify_builder_row.fullwidth_row_container .row_inner {
		max-width: 96%;
	}
	.full_width .module-layout-part .themify_builder_row.fullwidth .row_inner,
	.full_width .themify_builder_row.fullwidth .row_inner {
		max-width:100%;
	}
	
	.header-gallery#headerwrap.fixed-header #header {
		padding-left: 0;
		padding-right: 0;
		width: 96%;
	}

	body {
		font-size: 1em;
	}

}

@media screen and (max-width: 1200px) {
	#headerwrap #site-logo a img{
		height: auto;
	}
}

@media screen and (max-width: 800px) {

	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	.loops-wrapper.grid4 .post {
		width: 48.4%; /* change grid4 to 2 columns */
	}
	.loops-wrapper.grid4 .post:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}

}

@media screen and (max-width: 760px) {

	/************************************************************************************
	GENERAL
	*************************************************************************************/
	body {
		font-size: .95em;
	}

	/* heading */
	.page-title,
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1em;
	}

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	body .pagewidth,
	body.full_width .themify_builder_row .row_inner,
	body.full_width .related-posts,
	.full_width .post-nav,
	.full_width .commentwrap,
	.full_width .module-layout-part .themify_builder_row.fullwidth_row_container .row_inner {
		max-width: 90%;
	}
	#content,
	.single_posts_wrapper_infinite #content,
	.single_posts_wrapper_infinite.sidebar2 #content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		padding-top: 10%;
	}

	/* live search */
	#search-lightbox-wrap #searchform-wrap #searchform {
		font-size: 1.8em;
	}
	#search-lightbox-wrap.search-active #searchform-wrap #searchform {
		font-size: 1.3em;
	}
	#close-search-box {
		width: 22px;
		top: 5px;
	}

	/* sidebar */
	#sidebar,
	.single_posts_wrapper_infinite #sidebar,
	.single_posts_wrapper_infinite.sidebar2 #sidebar,
	.single_posts_wrapper_infinite.sidebar2 #sidebar-alt {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		padding-top: 10%;
	}
	.sticky_sidebar_enabled #sidebar-alt {
		position: static;
	}
	
	/* tiles layout */
	.loops-wrapper.auto_tiles,
	.tile_enable .auto_tiles {
		height: auto !important;
	}
	.auto_tiles .post,
	.woocommerce.woocommerce-page ul.auto_tiles.products .product	{
		width: 100% !important;
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		margin: 0 0 10px !important;
		overflow: hidden;
	}
}

@media screen and (max-width: 680px) {

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1 {
		font-size: .95em;
	}
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}
	.footer-widgets .col4-2,
	.footer-widgets .col4-3,
	.footer-widgets .col3-2,
	.footer-widgets .col3-1 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}

	/************************************************************************************
	HEADER
	*************************************************************************************/	
	/* prevent logo img extend the fixed header on mobile */
	#headerwrap.fixed-header #site-logo img:not(#sticky_header_logo) {
		width: auto;
		max-height: 40px;
	}

	/* mega menu */
	#main-nav .has-mega-column > .sub-menu {
		overflow: inherit; /* prevent scrollbar */
	}

	/* menu icon */
	#headerwrap .header-icons { 
		right: 5%;
	}
	
	/* header full height #header */
	.header-full-height #headerwrap #header {
		padding-left: 5%;
		padding-right: 5%;
	}

	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	/* all post */
	.shortcode.loops-wrapper.list-post .post,
	.shortcode.loops-wrapper.grid4 .post,
	.shortcode.loops-wrapper.grid3 .post,
	.shortcode.loops-wrapper.grid2 .post,
	.shortcode.grid2-thumb .post,
	.shortcode.list-thumb-image .post,
	.shortcode.list-large-image .post,
	.loops-wrapper.list-post .post,
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post,
	.loops-wrapper.grid2 .post,
	.loops-wrapper.grid2-thumb .post,
	.loops-wrapper.list-thumb-image .post,
	.loops-wrapper.list-large-image .post,
        .loops-wrapper.no-gutter.grid2 .post,
	.loops-wrapper.no-gutter.grid3 .post,
	.loops-wrapper.no-gutter.grid4 .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}

	/* all post title */
	.post-title,
	.loops-wrapper.list-post .post-title,
	.loops-wrapper.grid4 .post-title,
	.loops-wrapper.grid3 .post-title,
	.loops-wrapper.grid2 .post-title,
	.loops-wrapper.grid2-thumb .post-title,
	.loops-wrapper.list-thumb-image .post-title,
	.loops-wrapper.list-large-image .post-title,
	.loops-wrapper.slider .post-title {
		font-size: 1.8em;
	}

	/* all post image */
	.loops-wrapper.list-post .post-image,
	.loops-wrapper.grid4 .post-image,
	.loops-wrapper.grid3 .post-image,
	.loops-wrapper.grid2 .post-image,
	.loops-wrapper.list-large-image .post-image {
		float: none;
		position: static;
		width: auto;
		max-width: none;
		overflow: visible;
	}
	.loops-wrapper.list-large-image .post-image {
		margin-right: 0;
	}

	/* all post content */
	.loops-wrapper.grid2-thumb .post-content,
	.loops-wrapper.list-thumb-image .post-content {
		overflow: visible;
	}

	/* post meta */
	.loops-wrapper.list-post .post-meta, .single .post-meta {
		font-size: .9em;
	}
	
	/* all post date */
	.loops-wrapper.list-post .post-date-wrap:not(.post-date-inline),
	.single .post-content .post-date-wrap:not(.post-date-inline),
	.loops-wrapper.list-post .post-date,
	.single .post-content .post-date {
		width: 80px;
		height: 80px;
	}
	.loops-wrapper.list-post .has-post-thumbnail .post-date-wrap,
	.single .has-post-thumbnail .post-date-wrap {
		margin-top: -65px;
	}
	.loops-wrapper.list-post .post-date .day,
	.single .post-date .day {
		font-size: 23px;
	}
	.loops-wrapper.list-post .post-date .month,
	.single .post-date .month {
		font-size: 13px;
	}
	.loops-wrapper.list-post .post-date .year,
	.single .post-date .year {
		font-size: 10px;
	}
	
	/* post date inline */
	.loops-wrapper.list-post .has-post-thumbnail .post-date-wrap.post-date-inline,
	.single .has-post-thumbnail .post-date-wrap.post-date-inline {
		margin-top: auto;
	}
	.loops-wrapper.list-post .post-date-inline,
	.single-post .post-content .post-date-wrap.post-date-inline {
		width: auto;
		height: auto;
	}
	
	/* slider post */
	.loops-wrapper.slider .post-meta {
		position: static;
	}
	#gallery-controller .slider-dot {
		display: none;
	}
	#gallery-controller .carousel-nav-wrap a {
		width: 25px;
		height: 25px;
	}
	#gallery-controller .carousel-nav-wrap a:before {
		font-size: 20px;
	}
	#gallery-controller .carousel-nav-wrap a:hover:before {
		font-size: 24px;
	}
	.header-gallery.header-gallery-ready #header {
		padding-left: 30px;
		padding-right: 30px;
	}
	.header-gallery#headerwrap.fixed-header #header {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
	}
	.fixed-header-on #headerwrap.header-gallery.header-gallery-ready .header-icons {
		right: 5%;
	}

	/* related post */
	.list-post .related-posts .post {
		width: auto;
		float: none;
		margin: 0 0 3%;
	}
	.related-posts .post img {
		width: 100%;
	}

	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist .comment-time {
		display: block;
	}
	.commentwrap .pagenav.top {
		position: static;
	}

	#commentform p.comment-form-author,
	#commentform p.comment-form-email {
		width: auto;
		float: none;
		padding: inherit;
	}
	
	/*
	SINGLE SPLIT LAYOUT
	================================================ */
	.single.single-split-layout .featured-area,
	.single.single-split-layout #footerwrap,
	.single.single-split-layout #layout,
	.single.single-split-layout .post-nav {
		position: relative;
		width: 100%;
		float: none;
	}
	.single.single-split-layout #layout {
		max-width: 90%;
	}
	.single.single-split-layout #content,
	.single.single-split-layout #footerwrap {
		padding-left: inherit;
		padding-right: inherit;
	}
	.single.single-split-layout .featured-area .post-image {
		margin-bottom: 0;
		height: auto;
	}
	.single.single-split-layout .related-posts .post-image img,
	.single.single-split-layout .featured-area .post-image img {
		height: auto;
		min-height: 0;
		object-fit: none;
	}
	.single.single-split-layout .featured-area:before {
		display: none;
	}
	.single.single-split-layout .post-nav {
		background-color: transparent;
		margin-bottom: 1em;
	}
	.single.single-split-layout .post-nav .prev,
	.single.single-split-layout .post-nav .next {
		clear: none;
	}
	.single.single-split-layout .featured-area .post-content {
		padding-top: 1.7em;
		overflow: visible;
	}
	.single.single-split-layout .post-image + .post-content .post-meta,
	.single.single-split-layout .post-meta {
		margin-bottom: 0.5em;
	}
	
	/*
	SINGLE POST LAYOUTS
	================================================ */
	.single.single-fullwidth-layout .featured-area .post-image + .post-content .post-date-wrap {
		margin-top: -65px;
	}
	.single.single-slider-layout .featured-area .single-slider + .post-content .post-date-wrap:not(.post-date-inline) {
		margin-top: -65px;
	}
	.single.single-slider-layout .featured-area .carousel-pager {
		bottom: 55px;
	}
	.single.single-slider-layout .featured-area .carousel-next,
	.single.single-slider-layout .featured-area .carousel-prev {
		max-height: 50px;
		font-size: 14px;
	}
	.single.single-slider-layout .featured-area .carousel-next:before,
	.single.single-slider-layout .featured-area .carousel-prev:before {
		padding: 16px 8px 16px 5px;
	}
	.single.single-gallery-layout .featured-area .gallery-wrapper + .post-content .post-date-wrap:not(.post-date-inline) {
		margin-top: -40px;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev,
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}

	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .reply {
		top: 0;
		font-size: .8em;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .avatar {
		float: left;
		margin: 0 1em 1em 0;
	}

	/************************************************************************************
	FOOTER
	*************************************************************************************/
	#footerwrap {
		padding-top: 35px;
	}
	
	/* footer logo */
	#footer-logo {
		font-size: 2em;
	}
	.back-top a:before {
		font-size: 2.8em;
	}
	
	/* FOOTER LEFT COL, FOOTER RIGHT COL, FOOTER HORIZONTAL LEFT, FOOTER HORIZONTAL RIGHT
	================================================ */
	.footer-horizontal-left .footer-left-wrap,
	.footer-horizontal-right .footer-left-wrap,
	.footer-horizontal-left .footer-right-wrap,
	.footer-horizontal-right .footer-right-wrap,
	.footer-left-col .main-col,
	.footer-right-col .main-col,
	.footer-left-col .section-col,
	.footer-right-col .section-col {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		max-width: 100%;
	}
	
	.footer-horizontal-left .back-top,
	.footer-horizontal-right .back-top,
	.footer-left-col .back-top,
	.footer-right-col .back-top {
		top: -71px;
	}
	
	#footerwrap .footer-nav ul a {
		width: 160px;
	}
	.footer-nav li ul {
		display: none;
	}
	.footer-nav li:hover > ul {
		display: block;
	}
	
	/************************************************************************************
	FULL SECTION SCROLLING
	*************************************************************************************/
	.full-section-scrolling.themify_builder_active .themify_builder_row .themify_builder_row_content .col-full.tb-column .tb_holder,
	.full-section-scrolling .themify_builder_row.fp-table .row_inner .col-full.tb-column {
		min-height: 100%;
		display:-ms-flexbox;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}

	/* search result tab */
	.search-option-tab li a {
		font-size: .8em;
		padding: .6em;
	}
	.search-results-wrap a {
		font-size: .8em;
	}

}

/************************************************************************************
HEADER WIDGETS
*************************************************************************************/
@media screen and (max-height:900px) {
	.full-section-scrolling #headerwrap .header-widget-inner,
	.header-horizontal #headerwrap .header-widget-inner,
	.header-top-bar #headerwrap .header-widget-inner,
	.boxed-compact #headerwrap .header-widget-inner {
		max-height: 70vh;
	}
}

/* Sidebars & Sticky Sidebar */
@media screen and (max-width: 760px) {
	#sidebar-alt + #sidebar {
		padding-top: 0;
	}
	.sidebar2 #layout {
		display: block;
	}	
	.sidebar2 #pagewrap #content,
	.sidebar2 #pagewrap #sidebar,
	.sidebar2 #pagewrap #sidebar-alt,
	body:not(.sidebar2):not(.sidebar-none):not(.sidebar-left):not(.full_width) #content,
	body:not(.sidebar2):not(.sidebar-left) #sidebar,
	.sidebar-left #content,
	.sidebar-left #sidebar {
		float: none;
		width: 100%;
	}
	
	/* sticky sidebar */
	.sticky_sidebar_enabled #pagewrap #sidebar{
		background: #fff;
		height: 100%;
		width: 300px;
		max-width: 90%;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: -300px;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 30px 5%;
		transition: all 0.5s;
		box-shadow: 0 0 16px 3px rgba(0,0,0,.1);
	}
	.sticky_sidebar_enabled #pagewrap #sidebar.open-mobile-sticky-sidebar {
		left: 0;
	}
	.sticky_sidebar_enabled:not(.sidebar-left):not(.content-right) #pagewrap #sidebar {
		right: -300px;
		left: auto;
	}
	.sticky_sidebar_enabled:not(.sidebar-left):not(.content-right) #pagewrap #sidebar.open-mobile-sticky-sidebar {
		right: 0;
	}
	.sticky_sidebar_enabled #toggle-mobile-sidebar-button{
		transition: all 0.5s;
		background: #ed1e24;
		color: #fff;
		display: block;
		width: 25px;
		height: 45px;
		position: fixed;
		top: 120px;
		z-index: 9999;
		border-left: 0;
		cursor: pointer;
		box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 1px 6px 1px rgba(0,0,0,.1);
		text-align: left;
	}
	.sticky_sidebar_enabled .mobile-sticky-sidebar-icon{
		position: absolute;
		margin: 15px 0 0 9px;
		width: 0;
		height: 0;
	}
	.open-toggle-sticky-sidebar{
		left: 0;
		background-color: #fff;
		display: block
	}
	.close-toggle-sticky-sidebar {
		left: 300px;
	}
	.sticky_sidebar_enabled:not(.sidebar-left):not(.content-right) .open-toggle-sticky-sidebar{
		right: 0;
		left: auto;
	}
	.sticky_sidebar_enabled:not(.sidebar-left):not(.content-right) .close-toggle-sticky-sidebar{
		right: 300px;
		left: auto;
	}
	.sticky_sidebar_enabled:not(.sidebar-left):not(.content-right) .close-toggle-sticky-sidebar i,
	.open-toggle-sticky-sidebar i{
		border: 7px solid transparent;
		border-right: none;
		border-left: 7px solid;
	}
	.sticky_sidebar_enabled:not(.sidebar-left):not(.content-right) .open-toggle-sticky-sidebar i,
	.close-toggle-sticky-sidebar i{
		border: 7px solid transparent;
		border-left: none;
		border-right: 7px solid;
	}
	.open-mobile-sticky-sidebar{
		display: block !important;
		transition: all 1s ease-in-out;
	}

}

/* Responsive Gallery items */
@media screen and (max-width: 1024px) {
	.gallery-columns-5 .gallery-item:nth-of-type(5n),
	.gallery-columns-6 .gallery-item:nth-of-type(6n),
	.gallery-columns-7 .gallery-item:nth-of-type(7n),
	.gallery-columns-8 .gallery-item:nth-of-type(8n),
	.gallery-columns-9 .gallery-item:nth-of-type(9n) {
		margin-right: 1.5%;
	}
	.gallery-columns-5 .gallery-item:nth-of-type(4n+1),
	.gallery-columns-6 .gallery-item:nth-of-type(4n+1),
	.gallery-columns-7 .gallery-item:nth-of-type(4n+1),
	.gallery-columns-8 .gallery-item:nth-of-type(4n+1),
	.gallery-columns-9 .gallery-item:nth-of-type(4n+1) {
		clear: left;
	}
	.gallery-columns-5 .gallery-item:nth-of-type(4n),
	.gallery-columns-6 .gallery-item:nth-of-type(4n),
	.gallery-columns-7 .gallery-item:nth-of-type(4n),
	.gallery-columns-8 .gallery-item:nth-of-type(4n),
	.gallery-columns-9 .gallery-item:nth-of-type(4n) {
		margin-right: 0;
	}
	.gallery-columns-5 .gallery-item + br,
	.gallery-columns-6 .gallery-item + br,
	.gallery-columns-7 .gallery-item + br,
	.gallery-columns-8 .gallery-item + br,
	.gallery-columns-9 .gallery-item + br {
		display: none;
	}
	
	/* clear none gallery item different sizes */
	.gallery-columns-5 .gallery-item:nth-of-type(5n + 1),
	.gallery-columns-6 .gallery-item:nth-of-type(6n + 1),
	.gallery-columns-7 .gallery-item:nth-of-type(7n + 1),
	.gallery-columns-8 .gallery-item:nth-of-type(8n + 1),
	.gallery-columns-9 .gallery-item:nth-of-type(9n + 1) {
		clear: none;
	}

	/* gallery column 5,6,7,8 and 9 */
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width: 23.8%;
	}
}
@media screen and (max-width: 680px) {
	.gallery-columns-3 .gallery-item + br {
		display: none;
	}
	.gallery-columns-3 .gallery-item:nth-of-type(3n) {
		margin-right: 1.5%;
	}

	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width: 49.2%;
	}
	.gallery-columns-3 .gallery-item:nth-of-type(2n),
	.gallery-columns-4 .gallery-item:nth-of-type(2n),
	.gallery-columns-5 .gallery-item:nth-of-type(2n),
	.gallery-columns-6 .gallery-item:nth-of-type(2n),
	.gallery-columns-7 .gallery-item:nth-of-type(2n),
	.gallery-columns-8 .gallery-item:nth-of-type(2n),
	.gallery-columns-9 .gallery-item:nth-of-type(2n) {
		margin-right: 0;
	}
	
	/* clear none gallery item different sizes */
	.gallery-columns-4 .gallery-item:nth-of-type(4n + 1),
	.gallery-columns-3 .gallery-item:nth-of-type(3n + 1),
	.gallery-columns-2 .gallery-item:nth-of-type(2n + 1) {
		clear: none;
	}
}