<div class="col-lg-12">
    <div draggable="true" class="size-gude_overlay_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <h4>Size Guide by Brand</h4>
    <p class="brand-title">Allure leather</p>
    <p>Bra Size Chart</p>
    <table>
        <thead>
            <tr>
                <td>S</td>
                <td>M</td>
                <td>L</td>
                <td>XL</td>
                <td>1X</td>
                <td>2X</td>
                <td>3X</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>32C/34B</td>
                <td>34C/36B</td>
                <td>36C/38B</td>
                <td>36D/38C</td>
                <td>38D/40C</td>
                <td>40D/42C</td>
                <td>42D/44C</td>
            </tr>
        </tbody>
    </table>
    <p>Women’s Size Chart</p>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>S</td>
                <td>M</td>
                <td>L</td>
                <td>XL</td>
                <td>1X</td>
                <td>2X</td>
                <td>3X</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bust</td>
                <td>34″</td>
                <td>36″</td>
                <td>38″</td>
                <td>40″</td>
                <td>43″</td>
                <td>46″</td>
                <td>49″</td>
            </tr>
            <tr>
                <td>Waist</td>
                <td>26″</td>
                <td>28″</td>
                <td>30″</td>
                <td>32″</td>
                <td>35″</td>
                <td>38″</td>
                <td>41″</td>
            </tr>
            <tr>
                <td>Low Waist</td>
                <td>28.5″</td>
                <td>30.5″</td>
                <td>32.5″</td>
                <td>34.5″</td>
                <td>37.75″</td>
                <td>40.75″</td>
                <td>43.75″</td>
            </tr>
            <tr>
                <td>Hip</td>
                <td>36″</td>
                <td>38″</td>
                <td>40″</td>
                <td>42″</td>
                <td>46″</td>
                <td>49″</td>
                <td>52″</td>
            </tr>
        </tbody>
    </table>
    <p>Men’s Size Chart</p>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>S</td>
                <td>M</td>
                <td>L</td>
                <td>XL</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chest</td>
                <td>38″</td>
                <td>40″</td>
                <td>42″</td>
                <td>44″</td>
            </tr>
            <tr>
                <td>Waist</td>
                <td>32″</td>
                <td>34″</td>
                <td>36″</td>
                <td>38″</td>
            </tr>
        </tbody>
    </table>
    <p>One Size</p>
    <table>
        <thead>
            <tr><td></td><td></td></tr>
        </thead>
        <tbody>
            <tr>
                <td>One Size</td>
                <td>Runs from S-L range</td>
            </tr>
            <tr>
                <td>One Size Plus</td>
                <td>Runs from XL-2X range</td>
            </tr>
        </tbody>
    </table>
    <p class="brand-title">Shirley of Hollywood & H.O.T One Size</p>
    <table>
        <thead>
            <tr>
                <td>Size</td>
                <td>Bust</td>
                <td>Cup Size</td>
                <td>Waist</td>
                <td>Hips</td>
                <td>Equivalent Dress Size</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>One Size</td>
                <td>33-38</td>
                <td>A - C</td>
                <td>24-30</td>
                <td>35-40</td>
                <td>8 - 14</td>
            </tr>
            <tr>
                <td>Small / 32</td>
                <td>32-34</td>
                <td>A - B</td>
                <td>23-25</td>
                <td>34-36</td>
                <td>8 - 10</td>
            </tr>
            <tr>
                <td>Medium / 34</td>
                <td>34-37</td>
                <td>B - C</td>
                <td>25½-28</td>
                <td>36-39</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Large / 36</td>
                <td>37-40</td>
                <td>C</td>
                <td>28-31</td>
                <td>39-41</td>
                <td>14</td>
            </tr>
            <tr>
                <td>X-Large / 38</td>
                <td>40-43</td>
                <td>C</td>
                <td>31-34</td>
                <td>41-44</td>
                <td>16</td>
            </tr>
        </tbody>
    </table>
    <p class="brand-title">Intimate Attitudes & H.O.T Queen One Size</p>
    <table>
        <thead>
            <tr>
                <td>Size</td>
                <td>Bust</td>
                <td>Waist</td>
                <td>Hips</td>
                <td>Equivalent Dress Size</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>One Size (Queen)</td>
                <td>40-51</td>
                <td>32-43</td>
                <td>42-53</td>
                <td>16-22</td>
            </tr>
            <tr>
                <td>38</td>
                <td>D</td>
                <td></td>
                <td></td>
                <td>16</td>
            </tr>
            <tr>
                <td>40 / 1X</td>
                <td>42-45</td>
                <td>34-37</td>
                <td>44-47</td>
                <td>18</td>
            </tr>
            <tr>
                <td>42 / 2X</td>
                <td>45-48</td>
                <td>37-40</td>
                <td>47-50</td>
                <td>20</td>
            </tr>
            <tr>
                <td>44 / 3X</td>
                <td>48-51</td>
                <td>40-43</td>
                <td>50-53</td>
                <td>22</td>
            </tr>
            <tr>
                <td>46 / 4X</td>
                <td>51-54</td>
                <td>43-46</td>
                <td>53-56</td>
                <td>24</td>
            </tr>
            <tr>
                <td>48 / 5X</td>
                <td>54-57</td>
                <td>46-49</td>
                <td>56-59</td>
                <td>26</td>
            </tr>
            <tr>
                <td>50 / 6X</td>
                <td>57-60</td>
                <td>49-52</td>
                <td>59-62</td>
                <td>28</td>
            </tr>
        </tbody>
    </table>
    <p class="brand-title">GYz</p>
    <table>
        <thead>
            <tr>
                <td>Size</td>
                <td>Waist</td>
                <td>Chest</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small</td>
                <td>30 - 32</td>
                <td>34 - 36</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>34 - 36</td>
                <td>38 - 40</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>38 - 40</td>
                <td>42 - 44</td>
            </tr>
            <tr>
                <td>X-Large</td>
                <td>42 - 44</td>
                <td>46 - 48</td>
            </tr>
        </tbody>
    </table>
</div>