<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div draggable="true" class="size-gude_overlay_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <h4>Size Guide</h4>
    <p>Allure leather</p>
    <p>Bra Size Chart</p>
    <table>
        <thead>
            <tr>
                <td>S</td>
                <td>M</td>
                <td>L</td>
                <td>XL</td>
                <td>1X</td>
                <td>2X</td>
                <td>3X</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>32C/34B</td>
                <td>34C/36B</td>
                <td>36C/38B</td>
                <td>36D/38C</td>
                <td>38D/40C</td>
                <td>40D/42C</td>
                <td>42D/44C</td>
            </tr>
        </tbody>
    </table>
    <p>Women’s Size Chart in cm</p>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>S</td>
                <td>M</td>
                <td>L</td>
                <td>XL</td>
                <td>1X</td>
                <td>2X</td>
                <td>3X</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bust</td>
                <td>86</td>
                <td>91.5</td>
                <td>96.5</td>
                <td>101.5</td>
                <td>109</td>
                <td>117</td>
                <td>124.5</td>
            </tr>
            <tr>
                <td>Waist</td>
                <td>66</td>
                <td>71</td>
                <td>76</td>
                <td>81</td>
                <td>89</td>
                <td>96.5</td>
                <td>104</td>
            </tr>
            <tr>
                <td>Low Waist</td>
                <td>72.53</td>
                <td>77.5</td>
                <td>82.5</td>
                <td>88</td>
                <td>96</td>
                <td>103.5</td>
                <td>111</td>
            </tr>
            <tr>
                <td>Hip</td>
                <td>91.5</td>
                <td>96.5</td>
                <td>102</td>
                <td>107</td>
                <td>117</td>
                <td>124.5</td>
                <td>132</td>
            </tr>
        </tbody>
    </table>
    <p>Men’s Size Chart in cm</p>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>S</td>
                <td>M</td>
                <td>L</td>
                <td>XL</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chest</td>
                <td>96.5</td>
                <td>102</td>
                <td>107</td>
                <td>112</td>
            </tr>
            <tr>
                <td>Waist</td>
                <td>81</td>
                <td>86.5</td>
                <td>91.5</td>
                <td>96.5</td>
            </tr>
        </tbody>
    </table>
    <p>One Size</p>
    <table>
        <tbody>
            <tr>
                <td>One Size</td>
                <td>One Size Plus</td>
            </tr>
            <tr>
                <td>Runs from S-L range</td>
                <td>Runs from XL-2X range</td>
            </tr>
        </tbody>
    </table>
</div>