<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div draggable="true" class="size-gude_overlay_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <h4>Size Guide</h4>
    <p>GYz</p>
    <table>
        <thead>
            <tr>
                <td>Size</td>
                <td>Waist</td>
                <td>Chest</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small</td>
                <td>76-81 (30” – 32”)</td>
                <td>86 -91.5 (34” – 36”)</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>86 -91.5 (34” – 36”)</td>
                <td>96.5- 101.6 (38” – 40”)</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>96.5- 101.6 (38” – 40”)</td>
                <td>107-112 (42” – 44”)</td>
            </tr>
            <tr>
                <td>X-Large</td>
                <td>107-112 (42” – 44”)</td>
                <td>117- 122 (46” – 48”)</td>
            </tr>
        </tbody>
    </table>
</div>