<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div draggable="true" class="size-gude_overlay_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <h4>Size Guide</h4>
    <p>Roma Costume</p>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Bust</td>
                <td>Waist</td>
                <td>Hips</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>O/S</td>
                <td>81-96.5 (32”-38”)</td>
                <td>56-71 (22”-28”)</td>
                <td>84-99(33”-39”)</td>
            </tr>
            <tr>
                <td>Small</td>
                <td>81-86 (32”-34”)</td>
                <td>58.5-63.5 (23”-25”)</td>
                <td>86-91.5 (34”-36”)</td>
            </tr>
            <tr>
                <td>S/M</td>
                <td>81-91.5 (32”-36”)</td>
                <td>58.5-69 (23”-27”)</td>
                <td>86-96.5(34”-38”)</td>
            </tr>
            <tr>
                <td>M</td>
                <td>86-94 (34”-37”)</td>
                <td>63.5-71 (25”-28”)</td>
                <td>91.5-99 (36”-39”)</td>
            </tr>
            <tr>
                <td>M/L</td>
                <td>86-99 (34”-39”)</td>
                <td>63.5-76 (25”-30”)</td>
                <td>91.5-102 (36”-40”)</td>
            </tr>
            <tr>
                <td>L</td>
                <td>94-102 (37”-40”)</td>
                <td>71-79 (28”-31”)</td>
                <td>99-104 (39”-41”)</td>
            </tr>
            <tr>
                <td>L/XL</td>
                <td>94-104 (37”-41”)</td>
                <td>71-84 (28”-33”)</td>
                <td>99-109 (39”-43”)</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>102-107 (40”-42”)</td>
                <td>79-86 (31”-34”)</td>
                <td>104-112 (41”-44”)</td>
            </tr>
            <tr>
                <td>1XL/2XL</td>
                <td>102-112 (40”-44”)</td>
                <td>79-91.5 (31”-36”)</td>
                <td>104-117 (41”-46”)</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>107-114 (42”-45”)</td>
                <td>86-94 (34”-37”)</td>
                <td>112-119 (44”-47”)</td>
            </tr>
            <tr>
                <td>3XL/4XL</td>
                <td>107-119 (42”-47”)</td>
                <td>86-99 (34”-39”)</td>
                <td>112-124.5 (44”-49”)</td>
            </tr>
        </tbody>
    </table>
</div>