<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div draggable="true" class="size-gude_overlay_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <h4>Size Guide</h4>
    <p>Shirley Of Hollywood</p>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>One Size</td>
                <td>Small</td>
                <td>Medium</td>
                <td>Large</td>
                <td>X Large</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Australia/NZ/ UK</td>
                <td>8-12</td>
                <td>8-10</td>
                <td>10-12</td>
                <td>12-14</td>
                <td>16-18</td>
            </tr>
            <tr>
                <td>USA</td>
                <td>4-12</td>
                <td>4-6</td>
                <td>6-8</td>
                <td>8-10</td>
                <td>12-14</td>
            </tr>
            <tr>
                <td>Corsets</td>
                <td></td>
                <td>32</td>
                <td>34</td>
                <td>36</td>
                <td>38</td>
            </tr>
            <tr>
                <td>Cup Size</td>
                <td>A-C</td>
                <td>A-B</td>
                <td>B-C</td>
                <td>C</td>
                <td>C-D</td>
            </tr>
            <tr>
                <td>Bust (cm)</td>
                <td>86-94</td>
                <td>81-86</td>
                <td>86-94</td>
                <td>94-102</td>
                <td>99-107</td>
            </tr>
            <tr>
                <td>Waist (cm)</td>
                <td>65-71</td>
                <td>60-65</td>
                <td>65-71</td>
                <td>71-79</td>
                <td>79-87</td>
            </tr>
            <tr>
                <td>Hip (cm)</td>
                <td>92-99</td>
                <td>86-92</td>
                <td>92-99</td>
                <td>99-105</td>
                <td>105-112</td>
            </tr>
        </tbody>
    </table>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style='margin: 10px 0'></div>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>S/M</td>
                <td>L/XL</td>
                <td>1X</td>
                <td>2X</td>
                <td>3X</td>
                <td>1X/2X</td>
                <td>3X/4X</td>
                <td>One Size Queen</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Australia/NZ/ UK</td>
                <td>8-12</td>
                <td>14-18</td>
                <td>16-18</td>
                <td>20-22</td>
                <td>22-24</td>
                <td>16-20</td>
                <td>22-24</td>
                <td>18-22</td>
            </tr>
            <tr>
                <td>USA</td>
                <td>4-8</td>
                <td>10-14</td>
                <td>12-14</td>
                <td>16-18</td>
                <td>18-20</td>
                <td>12-16</td>
                <td>18-20</td>
                <td>14-18</td>
            </tr>
            <tr>
                <td>Corsets</td>
                <td></td>
                <td></td>
                <td>40</td>
                <td>42</td>
                <td>44</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Cup Size</td>
                <td>A-C</td>
                <td>C-D</td>
                <td>D</td>
                <td>D-E</td>
                <td>E-F</td>
                <td>D-E</td>
                <td>E-F</td>
                <td>D-E</td>
            </tr>
            <tr>
                <td>Bust (cm)</td>
                <td>81-94</td>
                <td>102-107</td>
                <td>99-107</td>
                <td>107-115</td>
                <td>115-112</td>
                <td>99-115</td>
                <td>115-122</td>
                <td>107-115</td>
            </tr>
            <tr>
                <td>Waist (cm)</td>
                <td>60-71</td>
                <td>79-87</td>
                <td>79-87</td>
                <td>87-95</td>
                <td>95-102</td>
                <td>79-95</td>
                <td>95-102</td>
                <td>87-102</td>
            </tr>
            <tr>
                <td>Hip (cm)</td>
                <td>86-99</td>
                <td>105-112</td>
                <td>105-112</td>
                <td>112-120</td>
                <td>120-126</td>
                <td>105-120</td>
                <td>120-126</td>
                <td>112-126</td>
            </tr>
        </tbody>
    </table>
    <p>GYz</p>
    <table>
        <thead>
            <tr>
                <td>Size</td>
                <td>Waist</td>
                <td>Chest</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small</td>
                <td>76-81 (30” – 32”)</td>
                <td>86 -91.5 (34” – 36”)</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>86 -91.5 (34” – 36”)</td>
                <td>96.5- 101.6 (38” – 40”)</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>96.5- 101.6 (38” – 40”)</td>
                <td>107-112 (42” – 44”)</td>
            </tr>
            <tr>
                <td>X-Large</td>
                <td>107-112 (42” – 44”)</td>
                <td>117- 122 (46” – 48”)</td>
            </tr>
        </tbody>
    </table>
    <img style="margin-top :20px;" class="center-block" src="https://s3.amazonaws.com/adult-toys/images/low-res/MMJ_Size_Guide_Model_FINAL.jpg" alt="Shirley Of Hollywood"/>
</div>