<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div draggable="true" class="size-gude_overlay_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <h4>Size Guide</h4>
    <p>Underwear Channel</p>
    <span>Most of our products are made as one size fits most. We use high quality fabric which can be easily stretched</span>
    <span>Please also refer to the following measurements restrictions: (Our product will not fit you if your measurements exceed the following restrictions)</span>
    <span>Size Chart (1 inch=2.54 cm)</span>
    <table>
        <thead>
            <tr>
                <td>Size</td>
                <td>Bust(cm)</td>
                <td>Waist(cm)</td>
                <td>Hips(cm)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small</td>
                <td>81-86</td>
                <td>58-64</td>
                <td>86-91</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>86-94</td>
                <td>64-71</td>
                <td>91-99</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>99-102</td>
                <td>71-79</td>
                <td>99-104</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>99-107</td>
                <td>79-86</td>
                <td>104-112</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>107-117</td>
                <td>87-94</td>
                <td>112-119</td>
            </tr>
            <tr>
                <td>XXXL</td>
                <td>117-122</td>
                <td>94-102</td>
                <td>119-127</td>
            </tr>
            <tr>
                <td>One Size</td>
                <td>86-102</td>
                <td>58-79</td>
                <td>90-104</td>
            </tr>
        </tbody>
    </table>
    <p>How to Measure</p>
    <p>BUST</p>
    <span>Measure under your arms, around the fullest part of your bust.</span>
    <p>WAIST</p>
    <span>Measure around your natural waistline, being the smallest part.</span>
    <p>LOW WAIST</p>
    <span>Measure Approximately 2" below the natural waistline or 2 fingers below the navel. This measurement applies to all of our pants and shorts. It is also used for any skirt that sits below the navel.</span>
    <p>HIPS</p>
    <span>Measure around the fullest part of your hip.</span>
</div>