$champagne: #FEFCD3;
$caramel: #B19663;
$merlot: #69160E;
$rose: #851D19;
$toffee: #B7A168;
$font-merri: 'Merriweather', serif;
$font-roboto: 'Roboto Slab', serif;
$dev_grey: #999;
$menu-colour: #FFF3DB;
$bootstrap-red:#d9534f;
$bootstrap-green:#5cb85c;
$bootstrap-orange:#f0ad4e;

.accounts-login-container{
    .accounts-login-background{
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
    }
    .accounts-login-wrapper{
        bottom: 40%;
        left: 50%;
        width: 500px;
        margin-left: -250px;
        position: fixed;
        img{
            max-width: 100%;
        }
        input{
            margin: 10px 0;
            border: 1px solid $toffee;
            font-size: 16px;
            width: 100%;
            padding: 10px;
            display: block;
            text-align: center;
        }
        label{
            text-align: center;
            color: $menu-colour;
            display: block;
            font-size: 18px;
        }
        button{
            background-color: $rose;
            border: none;
            padding: 15px 30px;
            color: $champagne;
            text-transform: uppercase;
            font-size: 18px;
            font-family: $font-roboto;
            font-style: normal;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width:auto;
            margin: 20px auto;
            display: block;
        }
        .signin-error{
            text-align: center;
            width:100%;
            color:red;
        }
    }
}
.accounts-container{
    .accounts-top-bar{
        z-index:1;
        position: fixed;
        height: 85px;
        background-color: #ccc;
        left: 0;
        top: 0;
        .logout-container{
            text-align: right;
            margin-top: 30px;
            a{
                color: $rose;
            }
        }
        .summary-container{
            text-align:center;
            margin:20px auto;
            p{
                display: inline;
            }
            input{
                background-color: transparent;
                border: none;
            }
            .items-summary-trigger,.orders-summary-trigger{
                cursor: pointer;
            }
            .summary-text-active{
                color:$rose;
            }
        }
    }
    .filter-container{
        text-align:center;
        margin:0px auto;
        select{
            font-size: 14px;
            padding: 4px 15px;
            margin:0;
        }
        .filter-products {
            margin-top: 12px;
        }
        .date-range-container{
            padding:0;
            p{
                width: 50%;
                float: left;
            }
        }
    }
    main{
        //padding:60px 0;
        margin-top:55px;
        .account-product-container{
            border:1px solid #ccc;
            padding:10px;
            margin: 10px auto;
            .col-lg-3{
                width:12.5%;
                p{
                    padding: 10px 0;
                    text-align: center;
                }
            }
        }
        .product-list-header,.product-list-footer{
            position:fixed;
            background-color:#000;
            height:50px;
            top: 120px;
            left: 0;
            z-index:1;
            .col-lg-3{
                width:12.5%;
                p{
                    color: #fff;
                    padding: 10px 0;
                    text-align: center;
                }
            }
        }
        .product-list-footer{
            top:inherit;
            bottom: 0;
            p,i{
                color: #fff;
                padding: 10px 0;
                text-align: right;
            }
            i{
                cursor: pointer;
                padding:10px;
            }
        }
    }
}
.ui-datepicker-title{
    select{
        border: none;
        background: transparent;
        -webkit-appearance:interit;
        -moz-appearance: interit;
        appearance: interit;
        margin: inherit;
        background-color: inherit;
        background-size: 50px;
        border-radius: inherit;
        border: inherit;
        color: inherit;
        font-size: inherit;
        padding: inherit;
        text-align: left;
    }
}
.import-edit-product-container{
    position: fixed;
}
select[name=accounts-items-table_length]{
    padding:0 5px;
    background: none;
}
.loading-overlay{
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow:hidden;
    left: 0;
    top: 0;
    .fa-refresh{
        font-size: 200px;
        color: white;
        left: 50%;
        position: absolute;
        margin-left: -100px;
        top: 50%;
        margin-top: -100px;
    }
}