#wrapper {
    background-color: #fff;
    margin: 0;
    padding: 70px 0 70px 0;
    -webkit-text-size-adjust: none !important;
    width: 100%;
}

#template_container {
    box-shadow: 0 1px 4px rgba(0,0,0,0.1) !important;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px !important;
}

#template_header {
    background-color: #851D19;
    border-radius: 3px 3px 0 0 !important;
    color: #851D19;
    border-bottom: 0;
    font-weight: bold;
    line-height: 100%;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
#template_header a{
    text-decoration: none;
}
#template_header h1 {
    color: #851D19;
}

#template_footer td {
    padding: 0;
    -webkit-border-radius: 6px;
}

#template_footer #credit {
    border:0;
    color: #851D19;
    font-family: Arial;
    font-size:12px;
    line-height:125%;
    text-align:center;
    padding: 0 48px 48px 48px;
}

#body_content {
    background-color: #fff;
}

#body_content table td {
    padding: 48px;
}

#body_content table td td {
    padding: 12px;
}

#body_content table td th {
    padding: 12px;
}

#body_content p {
    margin: 0 0 16px;
}

#body_content_inner {
    color: #851D19;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
}

.td {
    color: #851D19;
    border: 1px solid #ccc;
}

.text {
    color: #851D19;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-align: left;
}

.link {
    color: #851D19;
}

#header_wrapper {
    padding: 36px 48px;
    display: block;
}

h1 {
    color: #B19663;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
    text-align: left;
    text-shadow: 0 1px 0 #000;
    -webkit-font-smoothing: antialiased;
}

h2 {
    color: #B19663;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 130%;
    margin: 16px 0 8px;
    text-align: left;
}

h3 {
    color: #B19663;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 130%;
    margin: 16px 0 8px;
    text-align: left;
}

a {
    color: #851D19;
    font-weight: normal;
    text-decoration: underline;
}

img {
    border: none;
    display: block;
    margin:10px auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    max-height: 100px;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 12, 2016, 11:22:00 AM
    Author     : matthewdunn
*/

