/*-------------------------------------------------------------Media Queries----------------------------------------------*/


@media (min-width: 1650px) {
    .archive-page .related-product {
        min-height: 525px;
        background-color: #fff;
        margin: 20px 2%;
        border-radius: 5px;
    }
    .col-xlg-offset-0 {
        margin-left: 0%;
    }
    .col-xlg-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-xlg-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-xlg-offset-3 {
        margin-left: 25%;
    }
    .col-xlg-1,.col-xlg-2,.col-xlg-3,.col-xlg-4,.col-xlg-5,.col-xlg-6,.col-xlg-7,.col-xlg-8,.col-xlg-9,.col-xlg-10,.col-xlg-11,.col-xlg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-xlg-3{
        width: 25%;
    }
    .col-xlg-4{
        width: 33.33333333333333%;
    }
    .col-xlg-7 {
        width: 58.333333333333336%;
    }
    .col-xlg-8 {
        width: 66.66666666666666%;
    }
    .col-xlg-10 {
        width: 83.33333333333334%;
    }
    .col-xlg-12 {
        width: 100%;
    }
    .archive-page .related-product {
        min-height: 540px;
    }
    .sorted-products .col-xlg-3 {
        width: 21%;
    }
}
@media (max-width: 1400px){
    .fixed-header h6 {
        text-align: center;
        padding: 0;
    }
    .archive-product-container .col-lg-6{
        width: 100%;
    }
    .archive-product-description p,.archive-product-price p {
        text-align: center;
    }
}
@media (max-width: 1320px) {
    .home-images .text-block {
        bottom: 5%;
        top:auto;
    }
}
@media (min-width: 1310px) {
    .home-popular-products .col-lg-2 {
        width: 18.3%;
        padding: 0 1%;
    }
    .footer-sub button {
        margin-top: 10px;
    }
    .menu-item a {
        font-size: 22px;
    }
}

@media (max-width: 1282px) {
    .menu-item a {
        font-size: 18px;
    }
}

@media (max-width: 1145px) {
    .archive-product-title {
        text-align: center;
    }
    #sub_email_form {
        margin: 10px auto;
    }
    .signInBox {
        width: 75%;
        left: 12.5%;
        top: 10%;
    }
    .wishlist-container-page {
        margin-top: 20px;
    }
    .archive-add-to-cart-container{
        margin-top: 20px;
    }
    .archive-right_col_product_container .cart {
        margin-top: 20px;
    }
    .archive-quantity-container{
        text-align: center;
    }
    .art-conents-icon {
        display: block;
        margin: 0 auto;
    }
    .fixed-header .fav-header .wishlist-link {
        height: auto;
    }
    .fixed-header h6 {
        text-indent: 0px;
    }
    .archive-refine-products {
        margin-bottom: 10px;
    }
    select {
        margin: 10px;
    }
    .main-menu{
        display: none;
    }
    .logo {
        margin-bottom: 20px;
    }
    main {
        margin-top: 90px;
    }
    .signin{
        display: none;
    }
    .mobile-menu-container-new {
        display: block;
    }
    .home-lined {
        padding: 5px 10px;
    }
    .home-lined-text {
        font-size: 30px;
    }
    .home-main-image{
        padding-bottom: 0;
    }
    .fixed-header h6 {
        text-indent: -25px;
        text-align: center;
        width: 100%;
    }
    .home2ImageContainer {
        padding: 0px;
    }
    .banner-button {
        font-size: 20px;
        margin-top: 10px;
    }
    .home-top-text, .home-bottom-text {
        font-size: 35px;
    }
    .red-text {
        color: #E0393D;
        font-size: 65px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .home-images img {
        padding: 10px;
        width: 100%;
        overflow: hidden;
    }
    .archive-mobile-filter-by-brand h3 {
        width: 100%;
        color: #000;
        padding: 20px 0;
        margin: 0;
    }
    .archive-mobile-rilter-by-dropdown {
        width: 50%;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #fff;
        z-index: 10;
        border: #b0b0b0 solid 1px;
        display: none;
    }
    .col-sm-12.archive-mobile-refine span::after {
        content: '\02c3';
        position: absolute;
        right: 55%;
        font-size: 40px;
        padding: 0;
        margin-top: -14px;
    }
    .archive-mobile-refine div, .archive-mobile-refine select {
        background: transparent;
        width: 50%;
        color: #fff;
        border: none;
        border-left: #fff solid 1px;
        padding: 20px;
        float: left;
        height: 100%;
        border-right: #fff solid 1px;
    }
    .archive-mobile-rilter-by-dropdown .archive-mobile-filter-by-brand, .archive-mobile-filter-by-brand .mobile-brand-select, .archive-mobile-filter-by-brand .mobile-brand-select-sub {
        width: 100%;
        color: #000;
        padding: 0;
        margin: 20px 0;
        text-indent: 20px;
    }
    .archive-mobile-filter-by-brand .mobile-brand-select, .archive-mobile-filter-by-brand .mobile-brand-select-sub {
        margin: 5px 0;
        padding: 0;
    }
    .archive-mobile-filter-by-brand .mobile-brand-select{
        display: none;
    }
    .archive-mobile-refine:first-child{
        border-right: none;
    }
    .container {
        width: 100%;
    }
    .col-sm-12.archive-mobile-refine {
        background-color: #000;
        margin: 20px 0;
    }
    .cart-row,.archive-last-post,.archive-goto-button,.archive-first-post,.product-breadcrumb,.main-navigation,.page-title-des .term-description,.sort-select{
        display: none !important;
    }
    .mobile-nav,.mobile-text,.archive-mobile-refine,.sort-select-mobile{
        display: block !important;
    }
    .prev-next-posts.page-nav button {
        width: 40%;
        font-size: 22px;
        max-width: none;
    }
    .prev-next-posts.page-nav span {
        display: inline-block;
        margin: 0 10px;
    }
    .center-block.image-box img{
        border: none;
    }
    .archive-mobile-filter-by-brand-select::after {
        content: '\02c3';
        right: 20px;
        position: absolute;
        font-size: 45px;
        margin-top: -7px;
    }
    .archive-mobile-filter-by-brand-selected::after {
        content: '\02C5';
        right: 20px;
        position: absolute;
        font-size: 45px;
        margin-top: -7px;
    }
    .archive-mobile-filter-by-brand{
        border: #b0b0b0 solid 1px;
    }
    .mobile-active-menu-dropdown {
        background-color: #eee;
    }
    .prev-next-posts.page-nav.page-nav-top button span {
        display: inline !important;
    }
    .home-images .home-main-image{
        padding-bottom: 0;
    }
}

@media (max-width: 1082px) {
    .cart-row p{
        padding: 18px 0;
        font-size: 20px;
    }
    .cart-header p, .fav-header p {
        font-size: 15px;
        padding: 2px 0;
    }
    .menu-item a {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .footer-sub input,.footer-sub button {
        display: block;
        margin: 10px auto;
    }
    .archive-products-child-container {
        left: 0;
    }
    .archive-mobile-product-container{
        display: block;
    }
    .logo img {
        height: 40px !important;
    }
    .home-images .home-main-image {
        height: 400px;
        filter: grayscale(10%);
    }
    .col-5-lg img {
        width: 90%;
        margin: 0px 5%;
        max-width: 220px;
        height: auto;
    }
    .remove-from-wishlist, #clear-wishlist {
        margin: 20px 0;
    }
    .regular-price {
        float: unset;
        margin: 0 auto;
    }
    .price {
        width: 100%;
    }
    .mobile-footer-border{
        display: block;
    }
    .image-box img {
        width: 100%;
        height: auto;
    }
    .banner-text {
        font-size: 30px;
        top: 10px;
    }
    .banner-button {
        font-size: 15px;
    }
    .footer-sub-menu{
        display: none;
    }
    .partners{
        margin-bottom: 20px;
        position: relative;
    }
    footer h3{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin: 10px 0;
    }
    .footer-sub{
        margin-top: 10px;
    }
    .desktop-social{
        display:none;
    }
    .footer-sub p{
        text-align: center;
    }
    .mobile-footer-social{
        display: block;
    }
    .connect-title{
        display: block;
    }
    .footer-mobile-border{
        border-top: 1px solid #fff;
        width: 100%;
        overflow: hidden;
    }
    .desktop-menu{
        display:none;
    }
    .mobile-footer-menu{
        display: block;
    }
    .copyright p {
        font-size: 18px;
    }
    .cart-row{
        display:none;
    }
    .footer-icons{
        display:none;
    }
    .mobile-nav {
        display: block;
        height: 100px;
    }
    .mobile-nav .col-xs-3 {
        height: 100%;
    }
    .main-navigation {
        display: none;
    }
    #searchform {
        display: none;
    }
}

@media (max-width: 954px) {
    .archive-product-container .col-lg-6 {
        width: 50%;
    }
    .archive-products-container {
        height: auto;
        overflow: auto;
    }
    .archive-products-child-container {
        position: relative;
        overflow-y: auto;
    }
}

@media (max-width: 900px) {
    .mobile-menu-items-container {
        top: 207px;
    }
    .header-cart-wish-container {
        position: fixed;
        top: 0;
        right: 15px;
        width: 50%;
        min-width: 250px;
    }
    main {
        margin-top: 160px;
    }
    .logo {
        margin-top: 80px;
    }
}
@media (max-width: 858px) {
    .home-main-image-mobile{
        display: block;
    }
    .home-main-image{
        display: none;
    }
    .home-images .text-block {
        bottom: 12%;
        left: 46%;
        color: #faebd7;
    }
    .home-lined {
        border-top: 1px solid #faebd7;
    }
}

@media(max-width : 767px){
    .logo {
        border-bottom: none;
    }
    .archive-related-link h3 {
        font-size: 20px;
    }
    .archive-product-image img {
        max-height: 250px;
    }
    .archive-product-details {
        text-align: center;
    }
    .mobile-menu-container-new {
        top: 10px;
        z-index: 999;
    }
}

@media (max-width: 665px){
    .archive-right-col-image-container p, .archive-mobile-cat-image-container p {
        top: 18%;
        font-size: 18px;
    }
    .archive-right-col-image-container h1, .archive-mobile-cat-image-container h1 {
        top: 0%;
        font-size: 45px;
    }
    #home-partners-left, #home-partners-right {
        top: 28%;
    }
    .home-partners-wrapper {
        overflow: hidden;
    }
    .home-partners-container{
        display: block;
        float: left;
        margin: 0 auto;
    }
    .home-partners-container img{
        max-width: 300px;
        display: block;
        margin: 0 auto;
    }
    .fa.fa-chevron-left.home-mobile-scroll-buttons.home-mobile-scroll-button-left,.fa.fa-chevron-right.home-mobile-scroll-buttons.home-mobile-scroll-button-right{
        display: block;
    }
    #email-wishlist-iframe, #email-wishlist-frame {
        width: 75%;
        margin: 5% 12.5%;
    }
    .home-popular-product, .home-new-products {
        max-width: 320px;
        margin: 0px 10px;
        float: left;
    }
    .col-lg-offset-1.home-popular-products.col-md-offset-1.col-sm-offset-1 {
        width: 1600px;
        margin-left: 0px;
        overflow: hidden;
    }
    .fa.fa-minus.wishlist-quantity-decrease {
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .fa.fa-plus.wishlist-quantity-increase {
        margin-right: 10px;
    }
    .row.wishlist-subtitle {
        display: none;
    }
    .price {
        font-size: 40px;
    }
    .col-5-lg {
        width: 50%;
    }
    .col-5-lg h3 {
        font-size: 30px;
    }
    .col-5-lg p {
        font-size: 22px;
        width: 90%;
        margin: 10px 5%;
    }
    .wishlist-cart-button {
        width: 90%;
        margin: 10px 5%;
    }
}
@media (max-width: 547px){
    .home-images .text-block {
        bottom: 12%;
        left: 5%;
        color: #faebd7;
        width: 90%;
    }
}

@media (max-width: 500px){
    .col-5-lg {
        width: 100%;
    }
}
@media (max-width: 380px){
    .header-cart-wish-container {
        right: 0px;
    }
    .home-images .text-block {
        bottom: 5%;
    }
    .logo img {
        height: 30px !important;
    }
}