.cont {
    max-width: 320px;
    text-align: center;
    padding: 5px 0;
    background: #851D19;
    color: #fff;
    border-radius: 5px;
    border: thin solid #444;
    overflow: hidden;
    margin: 20px auto;
}

hr {
    margin: 20px;
    border: none;
    border-bottom: thin solid rgba(255,255,255,.1);
}

div.title { font-size: 2em; }


div.stars {
    width: 270px;
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #fff;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
@media(max-width:378px){
    label.star {
        font-size: 20px;
        padding:5px;
        margin-bottom: 0;
    }
    div.stars {
        width: auto;
    }
    button[name="save-review"]{
        margin: 20px auto !important;
    }
}