hr {
    margin: 20px;
    border: none;
    border-bottom: thin solid rgba(255,255,255,.1);
}

div.title { font-size: 2em; }


div.stars {
    width: 100%;
    display: inline-block;
    margin: 0;
    min-height: 26px;
}

input.star { display: none; }

label.star {
    float: left;
    padding: 0 5px;
    font-size: 18px;
    color: #fff;
    transition: all .2s;
    margin: 0;
}

input.star ~ label.star:before {
    content: '\f005';
    color: #B19663;
    transition: all .25s;
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

input.star-blank { display: none; }

label.star-blank {
    float: left;
    padding: 0 5px;
    font-size: 18px;
    color: #fff;
    transition: all .2s;
    margin: 0;
}

label.star-blank:before {
    content: '\f006';
    color: #B19663;
    font-family: FontAwesome;
}

.archive-product-title{
    margin-bottom: 0 !important;
}

label.first-star {
    padding: 0;
}

@media(max-width:1024px){
    div.stars {
        width: 167px;
        display: block;
        margin: 0 auto;
    }
}

@media(max-width:420px){
    label.star-blank {
        font-size: 14px;
    }
    label.star {
        font-size: 14px;
    }
    div.stars {
        width: 115px;
    }

}