/*
BOXED COMPACT
================================================ */
body {
	background-color: #ddd;
}
.admin-bar #headerwrap {
	top: 0;
}
#pagewrap {
	width: 1236px;
	margin: 27px auto;
	max-width: 95%;
	background-color: #fff;
	position: relative;
	box-shadow: 0 3px 16px rgba(0,0,0,.10);
}
/* boxed compact header */
body:not(.fixed-header-on) #pagewrap #headerwrap {
	top: 0;
}
.fixed-header #headerwrap {
	position: absolute;
}
#header {
	text-align: inherit;
	padding: .5em 0;
}
.header-bar {
	float: left;
}

/* boxed compact site logo */
#site-logo {
	margin: 12px 15px 0 0;
	display: inline-block;
	vertical-align: middle;
}

/* boxed compact site description */
#site-description {
	margin: 22px 1.8em 5px 0;
	font-size: .65em;
	display: inline-block;
	vertical-align: middle;
}

/* boxed compact social widget */
#header .social-widget {
	float: left;
	margin: 12px 5px 0 0;
}

/* boxed compact searchform */
.search-button {
	margin: 9px 0 0;
	float: left;
}

#searchform-wrap {
	margin: 15px 0 0;
	float: left;
	transition: all 0.2s ease-in-out;
}
#headerwrap #searchform #s {
	padding: 0 15px 0 25px;
	height: 25px;
	vertical-align: top;
	position: absolute;
	margin-top: -1px;
}
#headerwrap #searchform .icon-search:before {
	font-size: 15px;
	padding: 6px;
	line-height: 100%;
	width: 13px;
	height: 13px;
	margin: 0;
	margin-left: -3px;
	margin-top: -1px;
	transform: none;
}

/* boxed compact main nav */
body:not(.slide-cart):not(.mobile_menu_active) #main-nav-wrap {
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
body:not(.slide-cart):not(.mobile_menu_active) #main-nav {
	position: static;
}
#main-nav {
	float: right;
	clear: right;
	transition: all 0.2s ease-in-out;
	margin: 0;
}
#main-nav li:not(.themify-widget-menu) > ul {
	left: auto;
	right: 0;
}
#main-nav li:not(.themify-widget-menu) > ul ul {
	right: 100%;
	left: auto;
}

#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu {
	margin: auto;
	right: 0;
	left: auto;
}
#main-nav .has-mega-column > .sub-menu {
	padding: 32px 39px 39px;
}
#main-nav .has-mega-column .sub-menu li {
	margin-bottom: 0;
}

/* boxed compact cart wrap */
.slide-cart #main-nav-wrap {
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#main-nav-wrap,
.slide-cart #main-nav {
	position: static;
}

/* boxed compact header widget */
.header-widget {
	display: none;
	text-align:  center;
}
.header-widget .header-widget-inner {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* To fix if you enable page title when full width */
.full_width .page-title {
	margin: .5em 2.5%;
}
@media screen and (max-width: 760px) {
	.full_width .page-title {
		margin-left: 5%;
	}
}

@media screen and (max-width: 600px) {
	body:not(.header-none).admin-bar.no-fixed-header #wpadminbar {
		margin-top: -73px;
	}
}

/* boxed compact fixed-header */
.fixed-header #header {
	min-height: inherit;
}
#headerwrap.fixed-header #searchform-wrap,
#headerwrap.fixed-header .header-bar,
#headerwrap.fixed-header .social-widget,
#headerwrap.fixed-header .search-button {
	display: block;
}

/* mobile menu active */
/* boxed compact site description */
.mobile_menu_active #site-description {
	margin: 2px 0 0;
}
/* boxed compact social widget */
.mobile_menu_active #header .social-widget {
	float: none;
	margin: 0;
}
/* boxed compact search button */
.mobile_menu_active .search-button {
	float: none;
	margin: 0;
}
.mobile_menu_active #headerwrap #searchform-wrap {
	float: none;
}

/* boxed compact slide cart */
.mobile_menu_active.slide-cart #main-nav-wrap {
	display: block;
}
.mobile_menu_active .cart-wrap {
	top: 35px;
}

/* boxed compact header widget */
.mobile_menu_active #headerwrap .header-widget {
	display: block;
	text-align: inherit;
	max-height: none !important;
}
.mobile_menu_active .pull-down {
	display: none;
}
.pull-down {
	float: right;
}