/*
HEADER MINBAR
================================================ */
/* header minbar pagewrap */
#pagewrap {
	padding-top: 0 !important; /* prevent inline padding apply from JS */
}
#body,
#footerwrap {
	padding-left: 69px;
}
.row_inner {
	width: auto;
	max-width: 90%;
	margin: 0 auto;
}
.sidebar-none #content {
	padding: 0;
}
.slide-cart-visible.full_width #body,
.mobile-menu-visible.full_width #body {
	padding-left: 0;
}

/* builder row */
.full_width .themify_builder_row.fullwidth .row_inner {
	 max-width: 100%;
}

/* header minbar headerwrap */
.header-minbar #pagewrap #headerwrap {
	float: left;
	width: 318px;
	position: fixed !important;
	height: 100%;
	left: -249px;
	transition: left .2s ease-in-out;
	z-index: 9999;
}
.transparent-header #headerwrap {
	background-color: rgba(0,0,0,.3);
}
#headerwrap {
	border-bottom: none;
	border: none;
	box-shadow: 3px 0 16px 3px rgba(0,0,0,.1);	
}
#header {
	text-align: inherit;
	position: absolute;
	height: 100%;
	width: 248px;
	font-size: .95em;
	padding: 0;
}
.header-bar {
	transform: rotate(-90deg);
	transform-origin: 0 0;
	position: fixed;
	bottom: -45px;
	left: 0;
	height: 69px;
	line-height: 69px;
}
#headerwrap.fixed-header {
	width: 318px;
	left: -249px;
}

/* mega menu */
#main-nav .has-mega-column > .sub-menu {
	overflow: inherit; /* prevent scrollbar */
}
#main-nav li:not(.has-mega-column).dropdown-columns-2 > .sub-menu,
#main-nav li:not(.has-mega-column).dropdown-columns-3 > .sub-menu,
#main-nav li:not(.has-mega-column).dropdown-columns-4 > .sub-menu,
#main-nav li:not(.has-mega-column).dropdown-columns-2 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-3 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-4 > .sub-menu > li {
	float: none;
	width: 100%;
}
	
/* Side menu */
.header-icons {
	display: block;
}
#mobile-menu,
.header-widget {
	visibility: hidden;
	opacity: 0;
}
#cart-icon {
	padding: 0;
	margin: .3em 0 0;
	position: relative;
}
.header-widget {
	height: auto;
}
.header-minbar .sidemenu {
	transition: all .2s ease-in-out;
	height: 100%;
	width: 250px;
	padding: 2em 1.5em;
	background-color: #fff;
	color: #000;
	display: block;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	z-index: 11111;
	box-shadow: 3px 0 12px -3px rgba(0,0,0,.07);
}
.header-minbar .sidemenu.sidemenu-on {
	box-shadow: 3px 0 12px 0px rgba(0,0,0,.07);
}
#mobile-menu {
	left: -300px;
	transition: all .2s ease-out;
}
#mobile-menu.sidemenu-on {
	left: 0;
}
.sidemenu-active {
	position: relative;
	left: 0;
	transition: left .2s ease-in-out;
}
body.slide-cart-visible.mobile_menu_active.sidemenu-right,
body.slide-cart-visible.sidemenu-right {
	left: 319px;
	overflow-x: hidden;
}
.iphone.sidemenu-active {
	position: absolute;
	max-width: 100%;
}
.sidemenu-active .header-widget {
	transition: opacity .2s ease-out;
}
.sidemenu-active .header-widget {
  visibility: visible;
  opacity: 1;
}
.sidemenu-left {
	left: 319px;
}
.sidemenu-left #mobile-menu.sidemenu-on {
	left: 69px;
	opacity: 1;
	visibility: visible;
	z-index: 1;
}
.iphone.sidemenu-active.footer-none {
	position: static;
}
.iphone.footer-none.mobile_menu_active.header-minbar.full_width .themify_builder_row .row_inner {
	width: 100%;
}

/* header minbar site logo */
#site-logo {
	padding-top: 0;
	margin: 0 .3em 0 0;
	display: inline-block;
	vertical-align: middle;
}
#site-logo img {
	height: 30px;
	width: auto;
}

/* header minbar site description */
#site-description {
	font-size: .9em;
	margin: 0;
	display: inline-block;
}

/* header minbar social widget */
.social-widget .social-links.horizontal li {
	margin-right: 1px;
}
.social-widget .widget_search {
	display: block;
}

/* header minbar searchform */
#searchform-wrap {
	float: none;
	clear: both;
	display: block;
	margin: 1em 0;
}
#headerwrap #searchform {
	width: auto; /* reset searchform width */
}
#headerwrap #searchform #s {
	width: 100%;
	margin: 0;
	border-radius: 5em;
	background-color: #eee;
	color: #000;
}
#headerwrap #searchform .icon-search:before {
	background: none;
	color: #000;
	left: 6px;
	top: 0;
	transform: none;
}
#headerwrap #searchform #s:focus,
#headerwrap #searchform #s:hover,
#headerwrap #searchform .icon-search:hover + #s {
	width: 100%;
	background-color: #eee;
}

/* header minbar main nav */
#main-nav {
	float: none;
	clear: both;
	margin: 0 0 2em;
}
#main-nav ul {
	border: none;
	background: none;
	display: block;
	position: static;
	padding: .2em 0 0 1em;
	width: auto;
}
#main-nav li {
	display: block;
}
#main-nav a {
	padding: .4em 0;
	width: 100%;
}
#main-nav ul a {
	padding: .4em 0;
	width: auto;
	color: inherit;
}
#main-nav li:not(.themify-widget-menu) > ul {
	position: static;
	display: block;
	background-color: transparent;
	border-color: transparent;
	margin-left: .8em;
	opacity: 1;
	transform: none;
	box-shadow: none;
}

#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu {
	display: block;
	position: static;
	box-shadow: none;
	border: none;
	background-color: transparent;
	min-height: inherit;
	max-height: inherit;
	opacity: 1;
	transform: none;
	color: inherit;
}
#main-nav .has-mega-sub-menu .mega-sub-menu ul,
#main-nav .has-mega-column .sub-menu li {
	display: block;
	float: none;
	width: auto !important;
	margin: 0;
	padding: 0;
}
#main-nav li:not(.has-mega-column).dropdown-columns-2 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-3 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-4 > .sub-menu > li {
	float: none;
	width: 100%;
}
#main-nav .has-mega-column .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
#main-nav .has-mega-column > .sub-menu a {
	font-size: inherit;
	font-weight: normal;
	text-transform: none;
}
#main-nav li.mega-link.loading:before,
#main-nav .mega-sub-menu li:hover a:after,
#main-nav .mega-menu-posts {
	display: none;
}
#main-nav .has-mega-column > .sub-menu {
	padding: .5em 1em .1em;
}
#main-nav .has-mega-sub-menu .mega-sub-menu > ul a {
	padding: .5em 1em .1em;
}
#main-nav .has-mega-column > .sub-menu .widget {
	margin-top: .5em;
	margin-bottom: .5em;
}

/* dropdown icon */
.mobile_menu_active #main-nav .menu-item-has-children .child-arrow:before,
.mobile_menu_active #main-nav .page_item_has_children .child-arrow:before,
#main-nav .menu-item-has-children .child-arrow:before,
#main-nav .page_item_has_children .child-arrow:before {
    content: "\e801"; /* ti-angle-down */
	font-family: 'themify_theme_icon';
	font-size: 0.8em;
	cursor: pointer;
    position: absolute;
    right: 0;
	top: 0;
	margin-top: 6px;
	transition: all 0.3s ease-in-out;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:before,
#main-nav .page_item_has_children .child-arrow.toggle-on:before {
    content: "\e800"; /* ti-close */
	transform: rotate(-90deg);
}
#main-nav .menu-item-has-children > a .sub-arrow,
#main-nav .page_item_has_children > a .sub-arrow {
	display: none;
}
#headerwrap #main-nav .has-mega-column > .children,
#headerwrap #main-nav .has-mega-column > .children > li > ul,
#headerwrap #main-nav .has-mega-column > .sub-menu,
#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul,
#headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu {
	opacity: 1;
	transform: none;
	padding: 0;
}
.header-minbar #headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
.header-minbar #headerwrap #main-nav .has-mega-column > .children > li > ul.children,
.header-minbar #headerwrap #main-nav > li > div.children,
.header-minbar #headerwrap #main-nav > li > ul.children,
.header-minbar #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.header-minbar #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
.header-minbar #headerwrap #main-nav > li > div.sub-menu,
.header-minbar #headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}
.header-minbar #headerwrap #main-nav .has-sub-menu > .children > li > .toggle-on + ul.children,
.header-minbar #headerwrap #main-nav .has-mega-column > .children > li > .toggle-on + ul.children,
.header-minbar #headerwrap #main-nav > li > .toggle-on + div.children,
.header-minbar #headerwrap #main-nav > li > .toggle-on + ul.children,
.header-minbar #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.header-minbar #headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
.header-minbar #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.header-minbar #headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 1000px;
	min-height: initial;
}
#headerwrap #main-nav > li {
	position: relative;
}
#headerwrap #main-nav > li:last-child a,
#headerwrap #main-nav > li a {
	border-bottom: 1px solid rgba(0,0,0,.05);
}
#headerwrap #main-nav > li li a {
	font-size: 0.95em;
	margin-bottom: 0;
	padding: .5em 0;
	margin: 0 0 0 .7em;
}
#headerwrap #main-nav > li li li a {
	margin: 0 0 0 1.5em;
	font-size: .95em;
}

/* header minbar headerwrap column */
#headerwrap .col3-1 {
	float: none;
	width: auto;
	margin: auto;
}

/* header minbar slide cart */
#slide-cart {
	right: auto;
	left: -250px;
	width: 250px;
}
#slide-cart.sidemenu-on {
	right: auto;
	left: 69px;
}
.slide-cart #main-nav {
	margin-bottom: .5em;
}
.cart-wrap a span {
	position: absolute;
	bottom: -8px;
	right: -10px;
	font-size: 0.5em;
	min-width: 18px;
	min-height: 14px;
	padding: 3px;
	box-sizing: border-box;
	margin: 0;
}
.mobile_menu_active.slide-cart #cart-icon {
	margin-right: 0;
	padding: 0;
}

/* header minbar menu icon */
#headerwrap .header-icons {
	position: fixed;
	display: block;
	text-decoration: none;
	top: 30px;
	left: 0;
	font-size: 1.4em;
	text-align: center;
	width: 69px;
	z-index: 9999;
	transition: left .2s ease-in-out;
	transform: none;
	min-width: initial;
}
.admin-bar#headerwrap #menu-icon {
	top: 52px;
}
#menu-icon{
	margin-bottom: 12px;
	display: block;
}
.menu-icon-inner {
    width: 30px;
    height: 20px;
	margin: auto;
	display: block;
	transition: all .5s;
}
.mobile-menu-visible .menu-icon-inner {
	border: none;
	height: 30px;
	width: 30px;
	overflow: hidden;
}
.mobile-menu-visible .menu-icon-inner:hover {
	transform: rotateZ(90deg);
}
.mobile-menu-visible .menu-icon-inner:before,
.mobile-menu-visible .menu-icon-inner:after {
	top: 50%;
}
.mobile-menu-visible .menu-icon-inner:before {
	transform: rotateZ(-45deg);
}
.mobile-menu-visible .menu-icon-inner:after {
	transform: rotateZ(45deg);
}

/* mobile menu active */
.header-minbar.mobile-menu-visible,
.mobile_menu_active.header-minbar.mobile-menu-visible {
	overflow-x: hidden;
	overflow-y: auto;
}
/* header minbar mobile menu */
.mobile_menu_active.header-minbar #mobile-menu {
	left: -300px;
}
.mobile_menu_active.sidemenu-left #mobile-menu.sidemenu-on {
	left: 69px;
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

/* header minbar pagewrap */
.mobile_menu_active.header-minbar.minbar-open #body,
.mobile_menu_active.header-minbar.minbar-open #footerwrap {
	padding-left: 38px;
}

/* header minbar headerwrap */
.mobile_menu_active.header-minbar #headerwrap {
	z-index: 4;
	left: -249px;
}
.mobile_menu_active.header-minbar.minbar-open #headerwrap {
	left: 0;
	padding: 0 4em 1.7em 1.3em;
}
.mobile_menu_active.header-minbar #headerwrap #header {
	height: 100%;
	padding: 0;
	width: 228px;
}

/* header minbar site logo */
.mobile_menu_active.header-minbar #headerwrap #site-logo {
	margin: 0 .3em 0 0;
}

/* header minbar main nav */
.mobile_menu_active.header-minbar #headerwrap #main-nav {
	margin-top: 1em;
}
.mobile_menu_active.header-minbar #headerwrap #main-nav a {
	padding: .4em 0;
}
.mobile_menu_active.header-minbar #headerwrap #menu-icon-close {
	display: none;
}

/* header minbar full section scrolling */
.mobile_menu_active.full_width .themify_builder_row .row_inner {
	width: 100%;
}

@media screen and (max-width: 680px) {
	#menu-icon {
		width: 20px;
		height: 20px;
		margin: 0 auto 12px;
	}
	.mobile-menu-visible .menu-icon-inner,
	.mobile-menu-visible #menu-icon {
		height: 20px;
		width: 20px;
	}
	.menu-icon-inner {
		height: 16px;
		width: 20px;
	}
	#header {
		z-index: initial; /* reset z-index to prevent header cover menu-icon */
	}
	body.slide-cart-visible,
	.header-minbar.sidemenu-left {
		left: 296px;
	}

	.header-minbar.no-fixed-header #pagewrap #headerwrap {
		left: -204px;
		width: 250px;
	}
	.header-minbar.no-fixed-header.slide-cart-visible #pagewrap #headerwrap,
	.header-minbar.no-fixed-header.mobile-menu-visible #pagewrap #headerwrap {
		left: 0;
	}
	.header-minbar #pagewrap .header-bar {
		height: 46px;
		line-height: 46px;
		bottom: -20px;
	}
	.header-minbar #headerwrap .header-icons {
		width: 46px;
		font-size: 1em;
	}
	.cart-wrap a span {
		font-size: 80%;
	}
	#slide-cart.sidemenu-on,
	.sidemenu-left #mobile-menu.sidemenu-on {
		left: 0;
	}
	
	#body,
	#footerwrap,
	.full_width #body {
		padding-left: 46px;
	}
	.header-minbar #headerwrap #menu-icon-close,
	.slide-cart-visible #headerwrap #menu-icon {
		display: block;
	}
	
	.mobile_menu_active.sidemenu-left #mobile-menu.sidemenu-on {
		left: 46px;
	}
	body.slide-cart-visible.mobile_menu_active.sidemenu-right {
		left: 250px;
	}
	.header-minbar #headerwrap .header-bar {
		width: 200%;
	}
}

@media screen and (max-width: 320px) {
	.sidemenu {
		width: 251px;
	}
}

@media only screen and (min-width: 1201px) {
	/* builder row */
	.full_width .themify_builder_row .row_inner {
		 max-width: 96%;
	}
}