/*
HEADER STRIPE
================================================ */
/* header stripe header */
#headerwrap {
	background-color: transparent;
	padding: 40px 0;
	border: none;
	transition: all 0.2s ease-in-out;
}
#header {
	text-align: inherit;
	padding: 0;
	background-color: #fff;
	box-shadow: 0 1px 10px 3px rgba(0,0,0,0.1);
	transition: all 0.3s linear;
}
.header-bar {
	float: left;
}

.header-stripe .cart-wrap a {
	padding: 0;
}

/* header stripe site logo */
#site-logo {
	margin: 0;
	padding: .5em 0.75em .5em .8em;
	display: inline-block;
	vertical-align: middle;
	background-color: #f03009;
	color: #FFF;
	line-height: normal;
	min-height: 67px;
	box-sizing: border-box;
}

/* header stripe site description */
#site-description {
	margin: 0 0 0 0.95em;
	font-size: 0.9em;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: -0.005em;
}

/* header stripe social widget */
#header .social-widget {
	float: left;
	margin: 1.15em 0 0.75em 1.25em;
	border-right: 1px solid #e5e5e5;
	padding-right: 0.5em;
}
#header .social-widget .widget,
.widget .social-links .social-link-item {
	margin: auto;
}

/* header stripe searchform */
.search-button {
	margin: 0.85em 0 0 0.55em;
	float: left;
}
#searchform-wrap {
	margin: 1em 0 0 0.55em;
	float: left;
}
#headerwrap #searchform #s {
	padding: 0 15px 0 35px;
	vertical-align: top;
	position: absolute;
	margin-top: -1px;
	margin-left: -5px;
	z-index: 1;
}
#headerwrap #searchform .icon-search:before {
	background-color: transparent;
	color: inherit;
	padding: 3px;
	transform: none;
	z-index: 2;
}
#headerwrap #searchform:hover > .icon-search,
#headerwrap #searchform .icon-search:hover + #s {
	color: #fff;
}

/* header stripe main nav */
body:not(.slide-cart):not(.mobile_menu_active) #main-nav-wrap {
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}
body:not(.slide-cart):not(.mobile_menu_active) #main-nav {
	position: static;
}
#main-nav {
	float: right;
	clear: right;
	text-align: right;
}
#main-nav > li > a {
	padding: 0.975em 0.6em 0.95em;
}
#main-nav li:not(.themify-widget-menu) > ul {
	left: auto;
	right: 0;
}
#main-nav li:not(.themify-widget-menu) > ul ul {
	right: auto;
}
#main-nav ul li.edge > ul {
	right: 100%;
}

#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu {
	margin: auto;
	right: 0;
	left: auto;
	text-align: left;
}
#main-nav .has-mega-column > .sub-menu {
	padding: 32px 39px 39px;
}
#main-nav .has-mega-sub-menu .mega-sub-menu, #main-nav .has-mega-column > .sub-menu, #main-nav li.menu-item-object-tbuilder_layout_part > .sub-menu {
	border-radius: 0 0 5px 5px;	
}
#main-nav .has-mega-column .sub-menu li {
	margin-bottom: 0;
}

/* header stripe cart wrap */
.slide-cart #main-nav-wrap {
	padding-top: 4px;
	padding-right: 10px;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}
.fixed-header-on.slide-cart #main-nav-wrap,
.slide-cart #main-nav {
	position: static;
}
.slide-cart #main-nav {
	flex: 1;
}

/* header stripe header widget */
.header-widget {
	display: none;
	text-align:  center;
}
.header-widget .header-widget-inner {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.mobile_menu_active .pull-down {
	display: none;
}
.pull-down {
	float: right;
}

/* header stripe fixed-header */
#headerwrap.fixed-header {
	padding: 20px 0;
	background-color: transparent;
	border: none;
}
#headerwrap.fixed-header #header {
	min-height: inherit;
	margin-top: 0;
	padding: 0 1em 0 0;
}
#headerwrap.fixed-header .header-bar {
	display: block;
}
#headerwrap.fixed-header #searchform-wrap,
#headerwrap.fixed-header .search-button,
.mobile_menu_active #headerwrap.fixed-header .social-widget,
#headerwrap.fixed-header .social-widget {
	display: inline-block;
}
#headerwrap.fixed-header #main-nav {
	flex: inherit;
}

/* transparent header */
.transparent-header #header {
	background-color: transparent;
	box-shadow: none;
}
.transparent-header .header-widget {
	background-color: rgba(0,0,0,.3)
}

/* MOBILE MENU ACTIVE */
.mobile_menu_active.header-stripe #headerwrap {
	padding: 10px 0 0;
	min-height: 40px;
}
.mobile_menu_active.header-stripe #headerwrap #header {
	padding: 0;
}
.mobile_menu_active.header-stripe #headerwrap #site-logo {
	padding: .5em 0.75em 0.5em 0.8em;
	margin: 0;
	font-size: 1.3em;
	min-height: 50px;
}
.mobile_menu_active.header-stripe #headerwrap #site-description {
	margin: 0.95em;
}
.mobile_menu_active.header-stripe #headerwrap .search-button {
	margin: 0;
}
.mobile_menu_active.header-stripe #headerwrap .header-icons {
	right: 2.5em;
	top: 34px;
}
.mobile_menu_active.slide-cart #main-nav-wrap {
	display: block;
	clear: both;
}
.mobile_menu_active #headerwrap .cart-wrap {
	top: 35px;
}
.mobile_menu_active #headerwrap.fixed-header .cart-wrap {
	top: 60px;
}

@media screen and (max-width: 760px) {
	#site-description {
		display: none;
	}
}