/* button */
.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, .woocommerce a.button:disabled, 
.woocommerce a.button:disabled[disabled], 
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled, 
.woocommerce button.button:disabled[disabled], 
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled], /* for disabled state */
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #ed1e24;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    padding: .6em 1.2em;
    letter-spacing: .065em;
    transition: all .3s ease-in-out;
}

.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled]:hover,

.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #000;
    color: #fff;
}

.woocommerce form .form-row .input-text,
.woocommerce form .form-row select {
    border: 1px solid #ddd;
}

/* add to cart button in product archive */
.woocommerce.columns-2 ul.products li.product .add_to_cart_button,
.woocommerce.columns-2 ul.products li.product .button[data-product_id],
.woocommerce.columns-3 ul.products li.product .add_to_cart_button,
.woocommerce.columns-3 ul.products li.product .button[data-product_id] {
    font-size: 1em;
}

/* related products */
.related.products ul.products li.product .button {
    font-size: .75em;
}

.related.products ul.products li.product .woocommerce-loop-product__title {
    font-size: 1em;
    padding: 0;
    margin: 0 0 .2em;
	text-transform: none;
	letter-spacing: 0;    
}
.woocommerce.woocommerce-page .related ul.products .product {
	margin-left: 10px;
}
.woocommerce.woocommerce-page .related ul.products .product.first {
	margin-left: 0;
}

/* pagination */
.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul {
    border: none;
    border-right: 0;
}

.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul li {
    border-right: 0;
}

.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: #ed1e24;
    color: #fff;
}

/* CART
================================================ */
.woocommerce table.shop_table {
    border-radius: 0;
    border: none;
    border-collapse: collapse;
}
.woocommerce table.shop_table th {
	padding: .4em 0;
}

.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 1em 0;
}
.woocommerce table.shop_table .product-subtotal {
	text-align: right;
}

.woocommerce #content table.cart a.remove,
.woocommerce table.cart a.remove {
    color: inherit !important;
    visibility: hidden;
	font-size: 100%;
	transform-origin: center center;
}
.woocommerce #content table.cart a.remove:before,
.woocommerce table.cart a.remove:before {
    content: '\e800'; /* ti-close */
	font-family: 'themify_theme_icon';
	font-size: 12px;
	visibility: visible;
}
.woocommerce #content table.cart a.remove:hover,
.woocommerce table.cart a.remove:hover {
	background: none;
	transform: rotateZ(90deg);
}

/* coupon */
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
    border: 1px solid #ddd;
    padding: .4em;
    width: 6.5em;
}

/* quantity */
.woocommerce .quantity .qty {
    padding: .35em .5em;
    margin-right: 0;
}

/* price */
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: inherit;
    line-height: 1.5em;
}
.woocommerce ul.products li.product .price ins {
	font-weight: 600;
}

/* proceed */
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    display: inline-block;
}

/* cart totals */
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    text-align: right;
}
.woocommerce .cart-collaterals .amount {
    text-align: right;
    display: block;
    font-size: 1.2em;
}

/* cart collaterals */
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th {
    border-top: 1px solid rgba(0,0,0,.07);
    width: 17%;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
    text-align: right;
}

/* cart table h2 */
.cart-collaterals h2 {
    font-size: 1.8em;
}

/* cart update button */
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button {
    display: inline-block;
    width: auto;
}

/* cart live css */
.woocommerce .cart .button,
.woocommerce .cart input.button {
    margin: 0 .1em;
}

.woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button span,
.woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
    display: none;
}

/* CHECKOUT
================================================ */
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    border-top: 1px solid rgba(0,0,0,.07);
}

/* payment */
.woocommerce-checkout #payment {
    background-color: #f4f4f4;
    border-radius: 0;
}

/* payment box */
.woocommerce-checkout #payment div.payment_box {
    background-color: #ddd;
    color: #333;
    text-shadow: none;
}

.woocommerce-checkout #payment div.payment_box:before {
    border-bottom-color: #ddd;
}

.woocommerce-checkout #payment div.payment_box:after {
    border-bottom-color: #ddd;
    top: -1px;
}

.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 1px solid rgba(0,0,0,.07);
}

/* message, info, error */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top: 5px solid #ed1e24;
    background-color: #F4F4F4;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
}
.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before {
    color: inherit;
    text-shadow: none;
    box-shadow: none;
}
.woocommerce-error li:last-child,
.woocommerce-info li:last-child,
.woocommerce-message li:last-child {
	margin-bottom: 0;
}

/* form element */
.woocommerce form .form-row .select2-container .select2-choice {
	padding: .4em .5em;
	border: 1px solid #ddd;
	border-radius: 0;
}
.woocommerce #customer_details,
.woocommerce-page #customer_details {
	margin: 0 0 2em;
}

/* ARCHIVE PRODUCTS
================================================ */
/* Sale */
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale {
    box-shadow: none;
    text-transform: Uppercase;
    text-shadow: none;
    border-radius: 100%;
    background-color: #ed1e24;
    font-size: .675em;
    right: -2px;
    left: auto;
    top: -2px;
    letter-spacing: .1em;
    line-height: 3.4em;
    min-height: 3.4em;
    min-width: 3.4em;
    padding: .44em;
    color: #fff;
}

/* archive product */
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    text-align: center;
    margin-bottom: 4em;
}
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {
	background-color: transparent;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 25px;
	vertical-align: middle;
	font-size: .8em;
}
.woocommerce .woocommerce-ordering:after,
.woocommerce-page .woocommerce-ordering:after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid transparent;
	border-bottom-color: #000;
	border-left-color: #000;
	margin-left: -20px;
	pointer-events: none;
	transform: rotateZ(-45deg);
}

.woocommerce ul.products li.product .star-rating {
    margin: .6em auto;
}

/* archive product title */
.module-products .wc-products .product h3,
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.1em;
    font-family: inherit;
    padding: 0;
    margin: 0 0 .3em;
}

/* product image */
.woocommerce #content div.product div.images img,
.woocommerce div.product div.images img,
.woocommerce ul.products li.product a img:hover,
.woocommerce ul.products li.product a img,
.woocommerce ul.products li.product a:hover img {
    box-shadow: none;
}

.woocommerce ul.products li.product a,
.woocommerce ul.products li.product .price {
    color: #000;
    font-size: 1em;
    margin: 0 0 .5em;
}

.woocommerce div.product p.price del, 
.woocommerce div.product span.price del,
.woocommerce ul.products li.product .price del {
    font-size: .8em;
}

.module-products .woocommerce .add_to_cart_button,
.woocommerce ul.products li.product .add_to_cart_button,
.woocommerce ul.products li.product .button[data-product_id] {
    color: #fff;
    font-size: .8em;
    margin: 0;
}
.woocommerce ul.products li.product .added_to_cart {
	display: block;
}

/* SINGLE PRODUCTS
================================================ */
/* single title */
.woocommerce div.product .product_title {
    font-size: 1.4em;
    text-transform: none;
    letter-spacing: -.02em;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
	font-weight: 600;
}

/* tabs */
.woocommerce #content div.product .woocommerce-tabs ul.tabs {
    padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li {
    background: none;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active {
	border-bottom: solid 2px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: .8em 1.6em;
    text-shadow: none;
    color: inherit;
	font-weight: 600;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
	outline: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    background: none;
    color: inherit;
}

/* product meta */
.product_meta {
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.product_meta a {
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.1em
}

/* single product tabs h2 */
.woocommerce #content div.product .woocommerce-tabs h2:first-child {
	display: none;
}
.woocommerce #reviews .comment-reply-title {
    font-size: 1.4em;
    margin: 0 0 .5em;
    font-weight: 300;
}
.woocommerce #reviews .comment-reply-title {
    font-size: 1.2em;
    margin: 0 0 .5em;
    font-weight: inherit;
    display:  block;
}

/* related products */
.related.products {
    margin: 0 0 1.6em;
}
.woocommerce .related h2,
.woocommerce-page .related h2,
.woocommerce .upsells h2,
.woocommerce-page .upsells h2 {
    margin: 0 0 2em;
    padding: 1em 0 0;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
}

/* single product review */
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    padding: 0;
    width: 75px;
    border: none;
}
.woocommerce #reviews #comments ol.commentlist li img + .comment-text {
    margin: 0 0 0 95px;
    padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0;
    border: none;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
    color: inherit;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    margin: auto;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
    font-weight: normal;
    font-size: 1.5em;
    display: block;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time {
    font-size: 100%;
    font-style: italic;
}

.woocommerce.single-product span.onsale,
.woocommerce.single-product ul.products li.product .onsale {
    right: auto;
    left: 0;
    margin: -.5em 0 0 -.5em;
}

/* MY ACCOUNT
================================================ */
.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 24.5%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
	padding: 0;
	margin: 0;
	margin-top: .75em;
	border-top: 1px solid rgba(0,0,0,.08);
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.08);
	margin: 0;
	padding: 0;
	position: relative;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    display: block;
    padding: .5em 
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent;
	border-top-color: inherit;
	border-right-color: inherit;
	width: 15px;
	height: 15px;
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
}
.woocommerce-account .woocommerce-MyAccount-content {
	width: 70%;
}

/* BUILDER WOOCOMMERCE ADDON
================================================ */
.module-product-categories ul.products li.product {
	margin-bottom: 1.3em;
}

/* SLIDE CART
================================================ */
/* Cart wrap */
.cart-icon {
	display: inline-block;
}
.cart-wrap a {
    color: inherit;
    font-size: inherit;
    display: inline-block;
    padding: 0 .4em;
    line-height: 1.4em;
}
.cart-wrap a:hover {
    text-decoration: none;
}
.cart-wrap a i {
	font-size: 1.35em;
	display: inline-block;
	vertical-align: bottom;
	font-style: normal;
}
.icon-shopping-cart:before{
      content: "\e809";
      font-family: 'themify_theme_icon';
}
.cart-wrap a span {
	background-color: #fb4247;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	font-size: 0.65em;
	min-width: 8px;
	min-height: 13px;
	line-height: 100%;
	text-align: center;
	margin: 0 0 -3px -12px;
	padding: 3px 4px 0;
	vertical-align: bottom;
}

#slide-cart {
	background-color: #fff;
	color: #000;
	display: block;
	height: 100%;
	width: 300px;
	padding: 50px 25px 20px;
	position: fixed;
	top: 0;
	left: auto;
	right: -300px;
	z-index: 11111;
	text-align: left;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: all .2s ease-in-out;
}
#slide-cart.sidemenu-on {
	right: 0;
}
.admin-bar #slide-cart {
	top: 32px;
}

#headerwrap #cart-icon-close { /* #headerwrap added to prevent color preset css override */
	color: inherit;
	display: block;
	font-size: 20px;
	position: absolute;
	text-decoration: none;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
#cart-icon-close:after {
	content: "\e800"; /* ti-close */
	font-family: 'themify_theme_icon';
}
#cart-icon-close:hover {
	transform: rotateZ(90deg);
}

/* product */
#slide-cart .product {
	overflow: hidden;
	margin: 0 0 1.2em;
	display: block;
}
#slide-cart .product:last-child {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 20px;
	margin-bottom: 20px;
}
#slide-cart a:hover {
	text-decoration: none;
}
#slide-cart .remove-item,
.transparent-header #slide-cart .remove-item {
	color: inherit;
	float: left;
	width: 20px;
	margin: 0 .8em 0 0;
	font-size: 13px;
}
#slide-cart .remove-item:hover {
	color: #000;
}
#slide-cart .remove-item:after {
	content: "\e800"; /* ti-close */
	font-family: 'themify_theme_icon';
}
#slide-cart #shopdock-ultra .remove-item {
	background-color: inherit;
	text-indent: inherit;
	position: relative;
}
#slide-cart #shopdock-ultra .remove-item:before {
	display: none;
}
#slide-cart #shopdock-ultra .remove-item:after {
	transform: none;
	border: none;
	position: static;
}

#slide-cart .product-image {
    float: left !important;
    margin-right: 1em;
    width: 40px;
}
#slide-cart .product-image img {
    border-radius: 3px;
}
#slide-cart .product-details {
    overflow: hidden;
}
#slide-cart .product-title {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    font-weight: normal;
    color: inherit;
}
#slide-cart .product-title a,
.transparent-header #slide-cart .product-title a {
    color: inherit;	
}
#slide-cart .quantity-count {
    font-size: .813em;
    opacity: .5;
    font-size: .8em;
    margin: 0;
}

/* cart total */
#slide-cart .cart-total {
	float: left;
	margin: 0 0 1em;
	line-height: 1.5em;
}
#slide-cart .cart-total .amount {
	font-size: 1.1em;
	font-weight: 300;
}
#slide-cart .cart-total #view-cart {
	font-size: .8em;
	text-transform: uppercase;
	display: block;
}
#slide-cart .checkout-button {
	float: right;
}
#slide-cart .button {
	padding: 13px;
	font-size: .875em;
	letter-spacing: 0;
}

.sidemenu-active {
	position: relative;
}
.sidemenu-active,
.sidemenu-active #headerwrap {
	left: 0;
	transition: left .2s ease-in-out;
}
.slide-cart-visible.sidemenu-right,
.slide-cart-visible.sidemenu-right #headerwrap.fixed-header {
	left: -300px;
}
.mobile-menu-visible.mobile_menu_active.sidemenu-right,
.mobile-menu-visible.mobile_menu_active.sidemenu-right #headerwrap.fixed-header {
	left: -300px;
}

.slide-cart-visible {
	overflow-y: hidden;
}

.mobile_menu_active.mobile-menu-visible #headerwrap .cart-wrap {
	position: static;
	margin: auto;
	padding: 0;
}
.mobile_menu_active.slide-cart-visible #headerwrap #menu-icon {
	display: none;
}

.slide-cart.announcement-bar-showing .announcement_top.absolute {
	top: auto;
	bottom: 100%;
}
.slide-cart.announcement-bar-showing .announcement_bottom.absolute {
	bottom: auto;
	top: 100%;
}

@media screen and (max-width: 760px) {
	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
		float:none;
		width:100%;
	}
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width:100%;
		float:none;
		text-align: left;
	}
	.woocommerce ul.products {
		width: auto;
	}
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product,
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 50%;
		margin: 0 0 2.992em;
		float: left;
		clear: both;
		padding: 0 4%;
		box-sizing: border-box;
	}
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		float: right;
		clear: none!important;
	}
	/* Fix Cart Responsive */
	.woocommerce table.shop_table {
		border-collapse: inherit;
	}
	.woocommerce .cart-collaterals .cart_totals tr td,
	.woocommerce-page .cart-collaterals .cart_totals tr th {
		width: auto !important;
	}
	
	.woocommerce-account .woocommerce-MyAccount-content,
	.woocommerce-account .woocommerce-MyAccount-navigation {
		float: none;
		width: auto;
		clear: both;
	}
	.woocommerce-account .woocommerce-MyAccount-content {
		margin-top: 2em;
	}
	.woocommerce.woocommerce-page .related ul.products .product {
		padding: 0;
		width: calc(50% - 10px);
	}
	.woocommerce.woocommerce-page .related ul.products .product:nth-of-type(2n+1) {
		margin-left: 0;
	}
}
@media screen and (max-width: 680px) {
	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce table.cart .product-thumbnail,
	.woocommerce table.cart .porduct-price,
	.woocommerce-page table.cart .product-price {
		display: none;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		float: none;
	}
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button {
		float: right;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		padding: .4em 1em;
		font-size: .9em;
	}
	.woocommerce #content div.product div.images,
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.images,
	.woocommerce div.product div.summary {
		float: none;
		width: 100%;
	}
	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		margin-bottom: 1em;
	}
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button {
		float: none;
		clear: both;
	}

	/* Fix Cart Responsive */
	.woocommerce #content table.cart td.actions,
	.woocommerce table.cart td.actions,
	.woocommerce-page #content table.cart td.actions,
	.woocommerce-page table.cart td.actions {
		padding: 1em 1.5em;
	}
	.woocommerce-cart table.cart td,
	.woocommerce-cart table.cart th {
		width: auto;
		padding: 1em 1.5em;
	}
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text {
		width: 100%;
		max-width: none;
		margin: 0 0 1em;
	}
	.woocommerce table.cart td.actions .input-text+.button,
	.woocommerce-page table.cart td.actions .input-text+.button,
	.woocommerce-page #content table.cart td.actions .input-text+.button,
	.woocommerce table.cart td.actions .button,
	.woocommerce table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions input,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions input {
		float: none;
		width: 100%;
		margin: 0;
	}
}

/* Hide shop cart when is empty */
.check-cart,
.check-cart:not(.show-count) + .cart-wrap span {
    display: none;
}

.show-count + .cart-wrap span {
    animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

/* WooCommerce 3.0 fix */

.woocommerce div.product div.images {
	margin-bottom: 2em
}

.woocommerce div.product div.images img {
	display: block;
	width: 100%;
	height: auto;
	box-shadow: none
}

.woocommerce div.product div.images div.thumbnails {
	padding-top: 1em
}

.woocommerce div.product div.images.woocommerce-product-gallery {
	position: relative
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	transition: all cubic-bezier(.795, -.035, 0, 1) .5s
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
	width: 25%;
	display: inline-block
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 2em;
	z-index: 9;
	width: 36px;
	height: 36px;
	background: #fff;
	text-indent: -9999px;
	border-radius: 100%;
	box-sizing: content-box
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid #000;
	border-radius: 100%;
	position: absolute;
	top: 9px;
	left: 9px;
	box-sizing: content-box
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {
	content: "";
	display: block;
	width: 2px;
	height: 8px;
	background: #000;
	border-radius: 6px;
	position: absolute;
	top: 19px;
	left: 22px;
	transform: rotate(-45deg);
	box-sizing: content-box
}

.woocommerce div.product div.images .flex-control-thumbs {
	overflow: hidden;
	zoom: 1;
	margin: 0;
	padding: 0
}

.woocommerce div.product div.images .flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
	list-style: none
}

.woocommerce div.product div.images .flex-control-thumbs li img {
	cursor: pointer;
	opacity: .5;
	margin: 0
}

.woocommerce div.product div.images .flex-control-thumbs li img.flex-active,
.woocommerce div.product div.images .flex-control-thumbs li img:hover {
	opacity: 1
}

/* ARCHIVE PRODUCT GRID
================================================ */
.woocommerce.woocommerce-page ul.products .product {
	list-style: none;
	margin: 0 0 5%;
	clear: none;
	box-sizing: border-box;
}

.woocommerce.list-post ul.products .product{
	float:none;
	width:100%;
}

.wpf-search-container ul.products.columns-2 .product,
.woocommerce.grid2 ul.products .product {
	width: 48.4%;
	margin-left: 3.2%;
	float: left;
}

.wpf-search-container ul.products.columns-3 .product,
.woocommerce.grid3 ul.products .product {
	width: 31.2%;
	margin-left: 3.2%;
	float: left;
}

.wpf-search-container ul.products.columns-4 .product,
.woocommerce.grid4 ul.products .product {
	width: 22.6%;
	margin-left: 3.2%;
	float: left;
}

/* clear product grid layout float */
.wpf-search-container ul.products.columns-4 .product:nth-of-type(4n+1),
.wpf-search-container ul.products.columns-3 .product:nth-of-type(3n+1),
.wpf-search-container ul.products.columns-2 .product:nth-of-type(2n+1),
.woocommerce.grid4 ul.products .product:nth-of-type(4n+1),
.woocommerce.grid3 ul.products .product:nth-of-type(3n+1),
.woocommerce.grid2 ul.products .product:nth-of-type(2n+1),
.woocommerce.grid2-thumb ul.products .post:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}

/* GRID2 THUMB */
.woocommerce.grid2-thumb .wc-products .product {
	width: 48.4%;
	margin-left: 3.2%;
	float: left;
	clear: none;
}
.woocommerce.grid2-thumb .wc-products .post-image {
	width: 20%;
	float: left;
	margin: 0 1.6em 1.3em 0;
}
.woocommerce.grid2-thumb .wc-products .post-content {
	overflow: hidden;
	min-width: 120px;
}
.woocommerce.grid2-thumb .wc-products .star-rating {
	float: none;
}
.woocommerce.grid2-thumb .wc-products .onsale {
	font-size: 75%;
	right: auto;
	left: 0;
	margin: -0.65em 0 0 -1.6em;
	transform: rotate(-45deg);
}

/* No Gutter*/
.woocommerce.grid2.no-gutter ul.products .product{
    margin: 0;
    width: 50%;
}
.woocommerce.grid3.no-gutter ul.products .product{
    margin: 0;
    width: 33.33%;
}
.woocommerce.grid4.no-gutter ul.products .product{
    margin: 0;
    width: 25%;
}

.mobile_menu_active.woocommerce.grid4 ul.products .product {
	width: 48.4%;
	margin-left: 3.2%;
	float: left;
}
.mobile_menu_active.woocommerce.grid4 ul.products .product:nth-of-type(2n+1),
.mobile_menu_active.woocommerce.grid4 ul.products .product:nth-of-type(4n+1),
.mobile_menu_active.woocommerce.grid3 ul.products .product:nth-of-type(3n+1),
.mobile_menu_active.woocommerce.grid2 ul.products .product:nth-of-type(2n+1),
.mobile_menu_active.woocommerce.grid2-thumb ul.products .post:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}