/*  
Skin Name: Accountant
Version: 1.0
Demo URI: https://themify.me/demo/themes/ultra-accountant/
Required Plugins: builder-contact, builder-maps-pro
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	font: 1em/1.6em 'Open Sans', sans-serif;
	color: #636363;
}
.post-nav .arrow,
a {
	color: #22436c;
}
a:hover,
#footer a:hover,
.post-nav  a:hover > span,
.post-title a:hover {
	color: #c4943a;
}

/* form elements */
label {
	color: #a7a6a6;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: .75em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.125em;
}
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week] {
	background: none;
	border:none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	color: #707070;
	padding: .6em .6em .95em 0;
}
input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel] {
	max-width: none;
}
select {
	background: none;
	border:none;
	border-bottom: 1px solid #ddd;
	width: 100%;
	max-width: 27.3em;
	border-radius: 0;	
}
input[type=reset], input[type=submit], button {
	background-color: #c4943a;
	padding: .9em 2em;
	font-size: 1em;
	font-weight: 400;
	border-radius: 0;
	font-weight: bold;
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover {
	background-color: #22436c;	
}
textarea {
	min-height: inherit;
	max-height: 130px;
}

#content, #sidebar, #sidebar-alt {
	padding-top: 10%;
}

/************************************************************************************
HEADING
*************************************************************************************/
h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}
h1 {
	color: #000;
	font: 900 normal 3.5em/1em 'Playfair Display', serif;
	margin: 0 0 .5em;
	letter-spacing: -0.007em;
	text-transform: none;
}
h2 {
	color: #000;
	font: 900 normal 3em/1.4em 'Playfair Display', serif;
	margin: 0 0 .7em;
	letter-spacing: normal;
}
h3 {
	font: bold 1.6em/1.5em 'Montserrat', sans-serif;
	text-transform: none;
	letter-spacing: normal;
}
h4 {
	letter-spacing: .06em;
}
h5 {
	font: normal 1.3em/1.6em 'Playfair Display', serif;
	letter-spacing: 0.02em;
	margin: 0 0 1em;
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap {
	background-color: #182638;
	color: #fff;
}

/* SITE LOGO
================================================ */
#site-logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	word-break: break-all;
}

/* MAIN NAVIGATION
================================================ */
#main-nav a {
	letter-spacing: 0.04em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: .85em;
	text-transform: uppercase;
	padding: 1.1em .85em 1.35em;
}
#main-nav ul a {
	font-weight: bold;
	text-transform: uppercase;
}

/* highlight-link (custom menu class) */
#main-nav li.highlight-link > a {
	background-color: #c4943a;
	padding: 1.2em 1.35em 1.15em 1.4em;
	letter-spacing: 0.12em;
	font-size: 0.8em;
	margin-left: 1.95em;
	border: none;
}
#headerwrap #main-nav .highlight-link > a:hover,
#headerwrap #main-nav .highlight-link.current_page_item > a,
#headerwrap  #main-nav .highlight-link.current-menu-item > a {
	box-shadow: none;
	background-color: rgba(0,0,0,.7);
	color: #fff;
}

/* main level link :hover, current link, sub level link :hover */
#main-nav a:hover,
#main-nav ul a:hover,
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a,
#main-nav .mega-menu-posts a:hover {
	color: #c4943a;
}

/* MOBILE NAVIGATION
================================================ */
.mobile_menu_active .sidemenu {
	background-color: #182638;
	color: #fff;
}

/* mobile menu hover */
.mobile_menu_active #headerwrap #main-nav a:hover,
.mobile_menu_active #headerwrap #main-nav ul a:hover {
	color: #c4943a;
}

/* mobile highlight-link :hover */
.mobile_menu_active #headerwrap #main-nav .highlight-link a:hover,
.mobile_menu_active #main-nav .highlight-link.current_page_item > a,
.mobile_menu_active #main-nav .highlight-link.current-menu-item > a {
	background: none;
	color: #c4943a;
}
.mobile_menu_active #headerwrap #main-nav li.highlight-link > a {
	font-size: .85em;
}

/* HEADER TOP WIDGETS
================================================ */
.header-top-widgets .header-widget-full {
	background-color: transparent;
	font-size: 1.1em;
}
.header-widget-full a {
	color: #c4943a;
}
.header-widget-full .fa-phone {
	color: #c4943a;
	font-size: 29px;
	margin-right: 15px;
	vertical-align: middle;
}
body:not(.mobile_menu_active).header-top-widgets #header {
	background-color: #22436c;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateY(50%);
	margin-top: -50px;
}
body.themify_builder_active.header-top-widgets #header {
	transform: none; /* prevent header overlap builder UI */
}
body:not(.mobile_menu_active).header-top-widgets #headerwrap.fixed-header #header {
	padding: 1em 0;
}
body:not(.mobile_menu_active).header-top-widgets #site-logo {
	letter-spacing: -0.03em;
	padding-left: 35px;
}
body:not(.mobile_menu_active).header-top-widgets #site-description {
	padding-left: 35px;
}
body:not(.mobile_menu_active).header-top-widgets #main-nav {
	padding-right: 30px !important;
}
.header-widget-full .col4-2:last-child .widget {
    text-align: right;
}

.mobile_menu_active.header-top-widgets .header-widget a {
	color: #fff;
}
.mobile_menu_active.header-top-widgets .header-widget .fa-phone {
	margin-right: 15px;
}
.header-top-widgets #site-logo {
	font-size: 2.5em;
}

/* HEADER LEFT PANEL
================================================ */
.mobile_menu_active.header-leftpane #headerwrap .header-icons #menu-icon {
	background: #182638;
}
/* highlight-link */
.header-leftpane #main-nav li.highlight-link a {
	background: none;
	padding: 0.4em 0;
	margin-left: 0;
}
/* mobile highlight-link :hover */
.header-leftpane #headerwrap #main-nav .highlight-link a:hover,
.header-leftpane #main-nav .highlight-link.current_page_item > a,
.header-leftpane #main-nav .highlight-link.current-menu-item > a {
	background: none;
	color: #c4943a;
}

/* HEADER RIGHT PANEL
================================================ */
.mobile_menu_active.header-rightpane #headerwrap .header-icons #menu-icon {
	background: #182638;
}

/* highlight-link */
.header-rightpane #main-nav li.highlight-link a {
	background: none;
	padding: 0.4em 0;
	margin-left: 0;
}
/* mobile highlight-link :hover */
.header-rightpane #headerwrap #main-nav .highlight-link a:hover,
.header-rightpane #main-nav .highlight-link.current_page_item > a,
.header-rightpane #main-nav .highlight-link.current-menu-item > a {
	background: none;
	color: #c4943a;
}

/* HEADER BOXED CONTENT
================================================ */
.boxed-content #headerwrap,
.boxed-content #footerwrap {
	color: #000;
}
.boxed-content #footerwrap a {
	color: inherit;
}
.boxed-content #footer a:hover {
	color: #c4943a;
}

/* HEADER SLIDE OUT
================================================ */
body:not(.mobile_menu_active).header-slide-out .sidemenu {
	background-color: #182638;
	color: #fff;
}
body:not(.mobile_menu_active).header-slide-out #main-nav a,
body:not(.mobile_menu_active).header-slide-out #main-nav ul a, 
body:not(.mobile_menu_active).header-slide-out #main-nav .mega-menu-posts a {
	color: inherit;
}

/* highlight-link */
.header-slide-out #main-nav li.highlight-link a {
	background: none;
	padding: 0.4em 0;
	margin-left: 0;
}
/* mobile highlight-link :hover */
.header-slide-out #headerwrap #main-nav .highlight-link a:hover,
.header-slide-out #main-nav .highlight-link.current_page_item > a,
.header-slide-out #main-nav .highlight-link.current-menu-item > a {
	background: none;
	color: #c4943a;
}

/* HEADER MINBAR
================================================ */
.header-minbar .sidemenu {
	background-color: #22436c;
	color: #fff;
}

/* highlight-link */
.header-minbar #main-nav li.highlight-link a {
	background: none;
	padding: 0.4em 0;
	margin-left: 0;
}
/* mobile highlight-link :hover */
.header-minbar #headerwrap #main-nav .highlight-link a:hover,
.header-minbar #main-nav .highlight-link.current_page_item > a,
.header-minbar #main-nav .highlight-link.current-menu-item > a {
	background: none;
	color: #c4943a;
}

/* HEADER OVERLAY
================================================ */
.header-overlay.mobile-menu-visible #headerwrap {
	background-color: rgba(34, 67, 108, 0.9);
}

/* highlight-link */
.header-overlay #main-nav li.highlight-link a {
	background: none;
	padding: 0.4em 0;
	margin-left: 0;
}
/* mobile highlight-link :hover */
.header-overlay #headerwrap #main-nav .highlight-link a:hover,
.header-overlay #main-nav .highlight-link.current_page_item > a,
.header-overlay #main-nav .highlight-link.current-menu-item > a {
	background: none;
	color: #c4943a;
}

/* HEADER STRIPE
================================================ */
.header-stripe #headerwrap {
	color: #000;
}
.header-stripe #site-logo {
	background-color: #22436c;
}
.header-stripe.fixed-header-on #headerwrap.fixed-header {
	background-color: transparent;
}

/* HEADER MAGAZINE
================================================ */
.header-magazine.fixed-header-on #main-nav > li > a {
	color: #fff
}

/* FIXED HEADER
================================================ */
.fixed-header-on #headerwrap.fixed-header {
	background-color: rgba(34, 67, 108, .9);
}

/* TRANSPARENT HEADER
================================================ */
body:not(.mobile_menu_active).header-top-widgets.transparent-header #header,
.transparent-header #header {
	background-color: transparent;
	color: inherit;
	transform: none;
}

/************************************************************************************
PAGE
*************************************************************************************/
.page-title {
	font-family: 'Playfair Display', serif;
	font-size: 4.5em;
	text-align: center;
}

/************************************************************************************
POST
*************************************************************************************/
.loops-wrapper.list-post .post-date,
.single .post-content .post-date {
	background-color: #22436c;
}
#content .post-title a {
	text-decoration: none;
}

/* COMMENTS
================================================ */
/* reply link */
.commentlist .comment-reply-link:hover {
	background-color: #22436c;
	color: #fff;
	border-color: #22436c;
}
.commentlist .commententry {
	padding-left: 63px;
}

/* PAGINATION
================================================ */
.pagenav a:hover {
	text-decoration: none;
}
.pagenav .current {
	border-radius: 0;
	border: solid 1px #c4943a;
	background-color: #c4943a;
	color: #fff;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #182638;
	color: #9aa0a7;
}
#footerwrap a {
	color: #fff;
}
#footer {
	font-size: .95em;
}

/* footer logo */
#footer-logo {
	font-weight: bold;
}

.footer-horizontal-left #footer-logo,
.footer-horizontal-right #footer-logo,
.footer-left-col #footer-logo,
.footer-right-col #footer-logo {
	font-size: 2.5em;
	line-height: normal;
	letter-spacing: -0.02em;
	margin: 0;
}

/* back to top */
.footer-horizontal-left .back-top,
.footer-horizontal-right .back-top,
.footer-left-col .back-top,
.footer-right-col .back-top,
.footer-horizontal-left .back-top .arrow-up a,
.footer-horizontal-right .back-top .arrow-up a,
.footer-left-col .back-top .arrow-up a,
.footer-right-col .back-top .arrow-up a {
	width: 46px;
}
.footer-horizontal-left .back-top .arrow-up,
.footer-horizontal-right .back-top .arrow-up,
.footer-left-col .back-top .arrow-up,
.footer-right-col .back-top .arrow-up {
	transform: translateY(50%);
}
.footer-horizontal-left .back-top .arrow-up a,
.footer-horizontal-right .back-top .arrow-up a,
.footer-left-col .back-top .arrow-up a,
.footer-right-col .back-top .arrow-up a {
	background: #c4943a;
}
.footer-horizontal-left .back-top a:before,
.footer-horizontal-right .back-top a:before,
.footer-left-col .back-top a:before,
.footer-right-col .back-top a:before {
	font-size: 0.9rem;
}

/* footer nav */
.footer-nav {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	margin-bottom: .8em;
}
.footer-nav a {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-right: 1.425em;
}

/* footer text */
.footer-text {
	border-top: 1px solid #c4943a;
	padding-top: 1.5em;
}

/************************************************************************************
BUILDER
*************************************************************************************/

/* FANCY HEADING
================================================ */
.module-fancy-heading h1 .main-head {
	font-size: 25%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: normal;
	text-transform: uppercase;
}
.module-fancy-heading h1 .sub-head {
	font-size: 129%;
	padding: 0;
	padding-top: 2px;
	line-height: 1em;
	letter-spacing: -0.012em;
}
.module-fancy-heading h1 .sub-head:before {
	display: none;
}

/* Custom Fancy Heading H2 */
h2.fancy-heading .main-head {
	position: relative;
	padding-top: .4em;
	padding-bottom: .25em;
	line-height: normal;
}
.module-fancy-heading .fancy-heading .sub-head:before {
	display: none;
}
.module-fancy-heading h2.fancy-heading .main-head:before,
.module-fancy-heading h2.fancy-heading .main-head:after {
	content: '';
	display: block;
	border-top: 1px solid #ddd;
	width: 100%;
	max-width: 170px;
	position: absolute;
	top: 0;	
}
.module-fancy-heading h2.fancy-heading .main-head:after {
	top: -2px;
	max-width: 75px;
	border-width: 5px;
	border-color: #2069ad;
}
.module-fancy-heading h2.fancy-heading.themify-text-center .main-head:before,
.module-fancy-heading h2.fancy-heading.themify-text-center .main-head:after {
	left: 50%;
	transform: translateX(-50%);
}
.module-fancy-heading h2.fancy-heading.themify-text-left .main-head:after {
	left: 45px;
}
.module-fancy-heading h2.fancy-heading.themify-text-right .main-head:before,
.module-fancy-heading h2.fancy-heading.themify-text-right .main-head:after {
	left: auto;
	right: 0;
}
.module-fancy-heading h2.fancy-heading.themify-text-right .main-head:after {
	left: auto;
	right: 45px;
}
h2.fancy-heading .sub-head {
	position: relative;
	padding-top: .4em;
	padding-bottom: .4em;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 30%;
	line-height: normal;
	letter-spacing: -0.03em;
}

/* Custom Fancy Heading H3 */
.module-fancy-heading h3 .main-head {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 141%;
	letter-spacing: normal;
	line-height: normal;
}
.module-fancy-heading h3 .sub-head {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 55%;
	padding: 0;
	padding-top: 1.7em;
	text-transform: uppercase;
	letter-spacing: 0.145em;
}
.module-fancy-heading h3 .sub-head:before {
	display: none;
}

/* BUTTONS
================================================ */
.module .module-buttons.outline a.orange {
	border-color: #c4943a;
	color: #fff;
}
.module .module-buttons.outline a.orange:hover {
	background-color: #c4943a;
}
.module-buttons a.builder_button {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: .82em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 1.4em 1.5em 1.5em 2.1em;
}
.module-buttons a.brown {
	border-color: #c4943a;
	background-color: #c4943a;
	color: #fff;
}
.themify_builder .module.module-buttons .module-buttons-item a.builder_button span {
	text-decoration: none;
}

/* VERTICAL DIVIDER */
.vertical-divider:after {
	border-left: 1px solid #c4943a;
	position: absolute;
	height: 130px;
	left: 50%;
	bottom: 0;
	margin-bottom: -55px;
	z-index: 1;
}

/************************************************************************************
SERVICES
*************************************************************************************/
.accounting-services-border .sub_column {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.accounting-services-border .themify_builder_sub_row.border-first .sub_column {
	border-top: none;
}
.accounting-services-border .sub_column:first-child {
	border-left: none;
}

.accounting-services .module.module-image {
	padding: 15% 5% 5.5%;
}
.accounting-services .image-title {
	font-size: .975em;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: .8em;
}
.accounting-services .module-image .image-content {
	margin-top: 2.25em;
}
.accounting-services .image-caption {
	line-height: 1.9em;
}
.compliance-planning .module-image .image-content {
	margin-top: 1.35em;
}

/* FREE CONSULTATION */
.free-consultation .image-title {
	font-size: 1em;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	padding-top: 1em;
	line-height: 1.7em;
}
.free-consultation .tb-column {
	border-left: 1px solid #ddd;
}
.free-consultation .tb-column:nth-of-type(1) {
	border-left: none;
}

/* LATEST NEWS */
.latest-news.module .loops-wrapper {
	margin: 0;
}
.loops-wrapper.polaroid .post,
.latest-news .post {
	text-align: left;
}
.loops-wrapper.polaroid .post-image:before,
.latest-news .loops-wrapper.polaroid .post-image:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;	
	background-color: rgba(24,37,54,.8);
	background: linear-gradient(to bottom,  rgba(24,37,54,0.35) 0%,rgba(24,37,54,0.72) 35%,rgba(24,37,54,0.93) 59%,rgba(24,37,54,1) 72%,rgba(24,37,54,1) 100%);
}
.latest-news .loops-wrapper.overlay .post-image img,
.latest-news .loops-wrapper.polaroid .post-image img {
	max-height: 100%;
	max-width: 100%;
	height: 100%;
	width: auto;
	object-fit: cover;
	min-height: 358px;
}
.loops-wrapper.polaroid .post-image + .post-content,
.latest-news .loops-wrapper.polaroid .post-image + .post-content {
	background: none;
	padding: 0;
}
.loops-wrapper.polaroid .post:hover .post-image + .post-content,
.latest-news .loops-wrapper.overlay .post:hover .post-image + .post-content,
.latest-news .loops-wrapper.polaroid .post:hover .post-image + .post-content {
	background-color: rgba(24, 37, 54, .95);
}
.loops-wrapper.polaroid .post .post-content-inner,
.latest-news .loops-wrapper.polaroid .post .post-content-inner {
	padding: 0 15%;
}
.loops-wrapper.polaroid .post:hover .post-image + .post-content .post-content-inner,
.latest-news .loops-wrapper.polaroid .post:hover .post-image + .post-content .post-content-inner {
	width: 100%;
	top: 50%;
	left: 0;
	position: absolute;
	transform: translateY(-50%);
	box-sizing: border-box;
}
.polaroid .entry-content p:first-child,
.latest-news .entry-content p:first-child {
	overflow: hidden;
	max-height: 75px;
	margin-bottom: 3em;
}
.loops-wrapper.overlay .entry-content p:nth-of-type(1),
.loops-wrapper.polaroid .entry-content p:nth-of-type(1) {
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.load-more-button,
.more-link,
.latest-news .more-link {
	border-radius: 0;
	background-color: #c4943a;
	color: #fff;
	display: inline-block;
	padding: .85em 1.8em;
	font-size: 1em;
	font-weight: 400;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.065em;
	line-height: normal;
}
.more-link:after,
.latest-news .more-link:after {
	display: none;
}
.load-more-button:hover,
.more-link:hover,
.latest-news .more-link:hover {
	background-color: #22436c;
	color: #fff;
}
.latest-news .post-date {
	color: #c4943a;
}

/* SIGNUP TO OUR NEWSLETTER */
.row-newsletter form {
	position: relative;
	text-align: center;
}
.row-newsletter input[type=email] {
	max-width: 298px;
	margin-bottom: 0;
	margin-right: 3px;
	vertical-align: middle;
}
.row-newsletter input[type=submit] {
	font-size: .825em;
	letter-spacing: 0.225em;
	padding: 1.3em 1.5em 1.05em 2em;
}

.row-newsletter .module-fancy-heading {
	padding: 0 2%;
	margin-bottom: 1em;
}

/* COMMENT FORM */
.module-contact .builder-contact-field-name,
.module-contact .builder-contact-field-email,
.commentwrap .comment-form-author,
.commentwrap .comment-form-email {
	float: left;
	width: 48%;
}
.module-contact .builder-contact-field-name,
.commentwrap .comment-form-author {
	padding-right: 2%;
}
.module-contact .builder-contact-field-email,
.commentwrap .comment-form-email {
	padding-left: 2%;
}
.module-contact .builder-contact-field-message,
.commentwrap .comment-form-comment,
.commentwrap .comment-form-url {
	clear: both;
	overflow: hidden;
}

.hp-contact {
	z-index: 2;
}
.hp-contact h6 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 0.04em;
	margin: 0 0 44px;
}
.hp-contact .module-icon .module-icon-item {
	display: block;
	margin: 0 0 25px;
}
.hp-contact .module-icon .module-icon-item i {
	display: inline-block;
	vertical-align: top;
	font-size: 1.5em;
	margin-top: -5px;
	margin-right: 1px;
	min-width: 48px;
	text-align: left;
}
.hp-contact .module-icon .module-icon-item span {
	display: inline-block;
	vertical-align: top;
	width: 80%;
	margin: 0;
}

/* NEWS PAGE */
.input-bg-white input[type=email] {
	background-color: #fff;
	padding-left: 1.2em;
	padding: .85em 1.2em .85em;
}
.input-bg-white input[type=submit] {
	padding: 1.25em 1.5em 1.25em 2em;
}

/* ABOUT US PAGE */
.dropcap {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 1.8em;
	line-height: 1.4em;
}
.dropcap p:first-letter {
	color: #c4943a;
	font-size: 2.45em;
	float: left;
	padding: .25em .25em .25em 0;
}

.module-testimonial-slider .themify_builder_slider > li  .testimonial-image,
.module-testimonial-slider .themify_builder_slider > li  .testimonial-content {
	max-width: 700px;
	margin: auto;
	padding: 0 30px;
}
.module-testimonial-slider .themify_builder_slider > li  .testimonial-image {
	margin-bottom: 32px;
}
.module-testimonial-slider .testimonial-title {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 1.7em;
	letter-spacing: 0.04em;
	line-height: 1.75em;
	margin-bottom: 46px;
}
.module-testimonial-slider .testimonial-author .person-name {
	font-weight: bold;
	letter-spacing: 0.04em;
	margin-bottom: 7px;
}
.module-testimonial-slider .testimonial-author .person-company {
	font-size: 90%;
	letter-spacing: -0.01em;
}
.module-testimonial-slider .carousel-nav-wrap .carousel-prev,
.module-testimonial-slider .carousel-nav-wrap .carousel-next {
	background: none;
	color: #c4943a;
}

.team-member .module-image {
	box-shadow: 0px 1px 0px 1px #ddd;
	overflow: hidden;
}
.team-member .module_column.first .module-image {
	box-shadow: none;
}
.team-member .module-image .image-wrap {
	transform: scale(1);
	transform-origin: top;
	transition: transform .3s linear;
}
.team-member .module-image .image-content {
	background-color: #fff;
	color: #7d7d7d;
	padding: 26px 44px 30px;
	margin: 0;
	transform: scale(1);
	transform-origin: top;
	transition: all.3s linear;
	transition-property: transform, opacity;
}
.team-member .module-image .image-content .image-title {
	color: #182638;
	font-family: 'Playfair Display', serif;
}
.team-member .module-image .image-content .image-caption {
	font-size: 90%;
}
.team-member .module-image:hover .image-content {
	background-color: #f4f4f4;
	transform: scale(0);
	transform-origin: top;
	opacity: 0;
}
.team-member .module-image:hover .image-wrap {
	transform: scale(1.5);
	transform-origin: top;
}

/* SERVICES PAGE */
.other-services .module-image {
	border-bottom: 1px solid #ddd;
	padding: 23px 0 4px;
}
.other-services .module-image .image-wrap {
	min-width: 28px;
	margin-right: 22px;
}
.other-services .image-title {
	font-size: .9em;
	font-weight: normal;
	letter-spacing: 0.03em;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width: 1000px) {
	.header-top-widgets #site-logo {
		font-size: 30px;
	}
}
@media screen and (max-width: 800px) {
	/* LATEST NEWS */
	.latest-news .loops-wrapper.no-gutter.grid4 .post:nth-of-type(2n+1) {
		clear: none;
	}
	.latest-news .loops-wrapper.overlay .post-image img,
	.latest-news .loops-wrapper.polaroid .post-image img {
		width: 100%;
	}
	.polaroid .post-content .post-title,
	.latest-news .post-content .post-title,
	.polaroid .entry-content p:first-child,
	.latest-news .entry-content p:first-child {
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #fff;
	}
}
@media screen and (max-width: 760px) {
	/* Heading */
	h1,
	.page-title {
		font-size: 2.4em;
	}
	
	/* main nav link hover */
	.mobile_menu_active #headerwrap #main-nav a:hover,
	.mobile_menu_active #headerwrap #main-nav ul a:hover {
		color: #c4943a;
	}

	/* highlight link */
	#headerwrap #main-nav .highlight-link a:hover,
	#headerwrap #main-nav .highlight-link.current_page_item > a,
	#headerwrap #main-nav .highlight-link.current-menu-item > a {
	  	background: none;
	  	color: #c4943a;
	}
	
	/* VERTICAL DIVIDER */
	.vertical-divider:after {
		height: 40px;
		margin-bottom: -20px;
	}
	
	/* SIGNUP TO NEWSLETTER */
	.row-newsletter input[type=submit] {
		margin-top: 1em;
	}
	
}

@media screen and (max-width: 680px) {
	h1,
	.page-title {
		font-size: 1.9em;
	}
	h2 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.2em;
		letter-spacing: 0;
	}
	.module-feature .module-feature-title,
	h4 {
		font-size: 1.1em;
	}
	.module-fancy-heading h1 .main-head,
	.module-fancy-heading h2 .sub-head {
		font-size: 40%;
	}

	/* FREE CONSULTATION */
	.free-consultation .tb-column,
	.accounting-services-border .themify_builder_sub_row.border-first .sub_column,
	.accounting-services-border .sub_column {
		border: none;
		border-top: 1px solid #ddd;
	}
	.free-consultation .tb-column:first-child,
	.accounting-services-border .themify_builder_sub_row.border-first .sub_column:first-child {
		border: none;
	}
	
	/* ABOUT PAGE */
	.team-member .module-image {
		box-shadow: none;
	}
	.dropcap,
	.module-testimonial-slider .testimonial-title {
		font-size: 1.2em;
	}
	
	.mobile_menu_active .header-icons {
		top: 50%;
		transform: translateY(-50%);
	}

}