/*MASONRY LAYOUT*/
.masonry-done.grid4>.post,
.masonry-done.grid3>.post,
.masonry-done.grid2-thumb>.post,
.masonry-done.grid2>.post,
.woocommerce .masonry-done.products>.product{
    animation-fill-mode: backwards;
    transition: none;
    animation: none;
    clear: none !important;
}
.post-filter{
    visibility:hidden;
    opacity:0;
    transition:opacity .2s ease-in-out;
}
.post-filter.filter-visible{
    opacity:1 !important;
    visibility:visible !important;
}
.masonry-done{
    opacity:1;
    position:relative;
}
.masonry-done.products,
.woocommerce .masonry-done.products{
	display:block;
}
.list-post.woocommerce .masonry-done.products>.grid-sizer,
.list-post.woocommerce .masonry-done.products>.product,
.masonry-done.list-thumb-image>.grid-sizer,
.masonry-done.list-post>.grid-sizer,
.masonry-done.list-post>.post,
.masonry-done.ptb_list-post .grid-sizer {
    width: 100%;
}
.grid4.woocommerce .masonry-done.products>.grid-sizer,
.masonry-done.grid4>.grid-sizer,
.masonry-done.grid4>.post,
.masonry-done.ptb_grid4 .grid-sizer {
    width: 22.6%;
}
.grid3 .masonry-done.products>.grid-sizer,
.masonry-done.grid3>.grid-sizer,
.masonry-done.grid3>.post,
.masonry-done.ptb_grid3 .grid-sizer {
    width: 31.2%;
}
.grid2.woocommerce .masonry-done.products>.grid-sizer,
.grid2-thumb.woocommerce .masonry-done.products>.grid-sizer,
.masonry-done.grid2-thumb>.grid-sizer,
.masonry-done.grid2>.grid-sizer,
.masonry-done.grid2-thumb>.post,
.masonry-done.grid2>.post,
.masonry-done.ptb_grid2 .grid-sizer {
    width: 48.4%;
}
.masonry-done>.gutter-sizer{
    width: 3.19%;
}
.grid4.woocommerce .masonry-done.products.no-gutter>.grid-sizer,
.masonry-done.no-gutter.grid4>.grid-sizer,
.masonry-done.no-gutter.grid4>.post {
    width: 25%;
}
.grid3.woocommerce .masonry-done.products.no-gutter>.grid-sizer,
.masonry-done.no-gutter.grid3>.grid-sizer,
.masonry-done.no-gutter.grid3>.post {
    width: 33.3%;
}
.gecko.grid3.woocommerce .masonry-done.products.no-gutter>.grid-sizer,
.gecko .masonry-done.no-gutter.grid3>.grid-sizer, 
.gecko .masonry-done.no-gutter.grid3>.post {
    width: 33.3332%; /* fix grid3 in Firefox */
}
.grid2-thumb.woocommerce .masonry-done.products.no-gutter>.grid-sizer,
.grid2.woocommerce .masonry-done.products.no-gutter>.grid-sizer,
.masonry-done.no-gutter.grid2-thumb>.grid-sizer,
.masonry-done.no-gutter.grid2>.grid-sizer,
.masonry-done.no-gutter.grid2-thumb>.post,
.masonry-done.no-gutter.grid2>.post {
    width: 50%;
}
.masonry-done.list-post>.gutter-sizer,
.masonry-done.no-gutter>.gutter-sizer{
    width:0;
}
/*FLUID MASONRY*/
.tf_fluid.masonry-done>.gutter-sizer{
    width:1%;
}
.tf_fluid.masonry-done.grid2>.post,
.tf_fluid.masonry-done.grid2>.grid-sizer{
    width:32.666%;
}
.tf_fluid.masonry-done.grid3>.post,
.tf_fluid.masonry-done.grid3>.grid-sizer{
    width:19.2%;
}
.tf_fluid.masonry-done.grid4>.post,
.tf_fluid.masonry-done.grid4>.grid-sizer{
    width:11.625%;
}

@media (min-width: 1650px) and (max-width: 1884px){
	.tf_fluid.masonry-done.grid4>.post,
	.tf_fluid.masonry-done.grid4>.grid-sizer{
		width:13.42%;
	}
	.tf_fluid.masonry-done.grid3>.post,
	.tf_fluid.masonry-done.grid3>.grid-sizer{
		width:24.25%;
	}
}
@media (min-width: 960px) and (max-width: 1649px){
	.tf_fluid.masonry-done.grid3>.post,
	.tf_fluid.masonry-done.grid3>.grid-sizer{
		width:32.666%;
	}
}
@media (max-width: 959px){
	.tf_fluid.masonry-done.grid3>.post,
	.tf_fluid.masonry-done.grid3>.grid-sizer{
		width:49.5%;
	}
}
@media (min-width: 1410px) and (max-width: 1649px){
	.tf_fluid.masonry-done.grid4>.post,
	.tf_fluid.masonry-done.grid4>.grid-sizer{
		width:15.83%;
	}
}
@media (max-width: 1485px){
	.tf_fluid.masonry-done.grid2>.post,
	.tf_fluid.masonry-done.grid2>.grid-sizer{
		width:49.5%;
	}
}
@media (min-width: 1175px) and (max-width: 1409px){
	.tf_fluid.masonry-done.grid4>.post,
	.tf_fluid.masonry-done.grid4>.grid-sizer{
		width:19.2%;
	}
}
@media (min-width: 940px) and (max-width: 1174px){
	.tf_fluid.masonry-done.grid4>.post,
	.tf_fluid.masonry-done.grid4>.grid-sizer{
		width:24.25%;
	}
}
@media (min-width: 681px) and (max-width: 800px) {
	.grid4.woocommerce .masonry-done.products:not(.tf_fluid)>.grid-sizer,
	.grid4.woocommerce .masonry-done.products:not(.tf_fluid)>.product,
	.grid4.masonry-done.products:not(.tf_fluid)>.product,
	.grid3.woocommerce .masonry-done.products:not(.tf_fluid)>.grid-sizer,
	.grid3.woocommerce .masonry-done.products:not(.tf_fluid)>.product,
	.grid3.masonry-done.products:not(.tf_fluid)>.product,
	.grid4.masonry-done:not(.tf_fluid)>.post,
	.grid4.masonry-done:not(.tf_fluid)>.grid-sizer{
            width: 48.4% !important;
	}
}
@media (min-width: 705px) and (max-width: 939px){
	.tf_fluid.masonry-done.grid4>.post,
	.tf_fluid.masonry-done.grid4>.grid-sizer{
		width:32.66%;
	}
}
@media (min-width: 681px) and (max-width: 704px){
	.tf_fluid.masonry-done.grid4>.post,
	.tf_fluid.masonry-done.grid4>.grid-sizer{
		width:49.5%;
	}
}
@media (max-width: 680px){
	.masonry-done>.post,
	.woocommerce-page .masonry-done.products:not(.tf_fluid)>.product,
	.masonry-done>.grid-sizer{
		width:100% !important;
	}
	.masonry-done>.gutter-sizer{
            width:0 !important;
	}
}

/*INFINITY SCROLL*/
.tf_load_status{
   display: none;
   clear:both;
}
.load-more-button{
    clear: both;
    padding: 50px 0;
    text-align: center;
    display:none; 
    width: 100%;
    outline:none;
}
.tf_load_status .infinite-scroll-request{
  font-size: 20px;
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
  padding: 30px 0;
}
.tf_dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  background: #b0b0b0;
  position: absolute;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.tf_dot:nth-child(1),
.tf_dot:nth-child(2) {
  left: 0;
}
.tf_dot:nth-child(3) { left: 1.5em; }
.tf_dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}
@keyframes slide {
  to { transform: translateX(1.5em) }
}
.tf_dot:nth-child(1) {
  animation-name: reveal;
}
.tf_dot:nth-child(2),
.tf_dot:nth-child(3) {
  animation-name: slide;
}
.tf_dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
/*Auto Tiles*/
.loops-wrapper.auto_tiles{
	display: grid;
	grid-template-columns: repeat(3,25%) calc(25% - 5px);
	grid-auto-rows:285px;
	width: 100%;
	clear:both;
	letter-spacing: normal;
	padding: 0;
	grid-column-gap: 0;/* don't change*/
	grid-row-gap: 5px;
	position:relative;
}
.auto_tiles.tf_auto_tiles_init.loops-wrapper{
	animation: fadeIn ease-in-out .5s;
	visibility:visible;
}
.loops-wrapper.tf_auto_tiles_init.auto_tiles::before,
.loops-wrapper.auto_tiles::after{
	display:none !important;
}
.woocommerce .auto_tiles.masonry-done.loops-wrapper>.product,
.auto_tiles.masonry-done.loops-wrapper>.post{
	margin:0 0 5px 0;
	height:285px;
	position: absolute;
}
.loops-wrapper.auto_tiles:not(.masonry-done){
	height:auto !important;
}
.woocommerce .loops-wrapper.auto_tiles:not(.masonry-done)>.product,
.loops-wrapper.auto_tiles:not(.masonry-done)>.post{
	margin:0 5px 0 0;
	position:relative !important;
	top:0! important;
	left:0! important;
	width:auto !important;
	height:auto !important;
}
.loops-wrapper.auto_tiles>.product,
.loops-wrapper.auto_tiles>.post{
	overflow:hidden;
}
.loops-wrapper.auto_tiles.tf_tiles_5>.product:nth-of-type(5n+2),
.loops-wrapper.auto_tiles.tf_tiles_5>.post:nth-of-type(5n+2),
.loops-wrapper.auto_tiles.tf_tiles_6>.product:nth-of-type(6n+2),
.loops-wrapper.auto_tiles.tf_tiles_6>.post:nth-of-type(6n+2),
.loops-wrapper.auto_tiles.tf_tiles_6>.product:nth-of-type(6n),
.loops-wrapper.auto_tiles.tf_tiles_6>.post:nth-of-type(6n),
.loops-wrapper.auto_tiles.tf_tiles_6>.product:nth-of-type(6n+5),
.loops-wrapper.auto_tiles.tf_tiles_6>.post:nth-of-type(6n+5),
.loops-wrapper.auto_tiles.tf_tiles_more>.product:nth-of-type(7n+2),
.loops-wrapper.auto_tiles.tf_tiles_more>.post:nth-of-type(7n+2){
	grid-column: span 2;
	grid-row: span 2;
}
.loops-wrapper.auto_tiles.tf_tiles_5>.product:nth-of-type(5n+3),
.loops-wrapper.auto_tiles.tf_tiles_5>.post:nth-of-type(5n+3),
.loops-wrapper.auto_tiles.tf_tiles_6>.product:nth-of-type(6n+3),
.loops-wrapper.auto_tiles.tf_tiles_6>.post:nth-of-type(6n+3),
.loops-wrapper.auto_tiles.tf_tiles_more>.product:nth-of-type(7n+3),
.loops-wrapper.auto_tiles.tf_tiles_more>.post:nth-of-type(7n+3){
    grid-row: span 2;
    margin-right: 0;
}
.loops-wrapper.auto_tiles.tf_tiles_6>.product:nth-of-type(6n),
.loops-wrapper.auto_tiles.tf_tiles_6>.post:nth-of-type(6n),
.loops-wrapper.auto_tiles.tf_tiles_more>.product:nth-of-type(7n),
.loops-wrapper.auto_tiles.tf_tiles_more>.post:nth-of-type(7n){
    margin-right: 0;
}
.loops-wrapper.auto_tiles.tf_tiles_more>.product:nth-of-type(7n+5),
.loops-wrapper.auto_tiles.tf_tiles_more>.post:nth-of-type(7n+5){    
	grid-column: span 2;
}
.loops-wrapper.auto_tiles.tf_tiles_5>.product:nth-of-type(5n),
.loops-wrapper.auto_tiles.tf_tiles_5>.post:nth-of-type(5n){
	 margin-right: 0;
	 grid-column: span 4;
}

.loops-wrapper.auto_tiles>.product>.post-image,
.loops-wrapper.auto_tiles>.post>.post-image{
    margin: 0;
    height: 100%;
    position: absolute !important;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    transition: none;
    display:none;
    box-sizing: border-box;
}
.tf_auto_tiles_init.auto_tiles>.product>.post-image,
.tf_auto_tiles_init.auto_tiles>.post>.post-image{
	display:block;
    transition: all .3s ease-in-out;
}
.loops-wrapper.auto_tiles>.product>.post-image a,
.loops-wrapper.auto_tiles>.post>.post-image a{
    width: 100%;
    height: 100%;
    display: block;
}
.loops-wrapper.auto_tiles>.product>.post-image img,
.loops-wrapper.auto_tiles>.post>.post-image img{
	object-fit: cover;
    width: 100%;
    height: 100%;
}
@media (max-width: 681px){
	body .loops-wrapper.auto_tiles>.product,
	body .loops-wrapper.auto_tiles>.post{
		margin:0 0 .43% 0 !important;
	 	display: block;
		overflow: hidden;
	}
	.loops-wrapper.auto_tiles{
		display: block !important;
	}
	body .loops-wrapper.auto_tiles>.product>.post-image,
	body .loops-wrapper.auto_tiles>.post>.post-image,
	body .loops-wrapper.auto_tiles>.post .tf_has_backstretch,
	body .loops-wrapper.auto_tiles>.product .tf_has_backstretch,
	body .tf_has_backstretch,
	body .tf_has_backstretch .tb_backstretch,
	body .tf_has_backstretch .tb_backstretch img{
		position: static !important;
		width:100% !important;
		height:auto !important;
		z-index: auto !important;
	}
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}