/* general
---------------------------------------------------------------*/
#themify{
    font: normal 15px/1.5em Arial, sans-serif;
    width:98%;
    max-width:1200px;
    padding:0;
    margin:2% 2% 2% 0;
    position:relative;
    background:#fff;
    border-radius: 15px;
    box-shadow: 0 2px 16px rgba(0,0,0,.1);    
    -webkit-font-smoothing:antialiased;
}
#themify h1,
#themify h2,
#themify h3,
#themify h4 {
    font-family: Arial, sans-serif;
    color: #000;
    margin: 0 0 .4em;
}
#themify h4 {
    font-size: 1em;
    font-weight: bold;
    margin: .5em 0 1em;
}
#themify ul {
    margin: 0;
    padding: 0;
}
#themify ul li {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
}
#themify p{
    font-size:100%; /* override WP admin style */
    margin: 0 0 1em;
}
#themify .hide,
.box_enabled_display,
.show_if_disabled_img_php,
.show_if_enabled_img_php,
#themify .pushlabel.show_if_enabled_img_php{
    display:none;
}
.themify_field_row .show_if_enabled_img_php,
.themify_field_row .show_if_enabled_img_php + .themify_field_description,
.builder_show_if_enabled_img_php{
    display:none !important;
}
img{
    border:none;
}
#themify a{
    outline:none;
    color:#4907b2;
    text-decoration:none;
    transform:none;
    box-shadow:none;
}
#themify a:hover{
    color:#a188d6;
}
#themify a:focus{
    outline:none;
}
#themify p, #themify .uploader-fields,
#themify .module,
#themify .row{
    margin:0 0 1.3em;
}
#themify .uploader-fields{
    overflow:hidden;
}
#themify h3{
    font:400 14px/110% Arial, sans-serif;
}
#themify small{
    color:#999;
    display:inline-block;
    margin:5px 0;
    font-size: .9em;
    line-height: 1.5;
}
#themify small a{
    color:#555;
    border-bottom:solid 1px rgba(0,0,0,.05);
}
#themify #content{
    color:#666;
    float:none !important;
    border-radius: 15px 15px 0 0;
}
/* Component containers << overwrite jquery-ui styling to avoid conflicts*/
#themify ui-widget{font-family:inherit; font-size:inherit; }
#themify input, #themify select, #themify button{font-family:inherit; font-size:inherit; box-shadow:none; }
#themify textarea{font-family:"Lucida Console", Monaco, "Courier New", Courier, monospace; font-size:95%; line-height:150%; }
#themify .ui-widget-content:not(.ui-slider){border:inherit; background:inherit; font-family:inherit; color:inherit;font-size: inherit; }
#themify .ui-widget-header:not(.ui-slider-range){border:inherit; background:none; color:inherit; font-weight:inherit; }
#themify .ui-widget-header a{color:inherit; }

/* Interaction states << overwrite jquery-ui styling to avoid conflicts*/
#themify .ui-state-default:not(.ui-slider-handle), #themify .ui-widget-content .ui-state-default:not(.ui-slider-handle){border:inherit; background:inherit; font-weight:inherit; color:inherit; outline:none; }
#themify .ui-state-default a, #themify .ui-state-default a:link, #themify .ui-state-default a:visited{color:inherit; text-decoration:none; outline:none; }
#themify .ui-state-hover:not(.ui-slider-handle), #themify .ui-widget-content .ui-state-hover:not(.ui-slider-handle), #themify .ui-state-focus:not(.ui-slider-handle), #themify .ui-widget-content .ui-state-focus:not(.ui-slider-handle){border:inherit; background:inherit; font-weight:inherit; color:inherit; outline:none; }
#themify .ui-state-hover a, #themify .ui-state-hover a:hover{color:inherit; text-decoration:none; outline:none; }
#themify .ui-state-active:not(.ui-slider-handle), #themify .ui-widget-content .ui-state-active:not(.ui-slider-handle){border:inherit; background:inherit; font-weight:inherit; color:inherit; outline:none; }
#themify .ui-state-active a, #themify .ui-state-active a:link, #themify .ui-state-active a:visited{color:inherit; outline:none; text-decoration:none; }

/* Tabs << overwrite jquery-ui styling to avoid conflicts*/
#themify .ui-tabs{padding:0; zoom:1; }
#themify .ui-tabs .ui-tabs-nav{list-style:none; position:relative; padding:0; }
#themify .ui-tabs .ui-tabs-nav li{position:relative; border-bottom-width:0 !important; margin:inherit; padding:inherit; }
#themify .ui-tabs .ui-tabs-nav li a{float:inherit;text-decoration:inherit;}
#themify .ui-tabs .ui-tabs-nav li.ui-tabs-selected{padding-bottom:inherit; border-bottom-width:0; }
#themify .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, #themify .ui-tabs .ui-tabs-nav li.ui-state-disabled a, #themify .ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text; }
#themify .ui-tabs .ui-tabs-nav li a, #themify .ui-tabs.ui-tabs-collapsible #themify .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer; } 
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor:text overall if defined elsewhere... */
#themify .ui-tabs .ui-tabs-panel{padding:inherit; display:block; border-width:0; background:inherit; min-height:600px; position:relative; }
#themify .ui-tabs .ui-tabs-hide{display:none !important; }

/* Remove box-shadow highlight */
#themify .subtabnav a:focus{box-shadow:none;}

/* theme title*/
#themify #theme-title{
    position:absolute;
    right:32px;
    top: 18px;
    margin:0;
    z-index:2;
    font: normal 1.2em/1em Arial, sans-serif;
    text-align:right;
    color:#fff;
}
#themify #theme-title em{
    display:block;
    font-size:.61em;
    font-style: normal;
    margin-top:6px;
    color:rgba(255,255,255,.6);
}
#themify #theme-title em a{
    color:#fff;
}
/* main tab nav*/
#themify #maintabnav{
    list-style:none;
    height: 124px;
    margin:0;
    padding:0 0 0 32px;
    background:#664c9e;
    color:#fff;
    border-radius:15px 15px 0 0;
    overflow:hidden;
}
#themify #maintabnav li{
    list-style:none;
    margin:0;
    padding:0;
    background:none;
    display:inline-block;
    vertical-align:middle;
}
#themify #maintabnav a{
    display:block;
    min-width:60px;
    font:400 1.1em/1em Arial, sans-serif !important;
    color:#d1cae2;
    color:rgba(255,255,255,.7);
    text-decoration:none;
    text-align:center;
    padding: 50px 25px;
}
#themify #maintabnav a:hover{
    text-decoration:none;
    padding:80px 35px 25px;
}
#themify #maintabnav a:before{
    font-size:2em;
    position:absolute;
    left:0;
    bottom:0;
    margin-bottom:1.25em;
    width:100%;
    opacity:0;
    visibility:hidden;	
}
#themify #maintabnav a:hover:before{
    opacity:1;
    visibility:visible;
    margin-bottom:1.8em;
}
#themify #maintabnav .setting a:before{
    content:"\e60f";
}
#themify #maintabnav .styling a:before{
    content:"\e650";
}
#themify #maintabnav .skins a:before{
    content:"\e6e0";
}
#themify #maintabnav .transfer a:before{
    content:"\e63f";
}
#themify #maintabnav .demo-import a:before{
    content:"\e632";
}
#themify #maintabnav .update-check a:before {
	content: "\e619";
}
#themify #maintabnav .demo-import a{
    width:115px;
}
#themify .demo-import-main{
    vertical-align:inherit;
}
#themify #maintabnav .setting.ui-tabs-selected a{
    background:#fff;
    color:#000;
}
#themify #maintabnav .ui-tabs-selected,
#themify #maintabnav .ui-tabs-selected:hover,
#themify #maintabnav .ui-tabs-active,
#themify #maintabnav .ui-tabs-active:hover{
    background:#fff;
    border-radius:15px 15px 0 0;
    margin-top:20px;
    box-shadow: 0 -3px 12px rgba(255,255,255,.1);
}
#themify #maintabnav .ui-tabs-selected a,
#themify #maintabnav .ui-tabs-selected a:hover,
#themify #maintabnav .ui-tabs-active a,
#themify #maintabnav .ui-tabs-active a:hover{
    color:#000;
    padding-top: 70px;
    padding-bottom: 19px;
    padding-left: 30px;
    padding-right: 30px;
}
#themify #maintabnav .ui-tabs-selected a:before,
#themify #maintabnav .ui-tabs-selected a:hover:before,
#themify #maintabnav .ui-tabs-active a:before,
#themify #maintabnav .ui-tabs-active a:hover:before{
    opacity:1;
    visibility:visible;
    margin-bottom: 1.5em;
}
/*Rounded Corners*/
#themify #maintabnav li::before,
#themify #maintabnav li:after {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: 1px;
	background: #664c9e;
}
#themify #maintabnav .ui-tabs-active::before {
	left: -8px;
	border-bottom-right-radius: 4px;
	box-shadow: 4px 4px 0 2px #fff;
	z-index: 1;
}
#themify #maintabnav .ui-tabs-active::after {
	right: -8px;
	border-bottom-left-radius: 4px;
	box-shadow: -4px 4px 0 2px #fff;
	z-index: 1;
}
/* sub tabs nav */
#themify .subtabnav{
    background:#fff;
    width: 225px;
    margin:0;
    padding: 0 10px 0 10px !important;
    list-style:none;
    text-align:right;
    position:absolute !important;
    top:140px;
    left:0;
    z-index:1;
    box-sizing:border-box;
}
#themify .ui-tabs .subtabnav{
    top:0;
}
#themify .subtabnav li{
    list-style:none;
    margin:0 2px 0 0 !important;
    clear:both;
    float:none;
    padding:0;
}
#themify .subtabnav a{
    color:#aaa;
    text-decoration:none;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: .01em;
    font-weight: normal;
    text-shadow: none;
    text-transform:uppercase;
    padding: .5em 10px .5em 0;
    margin:0;
    display:block;
}
#themify .subtabnav a:hover{
    color:#000;
    text-decoration:none;
}
#themify .subtabnav a:after{
    font-size:1.3em;
    content:"\e649";
    position:absolute;
    top:50%;
    right:-10px;
    margin-top:-.5em;
    opacity:0;
    visibility:hidden;
}
#themify .subtabnav .ui-tabs-selected a,
#themify .subtabnav .ui-state-active a{
    color:#000;
}
#themify .subtabnav .ui-tabs-selected a:after,
#themify .subtabnav .ui-state-active a:after{
    opacity:1;
    visibility:visible;
}
/* jquery tabs */
#themify .ui-tabs .ui-tabs-hide{
    display:none;
}
#themify .maintab{
    min-height:400px;
    border-radius:0;
}
#themify .subtab{
    margin:50px 32px 30px 0;
    background:none !important;
    position:relative;
    padding-left: 260px !important;
}
/* skins */
#themify .skin-preview{
    width:30.6%;
    float:left;
    margin: 0 0 18px 4%;
    text-align:left;
    font-size: 17px;
    color:#333;
    box-sizing:border-box;
}
#themify .skin-preview:nth-of-type(3n+1){
    margin-left:0;
    clear:left;
}
#themify .skin-preview img{
    width:100%;
    background:#fff;
    padding:3px;
    margin: 0 0 5px;
    box-sizing:border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
#themify .skin-preview img:hover{
    background: #97fdff;
}
#themify .skin-preview > a{
    margin: 0;
    display:inline-block;
    position:relative;
}
#themify .skin-preview > a:before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100%;
    background-color:rgba(255,255,255,.6);
    transform:translate(0, -100%);
    transition:.3s linear;
    opacity:0;
    visibility:hidden;
}
#themify .skin-preview > a:after{
    content:'\e64c';
    color:#fff;
    background-color:#664c9b;
    border-radius:100%;
    font-family:themify;
    font-size:42px;
    position:absolute;
    top:100%;
    left:50%;
    transform:translate(-50%, -50%);
    min-width:86px;
    min-height:86px;
    line-height:86px;
    box-sizing:border-box;
    text-align:center;
    opacity:0;
    visibility:hidden;
    transition:.3s linear;
}
#themify .skin-preview.selected > a:after{
    opacity:1;
    visibility:visible;
    top:50%;
}
#themify .skin-preview.selected > a:before{
    opacity:1;
    visibility:visible;
    transform:none;
}
#themify .skin-preview .view-demo a{
    color:#01bd5d;
    font-size:9px;
    line-height: 1;
    text-transform:uppercase;
    border-radius:2px;
    padding:.55em .3em .3em;
    letter-spacing:.06em;
    margin:1px 0 0 .7em;
    display:inline-block;
    vertical-align:middle;
    border:solid 1px #01bd5d;
    text-indent:1px;
    white-space:nowrap;
}
#themify .skin-preview .view-demo a:hover{
    background:#01bd5d;
    color:#fff;
    text-decoration:none;	
}
#themify .skin-preview .skin-demo-content{
    font-size: 12px;
    line-height:1.6em;
    margin-top: 5px;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:.025em;
    color:#888;
    opacity:0;
    position:relative;
    transition:opacity .5s;
}
#themify .skin-preview.selected .skin-demo-content{
    opacity:1;
}
#themify .skin-preview .skin-demo-content a{
    vertical-align:inherit;
    position:relative;
}
#themify .skin-preview .skin-demo-content a:hover{
    color:#000;
    border-bottom:solid 1px #000;
}
#themify .skin-preview.selected .skin-demo-import{
    margin-right:10px;
}
#themify .skin-preview.selected .skin-erase-demo:before{
    content:" / ";
    color:#bfbfbf;
    position:absolute;
    left:-9px;
    top:0;
}
#demo-import-notice .skin-erase-demo{
    display:none;
}
/* save button */
#themify .top-save-btn{
    position:absolute;
    top: 70px;
    right:30px;
    z-index:2;
}
#themify .save-button{
    display:block;
    background:#f26522;
    border:none;
    text-align:center;
    padding:.5em 1em;
    color:#fff;
    font:bold 1.33em/1em Arial, sans-serif;
    text-transform:uppercase;
    cursor:pointer;
    box-shadow: 0 2px 2px #ca531a;
    border-radius: 5px;
}
#themify .save-button:hover{
    color:#fff;
    transform: translateY(2px);
}
#themify .btm-save-btn{
    position:absolute;
    right: 23px;
    top:20px;
}
/* reset*/
#themify #bottomtab .reset{
    margin:0;
    padding:1px 1px 4px;
    position:absolute;
    right: 135px;
    top: 29px;
}
#themify #bottomtab .reset strong{
    margin-right:3px;
    padding-bottom:15px;
    text-transform:uppercase;
    font: normal 14px/1em Arial, sans-serif;
    letter-spacing: .02em;
    vertical-align:middle;
    cursor:pointer;
    display:inline-block;
    zoom:1;
    display:inline;
}
#themify #bottomtab .reset strong:after{
    font-size:.93em;
    content:"\e648";
    display:inline-block;
    vertical-align:middle;
    margin: -.25em 0 0 .5em;
}
#themify #bottomtab .reset ul{
    visibility:hidden;
    opacity:0;
    position:absolute;
    bottom: 115%;
    right:0;
    background:#fff;
    border-radius:5px;
    padding:0;
    margin:0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 9px 3px rgba(0,0,0,.1);
}
#themify #bottomtab .reset li{
    margin:0;
    padding:0;
}
#themify #bottomtab .reset:hover > ul{
    visibility:visible;
    opacity:1;
}
#themify #bottomtab .reset li a{
    font:normal 1em/1em Arial, sans-serif;
    color:#a3a3a3;
    color:rgba(0,0,0,.5);
    display:block;
    padding: 12px 25px;
}
#themify #bottomtab .reset li a:hover{
    color:#000;
    color:rgba(0,0,0,1);
}
/* form elements*/
#themify fieldset p{
    clear:both;
    line-height: 1.4;
}
#themify fieldset table td{
    padding:5px 0;
}
#themify fieldset{
    padding: 0;
    margin:0;
}
#themify .subtab fieldset:last-of-type{
    margin-bottom: 30px;
}
#themify .subtab fieldset fieldset:last-of-type{
    margin-bottom: 10px;
}
#themify legend{
    color:#000;
    font: normal 1.2em/1.3em Arial, sans-serif;
    margin: 0;
    border-top: solid 1px #eee;
    display:block;
    width:100%;
    padding: .5em 0;
}
#themify fieldset fieldset legend{
    font-size: 1.15em;
}
/* collapsable fieldsets */
#themify legend:not(.themify_panel_fieldset_nocollapse){
	cursor:pointer;
	padding: .6em .4em;
	margin: 0;
	box-sizing:border-box;
}
#themify legend:not(.themify_panel_fieldset_nocollapse):hover {
    background: linear-gradient(to bottom, rgba(0,0,0,.03) 0%, rgba(255,255,255,.1) 100%);
}
#themify legend i{
	float: left;
	margin: 2px 10px 3px 0;
}
#themify .themify_panel_fieldset_wrap {
    padding: .5em .5em .5em 0;
}
#themify legend:not(.themify_panel_fieldset_nocollapse) + .themify_panel_fieldset_wrap {
    padding-left: 2.5em;
}
#themify legend.themify_panel_fieldset_nocollapse i{
	display:none;
}
#themify legend.themify_panel_fieldset_nocollapse + div {
	display: block !important;
}
#themify hr{
    height:1px;
    border:none;
    border-top:solid 1px #eee;
    margin:2em 0;
    clear:both;
}
#themify .divider{
    font:bold 13px/14px Arial, Helvetica, sans-serif;
    border-top:solid 1px #ccc;
    padding-top:5px;
    margin:10px 0;
    color:#666;
}
#themify input[type=text],
#themify textarea{
    font:1em/1.5em Arial, sans-serif;
    background:#fff;
    margin: 0 5px 5px 0;
    padding:.3em .5em;
    box-shadow:none;
    border-color: #ccc;
    vertical-align:middle;
    box-sizing:border-box;
    min-height:28px;
    border-radius: 4px;
}
#themify input[type=radio]{
    position:relative;
    border:solid 1px #aaa;
    width:18px;
    height:18px;
}
#themify input[type=radio]:checked:before{
    width:10px;
    height:10px;
    margin-top:3px;
    margin-left:3px;
}
.themify-admin-lightbox input[type=checkbox],
#themify input[type=checkbox]{
    position:relative;
    border:solid 1px #aaa;
    width:18px;
    height:18px;
    margin-right: 7px;
    border-radius:2px;
    box-shadow:none;
}
input[type=checkbox]:checked:before{
    font-size:24px;
    margin-top:-4px;
    margin-left:-5px;
}
#themify select:focus,
#themify input[type=text]:focus,
#themify textarea:focus{
    border-color:#666;
    outline:none;
    box-shadow:0 1px 3px rgba(0,0,0,.1);
}
#themify input.error{
    border:solid 1px #F30 !important;
}
#themify label.error{
    font-size:9px;
    color:#F66;
    margin-left:10px;
}
#themify select{
    position:relative;
    background-color:transparent !important;
    border:1px solid #ccc;
    line-height:1.5em;
    margin:0;
    padding:.3em 30px .3em .5em;
    height:auto;
    outline:none;
    z-index:2;
    cursor:pointer;
    text-indent:.01px;
    text-overflow:'';
    min-width:70px;
    max-width: 100%;
    -webkit-appearance:none;
    -moz-appearance:none;
    border-radius: 4px;
}
#themify select::-ms-expand{
    display:none;
}
#themify .selectwrapper{
    position:relative;
    display:inline-block;
    padding:0;
    margin:0 5px 0 0;
    background:transparent;
}
#themify .selectwrapper:before{
    content:"\e64b";
    position:absolute;
    width:30px;
    text-align:center;
    top:50%;
    right:2px;
    margin-top:-.5em;
    color:#aaa;
    font-size:12px;
    z-index:1;
}
#themify .selectwrapper:after{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background-color:#fff;
    width:100%;
    content:'';
    z-index:0;
}
#themify .selectwrapper.clicked:before{
    color:#000;
}
/* form field sizing */
#themify .label{
    width:26%;
    padding: 0px 10px 0 0;
    margin:0 0 10px;
    color: #333;
    float:left;
    font-weight:normal;
    box-sizing:border-box;
}
#themify .preview-icon-wrapper{
    width:74%;
    float:left;
}
#themify .pushlabel{
    padding-left:26%;
    display: block;
}
#themify span.pushlabel{
    display:inline-block;
}
#themify .vertical-grouped{
    margin-top:5px;
    display:block !important;
}
#themify label{
    display:inline-block;
    margin-right:7px;
    margin-bottom:10px;
    vertical-align:top;
}
#themify .upload-file, #themify .colorSelectInput{
    margin-right:5px;
}
#themify .width2{
    width:50px
}
#themify .width4{
    width:80px
}
#themify .width6{
    width:140px
}
#themify .width8{
    width:300px
}

#themify .width9{
    width:52%;
}
#themify .width10{
    width:68%;
}
#themify .widthfull{
    width:100%;
}
#themify .indented-field{
    margin-left: 25px;
}
#themify p + p.indented-field{
    margin-top: -10px;
}
#themify .indent{
    margin-left:25px;
    margin-top:15px;
    width:100%;
    display:inline-block;
    box-sizing:border-box;
}
@media screen and (min-width:1001px) and (max-width:1180px){
    #themify .label + label{
        display:block;
    }
    #themify .label + label + br{
        display:none;
    }
}

/* preset */
#themify .preset{
    background:none;
    border:solid 1px #ccc;
    padding:10px 10px 10px 0;
    margin-bottom:15px;
    max-height:125px;
    overflow-y:auto;
}
#themify .preset a{
    position:relative;
    width:50px;
    height:50px;
    margin-left:14px;
    margin-bottom:12px;
    display:inline-block;
    zoom:1;
    *display:inline;
}
#themify .preset img{
    background:#fff;
    border:solid 1px #ccc;
    padding:2px;
    margin:2px;
    width:50px;
    height:50px;
}
#themify .preset img:hover{
    background:#96dbf8;
    border-color:#96dbf8;
    padding:2px;
}
#themify .preset .selected, #themify .preset .selected:hover{
    background:#F60;
    border-color:#C30;
}
/* image delete button */
#themify .preset a span{
    width:16px;
    height:16px;
    display:block;
    background:#333;
    color:#fff;
    font-size:.53em;
    position:absolute;
    top:-2px;
    left:-2px;
    border-radius:10em;
}
#themify .preset a span:before{
    content:"\e646";
    position:absolute;
    top:3px;
    left:4px;
}
#themify .preset a span:hover{
    background:#f00;
}
#themify .preset a span:hover + img{
    background:#96dbf8;
    border-color:#96dbf8;
}
/* alert message */
.alert{
    margin:-20px 0 0 -20px;
    width:62px;
    height:62px;
    background-color:#666;
    background-color:rgba(0,0,0,.6);
    border-radius:50%;
    box-sizing:border-box;
    position:fixed;
    top:50%;
    left:50%;
    z-index:100001;
    line-height:62px;
}
.alert.busy:before{
    width:80%;
    height:80%;
    border:5px solid transparent;
    border-top-color:#fff;
    border-radius:50%;
    box-sizing:border-box;
    position:absolute;
    top:10%;
    left:10%;
    content:'';
    animation:circle-loader 1.4s infinite linear;
}
@keyframes circle-loader{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.alert.done,
.alert.error{
    text-align:center;
}
.alert.error{
    text-align:center;
    background-color:#666;
    background-color:rgba(0,0,0,.6);
    border:none;
    margin:-20px 0 0 -20px;
    padding:0;
}
.alert.done:after,
.alert.error:after{
    color:#fff;
    font-family:themify;
    font-size:30px;
}
.alert.done:after{
    content:'\e64c';
}
.alert.error:after{
    content:'\e646';
}
/* CIRCLE LOADER */
.themify_loader{
    margin:-20px 0 0 -20px;
    width:62px;
    height:62px;
    background-color:#666;
    background-color:rgba(0,0,0,.6);
    border-radius:50%;
    box-sizing:border-box;
    position:fixed;
    top:50%;
    left:50%;
    z-index:100001;
    line-height:62px;
}
.themify_loader:before{
    width:80%;
    height:80%;
    border:5px solid transparent;
    border-top-color:#fff;
    border-radius:50%;
    box-sizing:border-box;
    position:absolute;
    top:10%;
    left:10%;
    content:'';
    animation:circle-loader 1.4s infinite linear;
}
.themify_loader.loader_medium{
    width:92px;
    height:92px;	
    line-height:92px;	
}
.themify_loader.loader_large{
    width:120px;
    height:120px;	
    line-height:120px;	
}
/* HORIZONTAL LOADER */
.themify_horizontal_loader{
    margin:12px 30px 12px 25px;
    position:relative;
    font-size:11px;
    animation-delay:-.16s;
}
.themify_horizontal_loader,
.themify_horizontal_loader:before,
.themify_horizontal_loader:after{
    background:#000;
    border-radius:100%;
    width:9px !important;
    height:9px !important;
    animation:horizontal-loader 1s infinite ease-in-out;
}
.themify_horizontal_loader:before,
.themify_horizontal_loader:after{
    position:absolute;
    top:0;
    content:'';
}
.themify_horizontal_loader:before{
    left:-150%;
    animation-delay:-.32s;
}
.themify_horizontal_loader:after{
    left:150%;
}
@keyframes horizontal-loader{
    0%,
    80%,
    100%{
        opacity:1;
    }
    40%{
        opacity:.5;
    }
}
.themify_horizontal_loader.loader_medium,
.themify_horizontal_loader.loader_medium:before,
.themify_horizontal_loader.loader_medium:after{
    width:12px !important;
    height:12px !important;
}
.themify_horizontal_loader.loader_large,
.themify_horizontal_loader.loader_large:before,
.themify_horizontal_loader.loader_large:after{
    width:18px !important;
    height:18px !important;
}
/* transfer buttons*/
#themify .biggest-transfer-btn em{
    float:left;
    margin:1em;
}
#themify .biggest-transfer-btn .plupload-import:before{
    position:absolute;
    top:0;
    left:0;
    content:"\e66b";
}
#themify .biggest-transfer-btn .export,
#themify .biggest-transfer-btn .plupload-import{
    float:left;
}
/* footer*/
#themify #bottomtab{
    background: #827f8a;
    padding:12px 10px;
    text-align:right;
    position:relative;
    color:#fff;
    height:56px;
    border-radius: 0 0 15px 15px;
    box-shadow:inset 0 -4px 10px rgba(0,0,0,.1);
}
#themify #logo{
    position:absolute;
    top:47px;
    left: 23px;
    margin:0;
    padding:0;
    color:#fff;
}
#themify #logo a:before{
    font-size:6em;
    line-height:.2em;
    content:"\e6d1";
    position:absolute;
    bottom:-5px;
    left:0;
}
#themify #logo a{
    color:#fff;
}
#themify #logo a:hover{
    color:#111;
}
/* tooltip */
#tooltip{
    position:absolute;
    border:1px solid #333;
    background:#fff;
    padding:2px 5px 4px;
    white-space:pre-line;
    font:11px/100% Arial, Helvetica, sans-serif;
    color:#333;
    display:none;
    box-shadow:0 1px 3px rgba(0,0,0,.2);
}
/* alignment */
#themify .left{
    float:left;
}
#themify .right{
    float:right;
}
#themify .alignright{
    text-align:right;
}
/* clearfix */
.clearfix:after, 
#themify .clearfix:after, 
#themify #maintabnav:after, 
.subtab:after,
#themify .maintab:after,
#demo-import-notice:after{
    content:"";
    display:table;
    clear:both;
}
.subtab{
    background:red;
}
/* wordpress */
body{
    margin:0;
}
#themify{
    float:left;
}
/* framework*/
.clearBoth{
    clear:both;
    display:block;
    width:100%;
}
.upload-image{
    float:left;
    display:block !important;
    height:20px;
}
.import{
    float:left;
    display:block !important;
}
object{
    float:left !important; 
    display:block !important;
    position:absolute !important;
}
.alert{
    display:none;
}
.preset .backgroundThumb.new{
    display:none;
}
.pushlabel object{
    opacity:0 !important;
}
/* uploadify
---------------------------------------------------------------*/
.uploadifyQueue{
    display:none !important;
}
.uploadifyQueueItem{
    font:11px Verdana, Geneva, sans-serif;
    border:2px solid #E5E5E5;
    background-color:#F5F5F5;
    margin-top:5px;
    padding:10px;
    width:350px;
}
.uploadifyError{
    border:2px solid #FBCBBC !important;
    background-color:#FDE5DD !important;
}
.uploadifyQueueItem .cancel{
    float:right;
}
.uploadifyProgress{
    background-color:#FFF;
    border-width:1px;
    border-style:solid;
    border-color:#808080 #C5C5C5 #C5C5C5 #808080;
    margin-top:10px;
    width:100%;
}
.uploadifyProgressBar{
    background-color:#09F;
    width:1px;
    height:3px;
}
/* Color Picker*/
#themify .minicolors{
    display:inline-block;
    vertical-align:top;
}
#themify .minicolors-swatch{
    width: 25px;
    height: 26px;
    border:none;
    border-right:none;
    background:url(../img/jquery.minicolors.png) -80px 4px;
    margin:-4px -4px 0;
    border-radius:3px 0 0 3px;
}
#themify .minicolors-swatch span{
    float:left;
    margin:0;
    background:none;
    height: 26px;
    width: 26px;
    border-radius:3px 0 0 3px;
}
#themify .minicolors-focus .minicolors-swatch span{
    background-position:right top;
}
#themify .minicolors-focus{
    z-index:3;
}
#themify .width4.colorSelectInput{
    margin-right:0;
    margin-top:0;
    width: 106px;
    padding-left: 30px;
}
#themify .themify_field-color{
    display:inline-block; 
}
#themify .clearColor{
    top:4px;
}

/* Changelog */
.show-changelog{
    background:#fff;
    padding:15px;
    width:60%;
    left:40%;
    height:70%;
    top:25%;
}
.show-changelog iframe{
    width:100%;
    max-width:100%;
    height:100%;
}
/* info link*/
.themify-info-link{
    font-size: 13px;
    line-height: 20px;
    background-color:#f4f4f4;
    color: #777;
    margin:0 0 20px;
    padding:1em 1em 1em 3.2em;
    border-radius: 5px;
    position:relative;
}
.themify_write_panel .themify-info-link{
    margin-bottom:0;
}
#themify .themify-info-link{
    margin-bottom: 30px;
}
.themify-info-link:before{
    position:absolute;
    top:16px;
    left:16px;
    content:"\e717";
    display:inline-block;
    vertical-align:middle;
    margin:0;
    padding:0;
    font-size:1.38em;
}
.themify-info-link a,
#themify .themify-info-link a{
    color:#bf3b06;
    text-decoration:none;
    vertical-align:inherit;
}
.themify-info-link a:hover,
#themify .themify-info-link a:hover{
    text-decoration:underline;
}
/* color picker*/
.colorpicker{
    width:356px;
    height:176px;
    overflow:hidden;
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    display:none;
}
.colorpicker_color{
    width:150px;
    height:150px;
    left:14px;
    top:13px;
    position:absolute;
    background:#f00;
    overflow:hidden;
    cursor:crosshair;
}
.colorpicker_color div{
    position:absolute;
    top:0;
    left:0;
    width:150px;
    height:150px;
}
.colorpicker_color div div{
    position:absolute;
    top:0;
    left:0;
    width:11px;
    height:11px;
    overflow:hidden;
    margin:-5px 0 0 -5px;
}
.colorpicker_hue{
    position:absolute;
    top:13px;
    left:171px;
    width:35px;
    height:150px;
    cursor:n-resize;
}
.colorpicker_hue div{
    position:absolute;
    width:35px;
    height:9px;
    overflow:hidden;
    margin:-4px 0 0;
    left:0;
}
.colorpicker_new_color{
    position:absolute;
    width:60px;
    height:30px;
    left:213px;
    top:13px;
    background:#f00;
}
.colorpicker_current_color{
    position:absolute;
    width:60px;
    height:30px;
    left:283px;
    top:13px;
    background:#f00;
}
.colorpicker input{
    background-color:transparent;
    border:1px solid transparent;
    position:absolute;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    color:#898989;
    top:4px;
    right:11px;
    text-align:right;
    margin:0;
    padding:0;
    height:11px;
}
.colorpicker_hex{
    position:absolute;
    width:72px;
    height:22px;
    left:212px;
    top:142px;
}
.colorpicker_hex input{
    right:6px;
}
.colorpicker_field{
    height:22px;
    width:62px;
    background-position:top;
    position:absolute;
}
.colorpicker_field span{
    position:absolute;
    width:12px;
    height:22px;
    overflow:hidden;
    top:0;
    right:0;
    cursor:n-resize;
}
.colorpicker_rgb_r{
    top:52px;
    left:212px;
}
.colorpicker_rgb_g{
    top:82px;
    left:212px;
}
.colorpicker_rgb_b{
    top:112px;
    left:212px;
}
.colorpicker_hsb_h{
    top:52px;
    left:282px;
}
.colorpicker_hsb_s{
    top:82px;
    left:282px;
}
.colorpicker_hsb_b{
    top:112px;
    left:282px;
}
.colorpicker_submit{
    position:absolute;
    width:22px;
    height:22px;
    left:322px;
    top:142px;
    overflow:hidden;
}
.colorpicker_focus{
    background-position:center;
}
.colorpicker_hex.colorpicker_focus{
    background-position:bottom;
}
.colorpicker_submit.colorpicker_focus{
    background-position:bottom;
}
.colorpicker_slider{
    background-position:bottom;
}
/* Post meta separator */
.meta_fields_separator{
    border:none;
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #fff;
}
/*Shortcodes Dialog*/
.clearlooks2{
    overflow:hidden !important;
}
.clearlooks2 .mceTop,
.clearlooks2 .mceTop .mceRight,
.clearlooks2 .mceTop .mceCenter,
.clearlooks2 .mceTop .mceLeft{
    height:32px !important;
}
.clearlooks2 .mceMiddle{
    clip:rect(32px, auto, auto, auto) !important;
}
.clearlooks2 .mceMiddle span{
    top:32px !important;
}
.clearlooks2 .mceTop span{
    line-height:32px !important;
}
.clearlooks2 a{
    top:9px !important;
}
.wp_themeSkin span.mceIcon, .wp_themeSkin img.mceIcon{

}
/*Plupload*/
.filelist{
    width:60%;
}
.filelist .file{
    padding:5px;
    background:#ececec;
    border:solid 1px #ccc;
    margin-bottom:4px;
}
.filelist .fileprogress{
    width:0;
    background:#B7C53D;
    height:5px;
}
.ui-sortable  .thumb img{
    cursor:pointer;
}
.plupload-drag-drop-area{
    background:#E4E4E4;
    border-radius:10px;
    display:block;
    padding:1px 0 2px 2px;
    width:170px;
}
#themify .biggest-transfer-btn .pushlabel{
    margin:0;
}
/* upload button */
#themify .button {
    background:none;
    margin:0 0 5px;
    outline:none;
    font-family:inherit;
    font-size:1em;
    line-height:1.3em;
    color:#491aaf;
    padding:0;
    border:none;
    box-shadow:none;
    white-space:nowrap;
}
#themify .themify_button {
	border:none;
	border-radius: 5px;
	background:#664c9e;
	color:#fff;
	padding: .8em 1.4em;
	outline:none;
	line-height:1em;
	height:auto;
	display:inline-block;
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
#themify .themify_button:hover {
    color: #fff;
}
#themify .themify_button:hover,
#themify .biggest-transfer-btn .export:hover {
    background:#a188d6;
}
#themify .themify_link_btn {
	border: none;
	border-radius:0;
	box-shadow: none;
	background: none;
}
#themify .plupload-setting-favicon.themify_button,
#themify .plupload-setting-page_loader_icon.themify_button {
	border: none;
	border-radius:0;
	box-shadow: none;
	background: none;
	color: #491aaf;
	padding: 0;
	height: 28px;
}
#themify .big-button {
    font-size: 1.2em;
}

/* Social
---------------------------------------------------------------*/
/* Social link item */
#themify .social-link-item{
    border:solid 1px #ddd;
    position:relative;
    margin-bottom:15px;
    padding:20px 1em 15px;
    background:#fff;
    background:rgba(255,255,255,.8);
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    border-radius: 5px;
}
#themify .social-link-item .row{
    margin:0 0 7px;
}
#themify .social-link-item .label{
    width:130px;
    float:left;
}
#themify .social-link-item .pushlabel{
    padding-left:85px;
}
#themify .social-link-item .icon-preview{
    position:absolute;
    top:50%;
    right:25px;
    margin-top:-.5em;
}
.font-icon-preview{
    width:32px;
    height:26px;
    text-align:center;
    font-size:2em;
    color:#666;
}
#themify .social-link-item .icon-preview img{
    max-width:60px;
}
.social-link-placeholder{
    height:230px;
    border:2px dashed #ccc;
}
.social-drag{
    float:right;
    padding:2px 6px;
    border: 1px solid #dedede;
    position:absolute;
    top:-1px;
    right: 22px;
    font-size:.85em;
    cursor:move;
    border-radius: 0 0 4px 4px;
}
.social-drag:hover{
    border-color:#A6B5B6;
}
.social-drag:active{
    border-color:#5F6E6F;
}

/* Remove item */
form#themify .remove-item{
    position:absolute;
    top:-7px;
    right:-7px;
    width:22px;
    height:21px;
    display:block;
    border-radius:5em;
    text-align:center;
    color:#fff;
    padding-top:1px;
	background: #E15855;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);	
}
form#themify .remove-item:hover{
    top:-6px;
    box-shadow:none;
    background:#000;
}
form#themify .remove-item i{
    font-size: 11px;
    position:absolute;
    top: 6px;
    right: 5px;
    font-weight:bold;
}
/* Add link */
#themify .add-link{
    margin:10px 0 25px;
    line-height:100%;
    color:#491aaf;
}
#themify .add-link a:before{
    content:"\e61a";
    margin-right:5px;
}
#themify .add-link a:hover{
    color:#000;
}
/* Post meta checkboxes */
#themify .opacity-7, #themify-meta-boxes .opacity-7{
    opacity:.7;
}
#themify .opacity-5, #themify-meta-boxes .opacity-5{
    opacity:.5;
}
#themify .dropdownbutton-group a{
    color:#666;
    text-decoration:none;
    display:block;
}
#themify .dropdownbutton-group a:hover{
    color:#000;
    text-decoration:none;
}
.themify_input_field.themify_fa{
    width:40%;
}
/**
 * General lightbox style */
.themify-admin-lightbox{
    background:#fff;
    color:#666;
    border:none;
    width:700px;
    max-width:100%;
    padding:20px 25px;
    margin:auto;
    position:absolute;
    left:50%;
    top:30px;
    margin-left:-375px;
    z-index:9999999;
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
    box-shadow: 0 1px 20px 3px rgba(0,0,0,.2);
}
.themify-admin-lightbox .ui-widget {
    font-family:Arial, Helvetica, sans-serif;
}
.themify-admin-lightbox .close_lightbox{
    color:#555;
    font-size:2em;
    text-decoration:none;
    text-align:center;
    position:absolute;
    top:15px;
    right:25px;
    width:1em;
    height:1em;
    cursor:pointer;
    display:inline-block;
    zoom:1;
    vertical-align:middle;
    outline:none;
    box-shadow:none;
}
.themify-admin-lightbox .close_lightbox:hover{
    transform:rotate(90deg) scale(.9);
    color:#ea533b;
}
.themify_lightbox_title{
    font-size: 26px;
    font-weight: normal;
    color:#000;
    margin:0 0 1.5em;
    padding:0 0 1.2em;
}
#themify_lightbox_overlay{
    background:#333;
    background:rgba(0,0,0,.7);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:99;
    display:none;
}
.themify-admin-lightbox .button{
    color:#491aaf;
    background:none;
    height:auto;
    margin:0;
    padding:0;
    border:none;
    box-shadow:none !important;
    outline:none;
}
.themify-admin-lightbox .button.button-primary{
    font:normal 1.33em/1em Arial, sans-serif;
    text-transform:uppercase;
    color:#fff;
    margin: 15px 0 0;
    padding:.5em 1em;
    border:none;
    border-radius:3px;
    outline:none;
    background:#f26522;
    box-shadow:0 2px 0 #c2511b !important;
    text-shadow:none;
}
.themify-admin-lightbox .button.button-primary:hover{
    transform:translateY(2px);
    color:#fff;
    box-shadow:none !important;
}
.themify-admin-lightbox .button.uncheck-all{
    line-height:1em;
    margin-top: 12px;
}
.themify-admin-lightbox .button.uncheck-all:before{
    content:"\e646";
    display:inline-block;
    font-size:.86em;
    vertical-align:middle;
    margin:-3px 5px 0 0;
}
.themify-admin-lightbox .button.uncheck-all:active{
    background:none;
}
/**
 * FontAwesome-lightbox specifics */
.themify_field .font-icon-preview{
    float:right;
}
.themify_lightbox_visibility{
    height: 570px;
}
.themify_lightbox_visibility .themify-visibility-options{
    height: 410px;
}
.themify_lightbox_visibility #visibility-tabs ul{
    background:none;
    border:none;
    font-weight:normal;
    padding: 0;
    margin: 0 0 5px;
}
.themify_lightbox_visibility #visibility-tabs ul li{
    border:none;
    font-weight:normal;
    margin: 0 5px 5px 0;
    padding: 0;
}
.themify_lightbox_visibility #visibility-tabs > .ui-widget-header{
    color:#fff;
    background:#bbb;
    border-radius:0;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.05);
}
.themify_lightbox_visibility .themify_lightbox_title{
    margin-bottom: 0;
    padding: 0 0 22px;
}
.themify_lightbox_visibility .ui-tabs{
    position:relative;
    /* position:relative prevents IE scroll bug (element with position:relative inside container with overflow:auto appear as "fixed") */
    padding:0;
    overflow:auto;
    overflow-x:hidden;
    height:100%;
    border-radius:0;
    border:1px solid #bbb;
    background:none;
    border-radius: 5px;
}
.themify_lightbox_visibility #visibility-tabs .ui-tabs{
    border: none;
}
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav{
    font-size:14px;
    font-family:Arial, sans-serif;
    margin:0;
    padding: 5px 10px 0;
    border:none;
    border-radius: 4px 4px 0 0;
}
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li{
    list-style:none;
    float:left;
    position:relative;
    top:0;
    margin:1px .3em 0 0;
    border-bottom-width:0;
    padding:0;
    white-space:nowrap;
    border-radius:0;
    background:none;
    border:none;
    font-weight:normal;
}
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li:before,
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li:after {
	content: "";
	width: 4px;
	height: 4px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	background: #bbb;
	transition: .1s;
}
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li.ui-state-hover:before,
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li.ui-state-active:before {
	left: -4px;
	border-bottom-right-radius: 4px;
	box-shadow: 4px 4px 0 4px #FFF;
}
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li.ui-state-hover:after,
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li.ui-state-active:after {
	right: -4px;
	border-bottom-left-radius: 4px;
	box-shadow: -4px 4px 0 4px #FFF;
	z-index: 2;
}
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li > .ui-tabs-anchor{
    float:left;
    padding:7px 10px;
    text-decoration:none;
    color:#fff;
    color:rgba(255,255,255,1);
    outline:none;
    box-shadow:none;
}
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li.ui-state-hover,
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li.ui-tabs-active{
    background:#fff;
    border-radius: 4px 4px 0 0;
}
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li.ui-state-hover > .ui-tabs-anchor,
.themify_lightbox_visibility #visibility-tabs > .ui-tabs-nav > li.ui-tabs-active > .ui-tabs-anchor{
    color:#000;
}

.themify_lightbox_visibility .themify-visibility-inner-tabs .inline-tabs{
    margin:0;
}
.themify_lightbox_visibility .themify-visibility-inner-tabs .inline-tabs li{
    display:inline-block;
    background:none;
}
.themify_lightbox_visibility .themify-visibility-inner-tabs .inline-tabs li a{
    margin: 0;
    padding:3px 6px;
    text-decoration:none;
    color:#999;
    outline:none;
    box-shadow:none;
    border-radius: 4px;
    display:inline-block;
}
.themify_lightbox_visibility .themify-visibility-inner-tabs .inline-tabs li:last-child a{
    border-right:none;
}
.themify_lightbox_visibility .themify-visibility-inner-tabs .inline-tabs li.ui-state-hover a,
.themify_lightbox_visibility .themify-visibility-inner-tabs .inline-tabs li.ui-tabs-active a{
    color:#fff;
    background-color:#bbb;
}
.themify_lightbox_visibility .ui-tabs .ui-tabs-nav li.ui-tabs-active{
    margin-bottom:-1px;
    padding-bottom:1px;
}
.themify_lightbox_visibility .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.themify_lightbox_visibility .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.themify_lightbox_visibility .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{
    cursor:text;
}
.themify_lightbox_visibility .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{
    cursor:pointer;
}
.themify_lightbox_visibility .ui-tabs .ui-tabs-panel{
    display:block;
    border-width:0;
    padding:1em 1.4em;
    background:none;
}
.themify_lightbox_visibility .ui-tabs .ui-tabs-panel .ui-tabs-panel {
    padding:10px 0 0;
}
.themify_lightbox_visibility .themify-visibility-options label{
    display:block;
    width:50%;
    float:left;
    padding-right:2%;
    margin-bottom:7px;
    padding-left:26px;
    box-sizing:border-box;
}
.themify_lightbox_visibility .themify-visibility-options label input[type=checkbox]{
    margin-left:-26px;
}
.themify_lightbox_visibility .themify-visibility-options{
    overflow:auto;
}
#visibility-tab-post-types,
#visibility-tab-taxonomies{
    overflow:hidden !important;
}

i.mce-ico.mce-i-themify{
    background:url(../img/favicon.png) no-repeat 4px 2px;
}

#themify .themify-modal{
    position:fixed;
    top:50%;
    left:50%;
    width:700px;
    max-height:90vh;
    overflow-y:auto;
    margin:0;
    background:#fff;
    color:#555;
    height:auto;
    min-height:110px;
    float:none;
	padding: 25px 45px 25px 25px;
    z-index:9999;
    box-shadow:0 2px 18px 2px rgba(0,0,0,.2);
    border-radius:5px;
    box-sizing:border-box;
    max-width:100%;
    font-size:15px;
    transform:translate(-50%, -48%);
    -webkit-overflow-scrolling:touch;
}
#themify .themify-modal p{
    margin:0 0 2em;
}
#themify .themify-modal p:first-of-type{
    font-size:1.1em;
    margin-bottom:.5em;
    color:#000;
}
#themify #demo-import-notice h3{
    font-size:1.75em;
    margin:0 0 .7em;
    font-weight:normal;
}
#themify .themify-modal .close{
    position:absolute;
    top: 20px;
    right: 20px;
    color:#555;
    font-size:1.73em;
    transition:all .5s;
}
#themify .themify-modal .close:hover{
    transform:rotate(90deg) scale(.9);
    color:#ea533b;
    text-decoration:none;
}
#themify .import-sample-content,
#themify .erase-sample-content {
    margin-bottom: 10px;
}
#themify .erase-sample-content {
    margin-top: 30px;
}
#themify .import-success{
    background:#00bf58;
}
#themify .thanks-button{
    padding:17px 40px;
    display:inline-block;
    color:#8667cc;
    font-size:1.2em;
}
#themify .button.disabled{
    opacity:.6;
    cursor:default;
}
/* required addons/plugins */
#themify .themify-modal.required-addons ul{
    list-style:initial;
    list-style-position:inside;
    color:#999;
    margin:1.5em 0 2em;
}
#themify .themify-modal.required-addons ul li{
    margin:0 0 1em;
}
#themify .button.import-sample-content i,
#themify .button.erase-sample-content i{
    display:inline-block;
    font-size:.9em;
    vertical-align:middle;
    margin:-4px 5px 0 0;
}
#themify .button.button-outline{
    background:#fff;
    color:#666;
    border:1px solid #ccc;
    font-size:1em;
    padding:.3em .6em;
}
/* include demo image */
#themify .tf_import_images {
	margin-left: 20px;
}
#themify .tf_import_images span {
    color: #23282d;
    font-size: 15px;
}
#themify .tf_import_images h3 {
	margin: 0 0 6px 0;
	font-size: 19px;
}

/* Themify Big Notice
---------------------------------------------------------------*/
.themify-big-notice{
    font-family:"Open Sans", Arial, sans-serif;
    position:fixed;
    top:30%;
    left:50%;
    width:520px;
    margin-left:-260px;
    background:#fff;
    color:#999;
    height:300px;
    float:none;
    padding:25px;
    z-index:10;
    border-radius:7px;
    box-shadow:0 1px 5px rgba(0,0,0,.3);
}
.themify-big-notice.black{
    background:#000;
    color:#fff;
}
#themify .themify-big-notice h3{
    font-size:25px;
    font-weight:400;
    margin:0 0 20px;
}
#themify .themify-big-notice.black h3{
    color:#fff;
}
.themify-big-notice p{
    color:#bababa;
}
.themify-big-notice p strong{
    font-size:16px;
    font-weight:normal;
}
.themify-big-notice.black p strong{
    color:#fff;
}
#themify .themify-big-notice .button, .themify-big-notice .button{
    color:#fff;
    background:#6446a1;
    border:none;
    box-shadow:none;
    padding:20px 24px;
    line-height:1%;
    display:inline-block;
    font-size:17px;
    margin-top:10px;
}
#themify .themify-big-notice .button:hover, .themify-big-notice .button:hover{
    background:#5D3AA3;
}
.themify-big-notice .close{
    position:absolute;
    top:15px;
    right:15px;
    font-size:18px;
}
/* Icon Fonts
---------------------------------------------------------------*/
#themify .subtabnav a:after,
#themify #maintabnav a:before,
#themify #logo a:before,
#themify .biggest-transfer-btn .plupload-import:before,
.themify-admin-lightbox .button.uncheck-all:before,
#themify #bottomtab .reset strong:after,
#themify .preset a span,
#themify .selectwrapper:before,
#themify .add-link a:before,
.themify-info-link:before{
    font-family:'themify';
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
}
/* Transitions
---------------------------------------------------------------*/
.themify-admin-lightbox .close_lightbox,
#themify #maintabnav a,
#themify #maintabnav a:before,
#themify #bottomtab .reset ul,
#themify #logo a{
    transition:all .3s linear;
}
form#themify .remove-item,
#themify .save-button,
#themify .ui-tabs .button,
.themify-admin-lightbox .button,
#themify .biggest-transfer-btn .export,
#visibility-tabs > .ui-tabs-nav > li,
.themify-visibility-inner-tabs .inline-tabs li,
#themify .skin-preview img,
#demo-import-notice .close{
    transition:all .1s linear;
}
#themify #maintabnav .ui-tabs-selected a,
#themify #maintabnav .ui-tabs-selected a:hover,
#themify #maintabnav .ui-tabs-active a,
#themify #maintabnav .ui-tabs-active a:hover,
#themify #maintabnav .ui-tabs-selected a:before,
#themify #maintabnav .ui-tabs-selected a:hover:before,
#themify #maintabnav .ui-tabs-active a:before,
#themify #maintabnav .ui-tabs-active a:hover:before,
#themify .ui-tabs .button.clearColor:hover{
    transition:none;
    transform:none;
}
/* LIGHTBOX PLUGIN
---------------------------------------------------------------*/
.mfp-iframe-scaler iframe{
    background:#fff !important;
}
/* Role Access Control Settting
----------------------------------------------------------------*/
li.role-access-controller{
    padding:10px 0;
}
.role-access-controller .role-title{
    display:inline-block;
    width:20%;
    font-weight:bold;
}
.role-access-controller .role-option{
    display:inline-block;
    width:120px;
}
#themify .subtabnav.themify_settings_fixed{
    position:fixed !important;
    left:180px;
    top:35px;
}
.folded #themify .subtabnav.themify_settings_fixed{
    left:60px;
}

/* Input Type Range Styles
----------------------------------------------------------------*/
.input-range .range-slider,
.input-range input[type="text"]{
    display:inline-block;
    margin-right:20px;
}
.input-range .range-slider.ui-widget-content{
    background:#e1e1e1;
    color:#333;
    border:none;
}
.ui-slider{
    position:relative;
    text-align:left;
}
.ui-slider .ui-slider-handle{
    position:absolute;
    z-index:2;
    width:1.2em;
    height:1.2em;
    cursor:default;
    -ms-touch-action:none;
    touch-action:none;
}
.ui-slider .ui-slider-range{
    position:absolute;
    z-index:1;
    font-size:.7em;
    display:block;
    border:0;
    background-position:0 0;
}
.input-range .range-slider.ui-slider-horizontal{
    height:2px;
}
.input-range .range-slider.ui-slider-horizontal .ui-slider-handle{
    top:-.6em;
    margin-left:-.6em;
    border-radius:100%;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.ui-slider-horizontal .ui-slider-range{
    top:0;
    height:100%;
}
.ui-slider-horizontal .ui-slider-range-min{
    left:0;
}
.ui-slider-horizontal .ui-slider-range-max{
    right:0;
}
.range-slider .ui-widget-header{
    background:#6749a0;
    font-weight:bold;
}
.ui-widget-header a{
    color:#333;
}
.input-range .range-slider .ui-state-default,
.input-range .range-slider .ui-widget-content .ui-state-default,
.input-range .range-slider .ui-widget-header .ui-state-default{
    border:1px solid #c5c5c5;
    background:#fff;
    font-weight:normal;
    color:#454545;
    outline:none;
    cursor:col-resize;	
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
    background:#fff;
    font-weight:normal;
    color:#000;
}
#visibility-tabs > .ui-tabs-nav > .ui-state-hover a,
#visibility-tabs > .ui-tabs-nav > .ui-state-focus a{
    color:#000;
}
/* fix backend editor display in metabox */
#page-builder .themify_field_title{
    display:none;
}
#page-builder .themify_field{
    float:none;
    width:100%;
}
/* 404 autocomplete loader */
.themify_404_autocomplete_wrap{
    position:relative;
    display:inline-block;
}
.themify_404_autocomplete_wrap > input[type="text"]{
    padding-right:30px !important;
}
.themify_404_autocomplete_wrap:after{
    content:'';
    position:absolute;
    top:0;
    right:15px;
    bottom:10px;
    margin:auto 0;
    border:1px solid transparent;
    border-top-color:#999;
    border-right-color:#999;
    border-radius:50%;
    width:10px;
    height:10px;
    visibility:hidden;
    opacity:0;
    transition:opacity .3s ease;
}
.themify_404_autocomplete_wrap.themify_autocomplete_run:after{
    visibility:visible;
    opacity:1;
    animation:circle-loader .7s infinite linear;
}

/* custom post type sidebar options */
#themify_custom_post_type_layouts .label {
    font-weight: normal;
}
#themify_custom_post_type_layouts h4 {
    border-top: solid 1px #eee;
    padding: 1em 0 .5em;
}

/* Themify panel search */
#themify .search-setting-holder{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0;
	border-bottom: 1px solid #ccc;
	margin-left: 20px;
	margin-bottom: 20px;
}
#themify .search-icon {
	margin-bottom: 0;
	font-size: 19px;
}
#themify #search-setting{
    background: transparent;
    color: #666;
	width: 76%;
	border: 0;
	padding-left: 0;
	border-radius: 0;
	outline: none;
	box-shadow: none;
}
#themify #search-setting:focus {
    box-shadow: none;
    outline: none;
}
#themify .clear-search{
	display: none;
	cursor: pointer;
	margin-right: 8px;
	font-size: 11px;
	color: #666;
}

#themify .clear-search.show{
	display: block;
}

.searching fieldset,
#setting.searching .subtab:not(.contain-result){
	display: none !important;
}
.searching .contain-result,
.searching .contain-result .themify_panel_fieldset_wrap{
	display: block !important;
	min-height: auto !important;
}

.searching .contain-result .ti-plus:before {
	content: "\e622";
}

#themify #setting.not-found{
	margin: 50px 32px 30px 0;
}

#themify mark {
	padding: 0;
	background-color:yellow;
}

/* note */
#themify .note {
    padding: 20px 50px 20px 30px;
    margin: 30px 0 40px;
    border-radius: 5px;
    background: #ffe487;
    color: #786d45;
    position: relative;
}
#themify .note a {
	color: #a62429;
	border-bottom: solid 1px rgba(0,0,0,.1);
}
#themify .note a:hover {
	color: #000;
}

/* Hook Content conditions lightbox
---------------------------------------------------------------*/
.themify-visibility-items-search {
    margin-bottom: 10px;
}
.themify-admin-lightbox .themify-visibility-pagination {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    clear: both;
    text-align: center;
}
.themify-admin-lightbox .themify-visibility-pagination span, .themify-admin-lightbox .themify-visibility-pagination a {
    display: inline-block;
    width: 28px;
    height: 26px;
    margin: 0 2px;
    padding: 0;
    line-height: 26px;
    text-decoration: none;
}
.themify-admin-lightbox .themify-visibility-pagination .current {
    border:solid 1px rgba(0,0,0,.1);
    border-radius:5px;
}
.themify-admin-lightbox .themify-visibility-pagination a.next,
.themify-admin-lightbox .themify-visibility-pagination a.prev {
    line-height: 23px;
}
.themify-admin-lightbox .themify-visibility-pagination a.next:before,
.themify-admin-lightbox .themify-visibility-pagination a.prev:before {
    top: 2px;
}
.themify-visibility-items-page.is-hidden,
.themify-visibility-inner-tab.is-hidden {
    display: none;
}
.themify-visibility-items-inner {
    padding-top: 10px;
}

#hook-content-list,
.themify-add-hook,
.themify-visibility-toggle {
    position: relative;
}
.themify-visibility-toggle {
    line-height: 30px !important;
}

/* slider loading animation */
.tb_slider_loader_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
}
.tb_slider_loader,
.tb_slider_loader:before,
.tb_slider_loader:after{
    background:#000;
    border-radius:0;
    width:8px;
    height:15px;
    animation:horizontal-loader 1s infinite ease-in-out;
}
.tb_slider_loader:before,
.tb_slider_loader:after{
    position:absolute;
    top:0;
    content:'';
}
.tb_slider_loader:before{
    left:-1.5em;
    animation-delay:-.32s;
}
.tb_slider_loader{
    margin:88px auto;
    position:relative;
    font-size:11px;
    animation-delay:-.16s;
}
.tb_slider_loader:after{
    left:1.5em;
}
.tb_slider_loader_wrapper .tb_slider_loader {
    display: block;
    position: relative;
    left: 20px;
    margin: 0;
}
.themify_lightbox_uncheck_container {
    position: relative;
    margin: 0;
	float: left;
}

/* clear API cache */
#themify_setting_optin_clear_cache p {
	margin-top: 15px;
}
/* Changelog modal in theme settings page
---------------------------------------------------------------*/
.prompt-box{
	display:none;
	margin:-80px 0 0 -160px;
	padding:15px 30px;
	color:#ccc;
	width:260px;
	position:fixed;
	top:50%;
	left:50%;
	z-index:100;
	background-color:rgba(0,0,0,.8);
	border-radius:15px;
	box-shadow:0 1px 10px rgba(0,0,0,.4)
}
.overlay{
    display:none;
    background:#000;
    opacity:.5;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:99;
    position:absolute;
}
/* Changelog */
.show-changelog{
    background:#fff;
    padding:15px;
    width:60%;
	left: 180px;
	right: 1.7%;
	margin: 0 auto;
    height:70%;
    top:25%;
}
.show-changelog iframe{
    width:100%;
    max-width:100%;
    height:100%;
}
/* Media Queries
---------------------------------------------------------------*/
@media only screen and (max-height:760px){
    #themify p{
        margin:0 0 1em;
    }
}
@media only screen and (max-width:1000px){
    #themify #theme-title {
        right: 20px;
        top: 10px;
    }
    #themify .top-save-btn {
        right: 20px;
        top: 45px;
    }
    #themify .preview-icon-wrapper,
    #themify .label{
        width:auto;
        display:block;
        float:none;
    }
    #themify .pushlabel{
        padding-left:0;
    }
    #themify #theme-title em{
        display:inline-block;
    }
    #themify #maintabnav{
        padding-left: 3%;
        height:auto;
        padding-top: 90px;
    }
    #themify #maintabnav a{
        min-width:40px;
        padding:40px 22px;
        font-size:.95em !important;
    }
    #themify #maintabnav a:hover{
        padding:64px 22px 0;
    }
    #themify #maintabnav a:hover:before{
        margin-bottom:.85em;
    }
    #themify #maintabnav .ui-tabs-selected a,
    #themify #maintabnav .ui-tabs-selected a:hover,
    #themify #maintabnav .ui-tabs-active a,
    #themify #maintabnav .ui-tabs-active a:hover{
        padding-top:64px;
        padding-bottom:20px;
    }
    #themify #maintabnav .ui-tabs-selected,
    #themify #maintabnav .ui-tabs-selected:hover,
    #themify #maintabnav .ui-tabs-active,
    #themify #maintabnav .ui-tabs-active:hover{
        margin-top:5px;
    }
    #themify #maintabnav .ui-tabs-selected a:before,
    #themify #maintabnav .ui-tabs-selected a:hover:before,
    #themify #maintabnav .ui-tabs-active a:before,
    #themify #maintabnav .ui-tabs-active a:hover:before{
        margin-bottom:1.4em;
    }
    #themify .subtabnav{
        width:200px;
        font-size:.9em;
    }
    #themify .subtab{
        padding-left:220px !important;
    }
    #themify .subtabnav a{
        padding: 5px;
        white-space: normal;
    }
    #themify legend{
        font-size: 1.2em;
    }
    #themify .width10{
        width:100%;
    }
    #themify .ui-widget select{
        height:auto;
    }
    #themify .minicolors-swatch,
    .themify_field_row .minicolors-swatch{
        width:21px;
        height:21px;
        margin:-2px -3px 0 0;
    }
	#themify #maintabnav li::before, #themify #maintabnav li:after {
	bottom:0;
	}
}
@media only screen and (max-width:820px){

    #themify .width4,
    #themify .width6,
    #themify .width8{
        max-width:100%;
    }
    .themify-admin-lightbox{
        width:80%;
        padding:20px 5%;
        left:5%;
        margin-left:0;
    }
}
@media only screen and (max-width:800px){
    #demo-import-notice{
        margin-left:0;
        left:0;
    }
    #themify select{
        max-width:150px;
    }
    #themify #maintabnav a,
    #themify #maintabnav a:hover{
        padding: 0px 13px;
        height:60px;
        text-indent:-999em;
    }
    #themify #maintabnav a:before,
    #themify #maintabnav a:hover:before{
        font-size:1.7em;
        opacity:1;
        visibility:visible;
        text-indent:0;
        bottom:50%;
        margin-bottom:-.5em;
    }
    #themify #maintabnav .ui-tabs-active a,
    #themify #maintabnav .ui-tabs-active a:hover{
        padding: 0 20px;
        height:55px;
    }
    #themify #maintabnav .ui-tabs-active a:before,
    #themify #maintabnav .ui-tabs-active a:hover:before{
        margin-bottom:-.5em;
    }
    #themify #maintabnav .demo-import a{
        width:55px;
    }
}
@media only screen and (max-width:960px){
    #themify .subtabnav.themify_settings_fixed{
        left:56px;
    }
	.show-changelog{
		left: 56px;
	}
}
@media screen and (max-width:782px){
    #themify .label {
        font-size: 1em;
    }
    #themify legend {
        font-size: 1.15em;
    }
    #themify fieldset fieldset legend {
        font-size: 1.1em;
    }
    #themify .search-setting-holder {
        margin-left: 7px;
    }
    #themify .subtabnav.themify_settings_fixed{
        left: 10px;
    }
	#themify .skin-preview:nth-of-type(n) {
		width: 48%;
		clear: none;
		margin-left: 4%;
	}
	#themify .skin-preview:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
	#themify .skin-preview > a{
		width: 100%;
	}
	#themify .subtabnav,
	#themify .subtabnav.themify_settings_fixed {
		position: static !important;
		width: 100%;
		margin-top: 20px;
		text-align: left;
		padding-left: 5px !important;
	}
	#themify .subtabnav li {
        width: 50%;
        margin: 0 !important;
        padding: 0 !important;
        float: left;
        clear: none;
        box-sizing: border-box;
    }
    #themify .subtabnav a {
        font-size: 13px;
        padding-left: 22px;
    }
	#themify .subtabnav a:after {
		right: 0;
		left: 5px;
		font-size: .9em;
	}
	#themify .subtab {
		padding-left: 10px !important;
		margin-right: 10px;
		margin-top: 20px;
	}
	#themify #bottomtab .reset {
	    font-size: .9em;
	    right: 115px;
	    top: 32px;
	}
	#themify #bottomtab .reset strong {
	    font-size: 13px;
	}
	#themify #logo {
	    left: 20px;
	}
	#themify .btm-save-btn {
	    right: 20px;
	}
	#themify .biggest-transfer-btn {
	    font-size: 1em;
	}
	#themify .big-button,
	#themify .ui-tabs .biggest-transfer-btn .plupload-import, 
	#themify .biggest-transfer-btn .export, 
	#themify .biggest-transfer-btn .plupload-import {
	    font-size: 1.05em !important;
	}
	.show-changelog{
		left: 0;
		right: 0;
	}
}
@media screen and (max-width:680px){
#themify .tf_import_images {
	margin-left:0;
	display:block;
	margin-top: 1em;
}
}