/*
Theme Name: Sex Toys Theme
Theme URI: http://imaginatewebsites.com.au
Author: Chillidee
Description: Bootstrap theme for Sex Toys store

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300);

/*------------------------------Common and standard elements---------------
-------------------------------------------------------------------------*/
ul {
    list-style-type: none;
    padding-left: 0;
}
/*------------------------------------Helper classes----------------------
-------------------------------------------------------------------------*/
.clear {
    clear: both;
    float: none;
    height: 10px;
}
html,body{
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Merriweather Sans', sans-serif;
}
a {
    font-size: 15px;
    color: #fff;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.right {
    text-align: right;
    float: right;
}
.left {
    text-align: left;
    float: left;
}
.centered {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.cat-overlay-image,.cat-overlay-description {
    width: 40%;
    height: 100%;
    float: left;
    overflow: hidden;
}
.cat-overlay-description {
    width: 60%;
}
.clear::after {
    clear: both;
}
.spacer_25_before::before, .spacer_25_after::after, .spacer_50_before::before, .spacer_50_after::after, .spacer_100_before::before, .spacer_100_after::after, .spacer_200_before::before, .spacer_200_after::after {
    clear: both;
    content: '';
    display: block;
}
.spacer_25_before::before, .spacer_25_after::after {
    height: 25px;
}
.spacer_50_before::before, .spacer_50_after::after {
    height: 50px;
}
.spacer_100_before::before, .spacer_100_after::after {
    height: 100px;
}
.spacer_200_before::before, .spacer_200_after::after {
    height: 200px;
}
.full_width_img, .full_width {
    display: block;
    width: 100%;
}

.copyright p{
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

footer{
    background-color: #6b6b6b;
}

.menu-item {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 10px 15px;
}

.menu-item a {
    color: #585858;
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
}
.main-navigation {
    border-top: 1px solid #585858;
    margin-top: 20px;
    border-bottom: 1px solid #585858;
}
.main-navigation ul{
    margin: 0;
}
.banner-text {
    text-align: center;
    position: absolute;
    display: block;
    color: #fff;
    font-size: 60px;
    top: 50px;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
    font-style: italic;
}
.banner-button {
    background-color: #706b6b;
    padding: 10px 20px;
    font-size: 27px;
    /*font-family: 'Muli', sans-serif;*/
    color: #fff;
    border: #999 1px solid;
}
.home-products h2{
    font-size:38px;
    color:#706b6b;
    /*font-family: 'Muli', sans-serif;*/
    text-align:center;
    font-weight:300;
}
.home-double-lines {
    border-top: 1px solid #706b6b;
    border-bottom: 1px solid #706b6b;
    padding: 1px 0;
    top: 40px;
}
.home-popular-products,.home-popular-products a{
    text-align:center;
    color:#706b6b;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
}
.wishlist-quantity p{
    color:#706b6b;
    display: inline-block;
    padding: 5px;
}
.wishlist-quantity .fa.fa-plus,.wishlist-quantity .fa.fa-minus{
    border:1px solid #706b6b;
    font-size: 14px !important;
    color:#706b6b;
    padding: 5px;
}
.home-popular-products h3{
    font-size:35px;
}
.home-popular-products p{
    font-size:17px;
}
.home-popular-products h4{
    font-size:26px;
}
.row.banner img {
    width: 100%;
    height: auto;
}
.home-popular-products img {
    width: 100%;
    height: auto;
    padding: 10%;
    border: 1px solid #ccc;
}
.cart-row{
    background-color:#6b6b6b;
    margin-bottom:20px;
}
.cart-row p, .cart-row a,.mobile-nav a{
    color: #fff;
    padding: 15px 0;
    font-size: 22px;
    /*font-family: 'Muli', sans-serif;*/
    margin: 0;
    font-weight: 300;
}
.cart-row a,.cart-row i,.mobile-nav a,logininout{
    font-size: 18px;
    position: absolute;
    margin-top: 5px;
    padding:10px 0;
}
.fa.fa-heart, .fa.fa-cart-plus {
    padding: 5px 0;
    font-size: 30px;
    text-align: center;
    color: #000;
}
.cart-header p, .fav-header p {
    border-radius: 50%;
    background-color: rgb(194,192,192);
    text-align: center;
    /* position: absolute; */
    width: 25px;
    height: 25px;
    /* top: 10px; */
    left: 40px;
    font-size: 15px;
    /* padding: 2px 0; */
    margin-top: 5px;
}
.cart-header a {
    color: #000;
    margin: 0;
    padding: 0;
}
.fav-header p {
    border-radius: 2px;
}
.header-wish, .header-cart {
    left: 15px !important;
    top: 35px !important;
    background-color: transparent !important;
}
.logininout {
    margin: 13px 0 !important;
    padding: 5px 0 !important;
    font-size: 18px !important;
}
.col-5-lg {
    width: 20%;
    float: left;
    text-align: center;
}
.row.wishlist-title {
    border-bottom: 2px solid #ccc;
}
.wishlist-row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.wishlist-button {
    border: none;
    background-color: transparent;
    margin-left: 62%;
}
.product-image img {
    max-height: 250px;
    max-width: 250px;
}
.related-product img {
    max-height: 220px;
    max-width: 220px;
}
.row.wishlist-title a,.row.wishlist-title h1,.wishlist-subtitle h2,.col-5-lg a h3{
    color: #000;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
    font-style: italic;
    margin: 10px 0;
}
button{
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
    font-style: italic;
}
.cart-button {
    background-color: #e0393d;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
}
#email-wishlist-iframe, #email-wishlist-frame {
    position: fixed;
    width: 50%;
    height: 75%;
    margin: 5% 25%;
    z-index: 102;
    top: 0;
    left: 0;
    background-color: #315D81;
    border: none;
    overflow: hidden;
    min-height: 750px;
}
.remove-from-wishlist,#clear-wishlist {
    margin-top: 10px;
    background-color: transparent;
    border: none;
}
.wishlist-row input {
    cursor: default;
    width: 30px;
    text-align: center;
}
.wishlist-bottom-buttons {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px 20px;
}
.wishlist-bottom-buttons-container {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.wishlist-action a {
    display: block;
    margin: 10px 0;
}
.remove-item-from-wishlist {
    color: #000;
    text-align: right;
}
.row.wishlist-title h1{
    font-size: 32px;
    color: #706b6b;
}
.wishlist-subtitle .col-5-lg h2{
    font-size: 24px;
    color: #706b6b;
    width: auto;
}
.signInBox {
    position: fixed;
    width: 50%;
    z-index: 100;
    left: 25%;
    top: 5%;
    background-color: #315D81;
    display: none;
}
.user_name_error {
    width: 100%;
    text-align: center;
    margin: 10px;
    color: rgb(224,57,61) !important;
}
.wishlist-email-response{
    margin-top: 20px;
}
.woocommerce-error {
    color: #E0393D;
    text-align: center;
    font-size: 20px;
}
.cart-conents-overlay, .wishlist-conents-overlay {
    width: 336px;
    position: absolute;
    height: 500px;
    top: 100px;
    z-index: 101;
    overflow: hidden;
    background-color: #fff;
    display: none;
    border: 1px solid #ccc;
    right: 15px;
}
.onsale {
    display: none;
}
.regular-price {
    color: #ccc;
    float: right;
    margin-right: 22px;
}
.wishlist-text-page {
    /* font-family: 'Muli', sans-serif; */
    text-align: center;
    font-size: 14px;
    color: #6b6b6b;
    margin-top: 10px;
    margin-left: 43%;
}
#wishlist-heart-icon {
    padding: 5px 3px;
    color: #E0393D;
    font-size: 15px;
}
.quantity.buttons_added {
    float: right;
}
.heart-box {
    border: #E0393D solid 2px;
    margin: 0 auto;
    width: 32px;
}
.fav-header .wishlist-link {
    margin: 0;
    padding: 0;
    width: 0;
}
.wishlist-conents-overlay {
    left: 38px;
    top: 62px;
}
.cart-conents-container{
    width: 90%;
    height:90%;
    margin: 5%;
}
.subtotal-container {
    border-bottom: 1px #000 solid;
    width: 100%;
    margin: 0;
    overflow: hidden;
    height: auto;
    border-top: 1px #000 solid;
}
.cat-overlay-image img {
    width: 70%;
    height: auto;
    margin: 0 15%;
    padding: 11px;
}
.cart-items-container {
    height: 50%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.fa.fa-angle-down,.fa.fa-angle-up {
    position: absolute;
    display: block;
    top: 56%;
    text-align: center;
    width: 90%;
    font-weight: bold;
    display: none;
}
#cart-scroll-up {
    top: 7%;
}
.cat-overlay-description p {
    position: relative;
    color: #000;
    border: none;
    background-color: #fff;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0 10px;
    left: unset;
    color: #706b6b;
    top: unset;
    font-size: 14px;
}
.cart-item-container a {
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 10px;
}
.cart-conents-container h3, .cat-overlay-description h4, .cart-subtotal-left-col h4, .cart-subtotal-right-col h4, .paymentContainer h4 {
    border-bottom: 1px solid #000;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 20px;
    /*font-family: 'Muli', sans-serif;*/
    font-style: italic;
    color: #706b6b;
}
.cart-item-container {
    position: relative;
    float: left;
}
.cat-overlay-description h4, .cart-subtotal-right-col h4,.cart-subtotal-left-col h4,.paymentContainer h4 {
    color: #706b6b;
    font-size: 16px;
    border: none;
    padding: 0 10px;
    text-align: left;
}
.paymentContainer h4 {
    text-align: center;
}
.cart-subtotal-left-col,.cart-subtotal-right-col {
    width: 50%;
    float: left;
    position: relative;
}
.cart-subtotal-right-col h4{
    text-align: right;
}
.header-border-cart {
    height: 90%;
    margin: 5% 0;
    border-right: #fff 1px solid;
    padding: 0 60%;
}
.signInBox img{
    width: 100%;
    height: auto;
}
.footer-images img{
    width:100%;
    padding:20px 0;
}
.fa.fa-times {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.left-col, .right-col {
    width: 45%;
    float: left;
    padding: 0 2.5%;
    margin: 0 2.5%;
}
.right-col {
    border-left: 1px solid #fff;
}
.menu-footer-left-container .menu-item a,.menu-footer-right-container .menu-item a {
    color: white;
    font-weight:400;
    font-size:15px;
}
.menu-footer-left-container .menu-item,.menu-footer-right-container .menu-item {
    width:100%;
    text-align:left;
}
.menu-footer-left-container,.menu-footer-right-container{
    margin:20px 0;
}
.menu-footer-left-container::before,.menu-footer-right-container::before {
    content: 'Help';
    padding: 0 17px;
    color: white;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.menu-footer-right-container::before {
    content: 'Sextoys';
}
.footer-sub{
    margin-top: 20px
}
.footer-sub p,.footer-sub button{
    color: white;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
}
.footer-sub button{
    background-color: #000;
    /*font-family: 'Muli', sans-serif;*/
    border: none;
    padding: 3px 10px;
    color: #fff;
    font-size: 15px;
}
.signInBoxcontainer h2, .signInBoxcontainer h3, .signInBoxcontainer p, .signInBoxcontainer label, .signInBoxcontainer button,.signInBoxcontainer strong,.signInBoxcontainer, #send-wishlist-text-container h2, #send-wishlist-text-container h3, #send-wishlist-text-container p{
    color: #fff;
    /*font-family: 'Muli', sans-serif;*/
    display: block;
    font-weight: normal;
}
.signInBoxcontainer strong {
    color: red;
    margin: 10px 0;
    display: inline-block;
}
.signInBoxcontainer label{
    margin: 10px 0;
}
.signInBoxcontainer button,#send-wishlist-button{
    background-color: rgb(63,203,255);
    padding: 10px 15px;
    border: none;
    width: 60%;
    margin: 20px 20%;
}
#send-wishlist-button{
    color:#fff;
}
.signInBoxcontainer input,#send-wishlist-text-container input,#send-wishlist-text-container textarea{
    /*font-family: 'Muli', sans-serif;*/
    font-weight: normal;
    background-color: rgb(57,159,205);
    border: none;
    width: 75%;
    color: #fff;
    padding: 10px 5px;
}
#send-wishlist-text-container input,#send-wishlist-text-container textarea{
    width:100%;
}
.requested-to-cart{
    width: 80%;
    margin: 0 10%;
}
.create_account label{
    display: inline-block;
}
footer{
    margin-top: 10px;
}
.field_row{
    margin: 10px 0;
}
.field_row input {
    width: 60%;
    margin: 0 2.5%;
}
.field_row label {
    width: 30%;
    margin: 0 2.5%;
}
.create_account{
    width: 90%;
    margin: 0 5%;
}
.signInBoxcontainer h2, #send-wishlist-text-container h2{
    text-align: center;
    text-transform: uppercase;
}
.footer-sub input {
    /*font-family: 'Muli', sans-serif;*/
    border: none;
    color: #6b6b6b;
    font-size: 15px;
    padding:3px 10px;
}
.social-icons .fa {
    color: white;
    font-size: 25px;
    margin: 10px 0;
}
.banner {
    position: relative;
}
.mobile-nav{
    display:none;
    background-color:#999;
}
.mobile-nav img {
    max-width: 100px;
    width: 60%;
    margin: 25px 20%;
}
.mobile-middle{
    background-color:#999;
}
.mobile-middle p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
}
.mobile-nav-white-line{
    border-right:1px solid #fff;
    width:1px;
    height:90px;
    margin:5px 0;
    background-color:#999;
    float:left;
}
.mobile-nav-outer{
    background-color:#6b6b6b;
}
.mobile-middle-first {
    height: 90px !important;
    margin: 5px 0;
    border-right: 1px solid #fff;
}
.mobile-middle i {
    margin-top: 10px;
}
.mobile-middle-first i {
    margin-top: 10px;
}
.mobile-nav-data-circles{
    padding:3px;
    border-radius:50%;
}
.mobile-nav-data-circles {
    border-radius: 50%;
    background-color: #ccc;
    margin: 15px -10px;
    height: 26px;
    width: 26px;
    padding: 3px 7.5px;
}
.mobile-middle {
    height: 90px !important;
    margin: 5px 0;
}
.mobile-middle a{
    margin:0;
    padding:0;
}
.mobile-footer-menu{
    display: none;
}
.mobile-footer-menu a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 15px;
}
.footer-sub-menu {
    background-color: #999;
    border-top: #666 solid 1px;
    padding: 10px 15px;
}
.connect-title{
    display:none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.connect-title h3{
    margin: 11px 0;
}
.mobile-footer-social{
    display: none;
}
.fa.fa-plus {
    color: #fff;
    margin-top: 12px;
    font-size: 20px;
}
.mobile-footer-menu h3 {
    margin-left: 15px;
}
.mobile-footer-menu .col-xs-2 {
    margin-left: -22px;
}
#wishlistButton {
    width: 100%;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(57,159,205);
}
.mobile-menu{
    display: none;
}
.mobile-menu {
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #666;
    display: none;
}
.mobile-menu ul{
    padding: 20px 0;
}
.mobile-menu .menu-item {
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
}
.mobile-menu .menu-item a{
    color:#000;
    position: relative;
    padding: 5px 0;
}
.mobile-menu h3{
    text-align: left;
    width: 90%;
    border-bottom: 1px solid #666;
    margin: 10px 5%;
    padding: 5px 0;
}
.product-image img{
    margin: 0 auto;
}
.summary h1, .product-aviliable {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    color: #706b6b;
}
.product_meta {
    display: none;
}
.related.products {
    display: none;
}
.stock,.tabs{
    display: none;
}
.price{
    color: #E0393D;
    width: 200px;
}
.product-page-price{
    padding: 0;
}
.cart button {
    width: 100%;
    border: none;
    background-color: #E0393D;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    /*font-family: 'Muli', sans-serif;*/
}
.cart{
    border-bottom: 1px #ccc solid;
}
h1,.price,.product-aviliable{
    font-size: 23px;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 400;
}
.product-related-title, .related-product h4, .product-breadcrumb, .product-breadcrumb a, .sidebar h2, .sidebar h3 {
    color: #706b6b;
    font-size: 43px;
    /* font-family: 'Muli', sans-serif; */
    font-weight: 300;
    border-bottom: 1px solid #999;
    margin-top: 20px;
}
select {
    /* font-family: 'Muli', sans-serif; */
    font-weight: 300;
    background-color: rgb(229,229,229);
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #999;
    color: #000;
    border-radius: 2px;
}
.sidebar select{
    margin: 20px 0;
}
.product-breadcrumb, .product-breadcrumb a{
    font-size: 15px;
    border: none;
}
.related-product h4 {
    font-size: 17px;
    border: none;
    text-align: center;
    /* height: 70px; */
    padding: 10px;
    margin: 0;
}
.sidebar a {
    font-size: 19px;
    color: #706b6b;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
    font-style: italic;
}
a:active {
    color: #E0393D;
}
.related-product p {
    font-size: 16px;
    color: #706b6b;
    /* font-family: 'Muli', sans-serif; */
    font-weight: 300;
    width: 90%;
    margin: 0 5%;
    left: 0;
}
.sidebar h2, .sidebar h3, .no-products {
    font-size: 36px;
    margin: 0;
    padding: 10px 0;
    color: #706b6b;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
}
.sidebar .cats h3{
    padding: 5px 0;
}
.sidebar h3 {
    font-size: 18px;
    border-bottom: none;
    display: inline;
}
.product-image img{
    display: block;
    margin: 0 auto;
}
.related-price {
    text-align: center;
}
.product-aviliable{
    font-size:20px;
}
.product-image {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}
.image-box img {
    /* border: 1px solid #ccc; */
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
    padding: 5%;
}
.input-text.qty.text {
    border: none;
    text-align: center;
    width: 40px;
    color: #706b6b;
}
.product {
    overflow: hidden;
    margin-bottom: 20px;
}
.plus, .minus {
    background-color: transparent;
    border: 1px solid #999;
    padding: 4px 10px;
    width: 40px;
    height: 40px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}
input[type=number] {
    -moz-appearance:textfield;
}
.product-description {
    color: #706b6b;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
}
.Sextoys-menu-container,.Help-menu-container{
    overflow: hidden;
}
.mobile-footer-border{
    display: none;
    border-bottom:#fff solid 1px;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.clear-space-20 {
    overflow: hidden;
    height: 20px;
    width: 100%;
    background-color: transparent;
}
.menu-overlay {
    background-color: rgba(233,233,233,0.9);
    height: 200px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 99;
    max-width: 1170px;
    margin-top: 52px;
}
.ubermenu .ubermenu-target-text {
    color: #706b6b;
    width: auto;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
.page-title-cat {
    padding-bottom: 10px;
    color: #706b6b;
    font-style: italic;
    font-weight: 300;
    font-size: 50px;
}
.page-title-des p{
    margin: 0;
    /*font-family: 'Muli', sans-serif;*/
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
}
.page-title-des {
    padding: 15px 15px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.buttonContainer .checkout-button,.buttonContainer .paypal-button {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 5px 10px;
    display: block;
    position: relative;
}
.buttonContainer .paypal-button {
    background-color: rgb(255,296,57);
    border: 1px solid #f0a20d;
    color: #000;
    text-transform: none;
}
.buttonContainer .paypal-button img{
    height: 38px;
    display: inline-block;
}
.paymentContainer,.buttonContainer {
    overflow: hidden;
    height: auto;
    margin-top: 5px;
    width: 100%;
}
.buttonContainer .paypal-button img {
    height: 24px;
    display: inline-block;
    margin-left: 5px;
}
.cart-conents-overlay .cart-conents-container .cart-item-container .remove-item-from-cart{
    color: #000;
    position: absolute;
    font-size: 17px;
    top: 0;
    margin: 0;
    padding: 0;
    right: 1px;
    z-index: 101;
}
.ubermenu .ubermenu-nav .ubermenu-column-1-4 {
    width: 30%;
    margin: 0 1%;
}
.ubermenu .ubermenu-target-with-image > .ubermenu-target-text {
    position: absolute;
    bottom: 5px;
    z-index: 101;
    color: #fff;
    background-color: #999;
    width: 40%;
    left: 49%;
    padding: 5px 5%;
    margin: 0;
    text-align: center;
}
.ubermenu .ubermenu-item-layout-image_above > .ubermenu-image {
    margin-bottom: 0px;
}
.ubermenu .ubermenu-item-type-column > .ubermenu-submenu-type-stack > .ubermenu-item-normal:first-child {
    width: 100%;
}
.wishlist-subtitle {
    border-bottom: 2px solid #ccc;
}
.home-mobile-scroll-buttons {
    display: none;
    position: absolute;
    top: 110px;
    z-index: 88;
    font-size: 30px !important;
    height: 50px;
    width: 50px;
    padding: 11px;
    background-color: #000;
    color: #fff;
}
.home-products .row{
    position: relative;
}
.home-mobile-scroll-button-right {
    padding: 11px 16px;
    right: 50px;
}
.home-mobile-scroll-button-left {
    left: 50px;
}
#logged-in-user-dropdown {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}
.dropdown-menu {
    margin: 25px 0 0;
}
.dropdown-menu li {
    overflow: hidden !important;
    height: 32px;
}
.woocommerce a {
    color: #000;
}
.empty-wishlist h3 {
    margin-bottom: 25.5%;
}
.fa.fa-chevron-left.home-mobile-scroll-buttons.home-mobile-scroll-button-left,.fa.fa-chevron-right.home-mobile-scroll-buttons.home-mobile-scroll-button-right {
    display: none;
}
.prev-posts-link a{
    color:#000;
}
.sorted-products .related-product p {
    height: 80px;
}
.price {
    width: 100%;
}
#slider-range {
    margin: 20px 4%;
}
.prev-next-posts {
    text-align: center;
    margin: 20px 0;
    border-top: #999 solid 1px;
    border-bottom: #999 solid 1px;
    padding: 10px 0;
}
.prev-next-posts a {
    color: #000;
}
.loading-screen {
    width: 100%;
    height: 100%;
    background-color: #d8d3da;
    position: absolute;
    z-index: 999;
    top: 0%;
    left: 0;
    display:none;
}
.prev-next-posts.page-nav button {
    background-color: #e5e5e5;
    border: #b0b0b0 solid 1px;
    border-radius: 2px;
    padding: 10px 15px;
    text-align: center;
    display: inline;
    color: #706b6b;
    margin: 5px;
    max-width: 40px;
}
.page-nav-top{
    border: none;
    margin: 0;
    padding: 0;
}
.prev-next-posts.page-nav.page-nav-top button {
    margin: 0;
    padding: 3.5px 8px;
}
.archive-top-sort{
    margin: 10px 0;
}
.col-lg-12.sorted-products {
    margin-bottom: 20px;
}
.mobile-text,.archive-mobile-refine{
    display: none;
}
.woocommerce-main-image.main-product-image.zoom {
    max-width: 90%;
    max-height: none;
    min-width: 80%;
    margin: 0 10%;
}

.validation-error {
    margin-left: 37.5%;
    color: red !important;
}
form input.ng-touched:not(.ng-valid) {
    border: 1px solid red;
}
form input.ng-valid {
    border: 1px solid green;
}
.col-lg-6.footer-images.col-md-6 img {
    width: 60%;
    margin: 0 20%;
}
.fixed-header {
    position: fixed;
    /*    height: 112px;*/
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 101;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.fixed-header .cart-header, .fixed-header .fav-header {
    background-color: rgb(137,137,137);
    height: 100px;
}
.fixed-header .cart-header, .fixed-header .fav-header {
    background-color: rgb(137,137,137);
    height: 71px;
}
.fixed-header .fav-header .wishlist-link {
    margin: 0 auto;
    padding: 0;
    /* overflow: hidden; */
    height: 80px;
    display: block;
    width: 100%;
}
.fixed-header .cart-header p,.fixed-header .fav-header p {
    /*    left: 60%;*/
}
main {
    margin-top: 120px;
}
.home2ImageContainer {
    padding: 10px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("/test123/wp-content/uploads/2016/03/price-arrow.png") no-repeat center center;
    border: none;
    height: 33px !important;
}
#amount {
    font-weight: normal !important;
    color: rgb(112, 107, 107) !important;
}
.archive-page .related-product h4 {
    font-size: 27px;
    border: none;
    text-align: center;
    height: auto;
    margin-top: 0;
    padding: 0 5px 10px;
}
.archive-page .sorted-products .related-product p {
    height: auto;
}
.activeLink{
    color: #f76366 !important;
    text-decoration: underline;
}
.archive-page .related-product {
    margin-bottom: 30px;
    min-height: 530px;
}
.fixed-header h6 {
    /* position: absolute; */
    /* bottom: 5px; */
    /* text-indent: 30px; */
    color: #fff;
    text-align: center;
}
.ubermenu .ubermenu-colgroup .ubermenu-column, .ubermenu .ubermenu-custom-content-padded, .ubermenu .ubermenu-nonlink, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-submenu-padded, .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target, .ubermenu .ubermenu-target, .ubermenu .ubermenu-widget, .ubermenu-responsive-toggle {
    padding: 4px 20px;
}
.logo {
    border-bottom: 1px solid #E0393D;
    z-index: 102;
}
#amount {
    background-color: transparent;
}
.archive-top-sort-container {
    overflow: hidden;
    padding: 10px 15px;
}
.archive-page .related-product .price {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 20px;
}
.archive-page .related-product {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.product-container {
    background-color: #fff;
    margin: 20px 2% 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 21%;
    height: 330px;
}
.product-container .price {
    padding-bottom: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
}
.input-text.qty.text {
    background-color: transparent;
}
.home-top-text,.home-bottom-text {
    font-size: 55px;
}
.home-block-container div, .home-block-container p {
    display: inline-block;
}
.home-images{
    padding: 10px 0;
}
.home-lined {
    border-top: 1px solid #000;
    display: inline-block;
    padding: 8px 10px;
    width: 25%;
}
.text-block {
    position: absolute;
    left: 10%;
    text-align: center;
    bottom: 17%;
}
.red-text {
    color: #E0393D;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
}
p{
    padding: 0;
    margin: 0;
}
.home-lined-text {
    font-size: 40px;
    padding: 0 10px;
    width: 50%;
}
.home2ImageContainer a img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.home-images {
    padding: 0;
    overflow: hidden;
}
.home-cat-hover-text {
    position: absolute;
    width: auto;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    pointer-events: none;
    bottom: 10px;
    right: 10px;
    background-color: #E0393D;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    width: 40%;
}
.home-images img {
    padding: 0px;
    width: 100%;
    overflow: hidden;
}
.container-fluid {
    width: 100%;
    margin: 0;
}
.home-main-image-mobile{
    display: none;
}
.ubermenu-responsive-toggle.ubermenu-responsive-toggle-main.ubermenu-skin-none.ubermenu-loc-.ubermenu-responsive-toggle-content-align-left.ubermenu-responsive-toggle-align-full {
    position: fixed;
    left: 25px;
    padding: 0px;
    margin: 0px;
    color: #000;
    top: 65px;
}
.mobile-menu-container-new {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 25px;
    top: 21px;
    background-color: #E0393D;
}
.arrowToggle::after {
    display: block;
    content: '';
    background: transparent url( '/test123/wp-content/uploads/2016/04/arrow_transform.png' ) no-repeat left 50%;
    width: 21px;
    height: 18px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: background-position 1s ease;
    transform: rotate( 0deg );
    transition: transform 300ms ease;
}
.arrowToggle {
    border: none;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    z-index: 2;
    background-color: transparent;
}
.mobile-menu-items-container {
    position: fixed;
    top: 102px;
    left: 0;
    width: 0%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
#mobileArrowToggle{
    cursor: pointer;
}
.arrowToggleClicked::after {
    background: transparent url( '/test123/wp-content/uploads/2016/04/arrow_transform.png' ) no-repeat right 50%;
    transform: rotate( -180deg );
    transition: transform 300ms ease;
}
.mobile-menu-item {
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-top: 1px solid #ccc;
    padding: 20px 0;
    font-size: 18px;
}
.mobile-menu-items-container div:first-child {
    border-top: none;
}
.mobile-menu-items-container div:last-child {
    border-bottom: none;
}
#mobile-logininout {
    z-index: 102;
}
.menu-main-container {
    display: none;
}
.mobile-menu-item a {
    width: 100%;
    color: #000;
}
.mobile-menu-subitem {
    display: none;
}
.mobile-menu-item a{
    font-size: 18px;
}
.archive-related-link{
    color: #000;
}
.archive-related-links ul li {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    text-align: center;
}
.archive-related-links ul {
    display: block;
    margin: 0 auto;
    width: auto !important;
    text-align: center;
}
.archive-related-links {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.archive-right-col-image-container {
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.archive-right-col-image-container h1, .archive-mobile-cat-image-container h1{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 50px;
    color: #fff;
    font-style: italic;
}
.archive-right-col-image-container p, .archive-mobile-cat-image-container p {
    position: absolute;
    left: 10%;
    top: 35%;
    width: 80%;
    color: #fff;
    font-size: 22px;
}
.archive-right-col img {
    width: 100%;
    filter: grayscale(50%);
}
.archive-product-container {
    border-top: 1px solid #ccc;
    overflow: hidden;
}
.archive-refine-products {
    margin-bottom: 10px;
}
.archive-products-container {
    height: 600px;
    overflow: hidden;
}
.archive-products-child-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17px;
    overflow-y: scroll;
}
.archive-product-image {
    overflow: hidden;
    height: 150px;
    margin: 7px auto;
}
.archive-product-image img {
    height: 100%;
    padding: 5%;
    width: auto;
    margin: auto;
    display: block;
    max-height: 150px;
}
.archive-product-container div {
    margin-bottom: 7px;
}
.archive-right-col-product-image img{
    height: 100%;
    filter: grayscale(0%);
}
.archive-right_col_product_container .wishlist-text-page {
    color: #000;
    position: relative;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    left: 0;
}
.archive-right_col_product_container #wishlist-heart-icon {
    padding: 10px;
    color: #E0393D;
    font-size: 15px;
    border: #E0393D solid 2px;
    text-align: center;
}
.archive-right_col_product_container .heart-box,.archive-right_col_product_container .wishlist-button {
    border: none;
    margin: 0 auto;
    width: 100%;
}
.archive-right-col-product-text h2, .archive-right-col-product-text p{
    color: #000;
    text-align: center;
    width: 100%;
    position: relative;
    left:0;
    top:0;
    margin-bottom: 20px
}
.archive-right-col-product-text p{
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}
.archive-right_col_product_container {
    overflow: auto;
    height: 100%;
    top: -20px;
}
.archive-right-col-product-text .price .amount {
    color: #E0393D;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 30px;
}
.archive-right_col_product_container .fa{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    color: #000;
    margin: 0;
    font-size: 15px;
}
.archive-right_col_product_container input {
    border: none;
    text-align: center;
    color: #000;
    width: 100%;
    font-size: 18px;
}
.archive-right_col_product_container .cart{
    border: none;
}
.main-menu {
    height: 15%;
}
.archive-related-links h3 {
    margin: 10px auto;
}
#wishlist-header {
    display: block;
    margin: 0 auto;
}
.archive-mobile-product-container{
    display: none;
}
.archive-mobile-cat-image-container img {
    width: 100%;
    padding: 10px;
}
.archive-loading-more-prodcuts-info {
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    text-align: center;
    background-color: #fff;
    z-index: 99;
    height: 0px;
    padding: 10px;
}
.archive-no-more-products-message{
    height: 100px;
    text-align: center;
}
.col-lg-12.archive-product-ajax-response {
    padding: 10px;
}
.grey-link {
    color: #999;
}
.archive-right-col .amount {
    margin-bottom: 40px;
}
.varible-product-image {
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: 20px;
    float: left;
}
.varible-product-image img{
    width: 100%;
    height:auto;
}