/* module icons */
.tb_field .selectwrapper:before,
.tb_revision_lists li .builder-delete-revision-btn,
.tb_repeatable_field_top .toggle_row,
.tb_module:before,
.tb_icon:before,
.themify_builder .row_menu .menu_icon:after,
.themify-tooltip-bottom:before,
.themify-tooltip-top:before,
.tb_action_more a:before,
.tb_input .tb_icon_checkbox .apply_all_checkbox_icon,
.tb_down a:before{
    font-family:'themify';
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.tb-module-type-typewriter:before,
.tb-module-type-plain-text:before,
.tb-module-type-text:before{
    content:"\e672";
}
.tb-module-type-portfolio:before{
    content:"\e651";
}
.tb-module-type-feature:before{
    content:"\e6ff";
}
.tb-module-type-pro-image:before,
.tb-module-type-gallery:before{
    content:"\e71e";
}
.tb-module-type-pro-slider:before,
.tb-module-type-slider:before{
    content:"\e6ef";
}
.tb-module-type-pricing-table:before,
.tb-module-type-testimonial-slider:before,
.tb-module-type-testimonial:before{
    content:"\e6b4";
}
.tb-module-type-post:before{
    content:"\e62f";
}
.tb-module-type-image:before{
    content:"\e633";
}
.tb-module-type-video:before{
    content:"\e6ce";
}
.tb-module-type-optin:before{
    content: "\e75a";
}
.tb-module-type-accordion:before{
    content:"\e714";
}
.tb-module-type-box:before{
    content:"\e6e8";
}
.tb-module-type-tab:before{
    content:"\e6eb";
}
.tb-module-type-divider:before{
    content:"\e6e7";
}
.tb-module-type-menu:before{
    content:"\e667";
}
.tb-module-type-highlight:before{
    content:"\e668";
}
.tb-module-type-callout:before{
    content:"\e64f";
}
.tb-module-type-map:before{
    content:"\e691";
}
.tb-module-type-widget:before{
    content:"\e6cb";
}
.tb-module-type-widgetized:before{
    content:"\e6ca";
}
.tb-module-type-layout-part:before{
    content:"\e62e";
}
.tb-module-type-icon:before{
    content:"\e724";
}
.tb-module-type-buttons:before{
    content:"\e68b";
}
.tb-module-type-service-menu:before{
    content:"\e68f";
}
.tb-module-type-fancy-heading:before{
    content:"\e677";
}
/*Addons Icons*/
.tb-module-type-ab-image:before{
    content:"\e6d6";
}
.tb-module-type-audio:before{
    content:"\e689";
}
.tb-module-type-bar-chart:before{
    content:"\e6ba";
}
.tb-module-type-button:before{
    content:"\e71a";
}
.tb-module-type-contact:before{
    content:"\e75a";
}
.tb-module-type-countdown:before{
    content:"\e6c6";
}
.tb_group_element_slidervideos_videos .tb_input{
    width:100%;
}
.tb-module-type-infinite-posts:before{
    content:"\e62f";
}
.tb-module-type-fittext:before{
    content:"\e66a";
}
.tb-module-type-maps-pro:before{
    content:"\e665";
}
.tb-module-type-tile-slider:before,
.tb-module-type-counter:before,
.tb-module-type-pie-chart:before{
    content:"\e684";
}
.tb-module-type-pointers:before{
    content:"\e695";
}
.tb-module-type-progressbar:before{
    content:"\e6ba";
    transform:rotate(90deg);
}
.tb-module-type-tile:before{
    content:"\e630";
}
.tb-module-type-timeline:before{
    content:"\e72b";
}
.tb-module-type-product-categories:before,
.tb-module-type-products:before{
    content:"\e60d";
}
.tb-module-type-masked-image:before{
    content:"\e6f4";
}
.tb-module-type-alert:before {
    content: "\e6c5";
}
.tb-module-type-mosaic:before {
    content: "\e669";
}
.tb-module-type-event-posts:before {
	content: "\e6b6";
}
.tb-module-type-login:before {
	content: "\e603";
}
.tb_placeholder_helper{
    position:absolute;
    top:0;
    left:0;
    z-index:9999999;
    cursor:move;
}
.tb_placeholder_helper.drop_animate{
    transition:top .2s ease-in 0s,left .2s ease-in 0s;
}
/* toolbar module */
.tb_disabled{
    opacity:.4;
    cursor:not-allowed;
}
.tb_module_panel_modules_wrap .tb_module_outer{
    height:66px;
    width: 50%;
    float:left;
    margin: 0;
    border-radius:5px;
    -webkit-box-ordinal-group:2;
    -ms-flex-order:1;
    order:1;
    transition:opacity .3s ease,scale .3s ease;
    box-sizing: border-box;
}
.tb_module_panel_modules_wrap .tb_module_outer:hover{
    background:#fff;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.tb_module_panel_modules_wrap div.tb_module{
    background:transparent;
    box-shadow:none;
    border-radius:5px;
    color:inherit;
    margin:0;
    width:auto;
    height:100%;
    float:none;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content:center;
    padding:0 10px;
	box-sizing: initial;
}
.tb_module_panel_modules_wrap .tb_row_grid:hover .add_module_btn,
.tb_module_panel_modules_wrap .tb_page_break_module:hover .add_module_btn,
.tb_module_outer:hover .add_module_btn,
.tb_library_item_inner:hover .remove_item_btn,
.predesigned_row:hover .add_module_btn{
    display:block;
    color:#fff;
	transform: scale(1);
}
.tb_sort_fields_wrap .tb_sort_fields_plus::before,
.tb_module_panel_modules_wrap a::before, 
.predesigned_row a::before, 
.tb_module_panel_library_wrap a.remove_item_btn::before{
    content:"\e61a";
    font-family:themify;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    text-indent:0;
    font-size:14px;
    text-align: center;
    margin: 0;
}
.tb_module_panel_library_wrap a.remove_item_btn::before{
    content:"\e646";
    text-align:center;
}
.tb_module{
    width:110px;
    padding:0 5px 0 30px;
    margin:0 10px 5px 0;
    height:26px;
    background-color:#9fc6dc;
    cursor:move;
    position:relative;
    color:#fff;
    float:left;
    text-align:center;
    display:table;
    table-layout:fixed;
}
.tb_module .module_name{
    font-size:12px;
    white-space:normal;
    margin:0;
    width:auto;
    font-weight:normal;
    line-height:1.3;
    display:block;
    vertical-align:middle;
    overflow:hidden;
    color:#000;
}
.tb_placeholder_helper .tb_page_break_module,
.tb_placeholder_helper .tb_row_grid,
.tb_placeholder_helper .tb_module,
.tb_placeholder_helper .tb_library_item{
    margin:0 auto;
    display:block;
    overflow:hidden;
    height:30px;
    box-sizing:border-box;
    padding:0;
    background:rgba(177, 233, 255, .5);
    border:1px solid #5fccf7;
    width:180px;
    color:#666;
    box-shadow:none;
    text-align:center;
    line-height: normal;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}
.tb_placeholder_helper .tb_page_break_title,
.tb_placeholder_helper .tb_row_grid_title,
.tb_placeholder_helper .module_name, 
.tb_placeholder_helper .tb_library_item_inner span{
    font-size:13px;
    line-height:1.4em;
    font-weight:bold;
    display:inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: #000;
}
.tb_module::before{
    color:#000;
    font-size:16px;
    height:14px;
    padding:0 0 9px;
    box-sizing: unset !important;
}
.tb_placeholder_helper .tb_predesigned_rows_title,
.tb_placeholder_helper .tb_disable_sorting,
.tb_placeholder_helper .tb_module::before{
    display:none !important;
}
.tb_placeholder_helper .predesigned_row{
    width: 300px;
}
.tb_placeholder_helper img{
    width: 100%;
}
/* toolbar panel top */
.tb_module_panel_tab{
    position:relative;
    clear:both;
    height:100%;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    box-sizing:border-box;
}
.tb_library_item_list[style*="overflow: auto;"],
.tb_predesigned_rows_container[style*="overflow: auto;"],
.tb_module_panel_tab[style*="overflow: auto;"]{
    padding: 0 16px;
}
.tb_float_xsmall .tb_library_item_list[style*="overflow: auto;"],
.tb_float_xsmall .tb_predesigned_rows_container[style*="overflow: auto;"],
.tb_float_xsmall .tb_module_panel_tab[style*="overflow: auto;"]{
    padding: 0 8px;
}
.tb_module_panel_tab .tb_ui_dropdown {
    margin: 0 0 0 15px;
}
.tb_module_panel_search{
    margin: 0 15px 10px;
    position: relative;
}
.tb_clear_input{
    font-size: 11px;
    color: #bbb;
    line-height: 100%;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-family: 'themify';
    font-style: normal;
}
.tb_clear_input::before{
    content: '\e646';
}
.tb_module_panel_search::after{
    position:absolute;
    top: 7px;
    padding:0;
    line-height:1;
    content:'\e610';
    font-family:themify;
    left:8px;
    font-size:16px;
}
div.tb_module_panel_search input[type="text"]{
    position:relative;
    line-height:1;
    font-size:13px;
    background-color:#fff;
    border:solid 1px rgba(0,0,0,.15);
    border-radius:3px;
    box-sizing:border-box;
    margin:0;
    padding: 5px 6px 5px 28px;
    min-width:inherit;
    width:100%;
    height: auto;
    outline:none;
    transition:border-color .4s linear,max-width .2s linear;
    box-shadow:  none;
    color: #666;
}
div.tb_module_panel_search input[type="text"]:focus{
    border-color:rgba(0,0,0,.4);
    color: #000;
	box-shadow: none;
}
.tb_module_panel_rows_wrap, 
.tb_module_panel_library_wrap,
.tb_module_panel_search_text:invalid+.tb_clear_input,
#tb_layout_search:invalid+.tb_clear_input{
    display: none;
}
/* Builder Toolbar Pre-designed and Library rows lists default display */
.tb_modules_panel_wrap ul.tb_module_types:not(.tb_ui_dropdown_items){
    list-style:none;
    margin: 0 0 5px;
    padding: 0 0 0 15px;
    display: block;
    font-size: 14px;
    text-align:left;
    white-space: nowrap;
}
.tb_compact_tabs ul.tb_module_types:not(.tb_ui_dropdown_items){
    white-space: normal;
}
ul.tb_library_types{
    margin-top:0;
}
.tb_module_types:not(.tb_ui_dropdown_items) li{
    display:inline-block;
    vertical-align:bottom;
    margin: 0;
    cursor: pointer;
    position: relative;
    z-index: 10;
    color:#fff;
    padding: 2px 4px 4px;
    border-bottom:1px solid transparent;
    transition:border .3s linear;
    outline:none;
    line-height:1.7em;
}
.tb_module_types:not(.tb_ui_dropdown_items) li.current{
    background: #f1f1f1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #000;
}
.tb_module_types:not(.tb_ui_dropdown_items) > li:hover {
    transform: translateY(-1px);
    transition: transform .3s;
}
.tb_module_types:not(.tb_ui_dropdown_items) .current:hover {
    transform: none;
	transition: none;
}
/* nested module_types tab */
.tb_module_panel_tab .tb_module_type:not(.tb_ui_dropdown_items){
    padding: 0 0 10px 15px;
}
.tb_module_panel_tab .tb_module_types:not(.tb_ui_dropdown_items) .current {
    border-bottom: solid 1px #00a2fb;
    color: #000;
}
.tb_module_panel_tab .tb_module_types:not(.tb_ui_dropdown_items) li{
    padding: 2px 4px 0;  
    color: #666;
}
/* Builder Toolbar Pre-made rows grid list */
.tb_module_panel_tab .tb_rows_grid{
    padding: 0;
    margin: 5px 0 0 0;
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    clear:both;
}
.tb_rows_grid li {
    padding:0;
    margin: 0 0 10px 0;
    list-style:none;
    width: 30%;
}
.tb_module_panel_tab_acc_content .tb_rows_grid li {
    margin: 0 0 10px 0;
}
.tb_rows_grid .tb_row_grid{
    position:relative;
    border-radius: 3px;
    width: 100%;
    height: 32px;
    padding: 4px 6px;
    box-sizing: border-box;
    background-color: #fff;
}

.tb_rows_grid .tb_row_grid:after{
    content:' ';
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border:1px solid #cfcfcf;
    cursor:move;
    border-radius: 3px;
}
.tb_rows_grid .tb_row_grid .tb_row_grid_title {
    background-color: transparent;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-indent: -999em;
	color: transparent;
}
.tb_rows_grid .tb_row_grid_1 .tb_row_grid_title {
    background-color: #363636;
}
.tb_rows_grid .tb_row_grid_2 .tb_row_grid_title {
    background-image: url(../img/builder/row-grids/row_grid2.svg);
}
.tb_rows_grid .tb_row_grid_3 .tb_row_grid_title {
    background-image: url(../img/builder/row-grids/row_grid3.svg);
}
.tb_rows_grid .tb_row_grid_4 .tb_row_grid_title {
    background-image: url(../img/builder/row-grids/row_grid4.svg);
}
.tb_rows_grid .tb_row_grid_5 .tb_row_grid_title {
    background-image: url(../img/builder/row-grids/row_grid5.svg);
}
.tb_rows_grid .tb_row_grid_6 .tb_row_grid_title {
    background-image: url(../img/builder/row-grids/row_grid6.svg);
}
/* Builder Toolbar Pre-made rows grid list */
.tb_module_panel_tab .tb_page_break_module{
    margin:0 0 10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    clear:both;
    box-sizing: border-box;
    background-color: #fff;
    border:1px solid #cfcfcf;
    color: #666;
    border-radius: 3px;
    font-size: 13px;
    position: relative;
}
.tb_module_panel_tab .tb_page_break_module:hover{
    border-color:#999;
    cursor: move;
}
.tb_module_panel_tab .tb_page_break_module .tb_page_break_title{
    padding: 3px 10px;
    margin: 0 auto;
    display: table;
    white-space: nowrap;
}
.tb_module_panel_tab .tb-module-page-break {
    display: none !important;
}
/* Builder Toolbar Pre-designed rows list */
.tb_predesigned_rows_list{
    height: calc(100% - 30px);
    clear:both;
    margin-top: 30px;
    box-sizing: border-box;
}
.tb_predesigned_rows_container{
    height: 100%;
    overflow:hidden;
    position:relative;
}
.tb_busy.tb_predesigned_rows_list .tb_predesigned_rows_container{
    display:none;
}
.tb_predesigned_rows_list .predesigned_row{
    margin:0 0 16px;
    cursor:move;
    width: 100%;
    padding-top: 6px;
}
.tb_module_panel_dropdown .tb_predesigned_rows_list .predesigned_row{
    margin:0 0 16px;
    width:50%;
    float:left;
    text-align:center;
    overflow:hidden;
}
/* Builder Toolbar Pre-designed rows list image */
.tb_predesigned_rows_image{
    margin:0;
    padding:0;
    position: relative;
}
.tb_predesigned_rows_list img{
    width:100%;
    height:auto;
    padding:0;
    margin:0 0 3px;
    box-sizing:border-box;
    cursor:pointer;
    box-shadow:0 1px 4px rgba(0,0,0,.1);
    vertical-align:  bottom;
    outline:solid 3px #fff;
    outline-offset:-3px;
    pointer-events: none;
}
.tb_predesigned_rows_list .tb_predesigned_rows_image:hover img {
    outline-color:#ff9640;
    box-shadow:0 3px 10px rgba(0,0,0,.1);    
}
.tb_predesigned_rows_list .add_module_btn{
    top: -4px;
    right:-4px;
}
.tb_row_grid:hover:after{
    border-color:#666;
}
.tb_sort_fields_plus,
.tb_modules_panel_wrap .add_module_btn,
.tb_modules_panel_wrap .remove_item_btn{
    color: #fff;
    line-height: 26px;
    position: absolute;
    width: 26px;
    height: 26px;
    text-align: center;
    top: -4px;
    right: -3px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    transition: transform .25s;
    transform: scale(0);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.tb_sort_fields_plus,
.tb_modules_panel_wrap .add_module_btn{
    background:#52bb33;
}
.tb_modules_panel_wrap .remove_item_btn{
    background:#E15855;
}
.tb_module_outer .add_module_btn:hover,
.tb_library_item_inner .remove_item_btn:hover {
	transform: scale(1.1);
}
/* Builder Toolbar Pre-designed rows list title */
.tb_predesigned_rows_title{
    font-size:12px;
    line-height:1.2em;
    letter-spacing:0;
    color:#666;
    line-height:normal;
    margin: 5px 0 0;
}
/* Builder Toolbar Library Item List */
#tb_module_panel .tb_library_item{
    display:block;
    width:100%;
    margin: 7px 0;
    position:relative;
}
.tb_library_item_list{
    padding:5px 0 0;
    margin:0;
    clear:both;
    overflow:hidden;
    position:relative;
    height:90%;
    -webkit-overflow-scrolling:touch;
}
.tb_library_item_list .tb_library_item span{
    display:inline-block;
    box-sizing:border-box;
    background-color:#fff;
    border: 1px solid #ddd;
    color:#666;
    padding:10px;
    width:100%;
    line-height:1.4em;
    font-size:13px;
    text-align:center;
    cursor:move;
    border-radius:3px;
}
.tb_library_item_list .tb_library_item:hover span{
    opacity:1;
    border-color: #aaa;
}
/************************************************************************************
Simple Bar
*************************************************************************************/
.simplebar-scroll-content{
    height:100% !important;
    overflow-x:hidden;
    overflow-y:scroll;
    width:100% !important;
    position:relative;
    z-index:0;
    box-sizing:border-box;
    min-height:100%;
    margin-left: 17px;
    padding-right: 17px;
}
.simplebar-content{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    scroll-behavior: smooth;
}
.simplebar-track{
    z-index:1;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:11px;
}
.simplebar-track .simplebar-scrollbar{
    position:absolute;
    right: 1px;
    border-radius:7px;
    min-height:10px;
    width: 8px;
    opacity:0;
    transition:opacity .2s linear;
    background:#6c6e71;
    background-clip:padding-box;
}
.simplebar-track:hover .simplebar-scrollbar{
    opacity:.7;
    transition:opacity 0s linear;
}
.simplebar-track .simplebar-scrollbar.visible{
    opacity:.7;
}
.horizontal.simplebar-track{
    display:none;
}
.tb_predesigned_rows_list .predesigned_row[data-slug^="empty-"]{
    width:33%;
    margin-bottom:0;
}
.tb_predesigned_rows_list .predesigned_row[data-slug^="empty-"] .tb_predesigned_rows_title,
.tb_predesigned_rows_list .predesigned_row[data-slug^="empty-"] img{
    display:none;
}
.tb_predesigned_rows_list .predesigned_row[data-slug^="empty-"] figure{
    display:inline-block;
    background:url("../img/builder/row-grids.png") no-repeat;
    background-size:cover;
    width:55px;
    height:36px;
}
.tb_predesigned_rows_list .predesigned_row[data-slug="empty-1"] figure{
    background-position:-4px -3px;
}
.tb_predesigned_rows_list .predesigned_row[data-slug="empty-2"] figure{
    background-position:-59px -3px;
}
.tb_predesigned_rows_list .predesigned_row[data-slug="empty-3"] figure{
    background-position:-115px -3px;
}
.tb_predesigned_rows_list .predesigned_row[data-slug="empty-4"] figure{
    background-position:-170px -3px;
}
.tb_predesigned_rows_list .predesigned_row[data-slug="empty-5"] figure{
    background-position:-226px -3px;
}
.tb_predesigned_rows_list .predesigned_row[data-slug="empty-6"] figure{
    background-position:-283px -3px;
}
/* TOOLBAR MENU */
.tb_toolbar_menu{
    margin:0;
    padding:0;
    list-style:none;
    display:inline-block;
    vertical-align:middle;
    margin-left: 5px;
}
.tb_toolbar_revision_btn ul li,
.tb_toolbar_menu li{
    list-style:none;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin: 0 0 -8px;
    padding: 0 0 8px;
}
#tb_toolbar .tb_toolbar_revision_btn ul li,
#tb_toolbar .tb_toolbar_menu li{
    margin-bottom: -8px;
}
.tb_toolbar_menu li a{
    border-radius:4px;
    color:#dcdcdc;
    display:inline-block;
    padding: 4px 6px;
    line-height:1.3;
    min-width: 16px;
    outline:none;
    text-decoration:none;
    transition: background .3s;
}
.tb_toolbar_menu li a i{
    font-size:17px;
    line-height:inherit;
    vertical-align:middle;
}
.tb_toolbar_menu li a span{
    display:inline-block;
}
span.tb_tooltip_up {
    position: absolute;
    bottom: 100%;
    left: 50%;
    text-transform: capitalize;
    text-align: center;
    width: auto;
    white-space: nowrap;
    z-index: 11;
    background: rgba(0,0,0, .8);
    color: #fff;
    font-size: 11px;
    line-height: 1.1em;
    padding: 4px 6px;
    border-radius: 3px;
    transform: translate(-60%, -6px);
    opacity:0;
    visibility:hidden;
	margin-bottom: 6px;
}
span.tb_tooltip_up:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0,0,0, .8);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
}
.selectwrapper + span.tb_tooltip_up,
.selectwrapper + span.tb_tooltip_up,
.minicolors_wrapper + span.tb_tooltip_up,
.tb_uploader_input ~ span.tb_tooltip_up{
    transform: translate(-60%, 3px);
}
input:hover + span.tb_tooltip_up,
.selectwrapper:hover + span.tb_tooltip_up,
.minicolors_wrapper:hover + span.tb_tooltip_up,
.tb_uploader_input:hover ~ span.tb_tooltip_up{
    opacity:1;
    visibility:visible;
}
.tb_toolbar_close a span,
.tb_tooltip span{
    background-color:#212121;
    color:#e8e8e8;
    padding:4px 8px;
    position:absolute;
    top:100%;
    left:0;
    opacity:0;
    visibility:hidden;
    margin: 2px 0 0;
    white-space:nowrap;
    z-index:99999;
    border-radius:3px;
    line-height:1.4;
}
.tb_toolbar_close span:before,
.tb_tooltip span:before{
    content:'';
    display:block;
    position:absolute;
    left:12px;
    bottom:100%;
    border:4px solid transparent;
    border-bottom-color:#23282d;
}
.tb_toolbar_close a:hover span,
.tb_tooltip:hover span{
    opacity:1;
    visibility:visible;
}
.tb_toolbar_menu li a:focus,
.tb_toolbar_menu li a:hover{
    color:#fff;
    background: #000;
	box-shadow: none;
}
/* DIVIDER */
.tb_toolbar_divider:before{
    content:'';
    border-left:1px solid #aeaeae;
    display:inline-block;
    height:16px;
    opacity:.2;
    margin:7px 2px 0;
}
/* toolbar menu dropdown */
.tb_toolbar_save_btn .tb_toolbar_revision_btn ul,
.tb_toolbar_menu li ul{
    list-style:none;
    background-color:#353535;
    margin: 0;
    padding: 5px 0;
    position:absolute;
    top:100%;
    left:0;
    display:none;
    z-index:99999;
    border-radius:4px;
}
.tb_toolbar_menu li ul:before,
.tb_toolbar_revision_btn ul:before {
    content:'';
    display:block;
    position:absolute;
    left:13px;
    bottom:100%;
    border:4px solid transparent;
    border-bottom-color:#23282d;
}
.tb_toolbar_menu li ul li{
    float:none;
    display:block;
}
.tb_toolbar_menu li ul li a{
    border-radius:0;
    box-sizing:border-box;
    display:block;
    width:140px;
    padding: 6px 12px;
    font-weight:normal;
}
.mobile.tb_compact_toolbar .tb_toolbar_menu li>a:hover + ul,
.tb_compact_toolbar .tb_toolbar_menu .tb_toolbar_down::before,
.tb_toolbar_menu li>ul:hover,
.tb_toolbar_menu li>a:focus + ul,
.tb_toolbar_revision_btn:focus ul,
.tb_compact_toolbar .tb_toolbar_menu li>a:focus + ul,
.tb_compact_toolbar .tb_toolbar_menu li>ul:hover,
.tb_toolbar_revision_btn ul:hover{
    display:inherit;
}
.tb_toolbar_menu .tb_toolbar_down::before,
.tb_compact_toolbar .tb_toolbar_menu li ul.tb_current_menu_selected,
.tb_toolbar_menu li ul.tb_current_menu_selected,
.tb_toolbar_revision_btn ul.tb_current_menu_selected{
    display:none;
}
/* compact tooltip dropdown */
.tb_compact_toolbar .tb_toolbar_down .tb_tooltip span {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    margin-top: 0;
}
.tb_compact_toolbar .tb_toolbar_down .tb_tooltip span:before {
    border-bottom-color: transparent;
    border-right-color: #23282d;
    left: auto;
    right: 100%;
    bottom: 50%;
    margin-bottom: -4px;
}
.tb_compact_toolbar .tb_toolbar_down .tb_tooltip:hover span {
    margin-left: 2px;
}
.tb_toolbar_menu li a:focus > span {
    display: none;
}
.tb_compact_toolbar .tb_toolbar_revision_btn ul ul:before,
.tb_compact_toolbar .tb_toolbar_menu li ul ul:before {
    border-bottom-color: transparent;
    border-right-color: #23282d;
    left: auto;
    right: 100%;
    bottom: auto;
    top: 15px;
}
/* CLOSE & SAVE */
.tb_toolbar_save_btn .tb_toolbar_save{
    color: #fff;
    background:#f26522;
    text-transform:uppercase;
    font-weight:600;
    font-size:14px;
    line-height:1;
    letter-spacing:.05em;
    padding:9px 14px 8px;
    float:left;
    border-radius:4px 0 0 4px;
}
.tb_toolbar_save_wrap{
    background:#4a4a4a;
    position:absolute;
    top: 3px;
    right:3px;
}
.tb_toolbar_close,
.tb_toolbar_revision_btn,
.tb_toolbar_save_btn{
    display:inline-block;
    position:relative;
    vertical-align:middle;
}
.tb_toolbar_close a{
    color:#bababa;
    padding: 3px 6px;
    display:inline-block;
}
.tb_toolbar_close a span{
    right:0;
    left:auto;
    margin-top: 9px;
}
.tb_toolbar_close span:before{
    right:10px;
    left:auto;
}
.tb_toolbar_save_btn{
    margin-left:8px;
}
/* Dropdown/Close icon Animation */
.tb_tooltip span,
.themify_builder_admin .tb_toolbar_menu li a span {
	transition: .25s cubic-bezier(.1,.1,.8,1);
	margin-top: 10px;
}
.tb_toolbar_close a .ti-close {
	display: inline-block;
	transition: .25s ease-in-out;
}
.tb_toolbar_close a:hover .ti-close {
	transform: rotateZ(90deg);
}
.tb_tooltip:hover span,
.themify_builder_admin .tb_toolbar_menu li a:hover span {
	margin-top: 0;
}
.tb_toolbar_close a:hover span,
.tb_toolbar_menu a:focus+ul,
.tb_toolbar_zoom_menu:focus ul{
	animation: tb_fadeInUp .25s alternate cubic-bezier(.1,.1,.8,1);
}
@keyframes tb_fadeInUp {
    from {
        transform: translate3d(0,10px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
/* Module Favorite Feature */
.favorite-separator{
    display:none;
}
.tb_favorite{
    position:absolute;
    top:5px;
    left:5px;
    font-size:13px;
    cursor:pointer;
    user-select:none;
    opacity:0;
    transform:scale(.5);
    color:#909090;
}
.tb_module_outer.favorited ~ .favorite-separator{
    display:block;
    width:100%;
    height:1px;
    background:#dedede;
    margin:20px 0;
}
.tb_module_outer.favorited,
.tb_module_outer.favorited ~ .favorite-separator{
    -webkit-box-ordinal-group:1;
    -ms-flex-order:0;
    order:0;
}
.tb_module_outer .tb_favorite:hover,
.tb_module_outer.favorited .tb_favorite{
    color:#ffab11;
}
.tb_module:hover .tb_favorite{
    opacity:1;
    transform:scale(1);
}
.tb_lightbox_switcher .ti-tablet_landscape,
.tb_grid_menu .grid_tabs .ti-tablet_landscape{
    display:inline-block;
    transform:rotate(-90deg);
}
.grid_tabs a:hover,
.builder-breakpoint-tablet_landscape .tab_tablet_landscape,
.builder-breakpoint-tablet .tab_tablet,
.builder-breakpoint-desktop .tab_desktop,
.builder-breakpoint-mobile .tab_mobile,
.tb_lightbox_switcher a:hover{
    background:rgba(0,0,0,.1);
}
.tb_module .tb_favorite,
.tb_module_outer .add_module_btn {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition:opacity .5s ease,transform .5s ease;
}
/* Builder UI dropdowns */
.tb_ui_dropdown {
    position: absolute;
    left: 0;
    top: 0;
}
.tb_module_panel_rows_wrap .tb_ui_dropdown{
    visibility: hidden;
}
.tb_ui_dropdown_items {
    position:absolute;
    background-color:#fff;
    margin:0;
    padding:5px 0;
    top:28px;
    left: 1px;
    visibility:hidden;
    opacity:0;
    transition:opacity .25s linear;
    z-index:11;
    list-style:none;
    text-align:left;   
    min-width:140px;
    max-height: 220px;
    overflow:hidden;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 10px 2px rgba(0,0,0,.3);
    border-radius:4px; 
}
.tb_module_panel_library_wrap .tb_ui_dropdown_items li,
.tb_module_panel_rows_wrap .tb_ui_dropdown_items li{
    padding:6px 12px;
}
.tb_module_panel_tab .tb_ui_dropdown_items,
.tb_predesigned_lightbox .tb_ui_dropdown_items{
    height: 216px;
    z-index: -1;
    pointer-events:none;
}
.tb_module_panel_tab .tb_module_types.tb_ui_dropdown_items{
    height:auto;
}
.tb_ui_dropdown_items .simplebar-scroll-content{
    margin-left: 0 !important;
    padding-right: 0 !important;
    width:calc(100% + 17px) !important;
}
.tb_ui_dropdown_items .simplebar-content{
    margin-right:-17px;
}
.tb_float_xsmall .tb_ui_dropdown_items .simplebar-scroll-content {
	width:calc(100% + 17px) !important;
}
.tb_compact_tabs .tb_ui_dropdown_items {
	overflow-y: auto;
}
.tb_ui_dropdown_items li {
    margin:0;
    width:100%;
    display:block;
    color:#707070;
    box-sizing:border-box;
    font-size:13px;
    line-height:normal;
    transition:color .3s linear;
    transform:none;
    cursor:pointer;
}
.tb_ui_dropdown_items li:hover {
    color:#000;
    background:#f7f7f7;
    opacity:1;
}
.tb_ui_dropdown_items li.current{
    background:#f1f1f1;
    color:#000;    
}
.tb_ui_dropdown_label {
    color:#707070;
    font-size:13px;
    margin: 0;
    display:none;
    cursor:pointer;
    box-sizing:border-box;
    transition:color .3s linear;
    padding: 0 5px 2px 0;
    position: relative;
    z-index: 10;
    outline: none;
}
.tb_ui_dropdown_label:hover{
	color: #000;
}
.tb_module_panel_rows_wrap .tb_ui_dropdown_label,
.tb_compact_tabs .tb_ui_dropdown_label,
.tb_predesigned_lightbox .tb_ui_dropdown_label {
    display: inline-block;
    padding-bottom: 5px;
}
.tb_ui_dropdown_label::before{
    content:'\e68e';
    font-family:themify;
    font-size:15px;
    margin-right:8px;
}
.tb_ui_dropdown_items:hover,
.tb_ui_dropdown_label:focus+.tb_ui_dropdown_items{
    opacity:1;
    visibility:visible;
    z-index:3;
    pointer-events:auto;
}
.tb_overlay{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:870;
    overflow:hidden;
    background-color:rgba(0,0,0,.3);
}
.tb_layout_part_edit .tb_overlay{
    background:none;
}
.tb_drag_start .module_subrow,
.tb_remove_transitions div,
.tb_remove_transitions a,
.tb_remove_transitions figure,
.tb_start_animate div,
.tb_start_animate a,
.tb_start_animate i,
.tb_start_animate a:before,
.tb_start_animate span,
.tb_start_animate figure,
.tb_start_animate ul,
.tb_start_animate li{
    transition:none !important;
    animation:none !important;
    pointer-events: none;
}

/* Accordion Panel Group */
.tb_module_panel_container{
    transition: height .3s,opacity .3s,visibility .3s;
    margin-top: 10px;
    height: 100%;
}
.tb_module_panel_tab_acc {
    width: 100%; /* required */
}
.tb_module_panel_tab_acc .tb_module_panel_tab_acc_title {
    cursor: pointer;
    border-top: 1px solid #ccc;
}
.tb_module_panel_tab_acc .tb_module_panel_tab_acc_title h4 {
    font-size: 12px;
    line-height: inherit;
    border: none;
    color: #666;
    padding: .5em 0;
    margin:0;
    text-transform: uppercase;
    position: relative;
    letter-spacing: .05em;
    font-weight: normal;
}
.tb_module_panel_tab_acc .tb_module_panel_tab_acc_title h4:hover {
    background:linear-gradient(to bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,0) 100%);
}
.tb_module_panel_tab_acc .tb_module_panel_tab_acc_title h4:before {
    color: #969696;
    font-family: themify;
    content: '\e622';
    position: absolute;
    right: 0;
}
.tb_module_panel_tab_acc.tb_collapsed .tb_module_panel_tab_acc_title h4:before {
    content: '\e61a';
}
.tb_module_panel_tab_acc .tb_module_panel_tab_acc_content {
    height: 100%;
    opacity: 1;
    padding-bottom: 5px;
    transition: height 0ms 200ms, opacity 200ms 0ms;
}
.tb_module_panel_tab_acc.tb_collapsed .tb_module_panel_tab_acc_content {
    display:none !important;
}
.tb_module_panel_tab_acc .tb_module_panel_tab_acc_content_module {
    display: flex;
    flex-wrap: wrap;
    padding-top:5px;
}

/* floating module panel */
.tb_float_large .tb_module_panel_modules_wrap .tb_module_outer {
	width: 25%;
}
.tb_float_medium .tb_module_panel_modules_wrap .tb_module_outer {
	width: 33.33%;
}
/* row grid tb_float_small */
.tb_float_xsmall .tb_rows_grid li {
	width: 47%;
}
/* module tb_float_small */
.tb_float_xsmall .tb_module_panel_modules_wrap .tb_module_outer {
	width: 100%;
	height: auto;
    padding: 0;
	margin: 2px 0;
    float: none;
}
.tb_float_xsmall .tb_module_panel_modules_wrap .tb_module {
	flex-direction: row;
	justify-content: flex-start;
    padding: 5px;
	min-height: 20px;
    height: auto;
}
.tb_float_xsmall .tb_module:before {
    margin-top: 2px;
    width: 15px;
	padding: 0;
	box-sizing: border-box;
	transition: opacity .5s ease,transform .5s ease;
}
.tb_float_xsmall .tb_module .module_name {
	display: inline-block;
	width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
    margin-left: 7px;
}
.tb_float_xsmall .tb_favorite {
	margin-left: 3px;
    margin-top: 3px;
}
.tb_float_xsmall .tb_module:hover:before {
	transform: scale(.5);
	opacity: 0;
}
.tb_float_xsmall .tb_favorite,
.tb_float_xsmall .tb_module:before {
    font-size: 12px;
}
.tb_float_xsmall .tb_module_panel_modules_wrap a{
    width:22px;
    height:22px;
    line-height:22px;
}
.tb_float_xsmall .simplebar-scroll-content {
	margin-left: 8px;
	padding-right: 8px;
	width: calc(100% + 8px) !important;
}
.tb_float_xsmall .tb_drag_top .tb_compact_tabs,
.tb_float_xsmall .tb_module_panel_search,
.tb_float_xsmall .tb_module_panel_tab .tb_ui_dropdown {
	margin-left: 8px;
	margin-right: 8px;
}
.tb_float_xsmall .tb_predesigned_rows_title {
    display: none;
}
.tb_float_xsmall .tb_module_panel_library_wrap .tb_library_types.tb_module_types,
.tb_float_xsmall .tb_module_panel_library_wrap .tb_ui_dropdown_label {
    margin-left: 8px;
    margin-right: 8px;
}
.tb_panel_docked .tb_module_panel_library_wrap.tb_compact_tabs .tb_library_types.tb_module_types,
.tb_float_xsmall .tb_module_panel_library_wrap .tb_library_types.tb_module_types {
    left: 0;
    padding: 5px 0;
    min-width: auto;
    width: auto;
}
.tb_panel_docked .tb_compact_tabs .tb_library_types li,
.tb_float_xsmall .tb_library_types li{
    display: block;
    transform: none;
    min-width: auto;
    width: 100px;
}
.tb_panel_docked .tb_module_panel_library_wrap.tb_compact_tabs .tb_library_types li.active,
.tb_float_xsmall .tb_module_panel_library_wrap .tb_library_types li.active{
    border: none;
}
.tb_panel_docked .tb_module_panel_library_wrap.tb_compact_tabs .tb_library_types.tb_module_types,
.tb_panel_docked .tb_module_panel_library_wrap.tb_compact_tabs .tb_ui_dropdown_label {
    margin-left: 15px;
    margin-right: 15px;
}
.simplebar-track.vertical {
    bottom: 12px;
}
.tb_sprite{
    background-image:url('../img/builder/layouts.svg');
    background-repeat:no-repeat;
    display:block;
    width:32px;
    height:28px;
}
.tb_row_fullwidth_content{
    background-position: -96px -195px;
}
.tb_row_fullwidth{
    background-position: -128px -196px;
}
.tb_row_default{
    background-position: -191px 0;
}
.tb_row_fullheight{
    background-position: -160px -196px;
}
/* layout icon */
.tb_lb_option.themify-layout-icon a{
    border: solid 2px #e8e8e8;
    border-radius: 3px;
    position:relative;
    margin-right: 4px;
    text-align: center;
    display:inline-block;
    outline: none;
    transition:none;
}
.tb_lb_option.themify-layout-icon a:focus {
    outline: none;
    box-shadow: none;
}
.tb_lb_option.themify-layout-icon a:hover{
    border-color: #c7c7c7;
}
.tb_lb_option.themify-layout-icon a.selected{
    border-color:#f26522;
}
/* field help tooltip */
.tb_help {
    text-align: center;
    display: inline;
    position: relative;
}
.tb_help .icon{
    color: #808080;
    font-size: 10px;
    position: relative;
    cursor: pointer;
    border-left: 5px solid transparent;
    transition: background-color .3s ease,color .3s ease;
    outline: none;
}
.tb_input_after .icon{
    border: none;
    padding-left: 5px;
}
.contains-help .tb_input_after{
    position: relative;
    top: 2px;
}
.tb_help .icon::before{
    position: relative;
    background-color: #efefef;
    padding: 3px;
    border-radius: 50%;
}
.tb_help .icon:hover:before,
.tb_help .icon:focus:before{
    background-color: #56bae2;
    color: #fff;
}
.tb_help_content {
    font-size: 13px;
    line-height: 1.3em;
    position: absolute;
    width: max-content;
    max-width: 200px;
    background-color: rgba(51, 51, 51,.9);
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
    top: 27px;
    left: -5px;
    z-index: 201;
    display: none;
}
.tb_help_content::before{
    content: '';
    position: absolute;
    display: block;
    top: -7px;
    left: 11px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(51, 51, 51,.9);
}
.tb_help .icon:focus+.tb_help_content,
.tb_help_content:hover{
    display: block;
}
.tb_help .tb_help_content small{
    color: inherit;
}
.tb_help .tb_help_content a{
    color: #60ccf8;
}
.tb_input .tb_tooltip,
.tb_input .tb_help_content {
    left: auto;
    right: -11px;
}
.tb_input .tb_tooltip::before,
.tb_input .tb_help_content::before {
    left: auto;
    right: 11px;
}
.tb_field_error_msg{
    color:#ff0000;
    display:block;
}
.tb_state_highlight{
    border:1px dashed;
    background:rgba(177,233,255,.5);
    min-height:35px;
}
.themify_builder_active .tb_state_highlight{
    height:35px;
}