/* Helper class for conditional inputs */
body, html{
    overflow:initial;
}
body .conditional-input{
    margin-bottom:0;
}
/* Bottom tooltips
----------------------------------*/
.themify-tooltip-top,
.themify_builder .themify-tooltip-bottom{
    position:relative;
}
body .themify_tooltip{
    padding: 6px 10px;
    margin-top:5px;
    display:none;
    position:absolute;
    z-index:1000;
    border-radius:3px;
    background-color:#000;
    line-height:100%;
    color:#fff;
    top:100%;
    left:1px;
    text-indent:0;
    white-space:nowrap;
    font-family:Arial, sans-serif;
}
.themify_tooltip::before{
    width:0;
    padding:0;
    position:absolute;
    content:'';
    top:-5px;
    left:2px;
    margin-right:10px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000;
    margin-left:6px;
}
#tb_roptions .themify_tooltip,
#tb_rgrids .themify_tooltip,
#tb_component_bar[data-top] .themify_tooltip {
    top: -100%;
    margin-top:-7px;
}
#tb_roptions .themify_tooltip:before,
#tb_rgrids .themify_tooltip::before,
#tb_component_bar[data-top] .themify_tooltip::before {
    border-top:5px solid #000;
    border-bottom:none;
    top:auto;
    bottom:-5px;
}
#tb_component_bar li:hover>.themify_tooltip,
.themify-tooltip-top:hover>.themify_tooltip,
#tb_component_bar .tb_actions li.selected:hover>.themify_tooltip,
.themify-tooltip-bottom:hover>.themify_tooltip,
.tfl-icon:hover > .themify_tooltip{
    display:inline-block;
    word-break:initial; /* prevent overriding word-break by theme which affects the size of the tooltip */
}

/************************************************************************************
BUILDER
*************************************************************************************/
.themify_builder_active .module_row,
.themify_builder_active .module,
.themify_builder_active .module .post,
.tb_preview_only .module_row,
.tb_preview_only .module,
.tb_preview_only .module .post{
    visibility:visible !important; /* force rows and modules to visible in case of animation triggers hidden */
}
.themify_builder_active.tb_responsive_mode{
    overflow:hidden;
}
.tb_preview_only.tb_responsive_mode{
    overflow:visible;
}
.tb_responsive_mode .big-video-wrap{
    display:none;
}
/* builder font styling */
.themify_builder .themify_tooltip,
.themify_builder_admin,
.tb_action_wrap,
#tb_component_bar,
.tb_data_mod_name{
    font:normal 13px/1.5em Arial, sans-serif;
    font-style:normal;
    text-decoration:none;
    letter-spacing:normal;
    line-height:normal;
}
.themify_builder .themify_tooltip{
    line-height:1em;
    font-size:13px;
}
.tb_action_more.ti-more::before,
.tb_dropdown>li::before{
    font-size: 17px;
}
/* Tooltip/Action Dropdown Animation */
#tb_component_bar .themify_tooltip,
.themify_builder .themify_tooltip,
.themify_builder .compact-mode .tb_column_action .themify_tooltip {
	animation: tb_fadeInUp .25s alternate cubic-bezier(0.1,0.1,0.8,1.0);
}
.themify_builder .compact-mode .themify_tooltip {
	animation: tb_fadeInRight .25s alternate cubic-bezier(0.1,0.1,0.8,1.0);
}
#tb_lightbox_parent .themify_tooltip,
.themify_builder.builder-lightbox .themify_tooltip {
	animation: tb_fadeIn .25s alternate cubic-bezier(0.1,0.1,0.8,1.0);
}
@keyframes tb_fadeInRight {
    from {
        transform: translate3d(-10px,0,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@keyframes tb_fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}
@keyframes tb_infinite {
	0,100% {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(-5px,0,0);
	}
}

/* apply box-sizing to general layout containers */
#tb_component_bar,
.tb_row_panel,
.tb_holder{
    box-sizing:border-box;
}
.tb_row_panel{
    position: relative;
}
/************************************************************************************
ICONS
*************************************************************************************/
.tb_icon{
    height:1em;
    font-size:17px;
    text-align:center;
    margin:-.2em .3em 0 0;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    text-decoration:none;
}
.tb_icon.small{
    width:15px;
    height:15px;
}
.tb_icon:before{
    margin:-7px 0 0 1px;
    display:inline-block;
    vertical-align:middle;
}
.tb_icon.add:before{
    content:"\e61a";
}
.tb_icon.delete:before{
    content:"\e646";
}
.tb_delete_thumb{
    top:0;
    left:2px;
}
.tb_icon.small:before{
    padding-top:2px;
    top:2px;
    left:3px;
}
/************************************************************************************
BUILDER MODULE PANEL
*************************************************************************************/
template{
    display:none;
}
.tb_row_panel{
    box-shadow:none;
    border-radius:0;
    padding: 15px 1px 0;
    border: none;
    min-height:200px;
}

/************************************************************************************
BUILDER ROW
*************************************************************************************/
/* row */
.module_row{
    margin:0;
    padding:0;
    background:none;
    border:none;
    border-radius:0;
    box-shadow:none;
}
.wp-admin .module_row{
    outline:none;
    border: 1px solid #dbc4ea;
    margin-bottom: 15px;
    display:block;
    transform:none !important;
    padding: 6px;
    border-radius:4px;
}
.wp-admin .row_inner{
    padding:2px;
}
.wp-admin .module_subrow,
.wp-admin .tb_row_empty.module_subrow,
.wp-admin .tb_row_empty.module_row {
    outline:none;
    border: 1px solid #e8daf3;
    margin-bottom: 8px;
    z-index:auto;
    box-shadow:none !important;
    border-radius:4px;
}
.wp-admin .subrow_inner{
    position:relative;
    padding: 6px;
}
.themify_builder_admin .module_row:hover {
    outline-color:#9215ea;
}
.tb_column_btn_plus{
    display:none;
    position:absolute;
    left:50%;
    top:100%;
    transform:translateX(-50%);
    z-index:120;
    cursor:pointer;
    text-align:center;
    margin-top:-14px;
    width:26px;
    height:26px;
    background:#52bb33;
    border-radius:100%;
    box-shadow:0 1px 5px rgba(0,0,0,.2);
	font: initial;
	letter-spacing: normal;
    transition: transform .25s ease-in-out;
}
.tb_column_btn_plus:hover{
    background:#459a2c;
    transform: translateX(-50%) scale(1.1);
}
.tb_column_btn_plus:after{
    content:"\e61a";
    font-family:themify;
    font-size:16px;
    color:#fff;
    line-height:26px;
    display:block;
}
.module_column:not(.tb_hover_sub_column):hover >.tb_column_btn_plus,
.tb_module_front:hover>.tb_column_btn_plus{
    display:block;
}
.tb_module_front:last-of-type > .tb_column_btn_plus,
.tb_panel_dropdown_openend .module_column .tb_column_btn_plus.clicked{
    display: none;
}
/* frontedit row */
.themify_builder_active .themify_builder:not(.not_editable_builder){
    position:relative;

}
.tb_active_layout_part .themify_builder.themify_builder_content{
   margin-bottom:  0;
}
.themify_builder_active .row_menu{
    position:static;
    width:26px;
    display:inline-block;
    margin-left:10px;
    padding:5px 0;
}
.tb_row_anchor{
    font-size: 11px;
    line-height: 1;
    font-family:Arial, sans-serif;
    padding:4px 7px;
    background: #b891d4;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    border-radius:3px 0 0 0;
    transform: translateY(-100%);
    display:none;
}
.wp-admin .tb_row_anchor{
    right:3px;
    border-radius:3px 3px 0 0;    
}
.module_row:hover .tb_row_anchor {
    display:block;
}
.tb_row_anchor::before{
    content: "#";
}
.module_row:hover .tb_row_anchor:empty{
    display:none;
}
/* active module label */
.module_label .module_excerpt{
    font-weight:normal;
    font-style:normal;
    font-size:10px;
    opacity:.6;
    display:table-cell;
    line-height:100%;
    vertical-align:middle;
    padding-left:10px;
    white-space:normal;
    width:100%;
    text-align:  left;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.active_module .module_label{
    display:table;
    table-layout:fixed;
    height:100%;
    white-space:nowrap;
    overflow:hidden;
}
#tb_rgrids,
#tb_roptions,
#tb_roptions hr,
.col4-2 .module_excerpt,
.col4-1 .module_excerpt,
.col3-1 .module_excerpt,
.col2-1 .module_excerpt{
    display:none; /* hide excerpt in small columns */
}
.module_subrow .active_module .module_label{
    padding-left:0;
}
.module_label .tb_icon {
    height: auto;
    margin: 0;
    display: table-cell;
    padding: 0 8px 0 12px;
}
.module_label .tb_icon::before {
    margin: -2px 0 0;
}
.tb_toolbar_tabs{
    background: #ffffff;
    color: #666;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 10px 2px rgba(0,0,0,.3);
    display: none;
    border-radius: 4px;
    text-align: left;
    margin-top: 9px;
    position: absolute;
    top: 100%;
    cursor: auto;
    box-sizing: border-box;
    width: 280px;
    margin-left: 0;
}

#tb_component_bar .selected.tb_inner_action_more>ul,
#tb_component_bar .selected.tb_action_more>ul,
.tb_toolbar_tabs.selected, 
#tb_rgrids.selected,
#tb_roptions.selected{
    display: block;
}
.tb_toolbar_tabs .tb_row_hover_expand{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    color: inherit;
    outline: none;
}
/*row options*/
#tb_roptions .tb_field {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 10px;
}
#tb_roptions .tb_field:last-child {
    margin-bottom: 5px;
}
#tb_roptions .tb_input{
    width: 150px;
}
#tb_roptions .tb_label{
    width: 100px;
}
#tb_roptions input[type=text]{
    font:1em/1.5em Arial, sans-serif;
    background:#fff;
    height:auto;
    min-height:inherit;
    margin:0;
    padding:4px .5em;
    box-shadow:none;
    display:inline-block;
    vertical-align:middle;
    border:1px solid #ccc;
    color:#000;
    -webkit-appearance:none;
    box-sizing:border-box;
    width: 200px;
    max-width:100%;
    border-radius: 4px;
}
#tb_roptions input[type=text]:focus{
    outline:none;
    background:#fff;
    color:#000;
    border-color:#777;
}
/* tb_grid_menu on sub row modules */
.tb_responsive_mode .tb_module_front .tb_grid_menu,
.module_subrow .active_module .tb_grid_menu{
    display:none !important;
}
.themify_builder_admin .active_module .tb_grid_menu:hover{
    z-index:60;
}
.tb_grid_menu{
    font-size:13px;
    font-family:Arial, sans-serif;
    letter-spacing:normal;
    line-height:normal;
    text-transform:none;
    font-style:normal;
    font-weight: normal;
    text-align: left;
}
#tb_rgrids .tb_grid_list{
    margin: 0 0 10px;
}
.tb_row_toolbar_menu li{
    font-size: 14px;
    display:inline-block;
    margin-right:10px;
    cursor: pointer;
    margin: 0 0 5px;
    padding: 3px 5px;
    position: relative;
}
.tb_row_toolbar_menu li.selected{
    border-bottom: 1px solid #00a2fb;
    cursor: auto;
    pointer-events: none;
}
.builder-breakpoint-desktop .tb_grid_list li:nth-child(7),
.builder-breakpoint-desktop .tb_grid_list li:nth-child(12){
    clear:both;
}
#tb_rgrids .tb_grid_list li{
    float:left;
    list-style:none;
    padding: 6px 5px;
    background: #f5f5f5;
    margin: 0 8px 5px 0;
    border: 1px solid #f5f5f5;
    cursor:pointer;
    border-radius: 3px;
}
#tb_rgrids li:hover{
    border-color:#8E8E8E;
}
#tb_rgrids .tb_grid_tab li.selected{
    background:#E6F2FE;
    border-color:#00B5F9;
}
#tb_rgrids .tb_grids{
    vertical-align:middle;
    background-image:url('../img/builder/grids.svg');
    background-repeat:no-repeat;
    display:block;
    width:23px;
    height:9px;
    margin:0;
    padding:0;
}
.tb_1_col{
    background-position: 0 -38px;
}
.tb_2_col{
    background-position: -33px -57px;
}
.tb_3_col{
    background-position: -66px -19px;
}
.tb_4_col{
    background-position: -66px -38px;
}
.tb_5_col{
    background-position: -66px -57px;
}
.tb_6_col{
    background-position: 0 -76px;
}
.tb_1_3_2_3{
    background-position: 0 0;
}
.tb_1_4_1_4_2_4{
    background-position: -33px 0;
}
.tb_1_4_2_4_1_4{
    background-position: 0 -19px;
}
.tb_1_4_3_4{
    background-position:-33px -19px;
}
.tb_2_3_1_3{
    background-position: -33px -38px;
}
.tb_2_4_1_4_1_4{
    background-position: 0 -57px;
}
.tb_3_4_1_4{
    background-position: -66px 0;
}
.tb_auto{
    background-position:-32px -77px;
}
/* column width dragger */
.tb_grid_drag{
    position:absolute;
    top:0;
    left:auto!important;
    right: 0 !important;
    width:3px;
    height:100%;
    z-index:100;
    cursor:ew-resize;
    visibility:hidden;
}
.module_column:hover > .tb_grid_drag{
    visibility:visible;
}
.tb_grid_drag::after{
    width:6px;
    height:6px;
    background:#fff;
    content:'';
    border:1px solid #ababab;
    display:block;
    position:absolute;
    top:50%;
    margin-top:-3px;
    left: -1px;
}
.tb_drag_left{
    right:auto !important;
    left:-3px!important;
}
.tb_grid_drag_tooltip{
    width:auto !important;
    background:rgba(33, 33, 33, .6);
    color:#fff;
    z-index:9999;
    right:5px !important;
    min-width:40px;
    left:auto !important;
    font-family:Arial, sans-serif;
    font-size:12px;
    line-height:100%;
    top:50% !important;
    margin-top:-10px;
    padding:4px 6px;
    border:none;
}
.tb_grid_drag_tooltip.tb_grid_drag_left_tooltip{
    left:5px !important;
    right:auto !important;
}
.tb_grid_drag_left_tooltip+.tb_grid_drag_tooltip{
    left:-58px !important;
    right:auto !important;
}
.tb_grid_drag_right_tooltip+.tb_grid_drag_tooltip{
    right:-58px !important;
}
.themify_builder_active .tb_grid_drag_right_tooltip+.tb_grid_drag_tooltip{
    right:-66px !important;
}
.themify_builder_active .tb_grid_drag_left_tooltip+.tb_grid_drag_tooltip{
    left:-66px !important;
    right:auto !important;
}
.module_row .tb_drag_column_start .module_column .tb_action_wrap,
.module_column.last > .tb_drag_right, 
.module_row .tb_drag_column_start .module_column .tb_column_btn_plus,
.module_row .tb_drag_column_start .module_column .tb_data_mod_name,
.module_column.first > .tb_drag_left, 
.col-full > .tb_grid_drag,
.tb_responsive_mode .tb_grid_drag{
    display:none;
}
/* column alignment/direction */
.tb_actions li{
    display: inline-block;
    padding:0;
    background: #f5f5f5;
    margin: 0 2px  0 0;
    padding: 1px;
    border: 1px solid #f5f5f5;
    line-height:100%;
    vertical-align: middle;
    cursor:pointer;
    border-radius: 3px;
    position: relative;
}
.tb_component_wrap_right,
.tb_component_wrap_left{
    display: inline-block;
    vertical-align: middle;
}
.tb_component_wrap_left{
    margin-right: 26px;
}
.tb_actions span{
    vertical-align:middle;
    width:29px;
    height:22px;
    background-image:url('../img/builder/row-grid-sprite.png');
    background-repeat:no-repeat;
    display:block;
}
.tb_alignment_top{
    background-position: -58px 0;
}
.tb_alignment_middle{
    background-position: -29px  0;
}
.tb_column_ltr{
    background-position: 0 -21px;
}
.tb_column_rtl{
    background-position: -29px -21px;
}
.tb_gutter-default{
    background-position: -58px -22px;
}
.tb_gutter-narrow{
    background-position: 0 -44px;
}
.tb_gutter-none{
    background-position: -29px -44px;
}
.tb_column_stretch{
    background-position: -58px -44px;
}
.tb_column_auto{
    background-position: 0 -66px;
}
.themify_builder_active .module-gallery:not(.gallery-masonry){
    height:auto !important;
}
/* sortable helper */
.tb_sortable_helper{
    display:block;
    background:rgba(177,233,255,.5);
    border:1px solid #5fccf7;
    height:30px !important;
    overflow:hidden;
}
.tb_module_dragging_helper,
.ui-sortable-helper.tb_module_front,
.ui-sortable-helper.tb_library_item,
.ui-sortable-helper.tb_module,
.tb_holder .tb_sortable_helper{
    width:180px !important;
    height:30px !important;
    line-height:1.9em;
    box-sizing:border-box;
    font-size:14px;
    font-family:Arial, sans-serif;
    overflow:hidden;
}
.tb_sortable_helper .module{
    visibility:hidden !important;
    margin:0;
    padding:0;
}
.tb_sortable_helper .tb_data_mod_name{
    visibility:visible !important;
    position:static;
    background:none;
    color:#666;
    padding:0;
    font-size:13px;
    line-height:1.4em;
    font-weight:bold;
    cursor:move;
}
/************************************************************************************
BUILDER COLUMN
*************************************************************************************/
/* col */
.module_column{
    outline:solid 1px transparent;
}
.module_column.tb_element_selected,
.tb_drag_module .module_column,
.tb_drag_column .module_column,
.tb_row_empty.module_row .module_column:hover,
.module_column:hover{
    outline-color:#ff7800;
    outline-style:solid;
}
.wp-admin .module_column {
    outline:none;
    border:solid 1px transparent;
    padding: 6px;
    border-radius:4px;
}
.wp-admin .module_column.tb_element_selected,
.wp-admin .tb_drag_module .module_column,
.wp-admin .tb_drag_column .module_column,
.wp-admin .tb_row_empty.module_row .module_column:hover,
.wp-admin .tb_row_empty.module_subrow .module_column:hover,
.wp-admin .tb_row_empty.module_row .module_column.tb_element_selected,
.wp-admin .tb_row_empty.module_subrow .module_column.tb_element_selected,
.wp-admin .module_column:hover{
    border-color:#ff7800;
    border-style:solid;
}
.tb_drag_column .sub_column{
    pointer-events: none;
    cursor: not-allowed;
}
/************************************************************************************
MODULE HOLDER
*************************************************************************************/
/* module holder */
.tb_holder{
    margin:0;
    cursor:auto;
    padding:0;
    position:relative;
    width:100%;
    height:100%;
}
.tb_row_empty.module_subrow .module_column,
.tb_row_empty.module_row .module_column {
    outline: dashed 1px #e8e8e8;
}
.wp-admin .tb_row_empty.module_subrow .module_column,
.wp-admin .tb_row_empty.module_row .module_column {
    border: solid 1px transparent;
    outline:none;
}
.tb_row_empty .tb_holder{
    min-height: 32px;
}
.tb_module.ui-draggable-dragging,
.tb_library_item.ui-draggable-dragging{
    z-index:99999;
}
.themify_builder_admin .tb_holder{
	display:block;
	text-align:left;
}
/************************************************************************************
ACTIVE MODULES
*************************************************************************************/
/* active module */
.tb_module.active_module{
    width:100%;
    float:none;
    margin:0 0 5px;
    padding-left:38px;
    padding-right:10px;
    height: 44px;
    box-sizing:border-box;
    display:block;
}
.active_module.tb_element_selected,
.tb_drag_module div.tb_module_front,
.tb_module_front:hover{
    outline:1px solid #02a2fb;
    outline-offset:-1px;
}
.wp-admin .tb_module {
    outline:none;
}
.themify_builder_active .tb_module.active_module:before{
    content:'';
    top:7px;
}
.tb_module.active_module .module_name{
    display:table-cell;
    font-size:13px;
    text-transform:capitalize;
    width:auto;
    vertical-align:middle;
    white-space:nowrap;
    color:#fff;
}
.tb_module.module-page-break {
    height: 29px;
    background-color:#aee4ff;
    border: solid 1px #629cf4;
    border-width: 1px 0;
}
.tb_module.module-page-break:hover {
    box-shadow: 0 0 0 1px #02a2fb;
}
.tb_module.module-page-break .module_name {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
.tb_module.module-page-break .tb_dropdown {
    visibility: visible;
    opacity: 1;
    transform: none;
}
.tb_module.module-page-break .tb_dropdown>li>div:not(.tb_delete) {
    display: none;
}
/************************************************************************************
OVERLAY
*************************************************************************************/
.tb_holder .tb_overlay{
    position:absolute;
}
/* clearfix */
.tb_row_action::after,
.themify_builder_admin .subrow_inner::after,
.themify_builder_active .module::after{
    content:"";
    display:table;
    clear:both;
}
/************************************************************************************
UI STATE
*************************************************************************************/
body.themify_builder_active.builder-breakpoint-desktop{
    overflow-x:inherit !important;
} 
body.themify_builder_active{
    transition:none !important;
}
.tb_drag_column_start .module_column,
.tb_drag_column_start div,
.tb_drag_start .module_column,
.tb_drag_start .module_subrow,
.tb_drag_start .module_row,
.tb_drag_start .active_module{
    transition:none !important;
}
.themify_builder_active .tb_state_highlight+.module_row,
.themify_builder_active .tb_state_highlight+.active_module{
    margin-top:20px;
}
.tb_module_dragging_helper{
    color:#666;
    text-align:center;
    z-index:99999999 !important;
}
.tb_module_dragging_helper:before,
.tb_module_dragging_helper .add_module_btn,
.tb_module_dragging_helper .remove_item_btn{
    display:none;
}
#tb_row_wrapper, 
.tb_row_opt_builder_wrap{
    position:relative;
}
.themify_builder .row_menu{
    width:29px;
    padding-bottom:5px;
}
.themify_builder .col-full{
    width:100%;
}
/************************************************************************************
MODULE FRONT
*************************************************************************************/
.tb_module_front{
    min-height:30px;
    margin-bottom:0;
    cursor:move;
    user-select: none;
}
.tb_module_front.module-divider{
    min-height: 5px;
}
.themify_builder_active.tb_responsive_mode .tb_module_front{
    cursor:pointer;
}
.tb_data_mod_name{
    font-size:12px;
    line-height:100%;
    color:#fff;
    position:absolute;
    top:0;
    left: 0;
    z-index: 21;
    cursor:default;
    padding: 3px 6px;
    background: #72cbfd;
    white-space:nowrap;
    display: none;
    border-radius:0 0 3px 0;
}
.tb_column_action .tb_data_mod_name{
    background:#fda656;
}
.tb_row_action .tb_data_mod_name{
    background:#d093fb;
}
.tb_subrow_action .tb_data_mod_name{
    background:#e993ef;
}
.tb_element_selected > .tb_data_mod_name {
    display:none !important;
}
.module_subrow .tb_data_mod_name{
    left:auto;
    right:0;
    border-radius:0 0 0 3px;
}
.tb_module_front:hover > .tb_data_mod_name{
    display:block;
}
.themify_builder_backend_options_menu{
    margin:0;
    padding:0;
    position:relative;
    z-index:50; /* fixes grid menu dropdown overlap undo/redo covering */
    left:0;
    text-align:left;
    font-size:20px;
    margin:3px 0 0;
    color:#666;
}
/* preview mode */
.tb_preview_only .tb_module_front,
.tb_preview_only .tb_holder{
    min-height:0;
    outline:  none;
    box-shadow: none;
} 
/* BACKEND DROPDOWN MENU */
.themify_builder_backend_options_menu .ti-menu{
    cursor:pointer;
    padding:10px 10px 3px 6px;
    margin-top:-4px;
}
.themify_builder_backend_options_menu li{
    margin:0;
    padding:0;
    list-style:none;
    float:left;
    position:relative;
}
.themify_builder_backend_options_menu li.separator{
    margin-left:5px;
    margin-right:5px;
    height:20px;
    border-left:1px solid #ccc;
    margin-top:5px;
}
/* backend main level link */
.themify_builder_backend_options_menu a{
    display:block;
    padding:5px 15px;
    margin:0 5px 0 0;
    text-decoration:none;
}
/* backend sub-levels link */
.themify_builder_backend_options_menu ul a{
    color:#666;
    font-size:100%;
    line-height:140%;
    font-weight:normal;
    text-transform:none;
    padding:6px 6px 6px 15px;
    margin:0;
    display:block;
    width:170px;
    background:none;
    border:none;
    text-shadow:none;
    border-radius:0;
    box-shadow:none;
    box-sizing:border-box;
}
/* backend sub-levels link :hover */
.themify_builder_backend_options_menu ul a:hover{
    color:#000;
    background:#eee;
}
.themify_builder_backend_options_menu ul li.has-children:hover:after{
    width:0;
    padding:0;
    position:absolute;
    content:'';
    right:0;
    top:12px;
    border-bottom:5px solid transparent;
    border-right:5px solid #ccc;
    border-top:5px solid transparent;
}
/* backend dropdown ul */
.themify_builder_backend_options_menu ul{
    margin:0;
    padding:5px 0;
    list-style:none;
    position:absolute;
    background-color:#fff;
    border:solid 1px #ccc;
    z-index:100;
    display:none;
    bottom:29px;
    font-size:14px;
}
.themify_builder_backend_options_menu > li > ul:after{
    width:0;
    padding:0;
    position:absolute;
    content:'';
    bottom:-5px;
    left:6px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #ccc;
}
.themify_builder_backend_options_menu ul li{
    background:none;
    padding:0;
    margin:0;
    float:none;
}
/* backend sub-levels dropdown */
.themify_builder_backend_options_menu ul ul{
    left:170px;
    top:-2px;
    bottom:auto;
}
.themify_builder_backend_options_menu li:hover > ul{
    display:block;
}
/* video module - required to make video embed iframe draggable */
.module-video .video-wrap:before {
    content: '';
    display: block;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
/************************************************************************************
MODULE FRONT RESPONSIVE
*************************************************************************************/
@media screen and (max-width:600px){
    /* column */
    .themify_builder_active .tb_holder{
        margin-right:0;
    }
    .active_module .themify_module_menu .themify_tooltip{
        display:none;
    }
}

/* fix backend editor display in metabox */
#page-builder .themify_field_title{
    display:none;
}
#page-builder .themify_field{
    float:none;
    width:100%;
}
/* import layout button */
a.tb_import_layout_button{
    background:#ccc;
    font:normal 14px/1 Arial,sans-serif;
    line-height:1.1em;
    display:table;
    margin: 20px auto 50px;
    color:#fff;
    border-radius:5px;
    padding:.8em 1.6em;
    text-decoration:none !important;
    text-transform:none;
    letter-spacing:0;
}
a.tb_import_layout_button:hover{
    background:#aaa;
}
/*Drag and Drop and Sortable*/
.themify_builder_active.tb_drag_start .themify_builder [data-pos="top"],
.themify_builder_active.tb_drag_start .themify_builder  .tb_holder[data-pos="bottom"]:empty{
    border-top:solid 32px rgba(177,233,255,.5);
}
.themify_builder_active.tb_drag_start .themify_builder [data-pos="bottom"]{
    border-bottom:solid 32px rgba(177,233,255,.5);
}
.tb_drag_start .module_row .active_module .tb_grid_menu,
.tb_drag_start #tb_add_container,
.tb_drag_start .tb_grid_drag,
.tb_drag_start .tb_import_layout_button{
    display:none;
}
.tb_drag_start .active_module .module{
    pointer-events:none;
}
.tb_drag_module .tb_holder,
.tb_drag_start a,
.tb_drag_start button,
.tb_drag_start input,
.tb_drag_start .tb_module_front,
.tb_drag_start{
    cursor:move !important;
}
.tb_drag_start .module_row{
    z-index: 1;
}
/*Responsive Columns*/
#tb_rgrids .grid_tabs{
    margin:5px 0 15px;
}
#tb_rgrids .grid_tabs li{
    display:inline-block;
    margin:0 5px 0 0;
    font-size:1.5em;
    padding:6px 7px;
    color:#666;
    line-height:1;
    border-radius: 4px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}
#tb_module_panel_dropdown.tb_subrow_open .tb-grid-options-container,
.tb_grid_tab,
.col-count-1>.tb_grid_menu .tb_column_gutter,
.col-count-1>.tb_grid_menu .tb_actions,
.col-count-1>.tb_grid_menu .tb_grid_reposnive .grid-layout--full,
.tb_grid_reposnive .tb_grid_list li{
    display:none;
}
.tb_responsive_mode.col-count-1>.tb_grid_menu .tb_grid_desktop,
.builder-breakpoint-tablet_landscape .tb_grid_tablet_landscape,
.builder-breakpoint-tablet .tb_grid_tablet,
.builder-breakpoint-desktop .tb_grid_desktop,
.builder-breakpoint-mobile .tb_grid_mobile,
.tb_grid_reposnive .tb_grid_list .tb1,
#tb_rgrids:not(.col-count-1) .tb2,
#tb_rgrids.col-count-3 .tb3,
#tb_rgrids.col-count-4 .tb4,
#tb_rgrids.col-count-5 .tb3,
#tb_rgrids.col-count-5 .tb5,
#tb_rgrids.col-count-6 .tb3,
#tb_rgrids.col-count-6 .tb6{
    display:block;
}

/* Builder plus button popover */
#tb_module_panel_dropdown{
    display:none;
    width: 560px;
    max-width: 90%;
    background-color:#f1f1f1;
    color:#999;
    text-align:center;
    padding: 5px 0;
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    font:normal 14px/150% Arial, sans-serif;
    box-sizing:border-box;
    margin-top: 30px;
    min-height: 200px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 10px 2px rgba(0,0,0,.3);
    border-radius: 4px;
}
#tb_module_panel_dropdown input,
#tb_module_panel_dropdown textarea
#tb_module_panel_dropdown select{
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
}
#tb_module_panel_dropdown .tb_drag_top {
    background-color:#f1f1f1;
    padding: 0;
}
.wp-admin #tb_module_panel_dropdown{
    z-index:10000;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto;
    margin-right: auto;
}
#tb_module_panel_dropdown:after{
    content:'';
    position:absolute;
    top: -7px;
    left:50%;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    background-color: #f1f1f1;
    transform:rotate(45deg);
    border-left: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
}
#tb_module_panel_dropdown .tb_module_panel_search{
    float:right;
    margin-right: 15px;
    margin-bottom: 0;
}
#tb_module_panel_dropdown .tb_module_types{
    float:left;
    width:auto;
    margin: 2px 0 5px 15px;
    padding: 0;
    font-size: 15px;
}
#tb_module_panel_dropdown .tb_rows_grid .tb_row_grid {
	height: 34px;
}
#tb_module_panel_dropdown .tb_rows_grid li {
	width: 14%;
}
#tb_module_panel_dropdown .predesigned_row{
    width: 50%;
    padding: 5px 1.5% 0;
    float:left;
    text-align:center;
    height:auto;
    box-sizing: border-box;
}
#tb_module_panel_dropdown .predesigned_row[data-slug^="empty-"]{
    width:15%;
    margin-right:1%;
    text-align:center;
}
#tb_module_panel_dropdown .tb_library_types{
    margin: 0 0 5px 15px;
    padding:0;
    font-size: 14px;
}
#tb_module_panel_dropdown .tb_library_item:nth-child(2n+1),
#tb_module_panel_dropdown .predesigned_row.tb_column_break{
    margin-right:0;
}
#tb_module_panel_dropdown .tb_module_panel_tab{
    height: 280px;
    text-align:left;
    padding-top:10px;
}
#tb_module_panel_dropdown .tb_predesigned_rows_list img{
    width:100%;
}
#tb_module_panel_dropdown .tb_module_outer{
    width:20%;
    height: 60px;
}
#tb_module_panel_dropdown .tb_module_panel_rows_wrap,
#tb_module_panel_dropdown .tb_module_panel_library_wrap{
    padding:0;
}
#tb_module_panel_dropdown .tb_busy{
    cursor:wait;
    opacity:.8;
    pointer-events:none;
}
#tb_module_panel_dropdown .tb_busy:before{
    content:'';
    animation:spin 1.4s infinite linear;
    background-color:rgba(0,0,0,.6);
    width:55px;
    height:55px;
    z-index:9999;
    position:absolute;
    top:50%;
    left:45%;
    border-radius:50%;
    border:5px solid transparent;
    border-top-color:#fff;
    box-sizing:border-box;
}
#tb_module_panel_dropdown .tb_library_item_list .tb_library_item{
    margin:0;
    padding: 5px;
    position:relative;
    cursor:move;
    width:50%;
    box-sizing: border-box;
	float: left;
}
#tb_module_panel_dropdown .tb_library_item_list .tb_no_content{
	margin-left: 5px;
}
#tb_module_panel_dropdown .tb_library_item_list .tb_library_item:nth-of-type(1) {
	clear: left;
}
#tb_module_panel_dropdown .tb_library_item_list .tb_library_item .tb_library_item_inner{
    position: relative;
}
#tb_module_panel_dropdown .tb_module_panel_search input[type="text"]{
    max-width: 120px;
    margin: 0;
}
#tb_module_panel_dropdown .tb_module_panel_search:after{
    top:7px;
}
#tb_module_panel_dropdown .tb_module_types:not(.tb_ui_dropdown_items) > li{
    color:#7d7d7d;
    margin-right:5px;
}
#tb_module_panel_dropdown .tb_module_types:not(.tb_ui_dropdown_items) .current{
    border-bottom: solid 1px #00a2fb;
    color: #000;
}

#tb_module_panel_dropdown .tb_predesigned_rows_container[style*="overflow: auto;"],
#tb_module_panel_dropdown .tb_predesigned_rows_container .simplebar-content {
    margin: 0 -1.5%;
}
#tb_module_panel_dropdown .tb_library_item_list[style*="overflow: auto;"],
#tb_module_panel_dropdown .tb_library_item_list .simplebar-content {
    margin: 0 -5px;
}
/* general headings */
#tb_module_panel h4,
#tb_module_panel_dropdown h4 {
    font-family:Arial, sans-serif;
    font-weight:normal;
    text-decoration:none;
    font-style:normal;
    text-shadow:none;
}
/* edge direction */
.tb_toolbar_tabs.tb_touch_right,
#tb_module_panel_dropdown.tb_touch_right {
	right: 5px !important;
	left: auto !important;
}
.tb_toolbar_tabs.tb_touch_left,
#tb_module_panel_dropdown.tb_touch_left {
	right: auto !important;
	left: 5px !important;
}
.tb_toolbar_tabs.tb_touch_bottom,
#tb_module_panel_dropdown.tb_touch_bottom,
#tb_component_bar .tb_action_more ul.tb_touch_bottom {
    transform: translateY(-100%);
    margin-bottom: 30px;
	margin-top: -20px;
}
.tb_toolbar_tabs.tb_touch_bottom,
#tb_component_bar .tb_action_more ul.tb_touch_bottom {
	margin-top: -40px;
	animation: none;
}
.tb_subrow_action .tb_toolbar_tabs.tb_touch_bottom:before,
#tb_component_bar .tb_toolbar_tabs.tb_touch_bottom#tb_row_options:before,
#tb_component_bar .tb_action_more .tb_touch_bottom:before {
    border: 8px solid transparent;
    border-top-color: #fff;
    top: calc(100% + 16px);
}
.tb_subrow_action .tb_toolbar_tabs.tb_touch_bottom:after,
#tb_component_bar .tb_toolbar_tabs.tb_touch_bottom#tb_row_options:after,
#tb_component_bar .tb_action_more .tb_touch_bottom:after {
    border: 9px solid transparent;
    border-top-color: rgba(0,0,0,.2);
	top: calc(100% + 18px);
}
.tb_touch_bottom#tb_module_panel_dropdown:after {
    top: 100%;
    margin-top: -6px;
    transform: rotateZ(-135deg);
	z-index: -1;
}

/* Transitions
---------------------------------------------------------------*/
.module_row,
.module_subrow{
    outline:2px solid transparent;
}
.module_row,
.module_subrow,
.module_column{
    background-position:center center; 
}
.wp-admin.tb_responsive_mode .row_inner{
    background: #f2feff;
}
.tb_action_active .tb_action_wrap,
.tb_action_active .tb_grid_drag,
.tb_action_active .module_row:hover .tb_row_anchor,
.tb_action_active .tb_module_front:hover > .tb_data_mod_name,
.themify_builder_admin .tb_toolbar_zoom_menu,
.tb_preview_only .tb_hide.module_row,
.tb_preview_only #tb_component_bar,
.tb_drag_start #tb_module_panel_dropdown,
.tb_drag_start .tb_column_btn_plus,
.tb_preview_only .tb_column_btn_plus,
.tb_preview_only .tb_grid_drag,
.tb_drag_start #tb_component_bar,
body.tb_drag_start #tb_component_bar.tb_clicked,
.tb_preview_only .themify_builder .hide-all{
    display:none !important;
}
.tb_action_active .module_row:not(.tb_element_selected),
.tb_action_active .module_column:not(.tb_element_selected),
.tb_action_active .module_subrow:not(.tb_element_selected),
.tb_action_active .tb_module_front:not(.tb_element_selected),
.tb_layout_part_parent>.tb_module_front,
.tb_drag_start .tb_module_front,
.tb_drag_module .module_row,
.tb_drag_column .subrow_inner .module_column,
.tb_drag_subrow .subrow_inner .module_column,
.tb_drag_column .module_row,
.tb_drag_row .module_subrow,
.tb_drag_row .module_column,
.not_editable_builder .module_row,
.not_editable_builder .module_column,
.not_editable_builder .module_subrow,
.tb_preview_only .module_subrow,
.tb_preview_only .module_row,
.tb_preview_only .tb_module_front,
.tb_preview_only .module_column{
    outline:none !important;
}
.tb_action_active #tb_component_bar.tb_clicked{
    display:block !important;
}
.tb_action_active.wp-admin .module_row:not(.tb_element_selected):hover{
    border-color:#dbc4ea !important;
}
.tb_action_active.wp-admin .module_subrow:not(.tb_element_selected):hover{
    border-color:#e2cef1 !important;
}
.tb_action_active.wp-admin .module_column:not(.tb_element_selected):hover{
    border-color:transparent !important;
}
.tb_action_active.wp-admin .tb_module.active_module:not(.tb_element_selected),
.tb_action_active.wp-admin .tb_module:not(.tb_element_selected):hover{
    background:#9fc6dc;
}
.tb_drag_module .tb_holder:empty{
    min-height: 50px;
}
.tb_preview_only .tb_module_front{
    cursor:default;
    user-select:auto;
}
.tb_preview_only .ui-sortable .module_subrow{
    margin:0;
}
.themify_builder_active .tb_preview_component{
    margin:0 auto;
    position:absolute;
    top:27%;
    left:50%;
    z-index:9999;
}
.module_row.tb_active_layout_part_row,
.tb_active_layout_part{
    z-index:880;
    cursor:default;
    visibility:visible;
    position:relative;
}
.tb_layout_part_parent,
.tb_active_layout_part .module_row .row_inner{
    width:100%;
}
.tb_layout_part_edit .module_row.tb_active_layout_part_row{
    outline:none;
}
.tb_layout_part_edit .module_row,
.tb_active_layout_part_row>.row_inner>.module_column{
    outline:none;
    pointer-events: none;
    border: none;
}
.tb_layout_part_edit .active_module{
    pointer-events: none;
}
.tb_layout_part_edit .tb_active_layout_part .active_module,
.tb_layout_part_edit .tb_active_layout_part .module_row,
.tb_layout_part_edit .tb_active_layout_part{
    pointer-events: auto;
}
.tb_active_layout_part_row .module_row .row_inner {
    width: auto; /* required to prevent layout part edit row extending out */
}
.tb_layout_part_edit .tb_active_layout_part:hover{
    box-shadow:none;
    outline:none;
}
.tb_active_layout_part_row>.row_inner>.module_column>.tb_action_wrap,
.tb_layout_part_edit .module_row.tb_active_layout_part_row>.tb_action_wrap,
.module_row .tb_active_layout_part>.tb_data_mod_name,
.tb_active_layout_part>.module-title,
.module_row.tb_active_layout_part_row>.row_inner>.module_column>.tb_column_btn_plus,
.module_row .tb_active_layout_part>.tb_module_btn_plus,
.tb_layout_part_edit .module_row .tb_overlay+.tb_action_wrap,
.tb_active_layout_part_row>.row_inner>.module_column>.tb_grid_drag,
.tb_active_layout_part>.module-layout-part>.module-title{
    display:none;
}
#tb_small_toolbar{
    background: #4a4a4a;
    color:#bdbdbd;
    outline:none;
    min-height:37px;
    width:100%;
    font-size:13px;
    font-family:Arial, sans-serif;
    box-sizing:border-box;
    z-index: 100;
    position: relative;
    margin-bottom: 4px;
    border-radius: 4px;
    box-shadow:0 1px 3px rgba(0,0,0,.3);
    pointer-events: auto;
}
#tb_small_toolbar a {
    color: #dcdcdc;
    text-decoration:none;    
}
#tb_small_toolbar a:hover{
    color: #fff;
    text-decoration:none;
}
#tb_small_toolbar .tb_toolbar_menu{
    margin-top:2px;
    float:left;
    text-align:left;
}
#tb_small_toolbar .tb_toolbar_close, 
#tb_small_toolbar .tb_toolbar_save_btn{
    vertical-align:top;
}
#tb_small_toolbar .tb_toolbar_save{
    border-radius:4px;
    color:#fff;
}
/*New Design*/
.tb_action_wrap{
    display: none;
    position: absolute;
    left: -7px;
    top: -7px;
    z-index: 777;
    padding: 8px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    transition: transform .3s;
}
.wp-admin .tb_action_wrap{
    top:-9px;
}
.tb_action_wrap:not(.tb_clicked):hover {
    transform: scale(1.3);
}
.module_subrow>.tb_action_wrap:not(.tb_clicked):hover {
    transform: scale(1.3) translateX(-50%);
}
.tb_show_toolbar .tb_dropdown::after{
    content: "";
    top:100%;
    left: 50%;
    border: 7px solid transparent;
    position: absolute;
    pointer-events: none;
    border-top-color: inherit;
    transform: translateX(-50%);
    display: inline-block;
}
/* action bar breadcrumb */
#tb_component_bar .tb_action_breadcrumb{
    margin-bottom: 5px;
    float: left;
    position:relative;
    white-space:nowrap;
}
.tb_action_breadcrumb li{
    background:#545454;
    color:#fff;
    display:inline-block;
    padding: 6px 1px 4px 13px;
    cursor:pointer;
    position:relative;
    margin:0;
    text-transform:uppercase;
    font-size:9px;
    line-height:1;
    box-sizing:border-box;
    box-shadow: inset 0 -1px rgba(0,0,0,.15);
}
.tb_action_breadcrumb li:first-child {
	padding-left:7px;
}
.tb_action_breadcrumb li:before,
.tb_action_breadcrumb li:after {
    content:'';
    position:absolute;
    top:50%;
    right:-8px;
    width: 0; 
    height: 0;
    border-top:9px solid transparent;
    border-bottom:9px solid transparent;
    border-left:8px solid #545454;
    z-index:2;
    transform:translateY(-50%);
}
.tb_action_breadcrumb li:after{
    border-left:9px solid rgba(0,0,0,.4);
    right:-9px;
    z-index:1;
}
.tb_action_breadcrumb li:last-child:after{
    border-left-color:#545454;
}
#tb_component_bar .tb_action_breadcrumb li:last-child{
    border-radius:0;
}
#tb_component_bar .tb_action_breadcrumb li:first-child{
    border-radius:4px 0 0 4px;
}
.tb_action_breadcrumb li:nth-of-type(2){
    background: #696969;
}
.tb_action_breadcrumb li:nth-of-type(2):before{
    border-left-color:#696969;
}
.tb_action_breadcrumb li:nth-of-type(3){
    background: #807e7e;
}
.tb_action_breadcrumb li:nth-of-type(3):before{
    border-left-color:#807e7e;
}
.tb_action_breadcrumb li:nth-of-type(4){
    background: #949494;
}
.tb_action_breadcrumb li:nth-of-type(4):before{
    border-left-color:#949494;
}
.tb_action_breadcrumb li:hover{
    background:#383838;
}
.tb_action_breadcrumb li:hover:before{
    border-left-color:#383838;
}
.tb_row_action.tb_action_wrap,
.tb_row_action .tb_dropdown>li{
    background:#9215ea;
}
.tb_column_action.tb_action_wrap,
.tb_column_action .tb_dropdown>li{
    background:#ff7800;
}
.tb_module_action.tb_action_wrap,
.tb_module_action .tb_dropdown>li{
    background:#02a2fb;
}
.tb_subrow_action.tb_action_wrap,
.tb_subrow_action .tb_dropdown>li{
    background:#d956e1;
}
.tb_row_action .tb_dropdown:after{
    border-top-color: #9215ea;
}
.tb_column_action .tb_dropdown:after{
    border-top-color: #ff7800;
}
.tb_module_action .tb_dropdown:after{
    border-top-color: #02a2fb;
}
.tb_subrow_action .tb_dropdown:after{
    border-top-color: #d956e1;
}
.tb_row_action.tb_action_wrap{
    border-radius: 100%;
}
.tb_row_action .tb_dropdown>li.selected,
.tb_row_action .tb_dropdown>li:hover{
    background:#6e04b8;
}
.tb_column_action .tb_dropdown>li.selected,
.tb_column_action .tb_dropdown>li:hover{
    background:#ff4800;
}
.tb_module_action .tb_dropdown>li.selected,
.tb_module_action .tb_dropdown>li:hover{
    background:#007aeb;
}
.tb_subrow_action .tb_dropdown>li.selected,
.tb_subrow_action .tb_dropdown>li:hover{
    background: #823487;
}
.module_column>.tb_action_wrap{
    right: -7px;
    left: auto;
    top: -3px;
}
.tb_column_action.tb_action_overlap {
    top: 8px;
}
.tb_action_label_wrap{
    clear:both;
    float:left;
    position: relative;
}
#tb_component_bar .tb_data_mod_name{
    left: 50%;
    top:auto;
    bottom:0;
    text-align: center;
    transform: translate(-50%,30px);
    display: block;
    border-radius:4px;
}
#tb_component_bar[data-top="true"] .tb_data_mod_name{
    top:0;
    transform:translate(-50%,-30px);
    bottom: auto;
}
.tb_component_menu_active #tb_component_bar .tb_dropdown::after,
#tb_component_bar.tb_show_toolbar .tb_dropdown:hover::after,
.tb_component_menu_active #tb_component_bar .tb_data_mod_name,
.tb_action_active .module_row .module_column .tb_column_btn_plus,
#tb_component_bar .tb_dropdown:hover ~ .tb_data_mod_name{
    display:none;
}
#tb_component_bar.tb_clicked{
    top:3px;
}
.module_column>#tb_component_bar.tb_clicked {
    left: auto;
    right: 3px;
}
.sub_column>.tb_action_wrap{
    right:auto;    
    left: -7px;
}
.module_row>#tb_component_bar.tb_clicked,
.sub_column>#tb_component_bar.tb_clicked {
    left: 3px;
    right: auto;
}
.module_subrow>.tb_action_wrap{
    left:50%;
    transform: translateX(-50%);
}
.module_subrow>#tb_component_bar.tb_clicked{
    transform:none;
    left:50%;
    margin-left:-82px;
}
.wp-admin .module_subrow>#tb_component_bar.tb_clicked{
    margin-left:-77px;
}
.tb_module_action .tb_action_more ul{
    left:0;
    right:auto;
}
.module_subrow:hover> .tb_action_wrap,
.module_column:hover> .tb_action_wrap,
.module_row:hover > .tb_action_wrap{
    display:block;
}
.themify_builder .tb_element_selected>.tb_action_wrap:not(.tb_clicked){
     display:none; 
}
.wp-admin .tb_action_more li::before,
.wp-admin .tb_action_more.ti-more:before,
.wp-admin .tb_dropdown>li::before {
    font-size: 17px;
}
.wp-admin .tb_dropdown>li{
    padding: 7px;
}
.wp-admin .tb_dropdown {
    height: 31px;
}
#tb_component_bar{
    font-family:Arial, sans-serif;    
    position:absolute;
    opacity:0;
    visibility: hidden;
    top:0;
    left:0;
    color:#fff;
    outline:none;
    z-index: 888;
    transition: .2s ease-in;
    transition-property: opacity,visibility,left,top,bottom,right;
}
#tb_component_bar.tb_clicked,
#tb_component_bar.tb_show_toolbar{
    opacity:1;
    visibility: visible;
    display: block;
}
.tb_clicked #tb_component_bar{
    position:static;
    width: auto;
    padding: 0;
    background: transparent;
    opacity: 1;
    visibility: visible;
    transform: none;
}
#tb_component_bar.tb_clicked{
     width: auto;
     padding: 0;
}
.tb_layout_part_edit #tb_component_bar{
    z-index: 9999;
}
#tb_component_bar.tb_clicked.tb_column_action{
    min-width: 165px;
}
.wp-admin #tb_component_bar.tb_clicked.tb_column_action{
    min-width: 155px;
}
.tb_subrow_action.tb_clicked .tb_dropdown {
    min-width: 198px;    
}
.wp-admin .tb_subrow_action.tb_clicked .tb_dropdown{
    min-width: 186px;
}
#tb_component_bar a{
    text-decoration:none;
    font-family:inherit; 
}
.tb_show_toolbar a{
    box-shadow:none;
    border:none;
    color:#fff;
}
#tb_component_bar .ti-new-window{
    font-family:'Themify';
}
.tb_dropdown{
    height:33px;
    box-sizing:border-box;
    position: relative;
    float: left;
    clear: both;
}
.tb_subrow_action .tb_toolbar_tabs::before,
.tb_row_action .tb_toolbar_tabs::before,
.tb_action_more > ul::before{
    content: '';
    border: 8px solid transparent;
    position: absolute;
    display: inline-block;
    border-bottom-color: #fff;
    z-index: 99;
    top: 0;
    right: 7px;
    transform: translate(0,-100%);
}
.tb_subrow_action .tb_toolbar_tabs::after,
.tb_row_action .tb_toolbar_tabs::after,
.tb_action_more > ul::after {
    content: '';
    border: 9px solid transparent;
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0,0,0,.25);
    z-index: 98;
    top: 0;
    left: 7px;
    transform: translate(0,-100%);
}
.tb_action_more > ul::after {
    left: auto;
    right: 6px;
}
.tb_inner_action_more ul::after,
.tb_inner_action_more ul::before {
    content: '';
    border: 8px solid transparent;
    position: absolute;
    display: inline-block;
    border-right-color: #fff;
    z-index: 99;
    top: 10px;
    right: 100%;
    transform: translate(0,0);
}
.tb_inner_action_more ul::after {
    border: 9px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    z-index: 98;
    top: 9px;
}
#tb_component_bar .tb_touch_right::after,
#tb_component_bar .tb_touch_right::before{
    border-right-color: transparent;
    border-left-color: #fff;
    left: auto;
    right: 0;
    transform: translateX(100%);
}
#tb_component_bar .tb_touch_right::after {
	border-left-color: rgba(0,0,0,.2);
}
.tb_subrow_action .tb_toolbar_tabs#tb_rgrids::before,
.tb_row_action .tb_toolbar_tabs#tb_row_options::before {
    right: auto;
    left: 42px;
}
.tb_subrow_action .tb_toolbar_tabs#tb_rgrids::after,
.tb_row_action .tb_toolbar_tabs#tb_row_options::after {
    right: auto;
    left: 41px;
}
.tb_subrow_action .tb_touch_right.tb_toolbar_tabs#tb_rgrids::before,
.tb_row_action .tb_touch_right.tb_toolbar_tabs#tb_row_options::before {
    right: auto;
    left: 96px;
    transform: translate(0,-100%);
    border: 8px solid transparent;
    border-bottom-color: #fff;
}
.tb_subrow_action .tb_touch_right.tb_toolbar_tabs#tb_rgrids::after,
.tb_row_action .tb_touch_right.tb_toolbar_tabs#tb_row_options::after {
    right: auto;
    left: 95px;
    transform: translate(0,-100%);
    border: 9px solid transparent;
    border-bottom-color: rgba(0,0,0,.2);
}
#tb_component_bar .tb_dropdown,
.tb_clicked{
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,.2);
    border-radius:4px;
}
#tb_component_bar[data-top] .tb_dropdown:after{
    border-top-color: transparent;
    top: 0;
    transform: translate(-50%,-100%);
}
#tb_component_bar.tb_row_action[data-top] .tb_dropdown::after{
    border-bottom-color: #9215ea;
}
#tb_component_bar.tb_column_action[data-top] .tb_dropdown::after{
    border-bottom-color: #ff7800;
}
#tb_component_bar.tb_module_action[data-top] .tb_dropdown::after{
    border-bottom-color: #02a2fb;
}
#tb_component_bar.tb_subrow_action[data-top] .tb_dropdown::after{
    border-bottom-color: #d956e1;
}
#tb_component_bar[data-top] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#tb_component_bar[data-top] .tb_action_breadcrumb {
    order: 1;
    margin-top: 5px;
}
#tb_component_bar[data-top] .tb_dropdown {
	max-width:231px;
}
.wp-admin #tb_component_bar[data-top] .tb_dropdown{
    max-width:217px;
}
.wp-admin #tb_component_bar[data-top].tb_module_action .tb_dropdown{
    max-width:186px;
}
#tb_component_bar ul{
    font-family:Arial, sans-serif;
    list-style:none;
    padding:0;
    margin:0;
    font-weight:normal;
    text-align:left;
}
#tb_component_bar ul:after{
    content:"";
    display:table;
    clear:both;
}
#tb_component_bar .tb_action_label_wrap > ul > li:first-child,
#tb_component_bar > ul > li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#tb_component_bar .tb_action_label_wrap > ul > li:last-child,
#tb_component_bar > ul > li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.tb_clicked #tb_component_bar > ul > li:last-child {
    border-bottom-right-radius: 0;
}
#tb_rgrids .tb_actions,
#tb_component_bar .tb_row_toolbar_menu{
    margin-bottom:10px;
}
.tb_dropdown>li{
    height:100%;
    text-align:center;
    vertical-align:middle;
    float:left;
    position:relative;
    box-sizing: border-box;
    padding: 8px;
    font-family: 'themify';
    margin: 0;
    cursor:pointer;
}
.tb_dropdown li.ti-move {
	cursor: move;
}
.tb_divider_action .tb_styling,
#tb_component_bar li.selected>.themify_tooltip,
.tb_layout-part_action .tb_save_component,
.tb_swap{
    display:none;
}
.tb_layout-part_action .tb_swap,
.tb_dropdown>li::before{
    display:block;
}
.tb_action_more.ti-more::before{
    display:inline-block;
    transform:rotate(-90deg);
    color:#fff;
}
.module_subrow.tb_element_selected,
.tb_drag_subrow .module_subrow,
.tb_drag_column .module_subrow,
.module_subrow:hover{
    outline-color:#d956e1;
}
.wp-admin .module_subrow.tb_element_selected,
.wp-admin .tb_drag_subrow .module_subrow,
.wp-admin .tb_drag_column .module_subrow,
.wp-admin .module_subrow:hover{
    border-color:#d956e1;
}
/* Action More  dropdown */
#tb_component_bar .tb_action_more > ul{
    background:#fff;
    position:absolute;
    top: 100%;
    left: auto;
    right:0;
    margin:8px 0 0;
    padding:5px 0;
    display:none;
    list-style:none;
    z-index:10;
    min-width:110px;
    box-sizing:border-box;
    line-height:120%;
    white-space:normal;
    text-align:left;
    color:#666;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.6), 0 3px 10px rgba(0,0,0,.2);
    border-radius: 4px;
    animation: tb_fadeInUp .25s alternate cubic-bezier(0.1,0.1,0.8,1.0);
}
.tb_action_more li > div{
    display:block;
    margin:0;
    width:auto;
    height:auto;    
}
.tb_action_more li::before{
    padding-right:6px;
    font-family:themify;
    font-size: 17px;
    vertical-align: middle;
}
.tb_action_more li:hover{
    background:#eee;
    color:#000;
}
/* Action More  dropdown for copy and past row*/
#tb_component_bar .tb_inner_action_more ul{
    background:#fff;
    position:absolute;
    top: -5px;
    left: 100%;
    padding: 5px 0;
    display:none;
    z-index:10;
    min-width: 140px;
    box-sizing:border-box;
    line-height:120%;
    white-space:normal;
    color:#666;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.8), 0 3px 10px rgba(0,0,0,.3);
    border-radius: 4px;
    animation: tb_fadeInRight .25s alternate cubic-bezier(0.1,0.1,0.8,1.0);
    cursor: auto;
}
#tb_component_bar .tb_inner_action_more .tb_touch_right{
    left: 0;
    transform: translateX(-100%);
    animation: tb_fadeIn .25s alternate cubic-bezier(0.1,0.1,0.8,1.0);
}
#tb_component_bar.tb_column_action .tb_inner_action_more ul {
    top: 100%;
    left: auto;
    right: 0;
    margin-top: 8px;
}
#tb_component_bar.tb_column_action .tb_inner_action_more ul::before {
    top: auto;
    right: 7px;
    left: auto;
    bottom: 100%;
    border-bottom-color: #fff;
    border-right-color: transparent;
}
#tb_component_bar.tb_column_action .tb_inner_action_more ul::after {
	right: 6px;
	left: auto;
    top: auto;
    bottom: 100%;
    border-right-color: transparent;
    border-bottom-color: rgba(0,0,0,.2);
}
#tb_component_bar.tb_column_action ul.tb_touch_right{
    left: auto;
    right: 0;
    transform: none;
}
#tb_component_bar.tb_column_action ul.tb_touch_right::after,
#tb_component_bar.tb_column_action ul.tb_touch_right::before{
    border-left-color: transparent;
    left: auto;
    right: 10px;
    transform: none;
}
#tb_component_bar .tb_inner_action_more li,
#tb_component_bar .tb_action_more li{
    font-family:Arial, sans-serif;
    width:100%;
    box-sizing:border-box;
    padding:5px 10px;
    margin: 0;
    font-size: 14px;
    position: relative;
}
#tb_component_bar .tb_inner_action_more li{
    margin: 0 0 2px;
    cursor: pointer;
}
#tb_component_bar .tb_inner_action_more li:hover,
#tb_component_bar .tb_action_more li:hover{
    background:#eee;
    color:#000;
}
.module_row.tb_element_selected,
.tb_drag_row .module_row,
.module_row:hover{
    outline-color:#9215ea;
}
.wp-admin .module_row.tb_element_selected,
.wp-admin .tb_drag_row .module_row,
.wp-admin .module_row:hover{
    border-color:#9215ea;
}
.wp-admin .module_row.tb-page-break,
.tb_action_active.wp-admin .tb-page-break:not(.tb_element_selected):hover{
    border-color:transparent !important;
}
.wp-admin .module_row.tb-page-break:hover{
    border-color:#629cf4 !important;
}
.module_row .row-slider-nav{
    z-index:50;
}
.builder-is-touch .tb_row_action{
    visibility:visible !important;
}
/*Inline Edit*/
#tb_editor{
    display:none; 
    position:absolute;
    top:0;
    left:0;
    z-index:99999999;
    padding:0;
    margin:0;
    background:#E5E5E5;
    transition:top,left .3s linear;
    padding:5px;
}
#tb_editor ul,
#tb_editor li{
   list-style:none;
   padding:0;
   margin:0;
   display:inline-block;
}
#tb_editor ul{
    display:none;
    position:absolute;
    bottom:-41px;
    left:0;
    text-align:left;
    background:#fff;
    z-index:999999999;
    border-radius:3px;
    padding:5px;
    box-sizing:border-box;
    box-shadow:0 2px 5px 1px #bababa;
}
#tb_editor ul:after{
    bottom:100%;
    left:8px;
    border:solid transparent;
    content:'';
    height:0;
    width:0;
    position:absolute;
    border-color:rgba(255, 255, 255, 0);
    border-bottom-color:#fff;
    border-width:6px;
}
#tb_editor ul li{
    width:30px;
    box-sizing:border-box;
    font-size:15px;
    float:left;
    margin:0;
}
.tb_editor_paragraph ul{
    width:222px;
}
.tb_editor_list ul,
.tb_editor_text_decoration ul,
.tb_editor_text_align ul{
    width:130px;
}
#tb_editor li{
    border-radius:5px;
    vertical-align:middle;
    line-height:normal;
    text-align:center;
    margin-left:3px;
    padding:5px;
    cursor:pointer;
}
#tb_editor ul:hover,
#tb_editor>li:hover ul{
    display:block;
}
#tb_editor .themify_tooltip{
    top:-48px;
    transform:translateX(-50%);
    left:50%;
    margin-left:-5px;
    font-size:14px;
    display:none;
}
#tb_editor .themify-tooltip-top:hover>.themify_tooltip{
    display:inline-block;
}
#tb_editor .themify_tooltip:before{
    left:50%;
    transform:translateX(-50%); 
}
#tb_editor [data-action='bold']:before{
    content:'B';
    font-weight:bold;
    font-size:21px;
}
#tb_editor [data-action="fonts"]:before{
    content:'Ab';
    font-size:21px;
}
#tb_editor li:hover{
    background:#d7d7d7;
}
.module:hover [contenteditable="true"]:empty{
    visibility:visible;
}
.module_row[contenteditable="true"]:empty{
    visibility:hidden;
    position:relative;
    font-size:10px;
    line-height:normal;
    color:#fff;
    outline:none;
    min-height:30px;
    font-weight:normal;
    letter-spacing:normal;
    font-style:normal;
}
[contenteditable="true"]:empty:before{
    content:'\e61a';
    background:#02a2fb;
    border-radius:100%;
    text-align:center;
    cursor:pointer;
    font-family:themify;
    padding:6px;
    margin-left:10px;
    width:auto;
    display:inline-block;
}
[contenteditable="true"]:empty:after{
    content:attr(data-tooltip);
    position:relative;
    background-color:#23282d;
    padding:3px 10px 6px;
    visibility:hidden;
    white-space:nowrap;
    z-index:99999;
    border-radius:5px;
    font-family:Arial, sans-serif;
    outline:none;
    font-size:11px;
    top:-2px;
    display:inline-block;
    margin-left:4px;
}
[contenteditable="true"]:empty:hover:after{
    visibility:visible;
}

/* WP editor placeholder */
.themify-wp-editor-holder {
    padding-top: 15%;
    background: #f5f5f5;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    min-height: 120px;
    max-height: 540px;
    position: relative;
}
.themify-wp-editor-holder > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba( 242, 101, 34, 1 );
    font: normal 13px/1em Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em;
    border-radius: 3px;
    padding: 15px 30px;
    text-decoration: none;
    color: #ffffff;
    white-space: nowrap;
}
.themify-wp-editor-holder > a:hover {
    background: rgba( 242, 101, 34, .7 );
}
.themify-wp-editor-holder > a:focus {
    outline: none;
    box-shadow: none;
}
/* Custom styles for page break rows */
.module_row.tb-page-break,
.wp-admin.tb_action_active .module_row.tb-page-break:hover {
    height: 24px;
    width: 100% !important;
    max-width: 100% !important;
    background-color:#aee4ff;
    border: solid 1px #629cf4;
    color:#666;
    outline: none;
    cursor: move;
    transition: none;
    transform: none;
}
.tb-page-break:hover {
    background-color:#5fcbff;
    color: #fff;
}
.module_row.tb-page-break .tb_data_mod_name,
.themify-wp-editor-holder.themify-active-holder + #postdivrich,
.themify-wp-editor-holder:not(.themify-active-holder),
.tb-page-break .tb_grid_drag,
.wp-admin .tb-page-break .row_inner{
    display: none;
}
.tb-page-break::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.tb-page-break .page-break-overlay{
    width: 100%;
    text-align: center;
    font: 13px/1 Arial, sans-serif;
    letter-spacing: .1em;
}
.module_row.tb-page-break .tb_row_action.tb_action_wrap{
    transition:none;
    display:block;
    z-index: 1;
    box-shadow: none;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
    opacity: 0;
    background: none;
    padding: 0;
    cursor: move;
}
.themify_builder .module_row.tb-page-break .tb_row_anchor{
    position: absolute;
    right:0;
    top: 0;
    z-index: 2;
    transform:scaleX(0);
    transform-origin: left;
    padding: 5px;
    background: #2aa3e0;
    color: #fff;
    box-sizing: border-box;
    text-align:center;
    display: block;
    transition:transform .3s;
    height: 100%;
    cursor: pointer;
    border-radius:0;
}
.tb-page-break .tb_row_anchor:before{
    content: "\e646";
    font-size: 15px;
    font-family: 'Themify';
}
.themify_builder .module_row.tb-page-break:hover .tb_row_anchor{
    transform:scaleX(1);
}
.module.module-page-break{
    min-height: 20px;
    width: 100%;
    font: 13px/1 Arial, sans-serif;
    padding: 5px 0;
    letter-spacing: .1em;
    text-align: center;
}
.tb-page-break .module_column,
.tb-page-break .tb_module_front{
    box-shadow:none;
    outline:none;
} 
.tb_drag_start .tb_action_wrap,
.tb_drag_start .tb_data_mod_name,
.tb_preview_only .edit-button,
.tb_module_outer.tb-module-page-break,
.tb-page-break .tb_column_btn_plus {
    display:none !important;
}
/* media queries */
@media screen and (max-width: 680px) {
	#tb_module_panel_dropdown .tb_module_outer {
		width: 33%;
	}
	#tb_module_panel_dropdown .tb_rows_grid li {
		width: 30%;
	}
	#tb_module_panel_dropdown .tb_module_types{
		font-size: 13px;
		margin-top: 10px;
	}
	#tb_module_panel_dropdown .tb_module_panel_search {
		margin-left: 5px;
		margin-right: 5px;
	}
	#tb_module_panel_dropdown .tb_module_panel_search input[type="text"] {
		max-width: 90px;
	}
	#tb_module_panel_dropdown .tb_library_item_list .tb_library_item {
		float: left;
	}
}
/* BEGIN Last Row Add Button */
#tb_add_container{
    font-family:Arial, sans-serif;
    width: 100%;
    height: 90px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 0 0 10px;
    box-sizing: border-box;
}
.tb_last_add_btn{
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: #ccc;
    border-radius: 50%;
    margin: 0 auto;
    color: white;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    opacity: 1;
    transition: opacity .3s,height.3s;
}
.tb_last_add_btn:hover{
    background: #aaa;
}
.tb_last_add_btn_expand{
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 520px;
    max-width: 94%;
    margin: 0 auto;
    height: 0;
    align-items: center;
    z-index: 2;
    visibility: hidden;
}
#tb_add_container.expanded .tb_last_add_btn{
    opacity: 0;
    height: 0;
}
#tb_add_container.expanded .tb_last_add_btn_expand{
    opacity: 1;
    visibility:visible;
}
.tb_last_add_btn_expand .tb_row_grid{
    width: 11%;
    height: 44px;
    padding: .8%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    border-radius: 3px;
    cursor: pointer;
}
.tb_last_add_btn_expand .tb_row_grid:hover{
    border-color: #000;
    box-shadow: 0 1px 10px 2px rgba(0,0,0,.12);
}
.tb_last_add_btn_expand .tb_row_grid > span{
    width: 100%;
    height: 100%;
    display: block;
}
.tb_last_add_btn_expand .tb_row_grid .tb_col_1{
    background-color: #363636;
}
.tb_last_add_btn_expand .tb_row_grid .tb_col_2{
    background-image: url(../img/builder/row-grids/row_grid2.svg);
}
.tb_last_add_btn_expand .tb_row_grid .tb_col_3{
    background-image: url(../img/builder/row-grids/row_grid3.svg);
}
.tb_last_add_btn_expand .tb_row_grid .tb_col_4{
    background-image: url(../img/builder/row-grids/row_grid4.svg);
}
.tb_last_add_btn_expand .tb_row_grid .tb_col_5{
    background-image: url(../img/builder/row-grids/row_grid5.svg);
}
.tb_last_add_btn_expand .tb_row_grid .tb_col_6{
    background-image: url(../img/builder/row-grids/row_grid6.svg);
}
.tb_last_add_btn_expand .tb_add_blocks{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 1%;
    font-size:13px;
    font-weight: normal;
    line-height:22px;
    margin-bottom:-3px;
    text-align: center;
}
.tb_add_blocks::before{
    content:'+';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 28px;
    line-height: 31px;
    background: #3e3e3e;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.tb_add_blocks:hover::before {
    background: #000;
}
.tb_add_blocks .tb_block_plus_text{
   opacity:.4;
}
.tb_add_blocks:hover .tb_block_plus_text{
   opacity:1;
}
@media screen and (max-width: 620px) {
    .tb_last_add_btn_expand .tb_row_grid{
        height:36px;
    }
    .tb_last_add_btn_expand .tb_block_plus_text{
        display:none;
    }
}
/* END Last Row Add Button */
