/* TOOLBAR */
#tb_toolbar .tb_toolbar_save_wrap {
    right: auto;
    left: 3px;
    top: 0;
}
.tb_toolbar_revision_btn ul {
    right: auto;
    left: 0;
}
.tb_toolbar_revision_btn ul::before {
    right: auto;
    left: 13px;
}
#tb_toolbar .tb_module_panel_tab .tb_ui_dropdown {
    margin: 0 17px 10px 0;
	right: 0;
}
#tb_toolbar .tb_ui_dropdown_items {
    left: auto;
    right: 0;
	text-align: right;
}
.tb_module_panel_tab_acc .tb_module_panel_tab_acc_title h4:before {
	right: auto;
	left: 0;
}

/* MODULE PANEL WRAPPER */
.tb_toolbar_add_modules_wrap #tb_module_panel {
    left: auto;
    right: 0;
    transform: none;
}

/* MODULE LIGHTBOX */
.tb_field .selectwrapper.noborder {
	margin-left: 0;
	margin-right: -24px;
}
.tb_field .selectwrapper.noborder + .tb_range_after {
	margin-right: 5px;
}
.tb_field .tb_inline_list li .tb_tooltip_container {
	position: relative;
}
.tb_field .tb_inline_list li .selectwrapper.noborder {
	margin-left: 7px;
	margin-right: 0;
	left: 0;
}
.builder-lightbox input[type="checkbox"]:checked:before {
	margin-left: 1px;
}
.themifyGradient .gradient-pointer-info .content .minicolors-panel {
	left: auto;
	right: -18px;
}
#tb_lightbox_container .tb_tabs:not(.tb_compact_tabs) > ul {
	text-align: right;
}
.themify_builder_admin h1,
.themify_builder_admin h2,
.themify_builder_admin h3,
.themify_builder_admin h4,
.builder-lightbox h4{
    text-align: right;
}
.tb_style_toggle i {
	padding-left: 1em;
}
.tb_label{
    float:right;
    text-align:right;
    margin:0 0 0 1%;
}
.tb_input{
    float:right;
    text-align:right;
}

.tb_toolbar_backend_edit {
	margin-left: 8px;
}
.tb_toolbar_backend_edit a {
	line-height: 36px;
}
.tb_toolbar_backend_edit i {
	float: right;
	line-height: 36px;
}
.tb_toolbar_backend_edit i + span {
	margin-left: 0;
	margin-right: 6px;
}
#tb_switch_frontend i {
	line-height: 33px;
}

#themify_lightbox_fa .tf-icon-group-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
}
#themify_lightbox_fa.themify-admin-lightbox .tf-icon-group-select label input[type=radio] {
    margin: 0;
    margin-left: 5px;
    vertical-align: middle;
}

.builder-lightbox .thumb_preview {
	right: auto;
	left: 0;
}
.tb_lightbox_small .tb_options_tab .tb_tooltip {
	direction: ltr;
}
.tb_icon_wrap {
	float: right;
}
.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
	left: auto;
	right: 0;
}
.minicolors_wrapper .tb_clear_btn {
	right: auto;
	left: 33px;
}
.themify_builder_active .switch-wrapper .switch_label::after {
	left: auto;
	right: 38px;
}
.builder-lightbox input[type="radio"],
.builder-lightbox input[type="checkbox"] {
	margin-right: auto;
	margin-left: 7px;
}

/* simplebar scroll */
.tb_panel_docked:not(.tb_standalone_lightbox) .simplebar-scroll-content{
    padding-right: 0;
}
.simplebar-scroll-content {
	margin-right: 17px;
	padding-left: 17px;
	padding-right: 0;
}
.simplebar-track {
	right: auto;
	left: 0;
}
.tb_float_xsmall .simplebar-scroll-content {
	margin-right: 8px;
}