
<div class="about-overlay-close overlay-close"><i class="fa fa-times" aria-hidden="true"></i></div>
<div class="text-container">
    <p class="p1"><strong>We’ve got a thing going on…</strong></p>
    <p>Whether you’re looking for&nbsp;some exciting solo play or you’re headed for a steamy rendezvous, Me &amp; Mrs. Jones has just what you need to explore new ways of pleasure from lingerie, fetish wear, sex toys and sex games,&nbsp;to a sensual assortment of naughty novelties. We have created a thrilling shopping experience “For Her, For Him, and For Us”.</p>
    <p>Me and Mrs. Jones sets the mood from the moment you begin shopping&nbsp;all the way to the bedroom…or wherever else you like&nbsp;to play. We were inspired by the&nbsp;soulful voice of Billy Paul in the hit song “Me and Mrs. Jones” because we know that sometimes “the feeling is just too strong” to resist. And why should you?</p>
    <p>So why not stay a while and browse all of our tantalising assortment of sensual products in our adult boutique. They’re sure to ignite your passion and leave you wanting more, and when you do want more, we make it easy for you to re-order your favourite products&nbsp;and then find that something&nbsp;new that will&nbsp;take you all the way to the edge and back again.</p>
    <p>&nbsp;</p>
    <p>Me &amp; Mrs. Jones Australia Pty. Ltd., ABN&nbsp;612 024 610</p>
</div>