<div class="login-overlay-close"><i class="fa fa-times" aria-hidden="true"></i></div>
<div class="col-lg-6 left-side">
    <div class="login-overlay-header-logo col-lg-12"><img src="https://s3-ap-southeast-2.amazonaws.com/meandmrsjones/images/site_images/header-logo.png"/></div>
    <div class="col-lg-10 col-lg-offset-1 login-overlay-header"><p>Create an account</p></div>
    <div class="col-lg-10 col-lg-offset-1 login-overlay-body">
        <p>
            You're only a few clicks away from getting the best deals on all of our products plus a 10% discount on your first order!
        </p>
        <p>
            Don't worry, all your details are completely confidential. Even your transactions will appear on your bank statement discreetly as "MMJ"&#46;
        </p>
    </div>
    <div class="col-lg-10 col-lg-offset-1 login-overlay-button-container">
        <div class="col-lg-6">
            <button id="create_account_button" type="button">Create an account</button>
        </div>
        <div class="col-lg-6">
            <button id="guest_account_button" type="button">Continue as guest</button>
        </div>
    </div>
</div>
<div class="col-lg-6 right-side">
    <div class="col-lg-10 col-lg-offset-1 login-overlay-header"><p>Already have an account?</p></div>
    <div class="col-lg-10 col-lg-offset-1 login-overlay-body">
        <p>
            Welcome back!
        </p>
        <p>            
            Sign into your account below:
        </p>
    </div>
    <div class="col-lg-10 col-lg-offset-1 login-overlay-login-container">
        <form name="loginForm" id="loginForm" method="post" ng-app novalidate>
            <div class="col-lg-12">
                <label for="username">Email</label>
                <input ng-model="username" id="login-username" name="username" type="text" placeholder="mmj" required/>
                <p class="user_name_error" ng-show="loginForm.username.$touched && loginForm.username.$invalid">Please enter an valid user name</p>
            </div>
            <div class="col-lg-12">
                <label for="password">Password</label>
                <input ng-model="password" id="login-password" name="password" type="password" placeholder="Your Password" required/>
                <p class="user_name_error" ng-show="loginForm.password.$touched && loginForm.password.$invalid">Please enter an valid password</p>
            </div>
            <div class="col-lg-8 col-lg-offset-4">
                <div class="col-lg-6 forgotten-password-container">
                    <a href="/my-account/lost-password/" id="login-forgotten-password">Forgotten Password?</a>
                </div>
                <div class="col-lg-6">
                    <button type="button" id="login-button" ng-disabled="!loginForm.$valid">Sign In</button>
                </div>
            </div>
            <div class="col-lg-12"><p class="signin-error"></p></div>
        </form>
    </div>
</div>