<div class="faq-overlay-close overlay-close"><i class="fa fa-times" aria-hidden="true"></i></div>
<div class="content-box">
    <div class="text-container">
        <p class="p1"><b>What is your return/exchange policy?<br>
            </b></p>
        <p class="p1"><strong>Exchange Policy for Sex Toys &amp; Adult Products:</strong></p>
        <p>For health and hygiene reasons, we cannot exchange any sex toys, adult products or health &amp; hygiene products, unless the product is faulty. We do not accept any returns or exchanges on health and hygiene items or personal lubricants (Our Essentials). We will replace any faulty item within 14 days of the receipt date. We always do our best to ensure that the items we ship to you are in top condition. However, if you feel as though you have received an item that is faulty, we will be happy to have the product replaced free of charge. Click <a href="https://www.meandmrsjones.com.au/returns-2/" target="_blank"><strong>HERE</strong></a> to request a replacement of a faulty item. You will need to fill out the form and upload a photograph of the faulty product. Once we have verified that the product is indeed faulty, you will be shipped a replacement. If we are unable to replace the product, we will offer you the option of choosing another product of the same value. There is no need to return faulty adult products to Me &amp; Mrs. Jones. <strong>PLEASE DO NOT SEND BACK ANY SEX TOY OR ADULT PRODUCT</strong> to Me &amp; Mrs. Jones. Some products in certain brands include a warranty. We honour the terms of all warranties with proof of purchase. You will receive your exchanged item within approximately 10 days of the acceptance of your exchange.</p>
        <p>If you have received a faulty upon arrival item from Our Essentials (lubes, massage products, body paints, cleaning and grooming products, condoms, sex toy cleaners or sexual aides) please email us at info@meandmrsjones.com.au</p>
        <p><strong>Exchange Policy for Garments &amp; Shoes (Apparel):</strong></p>
        <p>If you have ordered the wrong size or colour or have had a change of mind, you may exchange your garment, but you will be charged for the shipping fees. Standard postage fees will apply to return orders. Please refer to the size charts provided for all of our apparel to avoid ordering an incorrect size. To exchange, please click <a href="https://www.meandmrsjones.com.au/returns-3/" target="_blank"><strong>HERE</strong></a> and fill out the form. Please print the form and include it in the return package to Me &amp; Mrs. Jones to be mailed to the address below. You will be responsible for the return shipping of your parcel and you will be charged for the replacement shipping.</p>
        <p>You may not return items that have been worn or washed. All returns must have all original tags and packaging to be accepted. Items may only be returned within 14 days of receipt.</p>
        <p>Me &amp; Mrs. Jones<br>
            C/O Wrapped Secrets<br>
            P.O. Box 5303<br>
            Algester, QL 4115</p>
        <p>For support please contact info@meandmrsjones.com.au</p>
        <p class="p1"><b>What should I except for shipping time?<br>
            </b>All of our products are delivered with in approximately 3-10 days business days.</p>
        <p class="p2"><span class="s2"><b>What should I expect for shipping cost?<br>
                </b></span>We have a flat rate shipping cost of $9.85 throughout Australia.</p>
        <p class="p3"><span class="s3"><b>I’m concerned about my privacy. Is the shipping discreet?<br>
                </b></span>Your parcels will not include any references to adult products and will be discreetly packaged to ensure your privacy.&nbsp;Sometimes you may receive your order in more than one parcel.</p>
        <p class="p1"><b>What payment methods do you accept?<br>
            </b>We accept Visa and MasterCard.</p>
        <p class="p3"><span class="s3"><b>How will my purchases appear on my credit card statement?<br>
                </b></span>Your privacy is important to us. Your credit card statement will only show “”MMJ Online” [Me &amp; Mrs. Jones].</p>
        <p class="p4"><b>How do I know that my payment went through?<br>
            </b>If the order confirmation page appeared after your payment and you received an order confirmation email from us then your payment has gone through. If you’re still unsure, please contact your bank for further information.</p>
        <p class="p1"><b>How will I know when my parcel will arrive?<br>
            </b>You will receive an email from us when your parcel ships with an estimated time of delivery and as well as details to track and trace your parcel.</p>
        <p><b>I haven’t received my parcel yet. What do I do?<br>
            </b>If your parcel has not arrived in the specified delivery time please contact customer service at info@meandmrsjones.com.au.<br>
            <b><br>
                What are the benefits of having an account with MMJ?<br>
            </b>MMJ will remember your shipping and billing addresses to speed up your purchase process. Also you may view past orders and benefit from the ease of re-ordering your favourite products. If you need to return or exchange an item, you can print a return label from your previous orders list. We will also keep you in the know about all of our fantastic deals and promotions.</p>
        <p class="p1"><b>Do I need to create an account in order to shop?<br>
            </b>You do not need to create an account in order to shop. You may opt to shop as a guest and none of your information will be saved.</p>
        <p class="p1"><b>How do I update my account details?<br>
            </b>To update any of your personal details, please log into your account. You can then edit your personal information such as billing/shipping address, email address, and password.</p>
        <p class="p1"><b>I can’t remember my password. What do I do?<br>
            </b>If you can’t remember your password, please click the ‘Forgotten password?’ link at login. An email will be sent to you with instructions on how to reset your password.</p>
        <p class="p1"><b>How do I know what size I am in apparel?<br>
            </b>We want all of your purchases to fit and look great. For help with choosing the best fit, please refer to our <strong><a href="https://www.meandmrsjones.com.au/apparel-size-guide/" target="_blank">Size Guide</a></strong> which you can find on our apparel product pages.</p>
        <p class="p1"><strong>Didn’t find the answer you were looking for? Contact Us <span class="contact-us-link">Here</span>.</strong></p>
    </div>
</div>