
<div class="tc-overlay-close overlay-close"><i class="fa fa-times" aria-hidden="true"></i></div>
<div class="text-container">
    <p>TERMS & CONDITIONS</p>
    <p>These terms of use (Terms) govern your use of the Me &amp; Mrs. Jones’ Website and all related sites including but not limited to www.meandmrsjones.com.au (the Website). Please read these Terms carefully.<strong><br>
        </strong></p>
    <ol>
        <li><strong>Ownership<br>
            </strong>The Website and all content is operated and owned by Me &amp; Mrs. Jones Australia Pty. Ltd.,&nbsp;ABN: 612 024 610.<br>
            Me &amp; Mrs. Jones Australia Pty. Ltd. is an Australian owned and operated business located in Australia.</li>
    </ol>
    <ol start="2">
        <li><strong>Pricing<br>
            </strong>All prices on the Website are displayed in Australian dollars and you will be charged in Australian dollars. Pricing is subject to change without prior notice.</li>
    </ol>
    <ol start="3">
        <li><strong>Orders<br>
            </strong>All orders submitted through the Website are subject to acceptance by Me &amp; Mrs. Jones.<br>
            After you submit your order, you will receive an email to confirm receipt of your order. This email confirmation does not constitute an acceptance of the order or an offer to sell products. Me &amp; Mrs. Jones reserves the right to refuse an order for any reason. We reserve the right to correct inadvertent errors, omissions or inaccuracies in relation to price, product availability, or product descriptions. Acceptance of all orders is subject to Me &amp; Mrs. Jones confirming availability and price for products ordered. If your order is rejected for any reason you will be given a full refund for any amount paid for the order.Me &amp; Mrs. Jones only accepts your offer, and concludes the contract of sale for the product(s) ordered by you, when we dispatch the product(s) and send an email confirming that the product(s) have been dispatched to you.We may cancel your order (included orders accepted by Me &amp; Mrs. Jones) without any liability to you if any of the products in your order are unavailable, or there were any errors in price or product description on the Website at the time of placing your order, or due to technical errors in processing your order. If we cancel your order for any reason you will be given a full refund for any amount paid for the order. If you purchase a product from us, we may request certain personally identifiable information from you. You may be required to provide contact information (such as name, email, and&nbsp;postal address) and financial information (such as credit card number, expiration date).</li>
    </ol>
    <ol start="4">
        <li><strong>Communications<br>
            </strong>We use personally identifiable information for billing purposes and to fill your orders. If we have trouble processing an order, we will use this information to contact you. We may also us your email to communicate with you about sales and promotions if you have requested such communication. There is an option to opt out&nbsp;of promotional communications from Me &amp; Mrs. Jones from your Account Dashboard.</li>
    </ol>
    <ol start="5">
        <li><strong>Legal<br>
            </strong>We reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our right and/or comply with a judicial proceeding, court order, or legal process served on our Website.<strong><br>
            </strong></li>
    </ol>
    <ol start="7">
        <li><strong>Refund and Return Policy</strong><br>
            <strong>Exchange Policy for Sex Toys &amp; Adult Products: </strong>For health and hygiene reasons, we cannot exchange any sex toys, adult products or health &amp; hygiene products, unless the product is faulty. We do not accept any returns or exchanges on health and hygiene items or personal lubricants (Our Essentials). We will replace any faulty item within 14 days of the receipt date. We always do our best to ensure that the items we ship to you are in top condition. However, if you feel as though you have received an item that is faulty, we will be happy to have the product replaced free of charge. Click <a href="https://www.meandmrsjones.com.au/returns-2/" target="_blank"><strong>HERE</strong></a> to request a replacement of a faulty item. You will need to fill out the form and upload a photograph of the faulty product. Once we have verified that the product is indeed faulty, you will be shipped a replacement. If we are unable to replace the product, we will offer you the option of choosing another product of the same value. There is no need to return faulty adult products to Me &amp; Mrs. Jones. <strong>PLEASE DO NOT SEND BACK ANY SEX TOY OR ADULT PRODUCT</strong> to Me &amp; Mrs. Jones. Some products in certain brands include a warranty. We honour the terms of all warranties with proof of purchase. You will receive your exchanged item within approximately 10 days of the acceptance of your exchange. If you have received a faulty upon arrival item from Our Essentials (lubes, massage products, body paints, cleaning and grooming products, condoms, sex toy cleaners or sexual aides) please email us at info@meandmrsjones.com.au<br>
            <strong><strong>Exchange Policy for Garments &amp; Shoes (Apparel): </strong></strong>If you have ordered the wrong size or colour or have had a change of mind, you may exchange your garment, but you will be charged for the shipping fees. Standard postage fees will apply to return orders. Please refer to the size charts provided for all of our apparel to avoid ordering an incorrect size. To exchange, please click <a href="https://www.meandmrsjones.com.au/returns-3/" target="_blank"><strong>HERE</strong></a> and fill out the form. Please print the form and include it in the return package to Me &amp; Mrs. Jones to be mailed to the address below. You will be responsible for the return shipping of your parcel and you will be charged for the replacement shipping.You may not return items that have been worn or washed. All returns must have all original tags and packaging to be accepted. Items may only be returned within 14 days of receipt.<br>
            Me &amp; Mrs. Jones<br>
            C/O Wrapped Secrets<br>
            P.O. Box 5303<br>
            Algester, QL 4115</li>
        <li><strong>Cancellations<br>
            </strong>To cancel an order&nbsp;you have placed with Me &amp; Mrs. Jones, you will need to contact customer&nbsp;support by&nbsp;email (info@meandmrsjones.com.au). We will make all efforts to accommodate the cancellation of your order&nbsp;if your order has not yet shipped. When contacting Me &amp; Mrs. Jones to cancel an order, please provide your&nbsp;name, the order&nbsp;number, and your contact information. Please be aware that if the item has shipped, the order cannot be cancelled and our refund and return policy applies.<strong><br>
            </strong></li>
    </ol>
    <ol start="8">
        <li><strong>Shipment and Delivery<br>
            </strong>Products are delivered within approximately 3-10 business days of order.&nbsp;Your parcels will not include any references to adult products and will be discreetly packaged to ensure your privacy. Some orders will arrive in multiple parcels. Me &amp; Mrs. Jones only ships within Australia. We do not ship internationally. If you have not received your package within the designated&nbsp;time frame please contact customer service at<p></p>
            <p>info@meandmrsjones.com.au</p></li>
    </ol>
</div>