

.mobile-menu-container{
    display:none;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10000;
    border-bottom: 1px solid #3A3535;
    background: #191818;
}
.mobile-nav li {
    color: #fff;
    border-bottom: 1px solid #5D5353;
}
.mobile-nav{
    display:none;
}

._mpProfile_holder {
    overflow: hidden;
}

/* Media Queries */

@media screen and (max-width: 1471px) {
    .businessProfileScreen h2 {
        width: 100%;
        margin-bottom: 10px;
    }
    .mPProfileTopMenu {
        width: 100%;
        margin: 10px 0;
    }
    .mPProfileTopMenu > div:first-child {
        margin: 0;
        padding: 0;
        margin-left: -30px;
        margin-bottom:10px;
    }
    .panelFixed {
        min-width: 370px;
    }
    ._MpScreenArea {
        margin-left: 370px;
    }

}

@media screen and (max-width: 1165px) {
    #_mpEscortMenu span {
        width: 100%;
    }
    #_mpEscortMenu ul {
        width: 91%;
        float: left;
        padding: 0;
        margin: 10px 0 20px 36px;
    }

}
@media screen and (max-width: 1129px) {
    #businessInfo label, .profileForm label {
        margin-right: 0px;
    }
    .profileTable td:first-child,.profileTable td:last-child {
        padding-left: 5%;
    }
    .profileTable {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .table2 {
        margin-left: 0%;
    }
    #availabilityForm input[type="radio"] {
        margin-bottom: 10px;
    }
    .control-label.headerLabel {
        width: 100% !important;
    }
    #tab_mpAvailability .col-md-10 {
        margin: 0;
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .col-md-10 .col-md-6 {
        width: 50%;
        overflow: hidden;
    }
    .normalSelects .col-md-6 label {
        margin-bottom: 10px;
    }
    #profileDetails .col-md-6 select {
        width: 100% !important;
    }
    .serviceArray .col-md-3 {
        width: 33.3%;
        height: 85px;
    }
    #profileDetails .col-md-2 {
        width: 100%;
    }
    .serviceArray .col-md-3 {
        width: 33.3%;
        height: 85px;
    }
    .serviceArray {
        width: 100%;
    }
}
@media screen and (max-width: 1047px) {
    .mPProfileTopMenu > div {
        width: 145px;
    }



}

@media screen and (max-width: 1024px) {
    #tab_mpAvailability .col-md-6 .control-label {
        width: 10% !important;
        margin-bottom: 15px;
        margin-left: 3%;
    }
    #tab_mpAvailability .col-md-6 .headerLabel {
        width: 100% !important;
        margin-bottom: 15px;
        margin-left: 0;
    }
    #tab_mpAvailability .col-md-6 input {
        margin-left: 0;
    }
    #profileDetails .col-md-6 select {
        width: 60% !important;
    }
    .centeredLabel {
        padding-top: 50px;
    }
    label#serviceLabel {
        padding: 40px;
    }
    #profileDetails {
        margin-top: 50px;
    }
    #profileDetails .col-md-2,#heightLabel {
        width: 100%;
    }
    .serviceArray {
        width: 100% !important;
    }
    .serviceArray .col-md-3 {
        width: 25%;
        height: 90px;
    }
    #tab_mpProfileDetails h3 {
        padding-bottom: 50px;
        border-bottom: 1px solid grey !important;
        width: 100%;
        margin: 30px 0%;
    }
    #tab_mpProfileDetails,#tab_mpAvailability {
        background-color: #fff;
        padding: 5%;
        overflow:hidden;
    }
    .col-md-6 label.control-label {
        width: 100% !important;
        margin-bottom: 15px;
        margin-left: 20%;
    }
    .normalSelects select {
        margin-bottom: 10px;
        margin: 0 20%;
    }
    ._MpScreenArea {
        margin-left: 0px;
    }
    #tab_mpBasicInfo:before,#tab_mpProfileDetails:before,#tab_mpAvailability:before{
        content: '';
        border-top: 4px solid #D63131;
        display: block;
        z-index: -1;
        margin-top: 50px;
    }
    #tab_mpProfileDetails:before {
        width: 100%;
        margin:50px 0;
    }
    #tab_mpBasicInfo h3:before,#tab_mpProfileDetails h3:before,#tab_mpAvailability h3:before{
        width: 67px;
        height: 67px;
        background: #fff url("/assets/dashboard/images/ProfileIconsSprite.png") no-repeat 0 0;
        border-radius: 50%;
        margin: 0 auto;
        border: 1px solid #D63131;
        cursor: pointer;
        display: block;
        content: '';
        background-position: 0 -195;
        margin-top: -63px;
        margin-bottom: 25px;
    }

    #tab_mpAvailability h3:before {
        background-position: 0 -1105px;
    }
    #tab_mpProfileDetails h3:before {
        background-position: 0 -780px;
        margin-top: -115px;
    }
    ._mpProfile_holder {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .businessProfileScreen > div:first-child {
        display: none;
    }
    #age_id {
        width: auto !important;
        margin-left: -3%;
    }
    .businessProfileScreen h2, #_mpEscortMenu {
        display: none;
    }
    .businessProfileScreen h3 {
        font: 26px Raleway, sans-serif;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 22px;
    }
    ._mpProfile_holder {
        padding-bottom: 20px;
    }

    .mPProfileTopMenu {
        display: none;
    }

    ._mPIcon::before {
        margin: 0 15px !important;
    }
    .mobile-submenu {
        list-style: none;
        padding: 0;
        border-top: 1px solid #5D5353;
        display: none;
    }
    .mobile-submenu li {
        padding: 20px 0;
        text-align: center;
        margin: 0;
        background-color: #2F2B2B;
        display:block;
    }
    ._MpDetailArea {
        display:none;
    }
    .mobile-menu-container{
        display:block;
    }

    .top_header {
        display:none;
    }
    #logo img {
        height: 80px;
    }
    #logo {
        width: auto !important;
        height: 90px;
        padding: 10px;
        border-right: none !important;
        float: none !important;
        padding-left:90px;
    }
    ._mPIcon {
        padding: 45px 0;
    }
    ._mpicon::after {
        content: '\003E';
        color: #fff !important;
        display: inline-block;
        transform: rotate( 0deg );
        transition: transform 300ms ease;
        padding: 15px;
        margin-right: 0px;
    }
    ._mpiconClicked::after {
        content: '\003E';
        color: #fff !important;
        display: inline-block;
        transform: rotate(90deg);
        transition: transform 300ms ease;
        padding: 15px;
        margin-right: 0px;
    }
    .arrowToggle {
        background: #D00A0A;
        color: #fff;
        border: none;
        height: auto;
        width: 90px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index:2;
    }
    .arrowToggle:after {
        display:block;
        content: '';
        background: transparent url('https://remote.myplaymate.com.au/assets/frontend/img/arrow_transform.png' ) no-repeat left 50%;
        width: 21px;
        height: 18px;
        margin:0 auto;
        position:relative;
        -webkit-transition:background-position 1s ease;
        transform: rotate( 0deg );
        transition: transform 300ms ease;
    }

    .profileForm .mp_image_float #container_image {
        width: 60% !important;
        height: auto !important;
        margin: 0px 20% 41px;
        overflow: hidden;
    }
    #escort_age {
        margin-top: 0 !important;
        padding: 0 25px;
    }

    .mp_image_float {
        width: 100% !important;
        padding: 25px;
    }

    .businessProfileScreen h3 {
        border-bottom: none !important;
    }
    .businessProfileScreen p {
        padding-bottom:20px;
        border-bottom: 1px solid grey;
    }
    .mPProfileTopMenu {
        float: left;
        width: 66%;
        margin: 0 16% 20px 16%;
    }

    #sex {
        width: 100%;
        float: left;
        padding: 8px;
        margin-top: 20px;
    }

    .right_float {
        width: 100% !important;
    }

    #tab_mpBasicInfo {
        background-color: #fff;
        padding: 5%;
    }

    form#businessInfo .submit-button, .profileForm .submit-button, form#profileDetails .submit-button, form#payment .submit-button, #cropperInstructions input, .submit-button {
        margin-bottom: 0px !important;
    }

    .mobile-nav {
        width: 0%;
        position: fixed;
        display: block;
        top: 90px;
        background-color: #191818;
        padding: 0;
        margin: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
    }
    ._mPIcon::before {
        display: inline-block !important;
    }
    #_mpProfile {
        margin-top: 0px !important;
    }
    ._mPIcon::before {
        display:none !important;
    }
    .arrowToggleClicked:after{
        background: transparent url('https://remote.myplaymate.com.au/assets/frontend/img/arrow_transform.png' ) no-repeat right 50% !important;
        transform: rotate( -180deg );
        transition: transform 300ms ease;
    }
    .businessProfileScreen h2 {
        width: 100%;
    }

}
@media screen and (max-width: 991px) {
    .col-md-6 #inCallTable td,.col-md-6 #outCallTable td {
        padding-left: 32%;
    }
    .table2 td {
        padding-left: 25%;
    }

    .col-md-10 .col-md-6 {
        width: 100%;
    }
    #serviceLabel {
        padding: 40px;
        width: 100%;
    }
    .serviceArray .col-md-3 {
        width: 50%;
        height: 60px;
        float: left;
    }
}
@media screen and (max-width: 767px) {

    .profileForm .mp_image_float #container_image {
        width: 90% !important;
        margin: 0px 5% 41px;
    }


    @media screen and (max-width: 620px) {
        .serviceArray .col-md-3 {
            width: 60%;
            height: 55px;
            margin: 0 20%;
        }
        .left_margin_15 {
            margin-left: 0px;
            width: 100% !important;
            margin-bottom: 15px;
        }
        .profileForm label {
            width: 50%;
            float: left;
        }
        #sex input {
            width: 50% !important;
            margin-top: 3px;
        }
        #sex {
            margin-left: 16px;
        }
    }
    @media screen and (max-width: 344px) {
        #logo img {
            height: 65px;
        }
    }

    @media screen and (max-width: 410px) {
        ._mpProfile_holder {
            padding: 10px;
        }
        .serviceArray .col-md-3 {
            width: 100%;
            margin: 0;
        }
    }

    @media screen and (max-width: 321px) {
        #_mpEscortMenu {
            display: none;
        }
        ._mpProfile_holder {
            padding: 0 10px 0;
        }

        label#escort_age {
            margin-right: -4px;
        }
        .profileForm label {
            width: 56%;
        }
        #sex input {
            width: 17% !important;
        }
        #sex {
            margin-top: 10px;
        }
        .profileForm label {
            width: 55%;
        }
        #age_id {
            width: 37% !important;
        }
        .form_required:after {
            display: inline;
        }
        .profileForm .mp_image_float #container_image {
            width: 100% !important;
            margin: 0px 0% 0px;
        }
        .mp_image_float {
            padding-top: 0px;
        }
        .businessProfileScreen h3 {
            font: 26px Raleway, sans-serif;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 22px;
        }
    }

}